<?xml version="1.0" encoding="UTF-8"?>

<!-- ================================================= -->
<!-- This is the plugin for declaring the help         -->
<!-- contributions of a doc component plugin.          -->
<!-- ================================================= -->

<plugin 

   name = "C/C++ Development User Guide"
   id = "org.eclipse.cdt.doc.user"
   version = "1.2.0.22"
  provider-name = "Rational Software: IBM Software Group">
   <!-- Configure the help contribution for this plugin --> 
   <!-- This part should be in a documentation plugin -->
   <extension point="org.eclipse.help.toc">
       <toc file="toc.xml" primary="true" /> 
   </extension>
   <extension point="org.eclipse.help.contexts">
       <contexts file="contextHelp.xml" plugin="org.eclipse.cdt.ui"/> 
   </extension>
   <extension point="org.eclipse.help.contexts">
       <contexts file="contextHelp.xml" plugin="org.eclipse.debug.ui"/> 
   </extension>
   <extension point="org.eclipse.help.contexts">
       <contexts file="contextHelp.xml" plugin="org.eclipse.cdt.debug.ui"/> 
   </extension>
</plugin>
