<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.doc.user"
   name="C/C++ Development User Guide"
   version="1.1.0"
   provider-name="Rational Software: IBM Software Group">

   <runtime>
   </runtime>

<!-- This part should be in a documentation plugin -->
<!-- Configure the help contribution for this plugin -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contextHelp.xml"
            plugin="org.eclipse.cdt.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contextHelp.xml"
            plugin="org.eclipse.debug.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contextHelp.xml"
            plugin="org.eclipse.cdt.debug.ui">
      </contexts>
   </extension>

</plugin>
