<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.cmake.ui.page1"
            class="org.eclipse.cdt.cmake.is.core.ui.internal.IndexerSupportPreferencePage"
            id="org.eclipse.cdt.cmake.is.core.ui.IndexerSupportPreferencePage"
            name="%page.name">
      </page>
   </extension>

</plugin>
