<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            id="org.eclipse.cdt.examples.dsf.gdb.launchDelegate"
            type="org.eclipse.cdt.launch.applicationLaunchType"
            modes="debug"
            delegate="org.eclipse.cdt.examples.dsf.gdb.launch.GdbExtendedLaunchDelegate"
            name="Example GDB Extended Launch Delegate"
            delegateDescription="Launch Delegate that uses an example extension to the CDT's GDB launch."
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchDelegate>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory 
        	class="org.eclipse.cdt.examples.dsf.gdb.GdbExtendedAdapterFactory" 
	        adaptableType="org.eclipse.cdt.examples.dsf.gdb.launch.GdbExtendedLaunch">
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider"/>
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory"/>
         <adapter type="org.eclipse.debug.ui.contexts.ISuspendTrigger"/>
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IColumnPresentationFactory"/>
	  </factory>         
   </extension>
</plugin>
