<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2008 IBM Corporation and others. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html

Initial Contributors:
The following IBM employees contributed to the Remote System Explorer
component that contains this file: David McKnight, Kushal Munir, 
Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

Contributors:
David McKnight   (IBM)        - [261019] New File/Folder actions available in Work Offline mode
-->

<?eclipse version="3.0"?>
<plugin>
   
<!-- ========================================================================= -->
<!-- Remote File System import and export wizards.                             -->
<!-- ========================================================================= -->
   <extension point="org.eclipse.ui.importWizards">
      <wizard
            name="%RemoteFileSystemImportWizard.label"
            icon="icons/full/etool16/file_import.gif"
            class="org.eclipse.rse.internal.importexport.files.RemoteImportWizard"
            id="org.eclipse.rse.files.importexport.fileImportWizard">
         <description>
            %RemoteFileSystemImportWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*.rimpfd"
            id="org.eclipse.rse.files.importexport.runFileImport">
         <action
               label="%RemoteFileImportAction.label"
               tooltip="%RemoteFileImportAction.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileImportActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="importRemoteFiles">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*.rimpfd"
            id="org.eclipse.rse.files.importexport.openFileImport">
         <action
               label="%OpenRemoteFileImport.label"
               tooltip="%OpenRemoteFileImport.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileOpenImportWizardActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="openRemoteFileImport">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            name="%RemoteFileSystemExportWizard.label"
            icon="icons/full/etool16/file_export.gif" 
            class="org.eclipse.rse.internal.importexport.files.RemoteExportWizard"
            id="org.eclipse.rse.files.importexport.fileExportWizard">
         <description>
            %RemoteFileSystemExportWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*.rexpfd"
            id="org.eclipse.rse.files.importexport.runFileExport">
         <action
               label="%RemoteFileExportAction.label"
               tooltip="%RemoteFileExportAction.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileExportActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="exportRemoteFiles">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*.rexpfd"
            id="org.eclipse.rse.files.importexport.openFileExport">
         <action
               label="%OpenRemoteFileExport.label"
               tooltip="%OpenRemoteFileExport.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileOpenExportWizardActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="openRemoteFileExport">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"   
            id="org.eclipse.rse.files.importexport.projectImportExport"> 
            <filter name="isDirectory" value="true"/>                            
         
         <action
               label="%ImportToProject.label" 
               tooltip="%ImportToProject.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileImportToProjectActionDelegate"
               menubarPath="group.importexport"
               enablesFor="1"                              
               id="importToProject">
               <enablement>
                <objectState name="offline" value="false"/>
               </enablement>
         </action>
         
         <action
               label="%ExportFromProject.label"
               tooltip="%ExportFromProject.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileExportFromProjectActionDelegate"
               menubarPath="group.importexport"
               enablesFor="1"
               id="exportFromProject">
               <enablement>
                <objectState name="offline" value="false"/>
               </enablement>
         </action>
      </objectContribution>
   </extension>
   
</plugin>
