<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2002, 2009 IBM Corporation and others. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html

Initial Contributors:
The following IBM employees contributed to the Remote System Explorer
component that contains this file: David McKnight, Kushal Munir, 
Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

Contributors:
David McKnight   (IBM)        - [261019] New File/Folder actions available in Work Offline mode
Takuya Miyamoto - [185925] Integrate Platform/Team Synchronization (adapted from org.eclipse.team.examples.filesystem / plugin.xml)
David McKnight   (IBM)        - [272708] [import/export] fix various bugs with the synchronization support
-->

<?eclipse version="3.0"?>
<plugin>
   
<!-- ========================================================================= -->
<!-- Remote File System import and export wizards.                             -->
<!-- ========================================================================= -->
   <extension point="org.eclipse.ui.importWizards">
      <category name="%newWizardCategoryName" id="org.eclipse.rse.importexport.importWizards">
      </category>
      <wizard
            name="%RemoteFileSystemImportWizard.label"
            icon="icons/full/etool16/file_import.gif"
            category="org.eclipse.rse.importexport.importexportWizards"
            class="org.eclipse.rse.internal.importexport.files.RemoteImportWizard"
            id="org.eclipse.rse.files.importexport.fileImportWizard">
         <description>
            %RemoteFileSystemImportWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*.rimpfd"
            id="org.eclipse.rse.files.importexport.runFileImport">
         <action
               label="%RemoteFileImportAction.label"
               tooltip="%RemoteFileImportAction.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileImportActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="importRemoteFiles">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*.rimpfd"
            id="org.eclipse.rse.files.importexport.openFileImport">
         <action
               label="%OpenRemoteFileImport.label"
               tooltip="%OpenRemoteFileImport.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileOpenImportWizardActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="openRemoteFileImport">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.exportWizards">
         
      <category name="%newWizardCategoryName" id="org.eclipse.rse.importexport.exportWizards">
      </category>    
      <wizard
            name="%RemoteFileSystemExportWizard.label"
            icon="icons/full/etool16/file_export.gif" 
            category="org.eclipse.rse.importexport.exportWizards"
            class="org.eclipse.rse.internal.importexport.files.RemoteExportWizard"
            id="org.eclipse.rse.files.importexport.fileExportWizard">
         <description>
            %RemoteFileSystemExportWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*.rexpfd"
            id="org.eclipse.rse.files.importexport.runFileExport">
         <action
               label="%RemoteFileExportAction.label"
               tooltip="%RemoteFileExportAction.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileExportActionDelegate"
               menubarPath="additions"
               enablesFor="+"
               id="exportRemoteFiles">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*.rexpfd"
            id="org.eclipse.rse.files.importexport.openFileExport">
         <action
               label="%OpenRemoteFileExport.label"
               tooltip="%OpenRemoteFileExport.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileOpenExportWizardActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="openRemoteFileExport">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"   
            id="org.eclipse.rse.files.importexport.projectImportExport"> 
            <filter name="isDirectory" value="true"/>                            
         
         <action
               label="%ImportToProject.label" 
               tooltip="%ImportToProject.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileImportToProjectActionDelegate"
               menubarPath="group.importexport"
               enablesFor="1"                              
               id="importToProject">
               <enablement>
                <objectState name="offline" value="false"/>
               </enablement>
         </action>
         
         <action
               label="%ExportFromProject.label"
               tooltip="%ExportFromProject.tooltip"
               class="org.eclipse.rse.internal.importexport.files.RemoteFileExportFromProjectActionDelegate"
               menubarPath="group.importexport"
               enablesFor="1"
               id="exportFromProject">
               <enablement>
                <objectState name="offline" value="false"/>
               </enablement>
         </action>
      </objectContribution>
   </extension>

	<!-- ======================================= -->
	<!-- Synchronize Popup Menu Actions        -->
	<!-- ======================================= -->
<!--	<extension point="org.eclipse.ui.popupMenus">
	      <objectContribution
            objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
            nameFilter="*.rexpfd"
            id="org.rse.synchronize.runResynchronization">
         <action
               label="ReSynchronize with"
               tooltip="Rerun synchronization which is alreay mapped to remote"
               class="org.eclipse.rse.internal.synchronize.ResynchronizeActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="resynchronize">
         </action>
      </objectContribution>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
	      <objectContribution
            objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
            nameFilter="*.rimpfd"
            id="org.rse.synchronize.runResynchronization">
         <action
               label="ReSynchronize with"
               tooltip="Rerun synchronization which is alreay mapped to remote"
               class="org.eclipse.rse.internal.synchronize.ResynchronizeActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="resynchronize">
         </action>
      </objectContribution>
	</extension>-->
<!-- =================================================================================== -->
<!-- Repository Providers																 -->
<!-- =================================================================================== -->

<extension point="org.eclipse.team.core.repository">
	<repository
    	class="org.eclipse.rse.internal.synchronize.filesystem.FileSystemProvider"
		id="org.eclipse.rse.internal.synchronize.filesystem.FileSystemProvider">
	</repository>
</extension>

<!-- =================================================================================== -->
<!-- Synchronize Participants -->
<!-- =================================================================================== -->

 <extension
       point="org.eclipse.team.ui.synchronizeParticipants">
    <participant
          persistent="false"
          class="org.eclipse.rse.internal.synchronize.filesystem.ui.FileSystemSynchronizeParticipant"
          icon="icons/full/wizards/fsicon_wiz.gif"
          name="%RSESyncParticipant.name"
          id="org.eclipse.rse.internal.synchronize.filesystem.participant"/>
 </extension>

<!-- =================================================================================== -->
<!-- Common Navigator viewer for the file systen synchronizations						 -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewer
           viewerId="org.eclipse.rse.internal.synchronize.filesystem.syncViewer">
           <popupMenu
                allowsPlatformContributions="false"
                id="org.eclipse.rse.synchronize.filesystem.syncViewer#PopupMenu">  
             <insertionPoint name="file"/>  
             <insertionPoint name="edit"/>          
             <insertionPoint name="synchronize"/>
             <insertionPoint
                   name="navigate"
                   separator="true"/>
             <insertionPoint
                   name="merge"
                   separator="true"/>
             <insertionPoint
                   name="put"
                   separator="false"/>
             <insertionPoint
                   name="get"
                   separator="false"/>      
             <insertionPoint
                   name="overwrite"
                   separator="true"/> 
             <insertionPoint
                   name="other"
                   separator="true"/> 
             <insertionPoint
                   name="sort"
                   separator="true"/>
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="properties"
                   separator="true"/>
          </popupMenu>
       </viewer>
   </extension>
   
</plugin>
