<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006 IBM Corporation. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html

Initial Contributors:
The following IBM employees contributed to the Remote System Explorer
component that contains this file: David McKnight, Kushal Munir, 
Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

Contributors:
Martin Oberhuber (Wind River) - Adapted original tutorial code to Open RSE.
-->
<?eclipse version="3.1"?>
<plugin>

	<!-- ======================================= -->
	<!-- Remote Object Popup Menu Actions        -->
	<!-- ======================================= -->
	<!-- Tutorial #1: Creating a Remote Resource pop-up Menu Action -->
	<extension point="org.eclipse.rse.ui.popupMenus">
		<objectContribution id="actions.jar"
							typecategoryfilter="files"
							typefilter="file"
							namefilter="*.jar">
			<action id="actions.jar.show"
					enablesFor="1"
					label="Show contents"
					tooltip="List contents of this file"
					class="samples.ui.actions.ShowJarContents">
			</action>
		</objectContribution>
	</extension>

	<!-- ======================================= -->
	<!-- Remote Object Property Pages            -->
	<!-- ======================================= -->
	<!-- Tutorial #2: Creating a Remote Resource Property Page -->
	<extension point="org.eclipse.rse.ui.propertyPages">
		<page name="Folder Contents"
			class="samples.ui.propertypages.FolderInfoPropertyPage"
			id="samples.ui.PropertyPage1"
			typefilter="folder"
			typecategoryfilter="files">
		</page>
	</extension>    

	<!-- ======================================= -->
	<!-- SubSystem Configuration                 -->
	<!-- ======================================= -->
	<!-- Tutorial #3: Creating a Subsystem Configuration -->
	<extension
		point="org.eclipse.rse.ui.subsystemConfiguration">
		<configuration
			id="samples.subsystems.factory"
			systemTypes="Linux;Unix;Windows"
			name="Teams"
			class="samples.subsystems.DeveloperSubSystemConfiguration"
			category="users"
			vendor="Eclipse.org"
			description="Example Developer Subsystem"
			iconlive="icons/systemconnectionlive.gif"
			icon="icons/systemconnection.gif"
			>
		</configuration>
	</extension>
</plugin> 
  