<?eclipse version="3.0"?>
<plugin>

<extension point="org.eclipse.ui.viewActions">
 <viewContribution
       id="org.eclipse.debug.ui.MemoryView.findNext"
       targetID="org.eclipse.debug.ui.MemoryView">
    <action
          class="org.eclipse.cdt.debug.ui.memory.search.FindAction"
          enablesFor="1"
          id="org.eclipse.cdt.debug.ui.memory.search.FindNextAction"
          helpContextId="FindNextAction_context"
          label="%action.label.0"
          menubarPath="additions">
    </action>
 </viewContribution>
 
 <viewContribution
       id="org.eclipse.debug.ui.MemoryView.findReplace"
       targetID="org.eclipse.debug.ui.MemoryView">
    <action
          class="org.eclipse.cdt.debug.ui.memory.search.FindAction"
          enablesFor="1"
          id="org.eclipse.cdt.debug.ui.memory.search.FindAction"
          helpContextId="FindReplaceAction_context"
          label="%action.label.1"
          menubarPath="additions">
    </action>
 </viewContribution>
 
 <viewContribution
       id="org.eclipse.cdt.debug.ui.memory.memorybrowser.MemoryBrowser.findNext"
       targetID="org.eclipse.cdt.debug.ui.memory.memorybrowser.MemoryBrowser">
    <action
          class="org.eclipse.cdt.debug.ui.memory.search.FindAction"
          enablesFor="1"
          id="org.eclipse.cdt.debug.ui.memory.search.FindNextAction"
          helpContextId="FindNextAction_context"
          label="%action.label.2"
          menubarPath="additions">
    </action>
 </viewContribution>
 
 <viewContribution
       id="org.eclipse.debug.ui.MemoryView.findReplace"
       targetID="org.eclipse.cdt.debug.ui.memory.memorybrowser.MemoryBrowser">
    <action
          class="org.eclipse.cdt.debug.ui.memory.search.FindAction"
          enablesFor="1"
          id="org.eclipse.cdt.debug.ui.memory.search.FindAction"
          helpContextId="FindReplaceAction_context"
          label="%action.label.3"
          menubarPath="additions">
    </action>
 </viewContribution>
 
</extension>

 <extension point="org.eclipse.search.searchResultViewPages">
    <viewPage
        class="org.eclipse.cdt.debug.ui.memory.search.MemorySearchResultsPage"
        icon="icons/full/obj16/tsearch_dpdn_obj.gif"
        id="org.eclipse.cdt.debug.ui.memory.search.MemorySearchResultsPage"
        label="Memory Search Results"
        searchResultClass="org.eclipse.cdt.debug.ui.memory.search.MemorySearchResult">
    </viewPage>
</extension>

<extension point="org.eclipse.ui.handlers">
    <handler
        commandId="org.eclipse.ui.edit.findReplace"
        class="org.eclipse.cdt.debug.ui.memory.search.FindReplaceHandler">
        <activeWhen>
            <or>
                <with variable="activePartId">
                    <equals value="org.eclipse.debug.ui.MemoryView"/>
                </with>
                <with variable="activePartId">
                    <equals value="org.eclipse.cdt.debug.ui.memory.memorybrowser.MemoryBrowser"/>
                </with>
            </or>
        </activeWhen>
    </handler>
</extension>

</plugin>


