<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.debug.core"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.cdt.debug.core.CDebugCorePlugin">

   <runtime>
      <library name="cdebugcore.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
   </requires>


   <extension-point id="CDebugger" name="%CDebugger.name"/>

   <extension
         id="cBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="condition">
      </attribute>
      <attribute
            name="ignoreCount">
      </attribute>
      <attribute
            name="threadId">
      </attribute>
      <attribute
            name="installCount">
      </attribute>
   </extension>
   <extension
         id="commonCLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.debug.core.cBreakpointMarker">
      </super>
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="cLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.debug.core.commonCLineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="cAddressBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.debug.core.commonCLineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="address">
      </attribute>
   </extension>
   <extension
         id="cFunctionBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.debug.core.commonCLineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="function">
      </attribute>
   </extension>
   <extension
         id="cWatchpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.debug.core.cBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="expression">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.cdt.debug.core.cLineBreakpointMarker"
            class="org.eclipse.cdt.debug.internal.core.breakpoints.CLineBreakpoint"
            id="cLineBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="org.eclipse.cdt.debug.core.cAddressBreakpointMarker"
            class="org.eclipse.cdt.debug.internal.core.breakpoints.CAddressBreakpoint"
            id="cAddressBreakpoint">
      </breakpoint>
      <breakpoint
            markerType="org.eclipse.cdt.debug.core.cFunctionBreakpointMarker"
            class="org.eclipse.cdt.debug.internal.core.breakpoints.CFunctionBreakpoint"
            id="cFunctionBreakpoint">
      </breakpoint>
   </extension>

</plugin>
