<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.cdt.debug.core"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.cdt.debug.core.CDebugCorePlugin">

   <runtime>
      <library name="cdtdebugcore.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension-point id="CDebugger" name="%CDebugger.name" schema="schema/CDebugger.exsd"/>

   <extension
         id="cBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="org.eclipse.cdt.debug.core.condition">
      </attribute>
      <attribute
            name="org.eclipse.cdt.debug.core.ignoreCount">
      </attribute>
      <attribute
            name="org.eclipse.cdt.debug.core.threadId">
      </attribute>
      <attribute
            name="org.eclipse.cdt.debug.core.installCount">
      </attribute>
      <attribute
            name="org.eclipse.cdt.debug.core.sourceHandle">
      </attribute>
   </extension>
   <extension
         id="commonCLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.debug.core.cBreakpointMarker">
      </super>
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="cLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.debug.core.commonCLineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="org.eclipse.cdt.debug.core.function">
      </attribute>
      <attribute
            name="org.eclipse.cdt.debug.core.address">
      </attribute>
   </extension>
   <extension
         id="cAddressBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.debug.core.commonCLineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="cFunctionBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.debug.core.commonCLineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="cWatchpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.debug.core.cBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="org.eclipse.cdt.debug.core.expression">
      </attribute>
      <attribute
            name="org.eclipse.cdt.debug.core.write">
      </attribute>
      <attribute
            name="org.eclipse.cdt.debug.core.read">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.eclipse.cdt.debug.internal.core.breakpoints.CLineBreakpoint"
            name="%cLineBreakpoints.name"
            markerType="org.eclipse.cdt.debug.core.cLineBreakpointMarker"
            id="cLineBreakpoint">
      </breakpoint>
      <breakpoint
            class="org.eclipse.cdt.debug.internal.core.breakpoints.CAddressBreakpoint"
            name="%cAddressBreakpoints.name"
            markerType="org.eclipse.cdt.debug.core.cAddressBreakpointMarker"
            id="cAddressBreakpoint">
      </breakpoint>
      <breakpoint
            class="org.eclipse.cdt.debug.internal.core.breakpoints.CFunctionBreakpoint"
            name="%cFunctionBreakpoints.name"
            markerType="org.eclipse.cdt.debug.core.cFunctionBreakpointMarker"
            id="cFunctionBreakpoint">
      </breakpoint>
      <breakpoint
            class="org.eclipse.cdt.debug.internal.core.breakpoints.CWatchpoint"
            name="%cWatchpoints.name"
            markerType="org.eclipse.cdt.debug.core.cWatchpointMarker"
            id="cWatchpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.cdt.debug.internal.core.CDebugCorePreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.eclipse.cdt.debug.internal.core.sourcelookup.CSourcePathComputerDelegate"
            id="org.eclipse.cdt.debug.core.sourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.cdt.debug.internal.core.sourcelookup.CSourceLookupDirector"
            name="C/C++ Source Locator"
            id="org.eclipse.cdt.debug.core.sourceLocator"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceContainerTypes">
      <sourceContainerType
            class="org.eclipse.cdt.debug.internal.core.sourcelookup.MappingSourceContainerType"
            description="%containerDescription.mapping"
            id="org.eclipse.cdt.debug.core.containerType.mapping"
            name="%containerName.mapping"/>
      <sourceContainerType
            class="org.eclipse.cdt.debug.internal.core.sourcelookup.MapEntrySourceContainerType"
            description="%containerDescription.mapEntry"
            id="org.eclipse.cdt.debug.core.containerType.mapEntry"
            name="%containerName.mapEntry"/>
   </extension>

</plugin>
