<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.cdt.debug.dap.gdbjtag.DapGdbJtagLaunchDelegate"
            delegateDescription="%launchDelegate.gdbjtag.description"
            id="org.eclipse.cdt.debug.dap.gdbjtag"
            modes="debug"
            name="%launchDelegate.gdbjtag.name"
            sourceLocatorId="org.eclipse.lsp4e.debug.sourceLocator"
            sourcePathComputerId="org.eclipse.lsp4e.debug.sourcePathComputer"
            type="org.eclipse.cdt.debug.gdbjtag.launchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.eclipse.cdt.debug.dap.gdbjtag.tabs.CMainTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.dap.gdbjtag.mainTab"
            name="%launchTab.main.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.dap.gdbjtag">
         </associatedDelegate>
      </tab>
      <tab
            class="org.eclipse.cdt.debug.gdbjtag.ui.GDBJtagDSFDebuggerTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.dap.gdbjtag.debuggerTab"
            name="%launchtab.debuggertab.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.dap.gdbjtag">
         </associatedDelegate>
         <placement
               after="org.eclipse.cdt.debug.dap.gdbjtag.mainTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.lsp4e.debug.launcher.DSPOverrideSettingsTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.dap.gdbjtag.dspOverrideTab"
            name="%launchTab.dspOverride.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.dap.gdbjtag">
         </associatedDelegate>
         <placement
               after="org.eclipse.cdt.debug.gdbjtag.ui.debuggertab.dsf">
         </placement>
      </tab>
      <tab
            class="org.eclipse.cdt.debug.gdbjtag.ui.GDBJtagStartupTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.dap.gdbjtag.startupTab"
            name="%launchtab.startuptab.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.dap.gdbjtag">
         </associatedDelegate>
         <placement
               after="org.eclipse.lsp4e.debug.launcher.DSPOverrideSettingsTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.dap.gdbjtag.sourceLookupTab"
            name="%launchTab.sourceLookup.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.dap.gdbjtag">
         </associatedDelegate>
         <placement
               after="org.eclipse.cdt.debug.gdbjtag.ui.startuptab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.dap.gdbjtag.commonTab"
            name="%launchTab.common.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.dap.gdbjtag">
         </associatedDelegate>
         <placement
               after="org.eclipse.cdt.debug.dap.gdbjtag.sourceLookupTab">
         </placement>
      </tab>
   </extension>

</plugin>
