<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    Copyright (c) 2002, 2010 IBM Corporation and others. All rights reserved.
    This program and the accompanying materials are made available under the terms
    of the Eclipse Public License v1.0 which accompanies this distribution, and is 
    available at http://www.eclipse.org/legal/epl-v10.html
    
    Initial Contributors:
    The following IBM employees contributed to the Remote System Explorer
    component that contains this file: David McKnight, Kushal Munir, 
    Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
    Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.
    
    Contributors:
    Anna Dushistova (MontaVista) - [227535] Avoid dependency on files.core
    David McKnight (IBM)  - [283033] remoteFileTypes extension point should include "xml" type
    David McKnight (IBM)  - [189353] More file patterns should transfer in text mode by default
 -->

<plugin>
<!-- ================================================================= -->
<!-- 		Define Remote File Types extension point                   -->
<!-- ================================================================= -->
   <extension-point id="remoteFileTypes" name="%extPoint.remoteFileTypes" schema="schema/remoteFileTypes.exsd"/>



<!-- ================================================================= -->
<!-- 		Define Default File Types                                  -->
<!-- ================================================================= -->
<extension point="org.eclipse.rse.subsystems.files.core.remoteFileTypes">

  <remoteFileTypes extension="a" type="binary"/>
  <remoteFileTypes extension="bmp" type="binary"/>
  <remoteFileTypes extension="c" type="text"/>
  <remoteFileTypes extension="cc" type="text"/>
  <remoteFileTypes extension="class" type="binary"/>
  <remoteFileTypes extension="com" type="binary"/>
  <remoteFileTypes extension="cpp" type="text"/>
  <remoteFileTypes extension="cvv" type="text"/>
  <remoteFileTypes extension="dll" type="binary"/>
  <remoteFileTypes extension="doc" type="binary"/>
  <remoteFileTypes extension="exe" type="binary"/>
  <remoteFileTypes extension="gif" type="binary"/>
  <remoteFileTypes extension="h" type="text"/>
  <remoteFileTypes extension="hh" type="text"/>
  <remoteFileTypes extension="hpp" type="text"/>
  <remoteFileTypes extension="ico" type="binary"/>
  <remoteFileTypes extension="ini" type="text"/>
  <remoteFileTypes extension="jar" type="binary"/>
  <remoteFileTypes extension="java" type="text"/>
  <remoteFileTypes extension="jpeg" type="binary"/>
  <remoteFileTypes extension="jpg" type="binary"/>
  <remoteFileTypes extension="pdf" type="binary"/>
  <remoteFileTypes extension="ppt" type="binary"/>
  <remoteFileTypes extension="so" type="binary"/>
  <remoteFileTypes extension="tif" type="binary"/>
  <remoteFileTypes extension="txt" type="text"/>
  <remoteFileTypes extension="xls" type="binary"/>
  <remoteFileTypes extension="zip" type="binary"/>
  
  <!-- special handling for XML -->
  <remoteFileTypes extension="classpath" type="xml"/>  
  <remoteFileTypes extension="ecore" type="xml"/>
  <remoteFileTypes extension="exsd" type="xml"/>
  <remoteFileTypes extension="jardesc" type="xml"/>
  <remoteFileTypes extension="launch" type="xml"/> 
  <remoteFileTypes extension="product" type="xml"/>
  <remoteFileTypes extension="project" type="xml"/>
  <remoteFileTypes extension="wsdl" type="xml"/>
  <remoteFileTypes extension="xmi" type="xml"/>
  <remoteFileTypes extension="xml" type="xml"/>
  <remoteFileTypes extension="xsd" type="xml"/>  
  <!-- end of special handling for XML -->
  
</extension>

<!-- ================================================================= -->
<!-- 		Adapter factory for permissions services                   -->
<!-- ================================================================= -->
	<extension point="org.eclipse.core.runtime.adapters">
		<!-- Remote Files --> 
		<factory 
			class="org.eclipse.rse.internal.subsystems.files.core.RemoteFilePermissionsAdapterFactory" 
			adaptableType="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile">

			<adapter type="org.eclipse.rse.services.files.IFilePermissionsService"/>		
		</factory> 
	</extension>
	
<!-- ================================================================= -->
<!-- 		Property Testers                                           -->
<!-- ================================================================= -->
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="org.eclipse.rse.internal.subsystems.files.core.RemoteFilePropertyTester"
			id="org.eclipse.rse.subsystems.files.core.RemoteFilePropertyTester"
			namespace="org.eclipse.rse.subsystems.files"
			properties="isdirectory,isvirtual,isroot,isarchive"
			type="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile">
		</propertyTester>
	</extension>
</plugin>
