<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="launchBarUIContributions" name="launchBar UI Contributions" schema="schema/launchBarUIContributions.exsd"/>
   <extension
         id="launchBarInjector"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="org.eclipse.cdt.launchbar.ui.internal.LaunchBarInjector">
      </processor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.cdt.launchbar.ui.category.launchBar"
            name="Launch Bar">
      </category>
      <command
            categoryId="org.eclipse.cdt.launchbar.ui.category.launchBar"
            defaultHandler="org.eclipse.cdt.launchbar.ui.internal.commands.BuildActiveCommandHandler"
            id="org.eclipse.cdt.launchbar.ui.command.buildActive"
            name="Build for Active Launch Configuration">
      </command>
      <command
            categoryId="org.eclipse.cdt.launchbar.ui.category.launchBar"
            defaultHandler="org.eclipse.cdt.launchbar.ui.internal.commands.LaunchActiveCommandHandler"
            id="org.eclipse.cdt.launchbar.ui.command.launchActive"
            name="Launch Active Configuration">
      </command>
      <command
            categoryId="org.eclipse.cdt.launchbar.ui.category.launchBar"
            defaultHandler="org.eclipse.cdt.launchbar.ui.internal.commands.StopActiveCommandHandler"
            id="org.eclipse.cdt.launchbar.ui.command.stop"
            name="Stop">
      </command>
      <command
            defaultHandler="org.eclipse.cdt.launchbar.ui.internal.commands.ConfigureActiveLaunchHandler"
            id="org.eclipse.cdt.launchbar.ui.command.configureActiveLaunch"
            name="Configure Active Launch Configuration">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.cdt.launchbar.ui.internal.LaunchBarPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.debug.ui.LaunchingPreferencePage"
            class="org.eclipse.cdt.launchbar.ui.internal.LaunchBarPreferencePage"
            id="org.eclipse.cdt.launchbar.ui.prefPage"
            name="Launch Bar">
      </page>
   </extension>
   <extension
         point="org.eclipse.cdt.launchbar.ui.launchBarUIContributions">
      <descriptorUI
            descriptorTypeId="org.eclipse.cdt.launchbar.core.descriptor.default"
            labelProvider="org.eclipse.cdt.launchbar.ui.internal.DefaultDescriptorLabelProvider">
      </descriptorUI>
      <targetUI
            labelProvider="org.eclipse.cdt.launchbar.ui.internal.LocalTargetLabelProvider"
            targetTypeId="org.eclipse.cdt.launchbar.core.target.local"
            name="Local Target">
      </targetUI>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <view
               id="org.eclipse.cdt.launchbar.ui.targetsView"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.cdt.launchbar.ui.internal.targetsView.TargetPropertyPage"
            id="org.eclipse.cdt.launchbar.ui.infoPropertyPage"
            name="About">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.cdt.launchbar.core.ILaunchTarget">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.cdt.ui.views"
            class="org.eclipse.cdt.launchbar.ui.internal.targetsView.LaunchTargetsNavigator"
            id="org.eclipse.cdt.launchbar.ui.targetsView"
            name="%targetsView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.cdt.launchbar.ui.internal.targetsView.LaunchTargetsContentProvider"
            id="org.eclipse.cdt.launchbar.ui.targetsViewContent"
            labelProvider="org.eclipse.cdt.launchbar.ui.internal.targetsView.LaunchTargetsLabelProvider"
            name="%targetsContent.name">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.cdt.launchbar.core.ILaunchBarManager">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.cdt.launchbar.core.ILaunchTarget">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="org.eclipse.cdt.launchbar.ui.internal.targetsView.LaunchTargetsActionProvider">
            <enablement>
               <instanceof
                     value="org.eclipse.cdt.launchbar.core.ILaunchTarget">
               </instanceof>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.cdt.launchbar.ui.targetsView">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.cdt.launchbar.ui.targetsView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.cdt.launchbar.ui.targetsViewContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
