<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.cdt.testsrunner.TestsRunner">
      <runner
            class="org.eclipse.cdt.testsrunner.internal.tap.TAPTestsRunnerProvider"
            description="%TAPTestsRunner.description"
            id="org.eclipse.cdt.testsrunner.tap"
            name="%TAPTestsRunner.name">
      </runner>
   </extension>
</plugin>
