<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="checkers" name="%extension-point.name.CodeAnalysis" schema="schema/checkers.exsd"/>

   <extension
         id="codanBuilder"
         name="%extension.name.Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.cdt.codan.internal.core.CodanBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="codanNature"
         name="%extension.name.Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.cdt.codan.internal.core.CodeAnlysisNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.cdt.codan.core.codanBuilder">
      </builder>
   </extension>
   <extension
         id="codanProblem"
         name="%extension.name.Marker"
         point="org.eclipse.core.resources.markers">

      <super type="org.eclipse.core.resources.problemmarker"/> 
      <super type="org.eclipse.core.resources.textmarker"/> 
      
      <super
            type="org.eclipse.cdt.core.problem">
      </super>
              <attribute
          name="category">
    </attribute>
    <attribute
          name="id">
    </attribute>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="args">
      </attribute>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>

      <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.categories">

      <category
      id="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
      name="%category.name.ProgrammingErrors"
      />
            <category
      id="org.eclipse.cdt.codan.core.categories.CodeStyle"
      name="%category.name.CodeStyle"
      >
      </category>
      <category
      id="org.eclipse.cdt.codan.core.categories.CompilerErrors"
      name="%category.name.CompilerErrors"
      />
   </extension>
   
      <extension
            id="application"
            point="org.eclipse.core.runtime.applications">
         <application
               cardinality="singleton-global"
               thread="main"
              visible="true">
           <run
                 class="org.eclipse.cdt.codan.internal.core.CodanApplication">
           </run>
        </application>
     </extension>
 
   

</plugin>
