<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006, 2007 Symbian Software Ltd. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html
  
Contributors:
   Javier Montalvo Orus (Symbian) - initial API and implementation
-->
<?eclipse version="3.1"?>
<plugin>
   <extension-point id="ftpFileEntryParser" name="ftpFileEntryParser" schema="schema/ftpFileEntryParser.exsd"/>
   
   <extension point="org.eclipse.rse.services.files.ftp.ftpFileEntryParser">
      <parser
            class="org.apache.commons.net.ftp.parser.UnixFTPEntryParser"
            name="UNIX">
      </parser>
      <parser
            class="org.apache.commons.net.ftp.parser.MVSFTPEntryParser"
            name="MVS">
      </parser>
      <parser
            class="org.eclipse.rse.internal.services.files.ftp.parser.RSENTFTPEntryParser"
            name="WinNT">
      </parser>
      <parser
            class="org.apache.commons.net.ftp.parser.OS2FTPEntryParser"
            name="OS2">
      </parser>
      <parser
            class="org.apache.commons.net.ftp.parser.OS400FTPEntryParser"
            name="OS400">
      </parser>
       <parser
            class="org.eclipse.rse.internal.services.files.ftp.parser.RSEVMSFTPEntryParser"
            name="VMS">
      </parser>
   </extension>
  
</plugin> 
