<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.cdt.launch.serial.internal.SerialFlashLaunchConfigDelegate"
            id="org.eclipse.cdt.launch.serial.launchConfigurationType"
            modes="run"
            name="Launch over Serial">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchTargetTypes">
      <launchTargetType
            id="org.eclipse.cdt.launch.serial.core.serialFlashTarget"
            provider="org.eclipse.cdt.launch.serial.SerialFlashLaunchTargetProvider">
      </launchTargetType>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchBarContributions">
      <configProvider
            class="org.eclipse.cdt.launch.serial.internal.SerialFlashLaunchConfigProvider"
            descriptorType="org.eclipse.cdt.debug.core.coreBuildDescriptorType"
            priority="10">
            <enablement>
            </enablement>
      </configProvider>
   </extension>

</plugin>
