<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Terminals launcher delegate contributions -->
   <extension point="org.eclipse.tcf.te.ui.terminals.launcherDelegates">
      <delegate
            class="org.eclipse.tcf.te.ui.terminals.ssh.launcher.SshLauncherDelegate"
            id="org.eclipse.tcf.te.ui.terminals.ssh.launcher.ssh"
            label="%SshLauncherDelegate.label">
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate operator="and" ifEmpty="false">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.tcf.te.core.terminals.hasContextPropertiesProvider"
                           value="true"/>
                  </iterate>
               </with>
            </enablement>
      </delegate>
   </extension>
</plugin>
