<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate 
         	debugModel="org.eclipse.dd.dsf.debug.ui"
     		delegateClass="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.expression.WatchExpressionDelegate"/>
  </extension>

   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="org.eclipse.dd.debug.currentIP">
      </type>
      <type
         name="org.eclipse.dd.debug.secondaryIP">
      </type>
   </extension>   
   
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="org.eclipse.dd.dsf.debug.ui.sourcelookup.InstructionPointerImageProvider"
            annotationType="org.eclipse.dd.debug.currentIP"
            colorPreferenceKey="currentIPColor"
            colorPreferenceValue="198,219,174"
            highlightPreferenceKey="currentIPHighlight"
            highlightPreferenceValue="true"
            label="%debugCurrentInstructionPointer"
            overviewRulerPreferenceKey="currentIPOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            textPreferenceKey="currentIPIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="currentIPVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="org.eclipse.dd.dsf.debug.ui.sourcelookup.InstructionPointerImageProvider"
            annotationType="org.eclipse.dd.debug.secondaryIP"
            colorPreferenceKey="secondaryIPColor"
            colorPreferenceValue="219,235,204"
            highlightPreferenceKey="secondaryIPHighlight"
            highlightPreferenceValue="true"
            label="%debugCallStack"
            overviewRulerPreferenceKey="secondaryIPOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            textPreferenceKey="secondaryIPIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="secondaryIPVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.Refresh"
            targetID="org.eclipse.debug.ui.RegisterView">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.RefreshActionDelegate"
               icon="icons/refresh.gif"
               id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.Refresh"
               label="Refresh"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.Refresh"
            targetID="org.eclipse.debug.ui.VariableView">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.RefreshActionDelegate"
               icon="icons/refresh.gif"
               id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.Refresh"
               label="Refresh"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.Refresh"
            targetID="org.eclipse.debug.ui.ExpressionView">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.RefreshActionDelegate"
               icon="icons/refresh.gif"
               id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.Refresh"
               label="Refresh"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.update.variable.updatePolicies"
            targetID="org.eclipse.debug.ui.VariableView">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.SelectUpdatePolicyAction"
               id="org.eclipse.dd.dsf.debug.ui.update.selectUpdatePolicy"
               label="Update Policy"
               menubarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.update.register.updatePolicies"
            targetID="org.eclipse.debug.ui.RegisterView">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.SelectUpdatePolicyAction"
               id="org.eclipse.dd.dsf.debug.ui.update.selectUpdatePolicy"
               label="Update Policy"
               menubarPath="additions">
         </action>
      </viewContribution>
   </extension>
   
      <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.debug.ui.RegisterView"
            id="org.eclipse.debug.ui.PulldownActions">
         <menu id="numberFormat"
               label="Number Format"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatHex"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Hex_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Hex"
               label="Hex"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatDecimal"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Decimal_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Decimal"
               label="Decimal"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatOctal"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Octal_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Octal"
               label="Octal"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatBinary"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Binary_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Binary"
               label="Binary"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatNatural"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Natural_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Natural"
               label="Natural"
               menubarPath="numberFormat/additions"
               state="true"
               style="radio">
         </action>
      </viewContribution>
   </extension>
   
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.debug.ui.VariableView"
            id="org.eclipse.debug.ui.PulldownActions">
         <menu id="numberFormat"
               label="Number Format"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatHex"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Hex_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Hex"
               label="Hex"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatDecimal"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Decimal_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Decimal"
               label="Decimal"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatOctal"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Octal_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Octal"
               label="Octal"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatBinary"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Binary_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Binary"
               label="Binary"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatNatural"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Natural_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Natural"
               label="Natural"
               menubarPath="numberFormat/additions"
               state="true"
               style="radio">
         </action>
      </viewContribution>
   </extension>   
   
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.debug.ui.ExpressionView"
            id="org.eclipse.debug.ui.PulldownActions">
         <menu id="numberFormat"
               label="Number Format"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatHex"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Hex_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Hex"
               label="Hex"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatDecimal"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Decimal_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Decimal"
               label="Decimal"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatOctal"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Octal_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Octal"
               label="Octal"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatBinary"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Binary_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Binary"
               label="Binary"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatNatural"
               helpContextId="com.windriver.ide.debug.internal.ui.NumberFormat.Natural_helpContext"
               id="com.windriver.ide.debug.internal.ui.NumberFormat.Natural"
               label="Natural"
               menubarPath="numberFormat/additions"
               state="true"
               style="radio">
         </action>
      </viewContribution>
   </extension>    
   
	<extension 
	    point="org.eclipse.debug.ui.detailPaneFactories">
        <detailFactories
             class="org.eclipse.dd.dsf.debug.internal.ui.viewmodel.numberformat.detail.NumberFormatDetailPaneFactory"
             id="org.eclipse.dd.dsf.debug.ui.viewmodel.detailPaneFactory">
			<enablement>
		        <with variable="selection">
	        		<iterate>
					    <instanceof value="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.IFormattedValueVMContext"/>
	        		</iterate>
	      		</with>
	      	</enablement>      
        </detailFactories>
        <detailFactories
              class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.modules.ModuleDetailPaneFactory"
              id="org.eclipse.dd.dsf.debug.ui.viewmodel.moduleDetailPaneFactory">
        </detailFactories>
    </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%command.gotoPC.description"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoPC"
            name="%command.gotoPC.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%command.gotoAddress.description"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoAddress"
            name="%command.gotoAddress.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%command.gotoSymbol.description"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoSymbol"
            name="%command.gotoSymbol.name"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
       <key sequence="HOME"
            contextId="org.eclipse.dd.dsf.debug.ui.disassembly.context"
            commandId="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoPC"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
       <key sequence="M1+G"
            contextId="org.eclipse.dd.dsf.debug.ui.disassembly.context"
            commandId="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoAddress"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
       <key sequence="M1+M2+G"
            contextId="org.eclipse.dd.dsf.debug.ui.disassembly.context"
            commandId="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoSymbol"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%commandContext.description"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.context"
            name="%commandContext.name"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.dd.dsf.debug.internal.ui.disassembly.preferences.DisassemblyPreferenceConstants$Initializer"/>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="org.eclipse.dd.dsf.debug.internal.ui.disassembly.DisassemblyView"
            icon="icons/disassembly.gif"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.view"
            name="%disassemblyView.name">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.dd.dsf.debug.internal.ui.disassembly.preferences.DisassemblyPreferencePage"
            category="org.eclipse.debug.ui.DebugPreferencePage"
            name="%disassemblyPreferencePage.name"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.preferencePage"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.dd.dsf.debug.ui.disassemblyRulerActions"
            targetID="#DisassemblyPartRulerContext">
         <action
               class="org.eclipse.dd.dsf.debug.internal.ui.disassembly.actions.BreakpointPropertiesRulerActionDelegate"
               id="org.eclipse.dd.dsf.debug.ui.disassembly.breakpointProperties"
               label="%action.breakpointProperties.label"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>

</plugin>
