<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate 
         	debugModel="org.eclipse.dd.dsf.debug.ui"
     		delegateClass="org.eclipse.dd.dsf.debug.ui.viewmodel.expression.WatchExpressionDelegate"/>
  </extension>

   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="org.eclipse.dd.debug.currentIP">
      </type>
      <type
         name="org.eclipse.dd.debug.secondaryIP">
      </type>
   </extension>   
   
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="org.eclipse.dd.dsf.debug.ui.sourcelookup.InstructionPointerImageProvider"
            annotationType="org.eclipse.dd.debug.currentIP"
            colorPreferenceKey="currentIPColor"
            colorPreferenceValue="198,219,174"
            highlightPreferenceKey="currentIPHighlight"
            highlightPreferenceValue="true"
            label="%debugCurrentInstructionPointer"
            overviewRulerPreferenceKey="currentIPOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            textPreferenceKey="currentIPIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="currentIPVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="org.eclipse.dd.dsf.debug.ui.sourcelookup.InstructionPointerImageProvider"
            annotationType="org.eclipse.dd.debug.secondaryIP"
            colorPreferenceKey="secondaryIPColor"
            colorPreferenceValue="219,235,204"
            highlightPreferenceKey="secondaryIPHighlight"
            highlightPreferenceValue="true"
            label="%debugCallStack"
            overviewRulerPreferenceKey="secondaryIPOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            textPreferenceKey="secondaryIPIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="secondaryIPVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.Refresh"
            targetID="org.eclipse.debug.ui.RegisterView">
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshActionDelegate"
               icon="icons/refresh.gif"
               id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.Refresh"
               label="Refresh"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.Refresh"
            targetID="org.eclipse.debug.ui.VariableView">
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshActionDelegate"
               icon="icons/refresh.gif"
               id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.Refresh"
               label="Refresh"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.Refresh"
            targetID="org.eclipse.debug.ui.ExpressionView">
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshActionDelegate"
               icon="icons/refresh.gif"
               id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.Refresh"
               label="Refresh"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.update.UpdatePopup"
            targetID="org.eclipse.debug.ui.VariableView">
            <menu
               id="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu"
               label="Update Mode"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshManualActionDelegate"
               icon="icons/refreshmanual.gif"
               id="org.eclipse.dd.dsf.debug.ui.update.registers.RefreshManual"
               label="Manual"
               menubarPath="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu/content"
               style="radio"
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshOnBreakActionDelegate"
               id="org.eclipse.dd.dsf.debug.ui.update.registers.RefreshOnBreak"
               label="On Breakpoint Hit"
               menubarPath="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu/content"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshAlwaysActionDelegate"
               icon="icons/refreshalways.gif"
               id="org.eclipse.dd.dsf.debug.ui.update.registers.RefreshAlways"
               label="Always"
               menubarPath="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu/content"
               state="true"
               style="radio"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.update.UpdatePopup"
            targetID="org.eclipse.debug.ui.ExpressionView">
            <menu
               id="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu"
               label="Update Mode"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshManualActionDelegate"
               icon="icons/refreshmanual.gif"
               id="org.eclipse.dd.dsf.debug.ui.update.registers.RefreshManual"
               label="Manual"
               menubarPath="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu/content"
               style="radio"
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshOnBreakActionDelegate"
               id="org.eclipse.dd.dsf.debug.ui.update.registers.RefreshOnBreak"
               label="On Breakpoint Hit"
               menubarPath="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu/content"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshAlwaysActionDelegate"
               icon="icons/refreshalways.gif"
               id="org.eclipse.dd.dsf.debug.ui.update.registers.RefreshAlways"
               label="Always"
               menubarPath="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu/content"
               state="true"
               style="radio"
               toolbarPath="additions">
         </action>
      </viewContribution>
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.update.UpdatePopup"
            targetID="org.eclipse.debug.ui.RegisterView">
            <menu
               id="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu"
               label="Update Mode"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshManualActionDelegate"
               icon="icons/refreshmanual.gif"
               id="org.eclipse.dd.dsf.debug.ui.update.registers.RefreshManual"
               label="Manual"
               menubarPath="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu/content"
               style="radio"
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshOnBreakActionDelegate"
               id="org.eclipse.dd.dsf.debug.ui.update.registers.RefreshOnBreak"
               label="On Breakpoint Hit"
               menubarPath="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu/content"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.RefreshAlwaysActionDelegate"
               icon="icons/refreshalways.gif"
               id="org.eclipse.dd.dsf.debug.ui.update.registers.RefreshAlways"
               label="Always"
               menubarPath="org.eclipse.dd.dsf.debug.ui.update.UpdateModeSubMenu/content"
               state="true"
               style="radio"
               toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
   
	<extension 
	   point="org.eclipse.debug.ui.detailPaneFactories">
       <detailFactories
             class="org.eclipse.dd.dsf.debug.ui.viewmodel.detailpanesupport.DetailPaneFactory"
             id="org.eclipse.dd.dsf.debug.ui.viewmodel.detailPaneFactory">
       </detailFactories>
    </extension>
    
</plugin>
