<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate 
         	debugModel="org.eclipse.dd.dsf.debug.ui"
     		delegateClass="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.expression.WatchExpressionDelegate"/>
  </extension>

   <extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.eclipse.dd.dsf.debug.ui.PreferenceInitializer"/>
   </extension>
	
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="org.eclipse.dd.debug.currentIP">
      </type>
      <type
         name="org.eclipse.dd.debug.secondaryIP">
      </type>
   </extension>   
   
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="org.eclipse.dd.dsf.debug.ui.sourcelookup.InstructionPointerImageProvider"
            annotationType="org.eclipse.dd.debug.currentIP"
            colorPreferenceKey="currentIPColor"
            colorPreferenceValue="198,219,174"
            highlightPreferenceKey="currentIPHighlight"
            highlightPreferenceValue="true"
            label="%debugCurrentInstructionPointer"
            overviewRulerPreferenceKey="currentIPOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            textPreferenceKey="currentIPIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="currentIPVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="org.eclipse.dd.dsf.debug.ui.sourcelookup.InstructionPointerImageProvider"
            annotationType="org.eclipse.dd.debug.secondaryIP"
            colorPreferenceKey="secondaryIPColor"
            colorPreferenceValue="219,235,204"
            highlightPreferenceKey="secondaryIPHighlight"
            highlightPreferenceValue="true"
            label="%debugCallStack"
            overviewRulerPreferenceKey="secondaryIPOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="6"
            textPreferenceKey="secondaryIPIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="secondaryIPVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

   <extension
         point="org.eclipse.ui.viewActions">
      <!-- Variables View menu contributions -->
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.Refresh"
            targetID="org.eclipse.debug.ui.VariableView">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.RefreshActionDelegate"
               icon="icons/refresh.gif"
               id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.Refresh"
               label="%action.refresh.label"
               toolbarPath="additions">
         </action>
         
         <menu id="numberFormat"
               label="%menu.numberFormat"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatHex"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Hex_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Hex"
               label="%action.setDefaultNumberFormatHex.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatDecimal"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Decimal_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Decimal"
               label="%action.setDefaultNumberFormatDecimal.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatOctal"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Octal_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Octal"
               label="%action.setDefaultNumberFormatOctal.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatBinary"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Binary_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Binary"
               label="%action.setDefaultNumberFormatBinary.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatNatural"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Natural_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Natural"
               label="%action.setDefaultNumberFormatNatural.label"
               menubarPath="numberFormat/additions"
               state="true"
               style="radio">
         </action>
         
         <menu id="updateScope"
               label="%menu.updateScope"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.AllUpdateScopeAction"
               id="org.eclipse.dd.dsf.debug.ui.UpdateScope_All"
               label="%action.allUpdateScope.label"
               state="false"
               menubarPath="updateScope/additions"
               style="radio">
         </action>  
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.VisibleUpdateScopeAction"
               id="org.eclipse.dd.dsf.debug.ui.UpdateScope_Visible"
               label="%action.visibleUpdateScope.label"
               menubarPath="updateScope/additions"
               state="true"
               style="radio">
         </action>      
         
         <menu id="updatePolicy"
               label="%menu.updatePolicy"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.BreakpointHitUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_BreakpointHit_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_BreakpointHit"
               label="%action.breakpointHitUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.ManualUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Manual_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Manual"
               label="%action.manualUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.AutomaticUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Automatic_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Automatic"
               label="%action.automaticUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               state="true"
               style="radio">
         </action>         
         
         
 		 
      </viewContribution>

      <!-- Registers View menu contributions -->
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.Refresh"
            targetID="org.eclipse.debug.ui.RegisterView">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.RefreshActionDelegate"
               icon="icons/refresh.gif"
               id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.Refresh"
               label="%action.refresh.label"
               toolbarPath="additions">
         </action>
         
         <menu id="numberFormat"
               label="%menu.numberFormat"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatHex"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Hex_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Hex"
               label="%action.setDefaultNumberFormatHex.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatDecimal"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Decimal_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Decimal"
               label="%action.setDefaultNumberFormatDecimal.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatOctal"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Octal_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Octal"
               label="%action.setDefaultNumberFormatOctal.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatBinary"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Binary_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Binary"
               label="%action.setDefaultNumberFormatBinary.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatNatural"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Natural_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Natural"
               label="%action.setDefaultNumberFormatNatural.label"
               menubarPath="numberFormat/additions"
               state="true"
               style="radio">
         </action>
         
         <menu id="updateScope"
               label="%menu.updateScope"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.AllUpdateScopeAction"
               id="org.eclipse.dd.dsf.debug.ui.UpdateScope_All"
               label="%action.allUpdateScope.label"
               menubarPath="updateScope/additions"
               style="radio">
         </action>  
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.VisibleUpdateScopeAction"
               id="org.eclipse.dd.dsf.debug.ui.UpdateScope_Visible"
               label="%action.visibleUpdateScope.label"
               menubarPath="updateScope/additions"
               state="true"
               style="radio">
         </action>      
         
         <menu id="updatePolicy"
               label="%menu.updatePolicy"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.BreakpointHitUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_BreakpointHit_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_BreakpointHit"
               label="%action.breakpointHitUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.ManualUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Manual_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Manual"
               label="%action.manualUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.AutomaticUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Automatic_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Automatic"
               label="%action.automaticUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               state="true"
               style="radio">
         </action>         
         
      </viewContribution>
      
      <!-- Expressions View menu contributions -->
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.Refresh"
            targetID="org.eclipse.debug.ui.ExpressionView">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.RefreshActionDelegate"
               icon="icons/refresh.gif"
               id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.Refresh"
               label="%action.refresh.label"
               toolbarPath="additions">
         </action>
         
         <menu id="numberFormat"
               label="%menu.numberFormat"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatHex"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Hex_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Hex"
               label="%action.setDefaultNumberFormatHex.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatDecimal"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Decimal_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Decimal"
               label="%action.setDefaultNumberFormatDecimal.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatOctal"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Octal_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Octal"
               label="%action.setDefaultNumberFormatOctal.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatBinary"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Binary_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Binary"
               label="%action.setDefaultNumberFormatBinary.label"
               menubarPath="numberFormat/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.actions.SetDefaultFormatNatural"
               helpContextId="org.eclipse.dd.dsf.debug.ui.NumberFormat_Natural_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.NumberFormat_Natural"
               label="%action.setDefaultNumberFormatNatural.label"
               menubarPath="numberFormat/additions"
               state="true"
               style="radio">
         </action>
         
         <menu id="updateScope"
               label="%menu.updateScope"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.AllUpdateScopeAction"
               id="org.eclipse.dd.dsf.debug.ui.UpdateScope_All"
               label="%action.allUpdateScope.label"
               state="false"
               menubarPath="updateScope/additions"
               style="radio">
         </action>  
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.VisibleUpdateScopeAction"
               id="org.eclipse.dd.dsf.debug.ui.UpdateScope_Visible"
               label="%action.visibleUpdateScope.label"
               menubarPath="updateScope/additions"
               state="true"
               style="radio">
         </action>  
         
         <menu id="updatePolicy"
               label="%menu.updatePolicy"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.BreakpointHitUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_BreakpointHit_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_BreakpointHit"
               label="%action.breakpointHitUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.ManualUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Manual_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Manual"
               label="%action.manualUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.AutomaticUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Automatic_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Automatic"
               label="%action.automaticUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               state="true"
               style="radio">
         </action>         
         
      </viewContribution>

      <!-- Debug View menu contributions -->
      <viewContribution
            id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.debugView.Refresh"
            targetID="org.eclipse.debug.ui.DebugView">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.RefreshActionDelegate"
               icon="icons/refresh.gif"
               id="org.eclipse.dd.dsf.debug.ui.viewmodel.update.actions.Refresh"
               label="%action.refresh.label"
               toolbarPath="additions">
         </action>
         
         <menu id="updatePolicy"
               label="%menu.threadsUpdatePolicy"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.ManualUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Manual_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Manual"
               label="%action.manualUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.AutomaticUpdatePolicyAction"
               helpContextId="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Automatic_helpContext"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Automatic"
               label="%action.automaticUpdatePolicy.label"
               menubarPath="updatePolicy/additions"
               state="true"
               style="radio">
         </action>    
         
         <menu id="updatesAtomic"
               label="%menu.updatePolicyAtomic"
               path="additions"/>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.AtomicUpdatePolicyAction"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_Atomic"
               label="%action.updatePolicyAtomic.label"
               menubarPath="updatesAtomic/additions"
               style="radio">
         </action>
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.update.actions.NonAtomicUpdatePolicyAction"
               id="org.eclipse.dd.dsf.debug.ui.UpdatePolicy_NonAtomic"
               label="%action.updatePolicyNotAtomic.label"
               menubarPath="updatesAtomic/additions"
               state="true"
               style="radio">
         </action>            
         
         
         
      </viewContribution>

   </extension>
   
	<extension 
	    point="org.eclipse.debug.ui.detailPaneFactories">
        <detailFactories
             class="org.eclipse.dd.dsf.debug.internal.ui.viewmodel.numberformat.detail.NumberFormatDetailPaneFactory"
             id="org.eclipse.dd.dsf.debug.ui.viewmodel.detailPaneFactory">
			<enablement>
		        <with variable="selection">
	        		<iterate>
					    <instanceof value="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.numberformat.IFormattedValueVMContext"/>
	        		</iterate>
	      		</with>
	      	</enablement>      
        </detailFactories>
        <detailFactories
              class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.modules.detail.ModuleDetailPaneFactory"
              id="org.eclipse.dd.dsf.debug.ui.viewmodel.moduleDetailPaneFactory">
			<enablement>
		        <with variable="selection">
	        		<iterate>
					    <instanceof value="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.modules.ModulesVMNode$ModuleVMContext"/>
	        		</iterate>
	      		</with>
	      	</enablement>      
        </detailFactories>
    </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%command.gotoPC.description"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoPC"
            name="%command.gotoPC.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%command.gotoAddress.description"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoAddress"
            name="%command.gotoAddress.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%command.gotoSymbol.description"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoSymbol"
            name="%command.gotoSymbol.name"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
       <key sequence="HOME"
            contextId="org.eclipse.dd.dsf.debug.ui.disassembly.context"
            commandId="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoPC"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
       <key sequence="M1+G"
            contextId="org.eclipse.dd.dsf.debug.ui.disassembly.context"
            commandId="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoAddress"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
       <key sequence="M1+M2+G"
            contextId="org.eclipse.dd.dsf.debug.ui.disassembly.context"
            commandId="org.eclipse.dd.dsf.debug.ui.disassembly.commands.gotoSymbol"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%commandContext.description"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.context"
            name="%commandContext.name"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.dd.dsf.debug.internal.ui.disassembly.preferences.DisassemblyPreferenceConstants$Initializer"/>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="org.eclipse.dd.dsf.debug.internal.ui.disassembly.DisassemblyView"
            icon="icons/disassembly.gif"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.view"
            name="%disassemblyView.name">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.debug.ui.DebugPreferencePage"
            class="org.eclipse.dd.dsf.debug.internal.ui.preferences.DsfDebugPreferencePage"
            id="org.eclipse.dd.dsf.debug.ui.preferences"
            name="%preferencePage.name">
      </page>
      <page
            class="org.eclipse.dd.dsf.debug.internal.ui.disassembly.preferences.DisassemblyPreferencePage"
            category="org.eclipse.dd.dsf.debug.ui.preferences"
            name="%disassemblyPreferencePage.name"
            id="org.eclipse.dd.dsf.debug.ui.disassembly.preferencePage"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.dd.dsf.debug.ui.disassemblyRulerActions"
            targetID="#DisassemblyPartRulerContext">
         <action
               class="org.eclipse.dd.dsf.debug.internal.ui.disassembly.actions.BreakpointPropertiesRulerActionDelegate"
               id="org.eclipse.dd.dsf.debug.ui.disassembly.breakpointProperties"
               label="%action.breakpointProperties.label"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>
   
      
   <!-- memory update policy -->
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.debug.ui.MemoryView.updatePolicy"
            targetID="org.eclipse.debug.ui.MemoryView.MemoryBlocksTreeViewPane">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.memory.SelectUpdatePolicyAction"
               id="org.eclipse.debug.ui.views.memory.update.selectUpdatePolicy"
               label="Update Policy"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="org.eclipse.debug.ui.MemoryView.RenderingViewPane.2"
            id="org.eclipse.debug.ui.memory.renderingviewpane.2.updatepolicy">
         <action
               label="Update Policy"
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.memory.SelectUpdatePolicyAction"
               menubarPath="org.eclipse.debug.ui.memory.renderingviewpane.2"
               id="org.eclipse.debug.ui.MemoryView.RenderingViewPane.2.updatepolicy"/>
      </viewerContribution>   
      <viewerContribution
            targetID="org.eclipse.debug.ui.MemoryView.RenderingViewPane.1"
            id="org.eclipse.debug.ui.memory.renderingviewpane.1.updatepolicy">
         <action
               label="Update Policy"
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.memory.SelectUpdatePolicyAction"
               menubarPath="org.eclipse.debug.ui.memory.renderingviewpane.1"
               id="org.eclipse.debug.ui.MemoryView.RenderingViewPane.1.updatepolicy"/>
      </viewerContribution>   
   </extension>   
    <extension
         point="org.eclipse.ui.viewActions">
    <viewContribution
            targetID="org.eclipse.debug.ui.MemoryView"
            id="org.eclipse.debug.ui.memoryView.toolbar">
    	<action
           class="org.eclipse.dd.dsf.debug.internal.provisional.ui.memory.RefreshAction"
           enablesFor="1"
           icon="icons/refresh.gif"
           id="org.eclipse.debug.ui.MemoryView.memoryViewRefresh"
           label="Refresh"
           state="false"
           toolbarPath="additions">
         </action>
         </viewContribution>
    </extension>
    <extension
         point="org.eclipse.ui.viewActions">
	    <viewContribution
	            id="org.eclipse.debug.ui.MemoryView.updatepolicy"
	            targetID="org.eclipse.debug.ui.MemoryView">
	         <action
	               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.memory.SelectUpdatePolicyAction"
	               id="org.eclipse.debug.ui.MemoryView.updatepolicy"
	               label="Update Policy"
	               menubarPath="additions">
	         </action>
	     </viewContribution>
     </extension>

   <!-- Debug view context menu contributions -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.dd.dsf.debug.ui.objectContribution.incompleteStack"
            objectClass="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.launch.StackFramesVMNode$IncompleteStackVMContext">
         <action
               class="org.eclipse.dd.dsf.debug.internal.provisional.ui.viewmodel.launch.actions.ExpandStackAction"
               id="org.eclipse.dd.dsf.debug.ui.action.expandStack"
               label="%action.expandStack.label"
               menubarPath="renderGroup">
         </action>
      </objectContribution>
   </extension>

</plugin>
