<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="DSF Examples"
            id="org.eclipse.dd.examples.dsf">
      </category>
      <view
            name="Timers View"
            icon="icons/timer.gif"
            category="org.eclipse.dd.examples.dsf"
            class="org.eclipse.dd.examples.dsf.timers.TimersView"
            id="org.eclipse.dd.dsf.examples.model.TimersAlarmsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.dd.dsf.test.actionSet"
            label="DSF Examples">
         <menu
               id="org.eclipse.dd.examples.dsf"
               label="DSF Examples"
               path="additions">
            <groupMarker name="concurrent"/>
         </menu>
         <action
               class="org.eclipse.dd.examples.dsf.filebrowser.FileBrowserAction"
               id="org.eclipse.dd.dsf.test.fileBrowser"
               label="Open File Browser Dialog"
               menubarPath="org.eclipse.dd.examples.dsf/concurrent"
               style="push"/>
      </actionSet>
   </extension>

</plugin>
