* text=auto

# Generic files
AUTHORS text
ChangeLog text
COPYING text
NEWS text
README text
*.txt text
*.zip binary

# C-like Sources
*.asm text
*.c text
*.cc text
*.cpp text
*.h text
*.s text
*.S text

# C-like configuration/scripts
*.ac text
*.am text
*.bat text
*.build text
*.incl text
makefile text
Makefile text
*.mk text
*.sh text

# Qt
*.pro text
*.qml text
*.qrc text

# Visual Studio
*.dsp text eol=crlf
*.dsw text eol=crlf
*.filters text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf

# C output files 
# (These should not normally be checked in, exceptions for pre-compiled libraries and tests)
*.o binary
*.d text
*.dll binary
*.a binary
*.exe binary
*.out binary
*.app binary
*.jnilib binary
*.so binary

# Web/Javascript/Node
*.css text
*.htm text
*.html text
*.js text
*.json text
.npmignore text
package-list text
*.xml text
*.xsd text
*.xsl text
yarn.lock text
*.lock text

# Images
*.gif binary
*.icns binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.PNG binary
*.xpm binary

# Java/Eclipse
# remove trailing whitespace
*.java text
# remove trailing whitespace
*.properties text
.api_filters text
.classpath text
*.exsd text
*.g text
*.inf text
*.ini text
*.launch text
*.mappings text
# remove trailing whitespace
*.MF text
.options text
*.options text
*.prefs text
*.product text
.project text
*.setup text
*.target text

# Java output files
# (These should not normally be checked in, exceptions for pre-compiled libraries and tests)
*.class binary
*.jar binary

# Files used in tests
*.awts text
be32 binary
be32lib binary
be64 binary
be64lib binary
exe binary
exebig_g binary
exe_g binary
*.expected text
*.F90 text
*.init text
launchConfigTestGdbinit text
le32 binary
le32lib binary
le64 binary
le64lib binary
*.main text
output-1 text
*.pda text
*.rts text
test_commands text

# Other special files
cdtOptions text
.contentsettings text
*.csv text
*.dia binary
*.dictionary text
.eclipseproduct text
.euml2 text
.gitattributes text
.gitignore text
*.patch text
*.src text
*.tmLanguage text
*.top text
*.ucd text
.umlproject text
*.upc text
# remove trailing whitespace
*.py text
