<?eclipse version="3.0"?>
<plugin>

<extension point="org.eclipse.debug.ui.memoryRenderings">
    <renderingType 
        name="Traditional"
        id="org.eclipse.dd.debug.memory.renderings.MemoryRenderingTraditional"
        class="org.eclipse.dd.debug.memory.renderings.MemoryRenderingTypeDelegate">
    </renderingType>
    <renderingBindings
        renderingIds="org.eclipse.dd.debug.memory.renderings.MemoryRenderingTraditional"
        defaultIds="org.eclipse.dd.debug.memory.renderings.MemoryRenderingTraditional">
        <enablement>
            <instanceof value="org.eclipse.debug.core.model.IMemoryBlockExtension"/>
        </enablement>    
    </renderingBindings>          
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         class="org.eclipse.dd.debug.memory.renderings.MemoryRenderingTraditionalPreferencePage"
         id="org.eclipse.dd.debug.memory.renderings.MemoryRenderingTraditionalPreferencePage"
         name="Traditional Memory Rendering"/>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer class="org.eclipse.dd.debug.memory.renderings.MemoryRenderingTraditionalPreferenceInitializer"/>
</extension>

</plugin>
