[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group tools.cdt
	forgeAuthor = group tools.cdt
	label-Code-Review = -2..+2 group tools.cdt
	label-IP-Clean = -1..+1 group tools.cdt
	label-Verified = -1..+1 group tools.cdt
	submit = group tools.cdt
[access "refs/tags/*"]
	pushTag = group tools.cdt
