[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group ldap/tools.cdt
	forgeAuthor = group ldap/tools.cdt
	label-Code-Review = -2..+2 group ldap/tools.cdt
	label-IP-Clean = -1..+1 group ldap/tools.cdt
	label-Verified = -1..+1 group ldap/tools.cdt
	submit = group ldap/tools.cdt
	push = group ldap/tools.cdt
	abandon = group ldap/tools.cdt
	pushMerge = group ldap/tools.cdt
[access "refs/tags/*"]
	pushTag = group ldap/tools.cdt
	create = group ldap/tools.cdt
	push = group ldap/tools.cdt
	pushSignedTag = group ldap/tools.cdt
[submit]
	action = cherry pick
[project]
	state = active
