<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse 4.4.x (Luna)" sequenceNumber="63">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.hamcrest.library.source" version="1.3.0.v201305281000"/>
<unit id="org.hamcrest.library" version="1.3.0.v201305281000"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.2.1.201402241301"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.5.0.201409172108"/>
<repository location="http://download.eclipse.org/tools/cdt/releases/8.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gnu.io.rxtx.sdk.feature.group" version="2.1.7.4_v20071016-417C7DP1Bh_eEaQJBrHBHg"/>
<repository location="http://archive.eclipse.org/tm/updates/rxtx"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.1.M20140925-0400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.1.v20140901-1055"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.remote.feature.group" version="1.1.1.201502102040"/>
<repository location="http://download.eclipse.org/tools/ptp/builds/remote/1.1.1"/>
</location>
</locations>
</target>
