<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.filesystemSupport">
      <filesystemContributor
            class="org.eclipse.remote.internal.jsch.ui.JSchFileSystemContributor"
            label="JSch"
            scheme="ssh">
      </filesystemContributor>
   </extension>
   <extension
            point="org.eclipse.ui.preferenceTransfer">
         <transfer
               icon="icons/full/obj16/connection.gif"
               id="org.eclipse.remote.jsch.transfer.connections"
               name="%JSchTransferConnections.name">
            <mapping
                  scope="instance">
               <entry
                     node="org.eclipse.remote.jsch.core/connections">
               </entry>
            </mapping>
            <description>
               %JSchTransferConnections.description
            </description>
         </transfer>
   </extension>
   <extension
         point="org.eclipse.remote.core.authenticator">
      <authenticator
            class="org.eclipse.remote.internal.jsch.ui.JSchUserAuthenticator"
            id="org.eclipse.remote.JSch"
            priority="0">
      </authenticator>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionTypeService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.ui.JSchUIConnectionService$Factory"
            service="org.eclipse.remote.ui.IRemoteUIConnectionService">
      </connectionTypeService>
      <connectionTypeService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.ui.JSchUIFileService$Factory"
            service="org.eclipse.remote.ui.IRemoteUIFileService">
      </connectionTypeService>
      <connectionService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.ui.JSchUserAuthenticator$Factory"
            service="org.eclipse.remote.core.IUserAuthenticatorService">
      </connectionService>
   </extension>
   
</plugin>
