<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.cdt.debug.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="org.eclipse.cdt.debug.application.GCCCompileOptionsParser"
            id="org.eclipse.cdt.debug.application.DwarfLanguageSettingsProvider"
            name="%DwarfSettingEntries.name">
      </provider>
   </extension>
</plugin>
