<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.cdt.debug.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="org.eclipse.cdt.debug.application.GCCCompileOptionsParser"
            id="org.eclipse.cdt.debug.application.DwarfLanguageSettingsProvider"
            name="%DwarfSettingEntries.name">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="GDBStandalone.activity.filterMenus"
            name="%FilterMenus.name">
      </activity>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.jdt.ui.refactoring.menu">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.jdt.ui.source.menu">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.CodingActionSet">
      </activityPatternBinding>
   </extension>
</plugin>
