<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="qtInstallProvider" name="Qt Install Provider" schema="schema/qtInstallProvider.exsd"/>
   <extension-point id="qtToolChainMapper" name="Qt ToolChain Mapper" schema="schema/qtToolChainMapper.exsd"/>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="pro"
            id="qtProjectFile"
            name="%qtProjectFile.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="qml"
            id="qmlFile"
            name="%qmlFile.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="qrc"
            id="qrcFile"
            name="%qrcFile.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="qtNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.cdt.internal.qt.core.QtNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.cdt.qt.core.qtBuilder">
      </builder>
   </extension>
    <extension
        point="org.eclipse.cdt.core.PDOMASTProcessor"
        id="qt.PDOMASTProcessor"
        name="Qt PDOM AST Processor">
        <processor
            class="org.eclipse.cdt.internal.qt.core.pdom.QtPDOMASTProcessor">
            <enablement>
                <with variable="projectNatures">
                    <iterate operator="or">
                        <equals value="org.eclipse.cdt.qt.core.qtNature"/>
                    </iterate>
                </with>
            </enablement>
        </processor>
    </extension>
    <extension point="org.eclipse.cdt.core.language">
        <pdomLinkageFactory
            id="Qt"
            class="org.eclipse.cdt.internal.qt.core.pdom.PDOMQtLinkageFactory"/>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.eclipse.cdt.qt.core.isQtProject">
            <with variable="projectNatures">
                    <iterate operator="or">
                        <equals value="org.eclipse.cdt.qt.core.qtNature"/>
                    </iterate>
            </with>
        </definition>
    </extension>
    <extension
        point="org.eclipse.cdt.codan.core.checkers"
        id="org.eclipse.cdt.core.qt.SyntaxCheckers">
        <category
              id="org.eclipse.cdt.qt.core.qtproblemcategory"
              name="Qt Problems">
        </category>
        <checker
            id="org.eclipse.cdt.core.qt.connectfunctioncallchecker"
            name="Qt Connect Function Call Checker"
            class="org.eclipse.cdt.internal.qt.core.codan.QtSyntaxChecker">
            <problem
                category="org.eclipse.cdt.qt.core.qtproblemcategory"
                defaultEnabled="true"
                defaultSeverity="Warning"
                id="org.eclipse.cdt.qt.core.qtproblem"
                markerType="org.eclipse.cdt.qt.core.qtproblem"
                messagePattern="{0}"
                name="Qt Syntax Problem">
            </problem>
        </checker>
    </extension>
    <extension
        point="org.eclipse.core.resources.markers"
        id="qtproblem"
        name="Qt C/C++ Problem">
        <super type="org.eclipse.cdt.codan.core.codanProblem"/> 
        <persistent value="true"/>
    </extension>
    <extension
          point="org.eclipse.cdt.core.buildConfigProvider">
       <provider
             class="org.eclipse.cdt.internal.qt.core.build.QtBuildConfigurationProvider"
             id="org.eclipse.cdt.qt.core.qtBuildConfigProvider"
             natureId="org.eclipse.cdt.qt.core.qtNature">
       </provider>
    </extension>
    <extension
          point="org.eclipse.cdt.core.toolChainProvider">
       <provider
             class="org.eclipse.cdt.qt.core.QtMinGWToolChainProvider"
             id="org.eclipse.cdt.qt.core.qtMinGWProvider">
       </provider>
    </extension>
    <extension
          point="org.eclipse.cdt.qt.core.qtInstallProvider">
       <provider
             class="org.eclipse.cdt.internal.qt.core.provider.Msys2QtInstallProvider">
       </provider>
       <provider
             class="org.eclipse.cdt.internal.qt.core.provider.HomebrewQtInstallProvider">
       </provider>
       <provider
             class="org.eclipse.cdt.internal.qt.core.provider.QtInstallProvider">
       </provider>
       <provider
             class="org.eclipse.cdt.internal.qt.core.provider.LinuxQtInstallProvider">
       </provider>
    </extension>
    <extension
          point="org.eclipse.cdt.qt.core.qtToolChainMapper">
       <mapping
             spec="macx-clang">
          <property
                key="os"
                value="macosx">
          </property>
          <property
                key="arch"
                value="x86_64">
          </property>
       </mapping>
       <mapping
             spec="win32-g++">
          <property
                key="os"
                value="win32">
          </property>
          <property
                key="arch"
                value="x86_64">
          </property>
       </mapping>
       <mapping
             spec="linux-g++-64">
          <property
                key="os"
                value="linux">
          </property>
          <property
                key="arch"
                value="x86_64">
          </property>
       </mapping>
       <mapping
             spec="linux-g++">
          <property
                key="os"
                value="linux">
          </property>
       </mapping>
    </extension>
</plugin>
