<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="launchBarContributions" name="Launch Bar Contributions" schema="schema/launchBarContributions.exsd"/>
   <extension
         point="org.eclipse.cdt.launchbar.core.launchBarContributions">
      <targetType
            class="org.eclipse.cdt.launchbar.core.internal.LocalTargetType"
            id="org.eclipse.cdt.launchbar.core.targetType.local">
      </targetType>
      <objectProvider
            class="org.eclipse.cdt.launchbar.core.internal.ProjectLaunchObjectProvider"
            id="org.eclipse.cdt.launchbar.core.objectProvider.project">
      </objectProvider>
   </extension>

</plugin>
