<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="launchBarContributions" name="Launch Bar Contributions" schema="schema/launchBarContributions.exsd"/>
   <extension
         point="org.eclipse.cdt.launchbar.core.launchBarContributions">
      <descriptorType
            class="org.eclipse.cdt.launchbar.core.internal.DefaultLaunchDescriptorType"
            id="org.eclipse.cdt.launchbar.core.descriptor.default"
            priority="0">
      </descriptorType>
      <targetType
            class="org.eclipse.cdt.launchbar.core.internal.LocalTargetType"
            id="org.eclipse.cdt.launchbar.core.target.local">
      </targetType>
      <configProvider
            class="org.eclipse.cdt.launchbar.core.internal.DefaultLaunchConfigurationProvider"
            descriptorType="org.eclipse.cdt.launchbar.core.descriptor.default"
            isDefault="true"
            targetType="org.eclipse.cdt.launchbar.core.target.local">
      </configProvider>
      <objectProvider
            class="org.eclipse.cdt.launchbar.core.internal.ProjectLaunchObjectProvider"
            id="org.eclipse.cdt.launchbar.core.objectProvider.project">
      </objectProvider>
   </extension>

</plugin>
