<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006 IBM Corporation. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html

Initial Contributors:
The following IBM employees contributed to the Remote System Explorer
component that contains this file: David McKnight, Kushal Munir, 
Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

Contributors:
{Name} (company) - description of contribution.
-->
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="org.eclipse.rse.eclipse.filesystem"
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem scheme="rse">
         <run class="org.eclipse.rse.eclipse.filesystem.RSEFileSystem"/>
      </filesystem>
   </extension>
   <extension
         id="org.eclipse.rse.eclipse.filesystemSupport"
         point="org.eclipse.ui.ide.filesystemSupport">
      <filesystemContributor 
       scheme="rse"
       class="org.eclipse.rse.eclipse.filesystem.RSEFileSystemContributor"
       label="RSE">
      </filesystemContributor>
   </extension>
   
   <!-- remote eclipse filesystem not properly supported yet-->
      <extension
         point="org.eclipse.rse.ui.popupMenus">
      <objectContribution  
      		adaptable="false" 
            subsystemfactoryCategory="files"
   			typefilter="folder"
   			id="org.eclipse.rse.eclipse.filesystem.createproject.">
            <visibility> 
            	<and>
                	<objectClass name="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"/>   
                </and> 
            </visibility>
            
         <action
               label="Create Remote Project"
               tooltip="%ImportToProject.tooltip"
               class="org.eclipse.rse.eclipse.filesystem.ui.actions.CreateRemoteProjectActionDelegate"
               menubarPath="group.importexport"
               enablesFor="1"
               id="importToProject">
         </action>
       </objectContribution>
      </extension>
 <!--  -->     
</plugin>
