a#cdt img { background-image : url(graphics/obj_48/cdt_logo_icon.png); }
a#cdt:hover img { background-image : url(graphics/obj_48/cdt_logo_icon.png); }

a#hello-world-cdt img { background-image : url(graphics/obj_48/cdt_logo_icon.png); }
a#hello-world-cdt:hover img { background-image : url(graphics/obj_48/cdt_logo_icon.png); }

body {
	background-image : url(../../org.eclipse.platform/css/graphics/contentpage/overview_wtr.jpg);
}
