<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension point="org.eclipse.cdt.core.templates">
<template filterPattern=".*"
	id="org.eclipse.cdt.core.templates.HelloWorldUPCProject"
    location="templates/template.xml"
    projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
    </template>      
</extension>

<extension
      id="org.eclipse.cdt.managedbuilder.bupc.ui.upcBuildDefinitions"
      name="%extension.name"
      point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      
  <tool
	command="upcc"
	id = "org.eclipse.cdt.managedbuild.tool.bupc.compiler"
	isAbstract="false"
	name = "%tool.compiler"
	natureFilter = "both"
	outputFlag = "-o">
	<supportedProperties>
            <property id="org.eclipse.cdt.build.core.buildType">
	            <value id="org.eclipse.cdt.build.core.buildType.debug"/>
    	        <value id="org.eclipse.cdt.build.core.buildType.release"/>
            </property>
    </supportedProperties>
	<optionCategory
		owner="org.eclipse.cdt.managedbuild.tool.bupc.compiler"
		id = "bupc.ui.optionCategory.compiler.gen"
		name = "%optionCategory.compiler.general"/>
   <option
   		category="bupc.ui.optionCategory.compiler.gen"
   		command="-E"
   		id="bupc.ui.compiler.general.preprocess"
   		isAbstract="false"
   		name = "%option.compiler.preprocess"
   		resourceFilter="project"
   		valueType="boolean"
   		defaultValue="false"/>
   <option
   		category="bupc.ui.optionCategory.compiler.gen"
   		command="-g"
   		id="bupc.ui.compiler.general.debug"
   		isAbstract="false"
   		name = "%option.compiler.debug"
   		resourceFilter="project"
   		valueType="boolean"
   		defaultValue="false">
   		<enablement 
            type="CONTAINER_ATTRIBUTE" 
            attribute="defaultValue" 
            value="true"
            extensionAdjustment="false">
			<checkBuildProperty 
				property="org.eclipse.cdt.build.core.buildType"
				value="org.eclipse.cdt.build.core.buildType.debug"/>
		</enablement>
   	</option>
	<option
   		category="bupc.ui.optionCategory.compiler.gen"
   		command="-O"
   		id="bupc.ui.compiler.general.opt"
   		isAbstract="false"
   		name = "%option.compiler.opt"
   		resourceFilter="project"
   		valueType="boolean"
   		defaultValue="false"/>
   	<option
   		category="bupc.ui.optionCategory.compiler.gen"
   		command="-opt"
   		id="bupc.ui.compiler.general.opt.exp"
   		isAbstract="false"
   		name = "%option.compiler.opt.exp"
   		resourceFilter="project"
   		valueType="boolean"
   		defaultValue="false"/>
   		
   	<optionCategory
		owner="org.eclipse.cdt.managedbuild.tool.bupc.compiler"
		name="%optionCategory.compiler.upc"
		id="bupc.ui.optionCategory.compiler.upc">
	</optionCategory>
	
    <option
	  	name="%option.compiler.network"
	  	category="bupc.ui.optionCategory.compiler.upc"
	  	id="bupc.ui.compiler.network"
	  	valueType="enumerated">

		  <enumeratedOptionValue
		  		  name="%enumeratedOptionValue.default"
				  isDefault="true"
				  command=""
				  id="bupc.ui.compiler.network.default">
		  </enumeratedOptionValue>  	
		  <enumeratedOptionValue
		  		  name="%enumeratedOptionValue.mpi"
				  isDefault="false"
				  command="-network=mpi"
				  id="bupc.ui.compiler.network.mpi">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.udp"
				  command="-network=udp"
				  id="bupc.ui.compiler.network.udp">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.elan"
				  command="-network=elan"
				  id="bupc.ui.compiler.network.elan">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.lapi"
				  command="-network=lapi"
				  id="bupc.ui.compiler.network.lapi">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.gm"
				  command="-network=gm"
				  id="bupc.ui.compiler.network.gm">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.smp"
				  command="-network=smp"
				  id="bupc.ui.compiler.network.smp">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.vapi"
				  command="-network=vapi"
				  id="bupc.ui.compiler.network.vapi">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.ibv"
				  command="-network=ibv"
				  id="bupc.ui.compiler.network.ibv">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.sci"
				  command="-network=sci"
				  id="bupc.ui.compiler.network.sci">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.shmem"
				  command="-network=shmem"
				  id="bupc.ui.compiler.network.shmem">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.portals"
				  command="-network=portals"
				  id="bupc.ui.compiler.network.portals">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.dcmf"
				  command="-network=dcmf"
				  id="bupc.ui.compiler.network.dcmf">
		  </enumeratedOptionValue>
	</option>
   	<option
		category="bupc.ui.optionCategory.compiler.upc"
		command="-shared-heap="
		id="bupc.ui.compiler.upc.sharedheap"
		isAbstract="false"
		name="%option.compiler.sharedheap"
		resourceFilter="project"
		valueType="string"/>
   	<option
		category="bupc.ui.optionCategory.compiler.upc"
		command="-T="
		id="bupc.ui.compiler.upc.fixedthreads"
		isAbstract="false"
		name="%option.compiler.fixedthreads"
		resourceFilter="project"
		valueType="string"/>

	<optionCategory
		owner="org.eclipse.cdt.managedbuild.tool.bupc.compiler"
		name="%optionCategory.compiler.symbols"
		id="bupc.ui.optionCategory.compiler.symbols">
	</optionCategory>
   		<option
			  name="%option.compiler.defsymbols"
			  category="bupc.ui.optionCategory.compiler.symbols"
			  command="-D"
			  id="bupc.ui.compiler.def.symbol"
			  valueType="definedSymbols">
		  </option>
		  <option
			  name="%option.compiler.undefsymbols"
			  category="bupc.ui.optionCategory.compiler.symbols"
			  command="-U"
			  id="bupc.ui.compiler.undef.symbol"
			  valueType="undefDefinedSymbols">
		  </option>
	<optionCategory
		owner="org.eclipse.cdt.managedbuild.tool.bupc.compiler"
		name="%optionCategory.compiler.dirs"
		id="bupc.ui.optionCategory.compiler.dirs">
	</optionCategory>
		  <option
			  name="%option.compiler.incpath"
			  category="bupc.ui.optionCategory.compiler.dirs"
			  command="-I"
			  id="bupc.ui.compiler.general.incpath"
			  valueType="includePath"
			  browseType="directory">
		  </option>		
	<optionCategory
		owner="org.eclipse.cdt.managedbuild.tool.bupc.compiler"
		id = "bupc.ui.optionCategory.compiler.advOptions"
		name = "%optionCategory.compiler.advanced"/>
			<option
				category="bupc.ui.optionCategory.compiler.advOptions"
				command="-pthreads="
				id="bupc.ui.compiler.advOptions.pthread"
				isAbstract="false"
				name="%option.compiler.pthreads"
				resourceFilter="project"
				valueType="string"/>
	<optionCategory
		owner="org.eclipse.cdt.managedbuild.tool.bupc.compiler"
		id = "bupc.ui.optionCategory.compiler.miscOptions"
		name = "%optionCategory.compiler.misc"/>
	<option
	    defaultValue="-c"
		category="bupc.ui.optionCategory.compiler.miscOptions"
		command=""
		id="bupc.ui.compiler.miscOptions.other"
		isAbstract="false"
		name="%option.compiler.other"
		resourceFilter="project"
		valueType="string"/>
	<option
		defaultValue="false"
		name="%option.compiler.verbose"
		category="bupc.ui.optionCategory.compiler.miscOptions"
		command="-v"
		id="bupc.ui.compiler.miscOptions.verbose"
		valueType="boolean"/>
	<option
		defaultValue="false"
		name="%option.compiler.extraverbose"
		category="bupc.ui.optionCategory.compiler.miscOptions"
		command="-vv"
		id="bupc.ui.compiler.miscOptions.extraVerbose"
		valueType="boolean"/>
	<inputType
		id="cdt.managedbuild.tool.bupc.compiler.input"						      					
		multipleOfType ="false"
	    dependencyContentType="org.eclipse.cdt.core.cHeader"
		dependencyExtensions="h"      					
		name = "%inputType.upc"
		primaryInput = "true"
		languageId="org.eclipse.cdt.core.parser.upc.upc"      					
		superClass="org.eclipse.cdt.build.core.settings.holder.inType"						
		sources = "upc,c">
	</inputType>
	<outputType
       id="cdt.managedbuild.tool.bupc.compiler.output"
       name="%outputType.obj"
       outputs="o"
       buildVariable="OBJS"
       primaryInputType="cdt.managedbuild.tool.bupc.compiler.input"
       primaryOutput="true"/>
								
  </tool>
  
    <tool
	command="upcc"
	id = "org.eclipse.cdt.managedbuild.tool.bupc.linker"
	isAbstract="false"
	name = "%tool.linker"
	natureFilter = "both"
	outputFlag = "-o">
	<supportedProperties>
            <property id="org.eclipse.cdt.build.core.buildType">
	            <value id="org.eclipse.cdt.build.core.buildType.debug"/>
    	        <value id="org.eclipse.cdt.build.core.buildType.release"/>
            </property>
    </supportedProperties>
	<optionCategory
		id = "bupc.ui.optionCategory.linker.gen"
		name = "%optionCategory.linker.general"/>
	<option
   		category="bupc.ui.optionCategory.linker.gen"
   		command="-g"
   		id="bupc.ui.linker.general.debug"
   		isAbstract="false"
   		name = "%option.linker.debug"
   		resourceFilter="project"
   		valueType="boolean"
   		defaultValue="false">
   		<enablement 
            type="CONTAINER_ATTRIBUTE" 
            attribute="defaultValue" 
            value="true"
            extensionAdjustment="false">
			<checkBuildProperty 
				property="org.eclipse.cdt.build.core.buildType"
				value="org.eclipse.cdt.build.core.buildType.debug"/>
		</enablement>
   	</option>
	<option 
		category = "bupc.ui.optionCategory.linker.gen"
		id = "bupc.ui.linker.general.strip"
		command = "-s"
		isAbstract = "false"
		name = "%option.linker.strip"
		resourceFilter = "project"
		valueType = "boolean" 
		defaultValue="false"/>

   	<optionCategory
		owner="org.eclipse.cdt.managedbuild.tool.bupc.linker"
		name="%optionCategory.linker.upc"
		id="bupc.ui.optionCategory.linker.upc">
	</optionCategory>
	
    <option
	  	name="%option.linker.network"
	  	category="bupc.ui.optionCategory.linker.upc"
	  	id="bupc.ui.linker.upc.network"
	  	valueType="enumerated">

		  <enumeratedOptionValue
		  		  name="%enumeratedOptionValue.default"
				  isDefault="true"
				  command=""
				  id="bupc.ui.linker.upc.network.default">
		  </enumeratedOptionValue>  	
		  <enumeratedOptionValue
		  		  name="%enumeratedOptionValue.mpi"
				  isDefault="false"
				  command="-network=mpi"
				  id="bupc.ui.linker.upc.network.mpi">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.udp"
				  command="-network=udp"
				  id="bupc.ui.linker.upc.network.udp">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.elan"
				  command="-network=elan"
				  id="bupc.ui.linker.upc.network.elan">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.lapi"
				  command="-network=lapi"
				  id="bupc.ui.linker.upc.network.lapi">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.gm"
				  command="-network=gm"
				  id="bupc.ui.linker.upc.network.gm">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.smp"
				  command="-network=smp"
				  id="bupc.ui.linker.upc.network.smp">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.vapi"
				  command="-network=vapi"
				  id="bupc.ui.linker.upc.network.vapi">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.ibv"
				  command="-network=ibv"
				  id="bupc.ui.linker.upc.network.ibv">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.sci"
				  command="-network=sci"
				  id="bupc.ui.linker.upc.network.sci">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.shmem"
				  command="-network=shmem"
				  id="bupc.ui.linker.upc.network.shmem">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.portals"
				  command="-network=portals"
				  id="bupc.ui.linker.upc.network.portals">
		  </enumeratedOptionValue>
		  <enumeratedOptionValue
				  name="%enumeratedOptionValue.dcmf"
				  command="-network=dcmf"
				  id="bupc.ui.linker.upc.network.dcmf">
		  </enumeratedOptionValue>
	</option>
   	<option
		category="bupc.ui.optionCategory.linker.upc"
		command="-shared-heap="
		id="bupc.ui.linker.upc.sharedheap"
		isAbstract="false"
		name="%option.linker.sharedheap"
		resourceFilter="project"
		valueType="string"/>
   	<option
		category="bupc.ui.optionCategory.linker.upc"
		command="-T="
		id="bupc.ui.linker.upc.fixedthreads"
		isAbstract="false"
		name="%option.linker.fixedthreads"
		resourceFilter="project"
		valueType="string"/>

    <optionCategory
               owner="org.eclipse.cdt.managedbuild.tool.bupc.linker"
               name="%optionCategory.linker.libs"
               id="bupc.ui.optionCategory.linker.libs">
    </optionCategory>
     <option
           name="%option.linker.libs"
           category="bupc.ui.optionCategory.linker.libs"
           command="-l"
           id="bupc.ui.linker.libs"
           browseType="none"
           valueType="libs">
     </option>
     <option
           name="%option.linker.libpaths"
           category="bupc.ui.optionCategory.linker.libs"
           command="-L"
           id="bupc.ui.linker.paths"
           browseType="directory"
           valueType="libPaths">
     </option>
   		    					
	<optionCategory
		id = "bupc.ui.optionCategory.linker.advOptions"
		name = "%optionCategory.linker.advanced"/>
	<option
		category="bupc.ui.optionCategory.linker.advOptions"
		command="-pthreads="
		id="bupc.ui.linker.advOptions.pthread"
		isAbstract="false"
		name="%option.linker.pthreads"
		resourceFilter="project"
		valueType="string"/>
	<option
		category="bupc.ui.optionCategory.linker.advOptions"
		command=""
		id="bupc.ui.linker.advOptions.other"
		isAbstract="false"
		name="%option.linker.other"
		resourceFilter="project"
		valueType="string"/>
				
	<inputType
		id="cdt.managedbuild.tool.bupc.linker.input"						      					
		multipleOfType ="true"
		dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.internal.DefaultNoDependencyCalculator"    					
		primaryInput = "true"
		languageId="org.eclipse.cdt.core.parser.upc.upc"	
		sourceContentType="org.eclipse.cdt.managedbuilder.core.compiledObjectFile"				
		sources = "o"
        buildVariable="OBJS">
		
	</inputType>
	
	<outputType
       id="cdt.managedbuild.tool.bupc.linker.output"
       name="%outputType.exe"
       outputs=""
       buildVariable="EXECUTABLES"
       primaryInputType="cdt.managedbuild.tool.bupc.linker.input"
       primaryOutput="true"/>
								
  </tool>
      
  <toolChain
          archList="all"
          osList="linux,hpux,aix,qnx,solaris"
          name="%toolChain.linux.name"
          targetTool="org.eclipse.cdt.managedbuild.tool.bupc.linker"
          id="cdt.managedbuild.toolchain.bupc.exe.base">
		          <targetPlatform
		              id="cdt.managedbuild.target.bupc.platform.base"
		              name="%targetPlatform.name"
		              binaryParser="org.eclipse.cdt.core.ELF"
		              osList="linux,hpux,aix,qnx,solaris"
		              archList="all">
	              </targetPlatform>
		     	  
		     	  <builder
					id="org.eclipse.cdt.managedbuilder.bupc.builder.base"
					isAbstract="false"
					isVariableCaseSensitive="false"
					superClass="org.eclipse.cdt.build.core.internal.builder">
				</builder>
		     	    
                  <tool
                      id="org.eclipse.cdt.managedbuild.tool.bupc.compiler.base"
                      superClass="org.eclipse.cdt.managedbuild.tool.bupc.compiler"/>
                  <tool
                      id="org.eclipse.cdt.managedbuild.tool.bupc.linker.base"
                      superClass="org.eclipse.cdt.managedbuild.tool.bupc.linker"/>
	</toolChain>
      
    <toolChain
          archList="all"
          osList="macosx"
          name="%toolChain.macosx.name"
          targetTool="org.eclipse.cdt.managedbuild.tool.bupc.linker"
          id="cdt.managedbuild.toolchain.bupc.macosx.exe.base">
		          <targetPlatform
		              id="cdt.managedbuild.target.bupc.platform.macosx.base"
		              name="%targetPlatform.name"
		              osList="macosx"
		              archList="all"
		              binaryParser="org.eclipse.cdt.core.MachO64">
	              </targetPlatform>
		     	  
		     	  <builder
					id="org.eclipse.cdt.managedbuilder.bupc.builder.macosx.base"
					isAbstract="false"
					isVariableCaseSensitive="false"
					superClass="org.eclipse.cdt.build.core.internal.builder">
				</builder>
		     	    
                  <tool
                      id="org.eclipse.cdt.managedbuild.tool.bupc.compiler.macosx.base"
                      superClass="org.eclipse.cdt.managedbuild.tool.bupc.compiler"/>
                  <tool
                      id="org.eclipse.cdt.managedbuild.tool.bupc.linker.macosx.base"
                      superClass="org.eclipse.cdt.managedbuild.tool.bupc.linker"/>
	</toolChain>
	
      <projectType
      	id = "cdt.managedbuild.target.bupc.exe"
      	buildArtefactType = "org.eclipse.cdt.build.core.buildArtefactType.exe"
      	isAbstract="false"
      	isTest="false">
      	<configuration
      		cleanCommand = "rm -rf"
      		description = "%configuration.debug.desc"
      		id = "cdt.managedbuild.config.bupc.exe.debug"
      		buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
      		name = "%configuration.debug.name">
      		<toolChain
      			superClass="cdt.managedbuild.toolchain.bupc.exe.base"
      			id = "cdt.managedbuild.toolchain.bupc.exe.debug">	
      			<targetPlatform
      				superClass="cdt.managedbuild.target.bupc.platform.base"
		        	id="cdt.managedbuild.target.bupc.platform.exe.debug">
		        </targetPlatform>
      			<builder
					superClass="org.eclipse.cdt.managedbuilder.bupc.builder.base"
					id="org.eclipse.cdt.managedbuilder.bupc.builder.exe.debug">
				</builder>
				<tool
                	id="org.eclipse.cdt.managedbuild.tool.bupc.compiler.exe.debug"
                    superClass="org.eclipse.cdt.managedbuild.tool.bupc.compiler.base">
                    
                    <!--                      
                    <option
				    	id="gnu.cpp.compiler.exe.debug.option.optimization.level"
                        superClass="gnu.cpp.compiler.option.optimization.level">
                    </option>
                    -->  
                    <option
						id="bupc.ui.compiler.exe.debug.option.debug"
                        superClass="bupc.ui.compiler.general.debug">
                    </option>
                </tool>
	              <tool
	                  id="org.eclipse.cdt.managedbuild.tool.bupc.linker.exe.debug"
	                  superClass="org.eclipse.cdt.managedbuild.tool.bupc.linker.base">
	                  <!--                     
			  	      <option
					      id="gnu.c.compiler.exe.debug.option.optimization.level"
						  superClass="gnu.c.compiler.option.optimization.level">
					  </option>
					  -->
					  <option   
					      id="bupc.ui.linker.exe.debug.option.debug"					     
					      superClass="bupc.ui.linker.general.debug">
					  </option>
				  </tool>
      	</toolChain>
      </configuration>
      <configuration
      		cleanCommand = "rm -rf"
      		description = "%configuration.release.desc"
      		id = "cdt.managedbuild.config.bupc.exe.release"
      		buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
      		name = "%configuration.release.name">
      		<toolChain
      			superClass="cdt.managedbuild.toolchain.bupc.exe.base"
      			id = "cdt.managedbuild.toolchain.bupc.exe.release">	
      			<targetPlatform
      				superClass="cdt.managedbuild.target.bupc.platform.base"
		        	id="cdt.managedbuild.target.bupc.platform.exe.release">
		        </targetPlatform>
      			<builder
					superClass="org.eclipse.cdt.managedbuilder.bupc.builder.base"
					id="org.eclipse.cdt.managedbuilder.bupc.builder.exe.release">
				</builder>
				<tool
                	id="org.eclipse.cdt.managedbuild.tool.bupc.compiler.exe.release"
                    superClass="org.eclipse.cdt.managedbuild.tool.bupc.compiler.base">
                    
                    <!--                      
                    <option
				    	id="gnu.cpp.compiler.exe.debug.option.optimization.level"
                        superClass="gnu.cpp.compiler.option.optimization.level">
                    </option>
                    -->  
                    <option
						id="bupc.ui.compiler.exe.release.option.debug"
                        superClass="bupc.ui.compiler.general.debug">
                    </option>
                </tool>
	              <tool
	                  id="org.eclipse.cdt.managedbuild.tool.bupc.linker.exe.release"
	                  superClass="org.eclipse.cdt.managedbuild.tool.bupc.linker.base">
	                  <!--                     
			  	      <option
					      id="gnu.c.compiler.exe.debug.option.optimization.level"
						  superClass="gnu.c.compiler.option.optimization.level">
					  </option>
					  -->
					  <option   
					      id="bupc.ui.linker.exe.release.option.debug"					     
					      superClass="bupc.ui.linker.general.debug">
					  </option>
				  </tool>
      	</toolChain>
      </configuration>
     </projectType>
     
     <!-- =================== -->
 
     <projectType
      	id = "cdt.managedbuild.target.bupc.macosx.exe"
      	buildArtefactType = "org.eclipse.cdt.build.core.buildArtefactType.exe"
      	isAbstract="false"
      	isTest="false">
      	<configuration
      		cleanCommand = "rm -rf"
      		description = "%configuration.debug.desc"
      		id = "cdt.managedbuild.config.bupc.exe.macosx.debug"
      		buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.debug"
      		name = "%configuration.debug.name">
      		<toolChain
      			superClass="cdt.managedbuild.toolchain.bupc.macosx.exe.base"
      			id = "cdt.managedbuild.toolchain.bupc.exe.macosx.debug">	
      			<targetPlatform
      				superClass="cdt.managedbuild.target.bupc.platform.macosx.base"
		        	id="cdt.managedbuild.target.bupc.platform.exe.macosx.debug">
		        </targetPlatform>
      			<builder
					superClass="org.eclipse.cdt.managedbuilder.bupc.builder.macosx.base"
					id="org.eclipse.cdt.managedbuilder.bupc.builder.exe.macosx.debug">
				</builder>
				<tool
                	id="org.eclipse.cdt.managedbuild.tool.bupc.compiler.exe.macosx.debug"
                    superClass="org.eclipse.cdt.managedbuild.tool.bupc.compiler.macosx.base">
                    <!--                      
                    <option
				    	id="gnu.cpp.compiler.exe.debug.option.optimization.level"
                        superClass="gnu.cpp.compiler.option.optimization.level">
                    </option>
                    -->  
                    <option
						id="bupc.ui.compiler.exe.macosx.debug.option.debug"
                        superClass="bupc.ui.compiler.general.debug">
                    </option>
                </tool>
	              <tool
	                  id="org.eclipse.cdt.managedbuild.tool.bupc.linker.exe.macosx.debug"
	                  superClass="org.eclipse.cdt.managedbuild.tool.bupc.linker.macosx.base">
	                  <!--                     
			  	      <option
					      id="gnu.c.compiler.exe.debug.option.optimization.level"
						  superClass="gnu.c.compiler.option.optimization.level">
					  </option>
					  -->
					  <option   
					      id="bupc.ui.linker.exe.macosx.debug.option.debug"					     
					      superClass="bupc.ui.linker.general.debug">
					  </option>
				  </tool>
      	</toolChain>
      </configuration>
      <configuration
      		cleanCommand = "rm -rf"
      		description = "%configuration.release.desc"
      		id = "cdt.managedbuild.config.bupc.exe.macosx.release"
      		buildProperties="org.eclipse.cdt.build.core.buildType=org.eclipse.cdt.build.core.buildType.release"
      		name = "%configuration.release.name">
      		<toolChain
      			superClass="cdt.managedbuild.toolchain.bupc.macosx.exe.base"
      			id = "cdt.managedbuild.toolchain.bupc.exe.macosx.release">	
      			<targetPlatform
      				superClass="cdt.managedbuild.target.bupc.platform.macosx.base"
		        	id="cdt.managedbuild.target.bupc.platform.exe.macosx.release">
		        </targetPlatform>
      			<builder
					superClass="org.eclipse.cdt.managedbuilder.bupc.builder.base"
					id="org.eclipse.cdt.managedbuilder.bupc.builder.exe.macosx.release">
				</builder>
				<tool
                	id="org.eclipse.cdt.managedbuild.tool.bupc.compiler.exe.macosx.release"
                    superClass="org.eclipse.cdt.managedbuild.tool.bupc.compiler.macosx.base">
                    
                    <!--                      
                    <option
				    	id="gnu.cpp.compiler.exe.debug.option.optimization.level"
                        superClass="gnu.cpp.compiler.option.optimization.level">
                    </option>
                    -->  
                    <option
						id="bupc.ui.compiler.exe.macosx.release.option.debug"
                        superClass="bupc.ui.compiler.general.debug">
                    </option>
                </tool>
	              <tool
	                  id="org.eclipse.cdt.managedbuild.tool.bupc.linker.exe.macosx.release"
	                  superClass="org.eclipse.cdt.managedbuild.tool.bupc.linker.macosx.base">
	                  <!--                     
			  	      <option
					      id="gnu.c.compiler.exe.debug.option.optimization.level"
						  superClass="gnu.c.compiler.option.optimization.level">
					  </option>
					  -->
					  <option   
					      id="bupc.ui.linker.exe.macosx.release.option.debug"	     
					      superClass="bupc.ui.linker.general.debug">
					  </option>
				  </tool>
      	</toolChain>
      </configuration>
     </projectType>
     
</extension>
</plugin>
