<?xml version="1.0" encoding="UTF-8"?>
<!--
     Copyright (c) 2006, 2011 IBM Corporation and others.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Initial Contributors:
     The following IBM employees contributed to the Remote System Explorer
     component that contains this file: David McKnight, Kushal Munir, 
     Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
     Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

     Contributors:
     Javier Montalvo Orus (Symbian) - add Windows to list of valid FTP systems
     Martin Oberhuber (Wind River) - add FTP Only system type
     Javier Montalvo Orus (Symbian) - [plan] Improve Discovery and Autodetect in RSE
     Javier Montalvo Orus (Symbian) - Fixing 176216 - [api] FTP sould provide API to allow clients register their own FTPListingParser
     Martin Oberhuber (Wind River) - [186523] Move subsystemConfigurations from UI to core
     Javier Montalvo Orus (Symbian) - improved autodetection of FTPListingParser
     Martin Oberhuber (Wind River) - [198692] Use FTP LIST -a to list UNIX hidden files
     Javier Montalvo Orus (Symbian) - [225821] [ftp] opening "/home" fails on OS/400 IFS
     Martin Oberhuber (Wind River) - [214141] Avoid NPE if missing SYST command
 -->
<?eclipse version="3.1"?>
<plugin>
	<extension point="org.eclipse.rse.core.systemTypes">
		<systemType
		      label="%FtpSystemLabel"
        	description="%FtpSystemDescription"
            icon="icons/full/obj16/systemfiles_obj.gif"
            iconLive="icons/full/obj16/systemfileslive_obj.gif"
        	id="org.eclipse.rse.systemtype.ftp"
	        name="FTP Only"/>
	</extension>
    <extension point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            systemTypeIds="org.eclipse.rse.systemtype.linux;org.eclipse.rse.systemtype.unix;org.eclipse.rse.systemtype.windows;org.eclipse.rse.systemtype.ftp"
            name="%Files"
            description="%FilesDescription"
            iconlive="icons/full/obj16/systemfileslive_obj.gif"
            icon="icons/full/obj16/systemfiles_obj.gif"
            category="files"
            class="org.eclipse.rse.subsystems.files.ftp.FTPFileSubSystemConfiguration"
            vendor="%providerName"
            priority="100"
            id="ftp.files"
            serviceType="_ftp._tcp">
      </configuration>
      </extension>
       
       <extension-point id="ftpListingParsers" name="%extPoint.ftpListingParsers" schema="schema/ftpListingParsers.exsd"/>
   
   	<extension point="org.eclipse.rse.subsystems.files.ftp.ftpListingParsers">
      <parser
            class="org.apache.commons.net.ftp.parser.UnixFTPEntryParser"
            id="org.eclipse.rse.ftp.parser.Unix"
            label="%FTPParser.UNIX"
            listCommandModifiers="-a"
            priority="100"
            systemTypeRegex=".*[Uu][Nn][Ii][Xx].*">
      </parser>
      <parser
            class="org.apache.commons.net.ftp.parser.UnixFTPEntryParser"
            id="org.eclipse.rse.ftp.parser.WFTPD"
            label="%FTPParser.WFTPD"
            priority="100"
            systemTypeRegex="MSDOS.*WFTPD.*">
      </parser>
      <parser
            class="org.apache.commons.net.ftp.parser.MVSFTPEntryParser"
            systemTypeRegex=".*[Mm][Vv][Ss].*"
            id="org.eclipse.rse.ftp.parser.MVS"
            label="%FTPParser.MVS"
            priority="100">
      </parser>
      <parser
            class="org.eclipse.rse.internal.subsystems.files.ftp.parser.RSENTFTPEntryParser"
            systemTypeRegex=".*[Ww][Ii][Nn][Dd][Oo][Ww][Ss].*"
            id="org.eclipse.rse.ftp.parser.WinNT"
            label="%FTPParser.WinNT"
            priority="100">
      </parser>
      <parser
            class="org.apache.commons.net.ftp.parser.OS2FTPEntryParser"
            systemTypeRegex=".*[Oo][Ss]/2.*"
            id="org.eclipse.rse.ftp.parser.OS2"
            label="%FTPParser.OS2"
            priority="100">
      </parser>
      <parser
            class="org.eclipse.rse.internal.subsystems.files.ftp.parser.RSEOS400FTPEntryParser"
            systemTypeRegex=".*[Oo][Ss]/400.*"
            id="org.eclipse.rse.ftp.parser.OS400"
            label="%FTPParser.OS400"
            priority="100">
         <initCommand
               cmd="site namefmt 1">
         </initCommand>
      </parser>
       <parser
             class="org.eclipse.rse.internal.subsystems.files.ftp.parser.RSEVMSFTPEntryParser"
             systemTypeRegex=".*[Vv][Mm][Ss].*"
             id="org.eclipse.rse.ftp.parser.VMS"
             label="%FTPParser.VMS"
             priority="100">
      </parser>
      <!-- Bug 214141: Default parser if nothing matches is Unix -->
      <parser
            class="org.apache.commons.net.ftp.parser.UnixFTPEntryParser"
            id="org.eclipse.rse.ftp.parser.UnixDefault"
            label="%FTPParser.UNIXDefault"
            listCommandModifiers="-a"
            priority="10000"
            systemTypeRegex=".*">
      </parser>
   </extension>
 
</plugin> 
