<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006, 2007 IBM Corporation, Symbian Software Ltd. and Wind River Systems, Inc. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html

Initial Contributors:
The following IBM employees contributed to the Remote System Explorer
component that contains this file: David McKnight, Kushal Munir, 
Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

Contributors:
Javier Montalvo Orus (Symbian) - add Windows to list of valid FTP systems
Martin Oberhuber (Wind River) - add FTP Only system type
Javier Montalvo Orus (Symbian) - [plan] Improve Discovery and Autodetect in RSE
Javier Montalvo Orus (Symbian) - Fixing 176216 - [api] FTP sould provide API to allow clients register their own FTPListingParser
-->
<?eclipse version="3.1"?>
<plugin>
	<extension point="org.eclipse.rse.core.systemTypes">
		<systemType
		      label="%FtpSystemLabel"
        	description="%FtpSystemDescription"
            icon="icons/full/obj16/systemfiles_obj.gif"
            iconLive="icons/full/obj16/systemfileslive_obj.gif"
        	id="org.eclipse.rse.systemtype.ftp"
	        name="FTP Only"/>
	</extension>
    <extension point="org.eclipse.rse.ui.subsystemConfigurations">
      <configuration
            systemTypeIds="org.eclipse.rse.systemtype.linux;org.eclipse.rse.systemtype.unix;org.eclipse.rse.systemtype.windows;org.eclipse.rse.systemtype.ftp"
            name="%Files"
            description="%FilesDescription"
            iconlive="icons/full/obj16/systemfileslive_obj.gif"
            icon="icons/full/obj16/systemfiles_obj.gif"
            category="files"
            class="org.eclipse.rse.subsystems.files.ftp.FTPFileSubSystemConfiguration"
            vendor="%providerName"
            priority="100"
            id="ftp.files"
            serviceType="_ftp._tcp">
      </configuration>
      </extension>
       
       <extension-point id="ftpFileEntryParser" name="ftpFileEntryParser" schema="schema/ftpFileEntryParser.exsd"/>
   
   	<extension point="org.eclipse.rse.subsystems.files.ftp.ftpFileEntryParser">
      <parser
      		id="org.eclipse.rse.ftp.parser.Unix"
            class="org.apache.commons.net.ftp.parser.UnixFTPEntryParser"
            label="%FTPParser.UNIX">
      </parser>
      <parser
      		id="org.eclipse.rse.ftp.parser.MVS"
            class="org.apache.commons.net.ftp.parser.MVSFTPEntryParser"
            label="%FTPParser.MVS">
      </parser>
      <parser
      		id="org.eclipse.rse.ftp.parser.WinNT"
            class="org.eclipse.rse.internal.subsystems.files.ftp.parser.RSENTFTPEntryParser"
            label="%FTPParser.WinNT">
      </parser>
      <parser
      		id="org.eclipse.rse.ftp.parser.OS2"
            class="org.apache.commons.net.ftp.parser.OS2FTPEntryParser"
            label="%FTPParser.OS2">
      </parser>
      <parser
      		id="org.eclipse.rse.ftp.parser.OS400"
            class="org.apache.commons.net.ftp.parser.OS400FTPEntryParser"
            label="%FTPParser.OS400">
      </parser>
       <parser
       		id="org.eclipse.rse.ftp.parser.VMS"
            class="org.eclipse.rse.internal.subsystems.files.ftp.parser.RSEVMSFTPEntryParser"
            label="%FTPParser.VMS">
      </parser>
   </extension>
 
</plugin> 
