<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.eclipse.cdt.p2.internal.repo.artifact.InstallArtifactRepository"
         name="%installArtifactRepository"
         point="org.eclipse.equinox.p2.artifact.repository.artifactRepositories">
      <factory
            class="org.eclipse.cdt.p2.internal.repo.artifact.InstallArtifactRepositoryFactory">
      </factory>
      <filter
            suffix="installArtifact.xml">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.touchpoints">
      <touchpoint
            class="org.eclipse.cdt.p2.internal.touchpoint.SDKTouchpoint"
            type="org.eclipse.cdt.p2.internal.touchpoint.SDKTouchpoint"
            version="1.0.0">
      </touchpoint>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.eclipse.cdt.p2.internal.touchpoint.ExtractAction"
            name="extract"
            touchpointType="org.eclipse.cdt.p2.internal.touchpoint.SDKTouchpoint"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>

</plugin>
