<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.ui"
   name="%pluginName"
   version="1.2.1"
   provider-name="%providerName"
   class="org.eclipse.cdt.ui.CUIPlugin">

   <runtime>
      <library name="cdtui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.cdt.core"/>
   </requires>


   <extension-point id="CCompletionContributor" name="%completionContributorName"/>
   <extension-point id="CElementFilters" name="%elementFiltersName"/>
   <extension-point id="BinaryParserPage" name="Binary Parser Page"/>
<!-- =========================================================================== -->
<!-- Extension Implementation: must implement org.eclipse.jface.text.ITextHover  -->
<!-- Purpose: Provide a perspective specific text hovering for CEditor files     -->
<!-- Extension point: org.eclipse.cdt.ui.textHovers                        -->
<!-- =========================================================================== -->
   <extension-point id="textHovers" name="%textHoversName"/>

<!-- Implement our filters for C-View.  -->
   <extension
         point="org.eclipse.cdt.ui.CElementFilters">
      <filter
            selected="true"
            pattern=".*">
      </filter>
      <filter
            selected="false"
            pattern="*.o">
      </filter>
      <filter
            selected="false"
            pattern="*.so">
      </filter>
      <filter
            selected="false"
            pattern="*.a">
      </filter>
      <filter
            selected="false"
            pattern="Makefile">
      </filter>
      <filter
            selected="false"
            pattern="*.h">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            icon="icons/full/cview16/c_pers.gif"
            class="org.eclipse.cdt.internal.ui.CPerspectiveFactory"
            id="org.eclipse.cdt.ui.CPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <perspectiveShortcut
               id="org.eclipse.vcm.ui.vcmPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%viewsCategory.name"
            id="org.eclipse.cdt.ui.views">
      </category>
      <view
            name="%BuildConsoleView.name"
            icon="icons/full/cview16/buildconsole.gif"
            category="org.eclipse.cdt.ui.views"
            class="org.eclipse.cdt.internal.ui.buildconsole.BuildConsoleView"
            id="org.eclipse.cdt.ui.BuildConsoleView">
      </view>
      <view
            name="%CView.name"
            icon="icons/full/cview16/cview.gif"
            category="org.eclipse.cdt.ui.views"
            class="org.eclipse.cdt.internal.ui.cview.CView"
            id="org.eclipse.cdt.ui.CView">
      </view>
   </extension>
<!-- The wizards -->
<!-- For C Wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%newCWizardsCategory.name"
            id="org.eclipse.cdt.ui.newCWizards">
      </category>
<!-- For C++ Wizards -->
      <category
            name="%newCCWizardsCategory.name"
            id="org.eclipse.cdt.ui.newCCWizards">
      </category>
      <wizard
            name="%NewWizards.class"
            icon="icons/full/ctool16/newclass_wiz.gif"
            category="org.eclipse.cdt.ui.newCCWizards"
            class="org.eclipse.cdt.ui.wizards.NewClassWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            id="org.eclipse.cdt.ui.wizards.NewClassWizard">
         <description>
            %NewWizards.class.description
         </description>
      </wizard>
   </extension>
   <extension
         id="org.eclipse.cdt.ui.ceditor"
         point="org.eclipse.ui.editors">
      <editor
            name="%CEditor.name"
            default="true"
            icon="icons/full/obj16/c_file_obj.gif"
            extensions="c, h, cc, hh, cpp, cxx, hpp"
            contributorClass="org.eclipse.cdt.internal.ui.editor.CEditorActionContributor"
            class="org.eclipse.cdt.internal.ui.editor.CEditor"
            id="org.eclipse.cdt.ui.editor.CEditor">
      </editor>
      <editor
            name="%Editors.DefaultTextEditor"
            icon="icons/full/obj16/file_obj.gif"
            extensions="mk"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.ui.editors.text.TextEditor"
            id="org.eclipse.ui.DefaultTextEditor">
      </editor>
      <editor
            name="%AsmEditor.name"
            icon="icons/full/obj16/c_file_obj.gif"
            extensions="s"
            class="org.eclipse.cdt.internal.ui.editor.asm.AsmTextEditor"
            id="org.eclipse.cdt.ui.editor.asm.AsmEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%CPluginPreferencePage.name"
            class="org.eclipse.cdt.internal.ui.preferences.CPluginPreferencePage"
            id="org.eclipse.cdt.ui.preferences.CPluginPreferencePage">
      </page>
      <page
            name="%CPluginEditorPreferencePage.name"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.internal.ui.preferences.CEditorPreferencePage"
            id="org.eclipse.cdt.ui.preferences.CEditorPreferencePage">
      </page>
      <page
            name="%CPluginTemplatePreferencePage.name"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.internal.ui.preferences.TemplatePreferencePage"
            id="org.eclipse.cdt.ui.preferences.TemplatePreferencePage">
      </page>
      <page
            name="%CPluginBuildConsolePreferencePage.name"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.internal.ui.preferences.BuildConsolePreferencePage"
            id="org.eclipse.cdt.ui.preferneces.CBuildConsolePreferernces">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.cdt.ui.editor.CEditor"
            id="org.eclipse.ui.texteditor.ruler.actions">
         <action
               label="%Dummy.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IMarker"
            id="org.eclipse.cdt.ui.action.DeleteTaskAction">
         <filter
               name="type"
               value="org.eclipse.cdt.core.problem">
         </filter>
         <action
               label="%DeleteTaskAction.label"
               icon="icons/full/ovr16/error_co.gif"
               class="org.eclipse.cdt.internal.ui.util.DeleteTaskAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.eclipse.cdt.ui.action.DeleteTaskAction">
         </action>
      </objectContribution>
      <viewerContribution
            targetID="#CEditorRulerContext"
            id="org.eclipse.cdt.ui.editor.CEditorPopupActions">
         <action
               label="%AddTask.label"
               helpContextId="org.eclipse.ui.AddTask_action_context"
               tooltip="%AddTask.tooltip"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               tooltip="%AddBookmark.tooltip"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#ASMEditorRulerContext"
            id="org.eclipse.cdt.ui.editor.ASMEditorPopupActions">
         <action
               label="%AddTask.label"
               helpContextId="org.eclipse.ui.AddTask_action_context"
               tooltip="%AddTask.tooltip"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               tooltip="%AddBookmark.tooltip"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.compare.structureCreators">
      <structureCreator
            extensions="c,cc,cpp,cxx,h,hpp"
            class="org.eclipse.cdt.internal.ui.compare.CStructureCreator">
      </structureCreator>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            extensions="c,cc,cpp,cxx,h,c2,hpp"
            class="org.eclipse.cdt.internal.ui.compare.CContentViewerCreator">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%CFolderActionSet.label"
            description="%CFolderActionSet.description"
            visible="false"
            id="org.eclipse.cdt.ui.CFolderActionSet">
         <action
               label="%OpenNewFileWizardAction.label"
               icon="icons/full/ctool16/newfile_wiz.gif"
               tooltip="%OpenNewFileWizardAction.tooltip"
               class="org.eclipse.cdt.internal.ui.wizards.OpenNewFileWizardAction"
               toolbarPath="Normal/FolderWizards"
               id="org.eclipse.cdt.ui.actions.OpenNewFileWizardAction">
         </action>
         <action
               label="%OpenNewFolderWizardAction.label"
               icon="icons/full/ctool16/newfolder_wiz.gif"
               tooltip="%OpenNewFolderWizardAction.tooltip"
               class="org.eclipse.cdt.internal.ui.wizards.OpenNewFolderWizardAction"
               toolbarPath="Normal/FolderWizards"
               id="org.eclipse.cdt.ui.actions.OpenNewFolderWizardAction">
         </action>
         <action
               label="%OpenClassWizardAction.label"
               icon="icons/full/ctool16/newclass_wiz.gif"
               tooltip="%OpenClassWizardAction.tooltip"
               class="org.eclipse.cdt.ui.actions.OpenClassWizardAction"
               toolbarPath="Normal/FolderWizards"
               id="org.eclipse.cdt.ui.actions.OpenClassWizardAction">
            <enablement>
               <objectState
                     name="projectNature"
                     value="org.eclipse.cdt.core.ccnature">
               </objectState>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.projectNatureImages">
      <image
            icon="icons/full/ovr16/c_ovr.gif"
            natureId="org.eclipse.cdt.core.cnature"
            id="org.eclipse.cdt.ui.cProjectNatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CBuildConsole">
      <CBuildConsole
            class="org.eclipse.cdt.internal.ui.BuildConsole">
      </CBuildConsole>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <scope
            name="%scope.cEditor.name"
            parent="org.eclipse.ui.textEditorScope"
            description="%cEditor.description"
            id="org.eclipse.cdt.ui.cEditorScope">
      </scope>
      <category
            name="%category.source.name"
            description="%category.source.description"
            id="org.eclipse.cdt.ui.category.source">
      </category>
      <command
            name="%ActionDefinition.comment.name"
            description="%ActionDefinition.comment.description"
            category="org.eclipse.cdt.ui.category.source"
            id="org.eclipse.cdt.ui.edit.text.c.comment">
      </command>
      <keyBinding
            string="Ctrl+/"
            scope="org.eclipse.cdt.ui.cEditorScope"
            command="org.eclipse.cdt.ui.edit.text.c.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.uncomment.name"
            description="%ActionDefinition.uncomment.description"
            category="org.eclipse.cdt.ui.category.source"
            id="org.eclipse.cdt.ui.edit.text.c.uncomment">
      </command>
      <keyBinding
            string="Ctrl+\"
            scope="org.eclipse.cdt.ui.cEditorScope"
            command="org.eclipse.cdt.ui.edit.text.c.uncomment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.opendecl.name"
            description="%ActionDefinition.opendecl.description"
            category="org.eclipse.cdt.ui.category.source"
            id="org.eclipse.cdt.ui.edit.opendecl">
      </command>
      <keyBinding
            string="F3"
            scope="org.eclipse.cdt.ui.cEditorScope"
            command="org.eclipse.cdt.ui.edit.opendecl"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         id="org.eclipse.cdt.ui.CSearchPage"
         name="CSearchPage"
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="true"
            label="%CSearchPage.label"
            icon="icons/full/obj16/csearch_obj.gif"
            extensions="c:90,cpp:90, cxx:90, cc:90,C:90, h:90, hh:90, hpp:90, H:90"
            class="org.eclipse.cdt.internal.ui.search.CSearchPage"
            sizeHint="460, 160"
            id="org.eclipse.cdt.ui.CSearchPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultSorters">
      <sorter
            pageId="org.eclipse.cdt.ui.CSearchPage"
            label="%ElementNameSorter.label"
            icon="icons/full/clcl16/search_sortmatch.gif"
            tooltip="%ElementNameSorter.tooltip"
            class="org.eclipse.cdt.internal.ui.search.ElementNameSorter"
            id="org.eclipse.search.internal.ui.ElementNameSorter">
      </sorter>
      <sorter
            pageId="org.eclipse.cdt.ui.CSearchPage"
            label="%ParentNameSorter.label"
            icon="icons/full/clcl16/search_sortmatch.gif"
            tooltip="%ParentNameSorter.tooltip"
            class="org.eclipse.cdt.internal.ui.search.ParentNameSorter"
            id="org.eclipse.search.internal.ui.ParentNameSorter">
      </sorter>
      <sorter
            pageId="org.eclipse.cdt.ui.CSearchPage"
            label="%PathNameSorter.label"
            icon="icons/full/clcl16/search_sortmatch.gif"
            tooltip="%PathNameSorter.tooltip"
            class="org.eclipse.cdt.internal.ui.search.PathNameSorter"
            id="org.eclipse.search.internal.ui.PathNameSorter">
      </sorter>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%CSearchActionSet.label"
            description="%CSearchActionSet.description"
            visible="false"
            id="org.eclipse.cdt.ui.SearchActionSet">
         <action
               label="%openCSearchPageAction.label"
               icon="icons/full/obj16/csearch_obj.gif"
               class="org.eclipse.cdt.internal.ui.search.OpenCSearchPageAction"
               menubarPath="org.eclipse.search.menu/dialogGroup"
               id="org.eclipse.cdt.ui.actions.OpenCSearchPage">
         </action>
         <menu
               label="%searchMenu.label"
               id="org.eclipse.search.menu">
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.cdt.ui.SearchActionSet">
         <part
               id="org.eclipse.cdt.ui.CView">
         </part>
         <part
               id="org.eclipse.cdt.ui.editor.CEditor">
         </part>
         <part
               id="org.eclipse.search.SearchResultView">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.BinaryParserPage">
      <parserPage
            parserID="org.eclipse.cdt.core.GNU_ELF"
            class="org.eclipse.cdt.ui.dialogs.GNUElfBinaryParserPage"
            id="ElfBinaryParserPage">
      </parserPage>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="%CDTIndexerProperty.name"
            class="org.eclipse.cdt.ui.dialogs.IndexerOptionPropertyPage"
            id="org.eclipse.cdt.ui.indexer">
      </page>
   </extension>

</plugin>
