<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.cdt.ui"
   name="%pluginName"
   version="2.1.0"
   provider-name="%providerName"
   class="org.eclipse.cdt.ui.CUIPlugin">

   <runtime>
      <library name="cdtui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension-point id="CCompletionContributor" name="%completionContributorName"/>
   <extension-point id="CElementFilters" name="%elementFiltersName"/>
   <extension-point id="BinaryParserPage" name="%binaryParserPage"/>
   <extension-point id="PathContainerPage" name="%pathContainerPage" schema="schema/PathContainerPage.exsd"/>
<!-- =========================================================================== -->
<!-- Extension point: org.eclipse.cdt.ui.textHovers                        -->
<!-- Extension Implementation: must implement org.eclipse.jface.text.ITextHover  -->
<!-- Purpose: Provide a perspective specific text hovering for CEditor files     -->
<!-- =========================================================================== -->
   <extension-point id="textHovers" name="%textHoversName"/>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.cdt.internal.ui.CElementAdapterFactory"
            adaptableType="org.eclipse.cdt.core.model.ICElement">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
<!-- Implement our filters for C-View.  -->
   <extension
         point="org.eclipse.cdt.ui.CElementFilters">
      <filter
            selected="true"
            pattern=".*">
      </filter>
      <filter
            targetId="org.eclipse.cdt.ui.CView"
            name="%HideExecutableFiles.label"
            enabled="false"
            description="%HideExecutableFiles.description"
            class="org.eclipse.cdt.internal.ui.filters.ExecutableFilter"
            id="org.eclipse.cdt.internal.ui.CView.ExecutableFilter">
      </filter>
      <filter
            targetId="org.eclipse.cdt.ui.CView"
            name="%HideSharedFiles.label"
            enabled="false"
            description="%HideSharedFiles.description"
            class="org.eclipse.cdt.internal.ui.filters.SharedFilter"
            id="org.eclipse.cdt.internal.ui.CView.SharedFilter">
      </filter>
      <filter
            targetId="org.eclipse.cdt.ui.CView"
            name="%HideObjectFiles.label"
            enabled="false"
            description="%HideObjectFiles.description"
            class="org.eclipse.cdt.internal.ui.filters.ObjectFilter"
            id="org.eclipse.cdt.internal.ui.CView.ObjectFilter">
      </filter>
      <filter
            targetId="org.eclipse.cdt.ui.CView"
            name="%HideArchiveFiles.label"
            enabled="false"
            description="%HideArchiveFiles.description"
            class="org.eclipse.cdt.internal.ui.filters.ArchiveFilter"
            id="org.eclipse.cdt.internal.ui.CView.ArchiveFilter">
      </filter>
      <filter
            targetId="org.eclipse.cdt.ui.CView"
            name="%HideClosedProjects.label"
            enabled="false"
            description="%HideClosedProjects.description"
            class="org.eclipse.cdt.internal.ui.filters.ClosedProjectFilter"
            id="org.eclipse.cdt.internal.ui.CView.ClosedProjectFilter">
      </filter>
      <filter
            targetId="org.eclipse.cdt.ui.CView"
            name="%HideNonCProjects.label"
            enabled="false"
            description="%HideNonCProjects.description"
            class="org.eclipse.cdt.internal.ui.filters.NonCProjectsFilter"
            id="org.eclipse.cdt.internal.ui.CView.NonCProjectsFilter">
      </filter>
      <filter
            targetId="org.eclipse.cdt.ui.CView"
            name="%HideNonCElements.label"
            enabled="false"
            description="%HideNonCElements.description"
            class="org.eclipse.cdt.internal.ui.filters.NonCElementFilter"
            id="org.eclipse.cdt.internal.ui.CView.NonCElementFilter">
      </filter>
   </extension>
      <extension
         point="org.eclipse.cdt.ui.textHovers">
      <hover
            label="%cdocHover"
            description="%cdocHoverDescription"
            class="org.eclipse.cdt.internal.ui.text.c.hover.CDocHover"
            id="org.eclipse.cdt.ui.CDocHover">
      </hover>
      <hover
            label="%sequentialHover"
            description="%sequentialHoverDescription"
            class="org.eclipse.cdt.internal.ui.text.c.hover.BestMatchHover"
            id="org.eclipse.cdt.ui.BestMatchHover">
      </hover>
      <hover
            label="%sourceHover"
            description="%sourceHoverDescription"
            class="org.eclipse.cdt.internal.ui.text.c.hover.CSourceHover"
            id="org.eclipse.cdt.ui.CSourceHover">
      </hover>
      <!--hover
            label="%problemHover"
            description="%problemHoverDescription"
            class="org.eclipse.cdt.internal.ui.text.c.hover.ProblemHover"
            id="org.eclipse.cdt.ui.ProblemHover">
      </hover-->
      <hover
            label="%annotationHover"
            description="%annotationHoverDescription"
            class="org.eclipse.cdt.internal.ui.text.c.hover.AnnotationHover"
            id="org.eclipse.cdt.ui.AnnotationHover">
      </hover>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            icon="icons/full/cview16/c_pers.gif"
            class="org.eclipse.cdt.internal.ui.CPerspectiveFactory"
            id="org.eclipse.cdt.ui.CPerspective">
      </perspective>
      <perspective
            name="%CBrowsing.perspective.name"
            icon="icons/full/cview16/cbrowsing_pers.gif"
            class="org.eclipse.cdt.internal.ui.browser.cbrowsing.CBrowsingPerspectiveFactory"
            id="org.eclipse.cdt.ui.CBrowsingPerspective">
      </perspective>
      <perspective
            name="%CHierarchy.perspective.name"
            icon="icons/full/eview16/chierch_persp.gif"
            class="org.eclipse.cdt.internal.ui.browser.typehierarchy.CHierarchyPerspectiveFactory"
            id="org.eclipse.cdt.ui.CHierarchyPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CBrowsingPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CBrowsingPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.vcm.ui.vcmPerspective">
         </perspectiveShortcut>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CBrowsingPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CBrowsingPerspective">
         <perspectiveShortcut
               id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%viewsCategory.name"
            id="org.eclipse.cdt.ui.views">
      </category>
      <view
            name="%CView.name"
            icon="icons/full/cview16/cview.gif"
            category="org.eclipse.cdt.ui.views"
            class="org.eclipse.cdt.internal.ui.cview.CView"
            id="org.eclipse.cdt.ui.CView">
      </view>
      <category
            name="%CBrowsing.viewCategoryName"
            id="org.eclipse.cdt.ui.c.browsing">
      </category>
      <view
            name="%CBrowsing.projectsViewName"
            icon="icons/full/eview16/cprojects.gif"
            category="org.eclipse.cdt.ui.c.browsing"
            class="org.eclipse.cdt.internal.ui.browser.cbrowsing.ProjectsView"
            id="org.eclipse.cdt.ui.ProjectsView">
      </view>
      <view
            name="%CBrowsing.namespacesViewName"
            icon="icons/full/eview16/namespaces.gif"
            category="org.eclipse.cdt.ui.c.browsing"
            class="org.eclipse.cdt.internal.ui.browser.cbrowsing.NamespacesView"
            id="org.eclipse.cdt.ui.NamespacesView">
      </view>
      <view
            name="%CBrowsing.typesViewName"
            icon="icons/full/eview16/types.gif"
            category="org.eclipse.cdt.ui.c.browsing"
            class="org.eclipse.cdt.internal.ui.browser.cbrowsing.TypesView"
            id="org.eclipse.cdt.ui.TypesView">
      </view>
      <view
            name="%CBrowsing.membersViewName"
            icon="icons/full/eview16/members.gif"
            category="org.eclipse.cdt.ui.c.browsing"
            class="org.eclipse.cdt.internal.ui.browser.cbrowsing.MembersView"
            id="org.eclipse.cdt.ui.MembersView">
      </view>
     <category
            name="%CHierarchy.viewCategoryName"
            id="org.eclipse.cdt.ui.c.hierarchy">
      </category>
      <view
            name="%CHierarchy.hierarchyViewName"
            icon="icons/full/eview16/class_hi.gif"
            category="org.eclipse.cdt.ui.c.hierarchy"
            class="org.eclipse.cdt.internal.ui.browser.typehierarchy.TypeHierarchyViewPart"
            id="org.eclipse.cdt.ui.TypeHierarchyView">
      </view>
   </extension>
<!-- The wizards -->
<!-- For C Wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%newCWizardsCategory.name"
            id="org.eclipse.cdt.ui.newCWizards">
      </category>
<!-- For C++ Wizards -->
      <category
            name="%newCCWizardsCategory.name"
            id="org.eclipse.cdt.ui.newCCWizards">
      </category>
      <wizard
            name="%NewWizards.class"
            icon="icons/full/ctool16/newclass_wiz.gif"
            category="org.eclipse.cdt.ui.newCCWizards"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            id="org.eclipse.cdt.ui.wizards.NewClassWizard">
         <class class="org.eclipse.cdt.ui.wizards.NewClassWizard">
            <parameter name="ctype" value="true"/>
         </class>
         <description>
            %NewWizards.class.description
         </description>
      </wizard>
   </extension>
<!-- Define the document provider and partitionner for the CEditor -->
   <extension
         id="org.eclipse.cdt.ui.CDocumentSetupParticipant"
         name="%cDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="c, cc, cpp, cxx, h, hh, hpp"
            class="org.eclipse.cdt.internal.ui.editor.CDocumentSetupParticipant">
      </participant>
   </extension>
   <extension
         id="org.eclipse.cdt.ui.CDocumentFactory"
         name="%cDocumentFactory"
         point="org.eclipse.core.filebuffers.documentCreation">
      <factory
            extensions="c, cc, cpp, cxx, h, hh, hpp"
            class="org.eclipse.cdt.internal.ui.editor.CDocumentFactory">
      </factory>
   </extension>
   <extension
         id="org.eclipse.cdt.ui.ceditor"
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="%CEditor.name"
            extensions="c, cc, cpp, cxx, h, hh, hpp"
            icon="icons/full/obj16/c_file_obj.gif"
            class="org.eclipse.cdt.internal.ui.editor.CEditor"
            contributorClass="org.eclipse.cdt.internal.ui.editor.CEditorActionContributor"
            symbolicFontName="org.eclipse.cdt.ui.editors.textfont"
            id="org.eclipse.cdt.ui.editor.CEditor">
      </editor>
      <editor
            name="%AsmEditor.name"
            extensions="s"
            icon="icons/full/obj16/s_file_obj.gif"
            class="org.eclipse.cdt.internal.ui.editor.asm.AsmTextEditor"
            id="org.eclipse.cdt.ui.editor.asm.AsmEditor">
      </editor>
   </extension>
   <extension
       point="org.eclipse.ui.themes">
       <themeElementCategory label="%CPresentation.label" id="org.eclipse.cdt.ui.presentation"/>
	   <themeElementCategory label="%CEditorPresentation.label" id="org.eclipse.cdt.ui.CEditor.presentation" parentId= "org.eclipse.cdt.ui.presentation"/>
       <fontDefinition
            label="%CEditorFontDefiniton.label"
            defaultsTo="org.eclipse.jface.textfont"
            categoryId="org.eclipse.cdt.ui.CEditor.presentation"
            id="org.eclipse.cdt.ui.editors.textfont">
         <description>
            %CEditorFontDefinition.description
         </description>
       </fontDefinition>
             <fontDefinition
            label="%BuildConsoleFontDefinition.label"
            defaultsTo="org.eclipse.jface.textfont"
            categoryId="org.eclipse.cdt.ui.presentation"
            id="org.eclipse.cdt.ui.buildconsole.ConsoleFont">
         <description>
            %BuildConsoleFontDefinition.description
         </description>
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%CPluginPreferencePage.name"
            class="org.eclipse.cdt.internal.ui.preferences.CPluginPreferencePage"
            id="org.eclipse.cdt.ui.preferences.CPluginPreferencePage">
      </page>
      <page
            name="%CPluginEditorPreferencePage.name"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.internal.ui.preferences.CEditorPreferencePage"
            id="org.eclipse.cdt.ui.preferences.CEditorPreferencePage">
      </page>
      <page
            name="%CPluginTemplatePreferencePage.name"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.internal.ui.preferences.TemplatePreferencePage"
            id="org.eclipse.cdt.ui.preferences.TemplatePreferencePage">
      </page>
      <page
            name="%CPluginBuildConsolePreferencePage.name"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.internal.ui.preferences.BuildConsolePreferencePage"
            id="org.eclipse.cdt.ui.preferneces.CBuildConsolePreferernces">
      </page>
      <page
            name="%CPluginFileTypesPreferencePage.name"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.internal.ui.preferences.CFileTypesPreferencePage"
            id="org.eclipse.cdt.ui.preferences.CFileTypesPreferences">
      </page>
      <page
            class="org.eclipse.cdt.internal.ui.preferences.CSearchPreferencePage"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            name="%CDTSearch.name"
            id="org.eclipse.cdt.ui.preferences.CSearchPreferencePage"/>
      <!--page
            name="%WorkInProgress.name"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.internal.ui.preferences.WorkInProgressPreferencePage"
            id="org.eclipse.cdt.ui.preferneces.WorkInProgressPreferencePage">
      </page-->
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.cdt.ui.editor.CEditor"
            id="org.eclipse.ui.texteditor.ruler.actions">
         <action
               label="%Dummy.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IMarker"
            id="org.eclipse.cdt.ui.action.DeleteTaskAction">
         <filter
               name="type"
               value="org.eclipse.cdt.core.problem">
         </filter>
         <action
               label="%DeleteTaskAction.label"
               icon="icons/full/ovr16/error_co.gif"
               class="org.eclipse.cdt.internal.ui.util.DeleteTaskAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.eclipse.cdt.ui.action.DeleteTaskAction">
         </action>
      </objectContribution>
      <viewerContribution
            targetID="#CEditorRulerContext"
            id="org.eclipse.cdt.ui.editor.CEditorPopupActions">
         <action
               label="%AddTask.label"
               helpContextId="org.eclipse.ui.AddTask_action_context"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               tooltip="%AddTask.tooltip"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               tooltip="%AddBookmark.tooltip"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#ASMEditorRulerContext"
            id="org.eclipse.cdt.ui.editor.ASMEditorPopupActions">
         <action
               label="%AddTask.label"
               helpContextId="org.eclipse.ui.AddTask_action_context"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               tooltip="%AddTask.tooltip"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               tooltip="%AddBookmark.tooltip"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.compare.structureCreators">
      <structureCreator
            extensions="c,cc,cpp,cxx,h,hpp"
            class="org.eclipse.cdt.internal.ui.compare.CStructureCreator">
      </structureCreator>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            extensions="c,cc,cpp,cxx,h,c2,hpp"
            class="org.eclipse.cdt.internal.ui.compare.CContentViewerCreator">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
     <actionSet
            label="%CElementCreationActionSet.label"
            description="%CElementCreationActionSet.description"
            visible="false"
            id="org.eclipse.cdt.ui.CElementCreationActionSet">
         <action
               id="org.eclipse.cdt.ui.actions.NewTypeDropDown"
               toolbarPath="Normal/CCWizards"
               class="org.eclipse.cdt.internal.ui.wizards.NewTypeDropDownAction"
               disabledIcon="icons/full/dtool16/newclass_wiz.gif"
               icon="icons/full/etool16/newclass_wiz.gif"
               label="%OpenClassWizardAction.label"
               pulldown="true"
               tooltip="%OpenClassWizardAction.tooltip">
         </action>
         <action
               label="%OpenNewFileWizardAction.label"
               icon="icons/full/ctool16/newfile_wiz.gif"
               class="org.eclipse.cdt.internal.ui.wizards.OpenNewFileWizardAction"
               tooltip="%OpenNewFileWizardAction.tooltip"
               toolbarPath="Normal/CCWizards"
               id="org.eclipse.cdt.ui.actions.OpenNewFileWizardAction">
         </action>
         <action
               label="%OpenNewFolderWizardAction.label"
               icon="icons/full/ctool16/newfolder_wiz.gif"
               class="org.eclipse.cdt.internal.ui.wizards.OpenNewFolderWizardAction"
               tooltip="%OpenNewFolderWizardAction.tooltip"
               toolbarPath="Normal/CCWizards"
               id="org.eclipse.cdt.ui.actions.OpenNewFolderWizardAction">
         </action>
         <action
               id="org.eclipse.cdt.ui.actions.NewProjectDropDown"
               toolbarPath="Normal/CCWizards"
               class="org.eclipse.cdt.internal.ui.wizards.NewProjectDropDownAction"
               disabledIcon="icons/full/dtool16/newcprj_wiz.gif"
               icon="icons/full/etool16/newcprj_wiz.gif"
               label="%OpenProjectWizardAction.label"
               pulldown="true"
               tooltip="%OpenProjectWizardAction.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/c_ovr.gif"
            natureId="org.eclipse.cdt.core.cnature"
            id="org.eclipse.cdt.ui.cProjectNatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CBuildConsole">
      <CBuildConsole
            class="org.eclipse.cdt.internal.ui.buildconsole.CBuildConsole">
      </CBuildConsole>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <scope
            name="%scope.cEditor.name"
            parent="org.eclipse.ui.textEditorScope"
            description="%cEditor.description"
            id="org.eclipse.cdt.ui.cEditorScope">
      </scope>
      <category
            name="%category.source.name"
            description="%category.source.description"
            id="org.eclipse.cdt.ui.category.source">
      </category>
      <command
            name="%ActionDefinition.comment.name"
            category="org.eclipse.cdt.ui.category.source"
            description="%ActionDefinition.comment.description"
            id="org.eclipse.cdt.ui.edit.text.c.comment">
      </command>
      <keyBinding
            string="Ctrl+/"
            scope="org.eclipse.cdt.ui.cEditorScope"
            command="org.eclipse.cdt.ui.edit.text.c.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.uncomment.name"
            category="org.eclipse.cdt.ui.category.source"
            description="%ActionDefinition.uncomment.description"
            id="org.eclipse.cdt.ui.edit.text.c.uncomment">
      </command>
      <keyBinding
            string="Ctrl+\"
            scope="org.eclipse.cdt.ui.cEditorScope"
            command="org.eclipse.cdt.ui.edit.text.c.uncomment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.opendecl.name"
            category="org.eclipse.cdt.ui.category.source"
            description="%ActionDefinition.opendecl.description"
            id="org.eclipse.cdt.ui.edit.opendecl">
      </command>
      <keyBinding
            string="F3"
            scope="org.eclipse.cdt.ui.cEditorScope"
            command="org.eclipse.cdt.ui.edit.opendecl"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.openType.name"
            category="org.eclipse.cdt.ui.category.source"
            description="%ActionDefinition.openType.description"
            id="org.eclipse.cdt.ui.navigate.opentype">
      </command>
      <keyBinding
            string="Ctrl+Shift+T"
            scope="org.eclipse.cdt.ui.cEditorScope"
            command="org.eclipse.cdt.ui.navigate.opentype"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <command
            name="%ActionDefinition.opencview.name"
            description="%ActionDefinition.opencview.description"
            category="org.eclipse.cdt.ui.category.source"
            id="org.eclipse.cdt.ui.edit.opencview">
      </command>
      <command
            description="%ActionDefinition.finddecl.description"
            category="org.eclipse.cdt.ui.category.source"
            name="%ActionDefinition.finddecl.name"
            id="org.eclipse.cdt.ui.search.finddecl"/>
      <command
            category="org.eclipse.cdt.ui.category.source"
            description="%ActionDefinition.findrefs.description"
            name="%ActionDefinition.findrefs.name"
            id="org.eclipse.cdt.ui.search.findrefs"/>
      <keyBinding
            command="org.eclipse.cdt.ui.search.findrefs"
            string="Ctrl+Shift+G"
            scope="org.eclipse.cdt.ui.cEditorScope"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <keyBinding
            command="org.eclipse.cdt.ui.search.finddecl"
            string="Ctrl+G"
            scope="org.eclipse.cdt.ui.cEditorScope"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <command
            name="%ActionDefinition.openTypeHierarchy.name"
            description="%ActionDefinition.openTypeHierarchy.description"
            category="org.eclipse.ui.category.navigate"
            id="org.eclipse.cdt.ui.edit.text.c.open.type.hierarchy">
      </command>
      <keyBinding
            string="F4"
            scope="org.eclipse.ui.globalScope"
            command="org.eclipse.cdt.ui.edit.text.c.open.type.hierarchy"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         id="org.eclipse.cdt.ui.CSearchPage"
         name="CSearchPage"
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="true"
            label="%CSearchPage.label"
            extensions="c:90,cpp:90, cxx:90, cc:90,C:90, h:90, hh:90, hpp:90, H:90"
            icon="icons/full/obj16/csearch_obj.gif"
            class="org.eclipse.cdt.internal.ui.search.CSearchPage"
            sizeHint="460, 160"
            id="org.eclipse.cdt.ui.CSearchPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultSorters">
      <sorter
            pageId="org.eclipse.cdt.ui.CSearchPage"
            label="%ElementNameSorter.label"
            icon="icons/full/clcl16/search_sortmatch.gif"
            class="org.eclipse.cdt.internal.ui.search.ElementNameSorter"
            tooltip="%ElementNameSorter.tooltip"
            id="org.eclipse.cdt.search.internal.ui.ElementNameSorter">
      </sorter>
      <sorter
            pageId="org.eclipse.cdt.ui.CSearchPage"
            label="%ParentNameSorter.label"
            icon="icons/full/clcl16/search_sortmatch.gif"
            class="org.eclipse.cdt.internal.ui.search.ParentNameSorter"
            tooltip="%ParentNameSorter.tooltip"
            id="org.eclipse.cdt.search.internal.ui.ParentNameSorter">
      </sorter>
      <sorter
            pageId="org.eclipse.cdt.ui.CSearchPage"
            label="%PathNameSorter.label"
            icon="icons/full/clcl16/search_sortmatch.gif"
            class="org.eclipse.cdt.internal.ui.search.PathNameSorter"
            tooltip="%PathNameSorter.tooltip"
            id="org.eclipse.cdt.search.internal.ui.PathNameSorter">
      </sorter>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%CSearchActionSet.label"
            description="%CSearchActionSet.description"
            visible="false"
            id="org.eclipse.cdt.ui.SearchActionSet">
         <action
               label="%openCSearchPageAction.label"
               icon="icons/full/obj16/csearch_obj.gif"
               class="org.eclipse.cdt.internal.ui.search.OpenCSearchPageAction"
               menubarPath="org.eclipse.search.menu/dialogGroup"
               id="org.eclipse.cdt.ui.actions.OpenCSearchPage">
         </action>
         <action
               id="org.eclipse.cdt.ui.actions.OpenType"
               toolbarPath="org.eclipse.search.searchActionSet/Search"
               class="org.eclipse.cdt.internal.ui.browser.opentype.OpenTypeAction"
               definitionId="org.eclipse.cdt.ui.navigate.opentype"
               icon="icons/full/opentype16/opentype.gif"
               helpContextId="org.eclipse.cdt.ui.open_type_action"
               label="%OpenTypeAction.label"
               menubarPath="navigate/open.ext2"
               tooltip="%OpenTypeAction.tooltip">
         </action>
        <action
               definitionId="org.eclipse.cdt.ui.edit.text.c.open.type.hierarchy"
               label="%OpenTypeHierarchyAction.label"
               retarget="true"
               menubarPath="navigate/open.ext"
               id="org.eclipse.cdt.ui.actions.OpenTypeHierarchy">
         </action>
         <action
               id="org.eclipse.cdt.ui.actions.openTypeInHierarchy"
               class="org.eclipse.cdt.internal.ui.browser.typehierarchy.OpenTypeInHierarchyAction"
               definitionId="org.eclipse.cdt.ui.navigate.open.type.in.hierarchy"
               label="%OpenTypeInHierarchyAction.label"
               helpContextId="org.eclipse.cdt.ui.open_type_in_hierarchy_action"
               menubarPath="navigate/open.ext2"
               tooltip="%OpenTypeInHierarchyAction.tooltip">
         </action>
         <menu
               label="%searchMenu.label"
               id="org.eclipse.search.menu">
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.cdt.ui.SearchActionSet">
         <part
               id="org.eclipse.cdt.ui.CView">
         </part>
         <part
               id="org.eclipse.cdt.ui.editor.CEditor">
         </part>
         <part
               id="org.eclipse.search.SearchResultView">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.BinaryParserPage">
      <parserPage
            class="org.eclipse.cdt.ui.dialogs.GNUElfBinaryParserPage"
            parserID="org.eclipse.cdt.core.GNU_ELF"
            id="ElfBinaryParserPage">
      </parserPage>
      <parserPage
            class="org.eclipse.cdt.ui.dialogs.CygwinPEBinaryParserPage"
            parserID="org.eclipse.cdt.core.Cygwin_PE"
            id="PEBinaryParserPage">
      </parserPage>
      <parserPage
            class="org.eclipse.cdt.ui.dialogs.GNUXCoffBinaryParserPage"
            parserID="org.eclipse.cdt.core.XCOFF32"
            id="XcoffBinaryParserPage">
      </parserPage>
      <parserPage
            class="org.eclipse.cdt.ui.dialogs.MachOBinaryParserPage"
            parserID="org.eclipse.cdt.core.MachO"
            id="MachOBinaryParserPage">
      </parserPage>
      <parserPage
            class="org.eclipse.cdt.ui.dialogs.GNUSomBinaryParserPage"
            parserID="org.eclipse.cdt.core.SOM"
            id="SomBinaryParserPage">
      </parserPage>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            name="%CElementWorkingSetPage.name"
            pageClass="org.eclipse.cdt.internal.ui.workingsets.CElementWorkingSetPage"
            icon="icons/full/cview16/cview.gif"
            id="org.eclipse.cdt.ui.CElementWorkingSetPage">
      </workingSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
      		colorPreferenceValue="254,155,0"
            annotationType="org.eclipse.cdt.ui.indexmarker"
            verticalRulerPreferenceValue="true"
            colorPreferenceKey="indexResultIndicationColor"
            contributesToHeader="false"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textStylePreferenceValue="NONE"
            symbolicIcon="warning"
            icon="icons/full/obj16/unknown_obj.gif"
            label="%CDTIndexerMarker.label"
            textPreferenceValue="true"
            textPreferenceKey="indexResultIndication"
            verticalRulerPreferenceKey="indexResultIndicationInVerticalRuler"
            overviewRulerPreferenceKey="indexResultIndicationInOverviewRuler">
      </specification>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            targetClass="org.eclipse.cdt.internal.ui.search.CSearchResult"
            class="org.eclipse.cdt.internal.ui.search.CSearchResultPage"
            searchResultClass="org.eclipse.cdt.internal.ui.search.CSearchResult"
            id="org.eclipse.cdt.ui.CSearchResultPage">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="%CDTIndexerProperty.name"
            class="org.eclipse.cdt.ui.dialogs.IndexerOptionPropertyPage"
            id="org.eclipse.cdt.ui.indexer">
			<filter
               	name="nature"
        		value="org.eclipse.cdt.core.cnature">
    	     </filter>            
      </page>
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="%CDTFileTypesProperty.name"
            class="org.eclipse.cdt.internal.ui.preferences.CFileTypesPropertyPage"
            id="org.eclipse.cdt.ui.fileTypes">
         <filter
               name="nature"
               value="org.eclipse.cdt.core.cnature">
         </filter>
       </page>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.PathContainerPage">
      <PathContainerPage
            name="%defaultPathContainerPage"
            class="org.eclipse.cdt.internal.ui.dialogs.cpaths.CPathContainerDefaultPage"
            id="*">
      </PathContainerPage>
   </extension>

   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="org.eclipse.cdt.ui.error"
         super="org.eclipse.ui.workbench.texteditor.error"
         markerType="org.eclipse.cdt.core.problem"
         markerSeverity="2">
      </type>
      <type
         name="org.eclipse.cdt.ui.warning"
         super="org.eclipse.ui.workbench.texteditor.warning"
         markerType="org.eclipse.cdt.core.problem"
         markerSeverity="1">
      </type>
      <type
         name="org.eclipse.cdt.ui.info"
         super="org.eclipse.ui.workbench.texteditor.info"
         markerType="org.eclipse.cdt.core.problem"
         markerSeverity="0">
      </type>
      <type
         markerType="org.eclipse.cdt.core.indexermarker"
         name="org.eclipse.cdt.ui.indexmarker">
      </type>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.cdt.ui.CUIPreferenceInitializer"/>
   </extension>
</plugin>
