<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="JTagDevice" name="%JTagDevice.name" schema="schema/JTagDevice.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.eclipse.cdt.debug.gdbjtag.launchConfigurationType"
            modes="debug"
            name="%launchConfig.name"
            public="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.cdt.debug.gdbjtag.core.GDBJtagDSFLaunchConfigurationDelegate"
            delegateDescription="%launchDelegate.jtagDsf.description"
            id="org.eclipse.cdt.debug.gdbjtag.core.dsfLaunchDelegate"
            modes="debug"
            name="%launchDelegate.jtagDsf.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="org.eclipse.cdt.debug.gdbjtag.launchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.GenericDevice"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.genericDevice"
            name="%Generic.name">
      </device>
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.AbatronBDI2000"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.AbatronBDI2000"
            name="%AbatronBDI2000.name">
      </device>
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.MacraigorUsb2Demon"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.MacraigorUsb2Demon"
            name="%MacraigorUsb2Demon.name">
      </device>
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.DefaultGDBJtagConnectionImpl"
            default_connection="/dev/com1"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.GenericSerial"
            name="%GenericSerial.name">
      </device>
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.OpenOCDPipe"
            default_connection="| openocd --pipe"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.OpenOCD"
            name="%OpenOCDPipe.name">
      </device>
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.OpenOCDSocket"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.OpenOCDSocket"
            name="%OpenOCDSocket.name">
      </device>
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.PEMicro"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.PEMicro"
            name="%PEMicro.name">
      </device>
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.SeggerJLink"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.SeggerJLink"
            name="%SeggerJLink.name">
      </device>
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.STLink"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.STLink"
            name="%STLink.name">
      </device>
   </extension>
</plugin>
