<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Terminals Eclipse 4.7.x (Oxygen)" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gnu.io.rxtx.sdk.feature.group" version="2.1.7.4_v20071016-417C7DP1Bh_eEaQJBrHBHg"/>
<repository location="http://archive.eclipse.org/tm/updates/rxtx"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.test.feature.group" version="3.7.100.v20160912-1145"/>
<unit id="org.eclipse.sdk.ide" version="4.7.0.I20160915-0230"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rse.sdk.feature.group" version="3.7.1.201603211627"/>
<repository location="http://download.eclipse.org/tm/updates/4.1milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jgit.feature.group" version="4.4.1.201607150455-r"/>
<unit id="org.eclipse.egit.feature.group" version="4.4.1.201607150455-r"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="9.0.0.201606062011"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<repository location="http://download.eclipse.org/staging/oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.remote.feature.group" version="2.1.0.201605242106"/>
<unit id="org.eclipse.remote.source.feature.group" version="2.1.0.201605242106"/>
<repository location="http://download.eclipse.org/tools/ptp/builds/remote/oxygen/milestones"/>
</location>
</locations>
</target>
