<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Terminals Eclipse 4.5.x (Mars)" sequenceNumber="75">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gnu.io.rxtx.sdk.feature.group" version="2.1.7.4_v20071016-417C7DP1Bh_eEaQJBrHBHg"/>
<repository location="http://archive.eclipse.org/tm/updates/rxtx"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.5.0.I20150430-1445"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.native.source.feature.group" version="8.7.0.201505050312"/>
<unit id="org.eclipse.cdt.native.feature.group" version="8.7.0.201505050312"/>
<repository location="http://download.eclipse.org/tools/cdt/builds/mars/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rse.sdk.feature.group" version="3.7.0.201504291424"/>
<repository location="http://download.eclipse.org/tm/updates/4.0milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150323-0420"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
</locations>
</target>
