<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.cdt.jsoncdb.core.detectionParticipant">
      <tool
            class="org.eclipse.cdt.jsoncdb.nvidia.NvccToolDetectionParticipant"
            displayName="NVidia.com nvcc, CUDA"/>
   </extension>
   <extension
         point="org.eclipse.help.contentExtension">
      <contentExtension
            file="help_content_extension.xml">
      </contentExtension>
   </extension>
</plugin>
