<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="TestProject"
         name="C/C++ Test Project"
         point="org.eclipse.cdt.core.CProject">
      <cproject
            class="org.eclipse.cdt.core.testplugin.TestProject">
      </cproject>
   </extension>
   <extension
         id="TestScanner"
         name="C/C++ Test Scanner"
         point="org.eclipse.cdt.core.ScannerInfoProvider">
      <cextension>
         <run
               class="org.eclipse.cdt.core.testplugin.TestScannerProvider">
         </run>
      </cextension>
   </extension>
   <extension
         id="FakeIndexer"
         name="FakeIndexer"
         point="org.eclipse.cdt.core.CIndexer">
      <run
            class="org.eclipse.cdt.internal.index.tests.FakeIndexer">
      </run>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CIndex">
      <ReadOnlyPDOMProvider
            class="org.eclipse.cdt.core.internal.index.provider.test.DummyProvider1">
      </ReadOnlyPDOMProvider>
      <ExportProjectProvider
            class="org.eclipse.cdt.internal.pdom.tests.GeneratePDOMApplicationTest$TestProjectProvider1">
      </ExportProjectProvider>
      <ExportProjectProvider
            class="org.eclipse.cdt.internal.pdom.tests.GeneratePDOMApplicationTest$TestProjectProvider2">
      </ExportProjectProvider>
      <ExportProjectProvider
            class="org.eclipse.cdt.internal.pdom.tests.GeneratePDOMApplicationTest$TestProjectProvider3">
      </ExportProjectProvider>
      <ExportProjectProvider
            class="org.eclipse.cdt.internal.pdom.tests.GeneratePDOMApplicationTest$TestProjectProvider4">
      </ExportProjectProvider>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CConfigurationDataProvider"
         id="testCfgDataProvider">
      <provider
            class="org.eclipse.cdt.core.settings.model.TestCfgDataProvider">
      </provider>
   </extension>
   <extension
         id="testExtSettingsProvider"
         name="name"
         point="org.eclipse.cdt.core.externalSettingsProvider">
         <provider
         	class="org.eclipse.cdt.core.settings.model.TestExtSettingsProvider">
         </provider>
   </extension>
   
</plugin>
