<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.cdt.core.tests"
   name="org.eclipse.cdt.core.tests"
   version="2.0.0"
   class="org.eclipse.cdt.testplugin.CTestPlugin">

   <runtime>
      <library name="cdtcoretests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.cdt.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.cdt.managedbuilder.core"/>
      <import plugin="org.eclipse.cdt.make.core"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
   </requires>


   <extension
         id="buildTest"
         name="Tools for Build Test"
         point="org.eclipse.cdt.managedbuilder.core.ManagedBuildInfo">
      <target
            name="Test Root"
            id="test.root"
            cleanCommand="del /myworld"
            isTest="true"
            defaultExtension="toor"
            isAbstract="false"
            makeCommand="make"
            makeFlags="-k"
            binaryParser="org.eclipse.cdt.core.PE"
            osList="win32">
         <tool
               natureFilter="cnature"
               name="Root Tool"
               sources="foo,bar"
               headerExtensions="baz"
               outputFlag="-r"
               command="doIt"
               outputs="toor"
               id="root.tool">
            <optionCategory
                  owner="root.tool"
                  name="Category"
                  id="category">
            </optionCategory>
            <option
                  name="List Option in Top"
                  command="-L"
                  id="list.option"
                  valueType="stringList">
               <listOptionValue
                     value="a">
               </listOptionValue>
               <listOptionValue
                     builtIn="false"
                     value="b">
               </listOptionValue>
               <listOptionValue
                     builtIn="true"
                     value="c">
               </listOptionValue>
            </option>
            <option
                  defaultValue="false"
                  name="Boolean Option in Top"
                  command="-b"
                  id="boolean.option"
                  valueType="boolean">
            </option>
            <option
                  defaultValue="x"
                  name="String Option in Category"
                  category="category"
                  id="string.option"
                  valueType="string">
            </option>
            <option
                  name="Enumerated Option in Category"
                  category="category"
                  id="enumerated.option"
                  valueType="enumerated">
               <enumeratedOptionValue
                     name="Default Enum"
                     isDefault="true"
                     command="-e1"
                     id="default.enum.option">
               </enumeratedOptionValue>
               <enumeratedOptionValue
                     name="Another Enum"
                     command="-e2"
                     id="another.enum.option">
               </enumeratedOptionValue>
            </option>
         </tool>
         <configuration
               name="Root Config"
               id="root.config">
         </configuration>
         <configuration
               name="Root Override Config"
               id="root.override.config">
            <toolReference
                  id="root.tool">
               <optionReference
                     defaultValue="y"
                     id="string.option">
               </optionReference>
               <optionReference
                     defaultValue="true"
                     id="boolean.option">
               </optionReference>
            </toolReference>
         </configuration>
         <configuration
               name="Complete Override Config"
               id="complete.override.config">
            <toolReference
                  id="root.tool">
               <optionReference
                     defaultValue="overridden"
                     id="string.option">
               </optionReference>
               <optionReference
                     defaultValue="true"
                     id="boolean.option">
               </optionReference>
               <optionReference
                     defaultValue="-e2"
                     id="enumerated.option">
               </optionReference>
               <optionReference
                     id="list.option">
               </optionReference>
            </toolReference>
         </configuration>
      </target>
      <target
            name="Test Sub"
            id="test.sub"
            cleanCommand="rm -yourworld"
            isTest="true"
            defaultExtension="bus"
            isAbstract="false"
            binaryParser="org.eclipse.cdt.core.PE"
            makeFlags="-d"
            parent="test.root"
            osList="win32,linux,solaris">
         <configuration
               name="Sub Config"
               id="sub.config">
         </configuration>
         <tool
               natureFilter="both"
               name="Sub Tool"
               sources="yarf"
               headerExtensions="arf,barf"
               outputPrefix="lib"
               outputs="bus"
               id="tool.sub">
            <option
                  name="Include Paths"
                  command="-I"
                  id="sub.tool.opt.inc.paths"
                  valueType="includePath">
               <listOptionValue
                     value="/usr/include">
               </listOptionValue>
               <listOptionValue
                     value="/opt/gnome/include">
               </listOptionValue>
               <listOptionValue
                     builtIn="true"
                     value="/usr/gnu/include">
               </listOptionValue>
            </option>
            <option
                  name="Defined Symbols"
                  command="-D"
                  id="sub.tool.opt.def.symbols"
                  valueType="definedSymbols">
               <listOptionValue
                     builtIn="true"
                     value="BUILTIN">
               </listOptionValue>
            </option>
            <option
                  name="More Includes"
                  command="-I"
                  id="sub.tool.opts.inc.paths.more"
                  valueType="includePath">
               <listOptionValue
                     builtIn="false"
                     value="C:\home\tester/include">
               </listOptionValue>
               <listOptionValue
                     builtIn="false"
                     value="&quot;../includes&quot;">
               </listOptionValue>
            </option>
            <option
                  name="User Objects"
                  id="sub.tool.opt.objs"
                  valueType="userObjs">
               <listOptionValue
                     builtIn="false"
                     value="obj1.o">
               </listOptionValue>
               <listOptionValue
                     builtIn="false"
                     value="obj2.o">
               </listOptionValue>
            </option>
         </tool>
      </target>
      <target
            isTest="true"
            name="Test Sub Sub"
            binaryParser="org.eclipse.cdt.core.ELF"
            parent="test.sub"
            defaultExtension="tss"
            makeCommand="nmake"
            id="test.sub.sub">
      </target>
   </extension>
   <extension
         id="runTests"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.cdt.core.suite.RunTests">
         </run>
      </application>
   </extension>

</plugin>
