<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="TestProject"
         name="C/C++ Test Project"
         point="org.eclipse.cdt.core.CProject">
      <cproject
            class="org.eclipse.cdt.core.testplugin.TestProject">
      </cproject>
   </extension>
   <extension
         id="TestScanner"
         name="C/C++ Test Scanner"
         point="org.eclipse.cdt.core.ScannerInfoProvider">
      <cextension>
         <run
               class="org.eclipse.cdt.core.testplugin.TestScannerProvider">
         </run>
      </cextension>
   </extension>
   <extension
         id="FakeIndexer"
         name="FakeIndexer"
         point="org.eclipse.cdt.core.CIndexer">
      <run
            class="org.eclipse.cdt.internal.index.tests.FakeIndexer">
      </run>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CIndex">
      <ReadOnlyPDOMProvider
            class="org.eclipse.cdt.core.internal.index.provider.test.Providers$Dummy1">
      </ReadOnlyPDOMProvider>
      <ExportProjectProvider
            class="org.eclipse.cdt.internal.pdom.tests.GeneratePDOMApplicationTest$TestProjectProvider1">
      </ExportProjectProvider>
      <ExportProjectProvider
            class="org.eclipse.cdt.internal.pdom.tests.GeneratePDOMApplicationTest$TestProjectProvider2">
      </ExportProjectProvider>
      <ExportProjectProvider
            class="org.eclipse.cdt.internal.pdom.tests.GeneratePDOMApplicationTest$TestProjectProvider3">
      </ExportProjectProvider>
      <ExportProjectProvider
            class="org.eclipse.cdt.internal.pdom.tests.GeneratePDOMApplicationTest$TestProjectProvider4">
      </ExportProjectProvider>
      <ExportProjectProvider
            class="org.eclipse.cdt.internal.pdom.tests.GeneratePDOMApplicationTest$TestProjectProvider5">
      </ExportProjectProvider>
   </extension>
   
   <extension
         point="org.eclipse.cdt.core.CConfigurationDataProvider"
         id="testCfgDataProvider">
      <provider
            class="org.eclipse.cdt.core.settings.model.TestCfgDataProvider">
      </provider>
   </extension>
   
   <extension
         point="org.eclipse.cdt.core.CConfigurationDataProvider"
         id="testUserAndDiscoveredCfgDataProvider">
      <provider
            class="org.eclipse.cdt.core.settings.model.TestUserAndDiscoveredEntriesCfgDataProvider">
      </provider>
   </extension>
   
   <extension
         id="testExtSettingsProvider"
         name="name"
         point="org.eclipse.cdt.core.externalSettingsProvider">
         <provider
         	class="org.eclipse.cdt.core.settings.model.TestExtSettingsProvider">
         </provider>
   </extension>
   
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            id="org.eclipse.cdt.core.tests.templates.AddFile"
            filterPattern=".*AddFile"
            isCategory="true"
            location="resources/templateengine/AddFile.xml"
            projectType="org.eclipse.cdt.core.tests.projectType">
      </template>
      <template
            id="org.eclipse.cdt.core.tests.templates.AddFiles"
            filterPattern=".*AddFiles"
            location="resources/templateengine/AddFiles.xml"
            projectType="org.eclipse.cdt.core.tests.projectType">
         <toolChain id="org.eclipse.cdt.core.tests.toolChain1"/>
         <toolChain id="org.eclipse.cdt.core.tests.toolChain2"/>
      </template>
      <template
            id="org.eclipse.cdt.core.tests.templates.AddLink"
            filterPattern=".*AddLink"
            location="resources/templateengine/AddLink.xml"
            projectType="org.eclipse.cdt.core.tests.projectType">
      </template>
      <template
            id="org.eclipse.cdt.core.tests.templates.Append"
            filterPattern=".*Append"
            location="resources/templateengine/Append.xml"
            projectType="org.eclipse.cdt.core.tests.projectType"/>
      <template
            id="org.eclipse.cdt.core.tests.templates.AppendCreate"
            filterPattern=".*AppendCreate"
            location="resources/templateengine/AppendCreate.xml"
            projectType="org.eclipse.cdt.core.tests.projectType"/>
      <template
            id="org.eclipse.cdt.core.tests.templates.Copy"
            filterPattern=".*Copy"
            location="resources/templateengine/Copy.xml"
            projectType="org.eclipse.cdt.core.tests.projectType"/>
      <template
            id="org.eclipse.cdt.core.tests.templates.CreateResourceIdentifier"
            filterPattern=".*CreateResourceIdentifier"
            location="resources/templateengine/CreateResourceIdentifier.xml"
            projectType="org.eclipse.cdt.core.tests.projectType"/>
      <template
            id="org.eclipse.cdt.core.tests.templates.CreateSourceFolder"
            filterPattern=".*CreateSourceFolder"
            location="resources/templateengine/CreateSourceFolder.xml"
            projectType="org.eclipse.cdt.core.tests.projectType"/>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateAssociations">
      <template
            id="org.eclipse.cdt.core.tests.templates.AddFile">
         <toolChain id="org.eclipse.cdt.core.tests.toolChain3"/>
         <toolChain id="org.eclipse.cdt.core.tests.toolChain4"/>
      </template>
      <template
            id="org.eclipse.cdt.core.tests.templates.AddFiles">
         <toolChain id="org.eclipse.cdt.core.tests.toolChain5"/>
         <toolChain id="org.eclipse.cdt.core.tests.toolChain6"/>
      </template>
   </extension>
   <extension point="org.eclipse.cdt.core.CIndex">
      <ReadOnlyPDOMProvider
            class="org.eclipse.cdt.core.internal.index.provider.test.Providers$Dummy2">
      </ReadOnlyPDOMProvider>
      <ReadOnlyPDOMProvider
            class="org.eclipse.cdt.core.internal.index.provider.test.Providers$Dummy3">
      </ReadOnlyPDOMProvider>
      <ReadOnlyPDOMProvider
            class="org.eclipse.cdt.core.internal.index.provider.test.Providers$Dummy4">
      </ReadOnlyPDOMProvider>
      <ReadOnlyPDOMProvider
            class="org.eclipse.cdt.core.internal.index.provider.test.Providers$Dummy5">
      </ReadOnlyPDOMProvider>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="mem">
         <run
               class="org.eclipse.cdt.core.internal.tests.filesystem.ram.MemoryFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         id="RegexErrorParserId"
         name="Test Plugin RegexErrorParser"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            id="org.eclipse.cdt.core.tests.RegexErrorParserId"
            name="Test Plugin RegexErrorParser">
         <pattern
               description-expr="$3"
               eat-processed-line="true"
               file-expr="$1"
               line-expr="$2"
               regex="(.*):(.*):regex (.*)"
               severity="Error">
         </pattern>
      </errorparser>
   </extension>
   <extension
         point="org.eclipse.cdt.core.EFSExtensionProvider">
      <EFSExtensionProvider
            class="org.eclipse.cdt.core.internal.efsextension.tests.EFSExtensionProviderTestsProvider"
            scheme="EFSExtensionProviderTestsScheme">
      </EFSExtensionProvider>
   </extension>
</plugin>
