<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.cdt.debug.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="org.eclipse.cdt.debug.application.GCCCompileOptionsParser"
            id="org.eclipse.cdt.debug.application.DwarfLanguageSettingsProvider"
            name="%DwarfSettingEntries.name"
            prefer-non-shared="true">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
        <page
            class="org.eclipse.cdt.debug.application.DummyPage"
            id="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
            name="%DummyUnusedPage.name">
         <enabledWhen>
           <adapt type="org.eclipse.core.resources.IResource">
	            <test property="org.eclipse.core.resources.projectNature"
	                  value="org.eclipse.cdt.managedbuilder.core.managedBuildNature"/>
           </adapt>
         </enabledWhen>
        </page>    
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <category
            id="org.eclipse.cdt.debug.application.activity.category"
            name="%FilterMenus.name">
      </category>
      <activity
            id="org.eclipse.cdt.debug.application.activity.filterMenus"
            name="%FilterMenus.name">
         <enabledWhen>
            <not>
               <systemTest
                     property="eclipse.product"
                     value="org.eclipse.cdt.debug.application.product">
               </systemTest>
            </not>
         </enabledWhen>
      </activity>
      <categoryActivityBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            categoryId="org.eclipse.cdt.debug.application.activity.category">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.jdt.ui.refactoring.menu">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.jdt.ui.source.menu">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.CodingActionSet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ExtractConstant">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ExtractLocalVariable">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.Rename">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.HideMethod">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ExtractMethod">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.createRefactoringScript">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.applyRefactoringScript">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.RefactoringHistory">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ToggleFunction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.internal.ui.actions.SurroundWithTemplateMenuAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.GettersAndSetters">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ImplementMethod">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.SortLines">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.OrganizeIncludes">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.AddInclude">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.Format">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.Indent">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ShiftLeft">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ShiftRight">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.Uncomment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.Comment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.RemoveBlockComment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.AddBlockComment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ToggleComment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.managedbuilder.ui.properties.BuildLogPreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.preferences.BuildSettings">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.preferences.OrganizeIncludesPreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.team.ui/org.eclipse.team.ui.GenericHistoryView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.team.ui/org.eclipse.team.sync.views.SynchronizeView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.team.ui/org.eclipse.team.ui.TeamSynchronizingPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.team.ui/org.eclipse.team.ui.TeamPreferences">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.BuildOrder">
      </activityPatternBinding>
      <activityPatternBinding
      		activityId="org.eclipse.cdt.debug.application.activity.filterMenus"
      		pattern="org.eclipse.cdt.debug.ui/org.eclipse.cdt.debug.ui.command.debugNewExecutable">
      </activityPatternBinding>
   </extension>
   <extension
       point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.debug.ui.category.debugViewLayout"
            defaultHandler="org.eclipse.cdt.internal.debug.application.DebugNewExecutableHandler"
            description="%DebugNewExecutable.description"
            id="org.eclipse.cdt.debug.application.command.debugNewExecutable"
            name="%DebugNewExecutable.name">
      </command>
      <command
            categoryId="org.eclipse.cdt.debug.ui.category.debugViewLayout"
            defaultHandler="org.eclipse.cdt.internal.debug.application.DebugAttachedExecutableHandler"
            description="%DebugAttachedExecutable.description"
            id="org.eclipse.cdt.debug.application.command.debugAttachedExecutable"
            name="%DebugAttachedExecutable.name">
      </command>
      <command
            categoryId="org.eclipse.cdt.debug.ui.category.debugViewLayout"
            defaultHandler="org.eclipse.cdt.internal.debug.application.DebugRemoteExecutableHandler"
            description="%DebugRemoteExecutable.description"
            id="org.eclipse.cdt.debug.application.command.debugRemoteExecutable"
            name="%DebugRemoteExecutable.name">
      </command>
      <command
            categoryId="org.eclipse.cdt.debug.ui.category.debugViewLayout"
            defaultHandler="org.eclipse.cdt.internal.debug.application.DebugCoreFileHandler"
            description="%DebugCore.description"
            id="org.eclipse.cdt.debug.application.command.debugCore"
            name="%DebugCore.name">
      </command>
    </extension>
   
   	<extension
		point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.platform.ide">
      </introProductBinding>
    </extension>
    <extension
          id="product"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.cdt.debug.application.app"
             description="%ProductDesc"
             name="%ProductName">
             <property
                   name="appName"
                   value="%ProductName">
             </property>
             <property
                   name="aboutImage"
                   value="icons/about.png">
             </property>
             <property
                   name="windowImages"
                   value="icons/cc16.png,icons/cc32.png,icons/cc48.png,icons/cc64.png,icons/cc128.png,icons/cc.png">
             </property>
             <property
                   name="aboutText"
                   value="%aboutText">
             </property> 
             
       </product>
    </extension>
   
</plugin>
