<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.cdt.debug.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="org.eclipse.cdt.debug.application.GCCCompileOptionsParser"
            id="org.eclipse.cdt.debug.application.DwarfLanguageSettingsProvider"
            name="%DwarfSettingEntries.name"
            prefer-non-shared="true">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
        <page
            class="org.eclipse.cdt.debug.application.DummyPage"
            id="org.eclipse.cdt.managedbuilder.ui.properties.Page_head_build"
            name="%DummyUnusedPage.name">
         <enabledWhen>
           <adapt type="org.eclipse.core.resources.IResource">
	            <test property="org.eclipse.core.resources.projectNature"
	                  value="org.eclipse.cdt.managedbuilder.core.managedBuildNature"/>
           </adapt>
         </enabledWhen>
        </page>    
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <category
            id="GDBStandalone.category"
            name="%FilterMenus.name">
      </category>
      <activity
            id="GDBStandalone.activity.filterMenus"
            name="%FilterMenus.name">
      </activity>
      <categoryActivityBinding
            activityId="GDBStandalone.activity.filterMenus"
            categoryId="GDBStandalone.category">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.jdt.ui.refactoring.menu">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.jdt.ui.source.menu">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.CodingActionSet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ExtractConstant">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ExtractLocalVariable">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.Rename">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.HideMethod">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ExtractMethod">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.createRefactoringScript">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.applyRefactoringScript">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.RefactoringHistory">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ToggleFunction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.internal.ui.actions.SurroundWithTemplateMenuAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            isEqualityPattern="true"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.GettersAndSetters">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ImplementMethod">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.SortLines">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.OrganizeIncludes">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.AddInclude">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.Format">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.Indent">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ShiftLeft">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ShiftRight">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.Uncomment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.Comment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.RemoveBlockComment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.AddBlockComment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.actions.ToggleComment">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.managedbuilder.ui.properties.BuildLogPreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.preferences.BuildSettings">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.cdt.ui/org.eclipse.cdt.ui.preferences.OrganizeIncludesPreferencePage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.team.ui/org.eclipse.team.ui.GenericHistoryView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.team.ui/org.eclipse.team.sync.views.SynchronizeView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.team.ui/org.eclipse.team.ui.TeamSynchronizingPerspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.team.ui/org.eclipse.team.ui.TeamPreferences">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="GDBStandalone.activity.filterMenus"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.BuildOrder">
      </activityPatternBinding>
      <activityPatternBinding
      		activityId="GDBStandalone.activity.filterMenus"
      		pattern="org.eclipse.cdt.debug.ui/org.eclipse.cdt.debug.ui.command.debugNewExecutable">
      </activityPatternBinding>
   </extension>
   <extension
       point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.debug.ui.category.debugViewLayout"
            defaultHandler="org.eclipse.cdt.internal.debug.application.DebugNewExecutableHandler"
            description="%DebugNewExecutable.description"
            id="org.eclipse.cdt.debug.application.command.debugNewExecutable"
            name="%DebugNewExecutable.name">
      </command>
      <command
            categoryId="org.eclipse.cdt.debug.ui.category.debugViewLayout"
            defaultHandler="org.eclipse.cdt.internal.debug.application.DebugAttachedExecutableHandler"
            description="%DebugAttachedExecutable.description"
            id="org.eclipse.cdt.debug.application.command.debugAttachedExecutable"
            name="%DebugAttachedExecutable.name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="file"
               label="%FileMenu.label">
            <command
                  commandId="org.eclipse.cdt.debug.application.command.debugNewExecutable"
                  label="%DebugNewExecutableMenu.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.cdt.debug.application.command.debugAttachedExecutable"
                  label="%DebugAttachedExecutableMenu.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%ExitMenu.label"
                  style="push">
            </command>
         </menu>
         <menu
               id="window"
               label="%WindowMenu.label">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="%ShowView.label"
                  style="push">
            </command>
            <separator
                  name="GDBStandalone.window.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.customizePerspective"
                  label="%CustomizePerspective.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  label="%ResetPerspective.label"
                  style="push">
            </command>
            <separator
                  name="GDBStandalone.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="%Preferences.label"
                  style="push">
            </command>
         </menu>
         <menu
               id="helpmenu"
               label="%HelpMenu.label">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="%HelpContents.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  label="%HelpSearch.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.dynamicHelp"
                  label="%DynamicHelp.label"
                  style="push">
            </command>
            <separator
                  name="GDBStandalone.help.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="%AboutEclipse.label"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   	<extension
		point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.platform.ide">
      </introProductBinding>
    </extension>
    <extension
          id="product"
          point="org.eclipse.core.runtime.products">
       <product
             application="GDBStandalone.application"
             description="Eclipse Standalone C/C++ GDB Debugger"
             name="GDB Standalone">
             <property name="windowImages" value="eclipse.gif,eclipse32.gif,eclipse48.gif"/> 
             <property name="aboutImage" value="eclipse_lg.gif"/> 
             <property name="aboutText" value="%aboutText"/> 
             
       </product>
    </extension>
   
</plugin>
