<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2018 Red Hat and others.
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
 -->

<plugin>

<!-- Extension points -->
   <extension-point id="launcherDelegates" name="%ExtensionPoint.launcherDelegates.name" schema="schema/launcherDelegates.exsd"/>

<!-- View contributions -->

<!-- Perspective extension contributions -->    

<!-- Terminal connector contributions -->
   <extension point="org.eclipse.tm.terminal.control.connectors">
      <connector 
                 name="%TerminalConnector.streams"
                 id="org.eclipse.tm.terminal.connector.streams.StreamsConnector"
                 hidden="true"
                 class="org.eclipse.tm.terminal.view.ui.streams.StreamsConnector"/>
   </extension>

<!-- Preferences contributions -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tm.terminal.view.ui.internal.PropertyTester"
            id="org.eclipse.tm.terminal.view.ui.PropertyTester"
            namespace="org.eclipse.tm.terminal.view.ui"
            properties="hasApplicableLauncherDelegates,canDisconnect"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.tm.terminal.view.ui.launcherDelegates">
      <delegate
            class="org.eclipse.tm.terminal.view.ui.streams.StreamsLauncherDelegate"
            hidden="true"
            id="org.eclipse.tm.terminal.connector.streams.launcher.streams"
            label="%StreamsLauncherDelegate.label">
      </delegate>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.tm.terminal.view.ui.commands.category"
            name="%command.category.name">
      </category>
   
      <command
            categoryId="org.eclipse.tm.terminal.view.ui.commands.category"
            helpContextId="org.eclipse.tm.terminal.view.ui.command_Launch"
            id="org.eclipse.tm.terminal.view.ui.command.launch"
            name="%command.launch.selection.name">
      </command>
      <command
            categoryId="org.eclipse.tm.terminal.view.ui.commands.category"
            helpContextId="org.eclipse.tm.terminal.view.ui.command_Launch"
            id="org.eclipse.tm.terminal.view.ui.command.launchToolbar"
            name="%command.launch.name">
      </command>
      <command
            categoryId="org.eclipse.tm.terminal.view.ui.commands.category"
            helpContextId="org.eclipse.tm.terminal.view.ui.command_Disconnect"
            id="org.eclipse.tm.terminal.view.ui.command.disconnect"
            name="%command.disconnect.name">
      </command>
      <command
            categoryId="org.eclipse.tm.terminal.view.ui.commands.category"
            helpContextId="org.eclipse.tm.terminal.view.ui.command_NewView"
            id="org.eclipse.tm.terminal.view.ui.command.newview"
            name="%command.newview.name">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.tm.terminal.view.ui.internal.handler.LaunchTerminalCommandHandler"
            commandId="org.eclipse.tm.terminal.view.ui.command.launch">
      </handler>
      <handler
            class="org.eclipse.tm.terminal.view.ui.internal.handler.LaunchTerminalCommandHandler"
            commandId="org.eclipse.tm.terminal.view.ui.command.launchToolbar">
      </handler>
      <handler
            class="org.eclipse.tm.terminal.view.ui.internal.handler.DisconnectTerminalCommandHandler"
            commandId="org.eclipse.tm.terminal.view.ui.command.disconnect">
            <enabledWhen>
               <with variable="activePart">
                  <instanceof value="org.eclipse.tm.terminal.view.ui.interfaces.ITerminalsView"/>
                  <test property="org.eclipse.tm.terminal.view.ui.canDisconnect" value="true"/>
               </with>
            </enabledWhen>
      </handler>
      
      <handler
            class="org.eclipse.tm.terminal.view.ui.internal.handler.MaximizeViewHandler"
            commandId="org.eclipse.tm.terminal.maximize">
            <activeWhen>
               <with variable="activePartId">
                  <equals value="org.eclipse.tm.terminal.view.ui.TerminalsView"/>
               </with>
            </activeWhen>
      </handler>
      
      <handler
            class="org.eclipse.tm.terminal.view.ui.internal.handler.QuickAccessHandler"
            commandId="org.eclipse.tm.terminal.quickaccess">
            <activeWhen>
               <with variable="activePartId">
                  <equals value="org.eclipse.tm.terminal.view.ui.TerminalsView"/>
               </with>
            </activeWhen>
      </handler>

      <handler
            class="org.eclipse.tm.terminal.view.ui.internal.handler.NewTerminalViewHandler"
            commandId="org.eclipse.tm.terminal.view.ui.command.newview">
            <activeWhen>
               <with variable="activePartId">
                  <equals value="org.eclipse.tm.terminal.view.ui.TerminalsView"/>
               </with>
            </activeWhen>
      </handler>
   </extension>


</plugin>
