<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <!-- Local application launch tabs-->
      <tab
            id="org.eclipse.cdt.llvm.dsf.lldb.launch.localApplicationLaunch.mainTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.main.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainTab">
        <associatedDelegate delegate="org.eclipse.cdt.llvm.dsf.lldb.launch.localCLaunch"/>
      </tab>
      <tab id="org.eclipse.cdt.llvm.dsf.lldb.launch.localApplicationLaunch.argumentsTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.arguments.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CArgumentsTab">
        <associatedDelegate delegate="org.eclipse.cdt.llvm.dsf.lldb.launch.localCLaunch"/>
        <placement after="org.eclipse.cdt.llvm.dsf.lldb.launch.mainTab"/>
      </tab>
      <tab 
            id="org.eclipse.cdt.llvm.dsf.lldb.launch.localApplicationLaunch.environmentTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.environment.name"
            class="org.eclipse.debug.ui.EnvironmentTab">
         <associatedDelegate delegate="org.eclipse.cdt.llvm.dsf.lldb.launch.localCLaunch"/>
         <placement after="org.eclipse.cdt.llvm.dsf.lldb.launch.argumentsTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.llvm.dsf.lldb.launch.localApplicationLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.debugger.name"
            class="org.eclipse.cdt.llvm.dsf.lldb.ui.internal.LLDBLocalApplicationCDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.llvm.dsf.lldb.launch.localCLaunch"/>
        <placement after="org.eclipse.debug.ui.environmentTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.llvm.dsf.lldb.launch.localApplicationLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.sourceLookup.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.llvm.dsf.lldb.launch.localCLaunch"/>
        <placement after="org.eclipse.cdt.llvm.dsf.lldb.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.llvm.dsf.lldb.launch.localApplicationLaunch.commonTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.common.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.llvm.dsf.lldb.launch.localCLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>

      <!-- Attach launch tabs-->
      <tab
            id="org.eclipse.cdt.llvm.dsf.lldb.launch.attachLaunch.mainTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.main.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainAttachTab">
        <associatedDelegate delegate="org.eclipse.cdt.llvm.dsf.lldb.launch.attachCLaunch"/>
      </tab>
      <tab
            id="org.eclipse.cdt.llvm.dsf.lldb.launch.attachLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.debugger.name"
            class="org.eclipse.cdt.llvm.dsf.lldb.ui.internal.LLDBAttachCDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.llvm.dsf.lldb.launch.attachCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.llvm.dsf.lldb.launch.attachLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.sourceLookup.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.llvm.dsf.lldb.launch.attachCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.llvm.dsf.lldb.launch.attachLaunch.commonTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.common.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.llvm.dsf.lldb.launch.attachCLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.debug.ui.CDebugPreferencePage"
            class="org.eclipse.cdt.llvm.dsf.lldb.ui.internal.LLDBDebugPreferencePage"
            id="org.eclipse.cdt.llvm.dsf.lldb.ui.preferences"
            name="%lldbPreferencePage.name">
      </page>
   </extension>

</plugin>
