<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.cdt.debug.core.BreakpointExtension">
      <breakpointExtension
            class="org.eclipse.dd.gdb.breakpoints.CBreakpointGdbThreadsFilterExtension"
            debugModelId="org.eclipse.dd.gdb"
            id="org.eclipse.dd.gdb.threadFilter"
            markerType="org.eclipse.cdt.debug.core.cBreakpointMarker">
      </breakpointExtension>
   </extension>
</plugin>
