<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            delegate="org.eclipse.dd.gdb.launching.GdbLaunchDelegate"
            public="true"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            name="C/C++ Local Application (Experimental - DSF)"
            id="org.eclipse.dd.mi.launch.localCLaunch"
            modes="debug">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.cdt.debug.core.BreakpointExtension">
      <breakpointExtension
            class="org.eclipse.dd.gdb.breakpoints.CBreakpointGdbThreadsFilterExtension"
            debugModelId="org.eclipse.dd.gdb"
            id="org.eclipse.dd.gdb.threadFilter"
            markerType="org.eclipse.cdt.debug.core.cBreakpointMarker">
      </breakpointExtension>
   </extension>

</plugin>
