<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.cdt.debug.core.BreakpointExtension">
      <breakpointExtension
            class="org.eclipse.dd.gdb.internal.provisional.breakpoints.CBreakpointGdbThreadsFilterExtension"
            debugModelId="org.eclipse.dd.gdb"
            id="org.eclipse.dd.gdb.threadFilter"
            markerType="org.eclipse.cdt.debug.core.cBreakpointMarker">
      </breakpointExtension>
   </extension>

   <!-- Binding debug model ids to context. Use the same bindings as CDT -->
   <extension point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding 
         contextId="org.eclipse.cdt.debug.ui.debugging"
         debugModelId="org.eclipse.dd.gdb"/>
   </extension>
   
</plugin>
