<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <!-- Local application launch tabs-->
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.mainTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.main.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
      </tab>
      <tab id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.argumentsTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.arguments.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CArgumentsTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.debugger.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.LocalApplicationCDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.argumentsTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.sourceLookup.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.commonTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.common.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>

      <!-- Remote application launch tabs-->
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.remoteApplicationLaunch.mainTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.main.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.remoteApplicationLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.debugger.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.RemoteApplicationCDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.remoteApplicationLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.sourceLookup.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.remoteApplicationLaunch.commonTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.common.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>

      <!-- Attach launch tabs-->
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.attachLaunch.mainTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.main.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainAttachTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.attachCLaunch"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.attachLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.debugger.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.AttachCDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.attachCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.attachLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.sourceLookup.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.attachCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.attachLaunch.commonTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.common.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.attachCLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>
      
      <!-- PostMortem launch tabs-->
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.coreLaunch.mainTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%launchTab.main.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainCoreTab">
         <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.coreCLaunch"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.coreLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%launchTab.debugger.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CoreFileDebuggerTab">
         <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.coreCLaunch"/>
         <placement after="org.eclipse.cdt.dsf.gdb.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.coreLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%launchTab.sourceLookup.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
         <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.coreCLaunch"/>
         <placement after="org.eclipse.cdt.dsf.gdb.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.coreLaunch.commonTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%launchTab.common.name"
            class="org.eclipse.debug.ui.CommonTab">
         <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.coreCLaunch"/>
         <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>
   </extension>
   
    <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.GdbRemoteRunLaunchConfigurationTabGroup"
            id="org.eclipse.cdt.dsf.gdb.launch.remoteRunLaunchTabGroup"
            type="org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension point="org.eclipse.core.runtime.adapters">
      <factory 
        	class="org.eclipse.cdt.dsf.gdb.internal.ui.GdbAdapterFactory" 
	        adaptableType="org.eclipse.cdt.dsf.gdb.launching.GdbLaunch">
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider"/>
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory"/>
         <adapter type="org.eclipse.debug.ui.contexts.ISuspendTrigger"/>
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IColumnPresentationFactory"/>
	  </factory>         
   </extension>	
   
   <extension point="org.eclipse.debug.ui.memoryRenderings">
      <renderingBindings
            defaultIds="org.eclipse.debug.ui.rendering.raw_memory"
            primaryId="org.eclipse.debug.ui.rendering.raw_memory"
            renderingIds="org.eclipse.debug.ui.rendering.raw_memory,org.eclipse.debug.ui.rendering.ascii,org.eclipse.debug.ui.rendering.signedint,org.eclipse.debug.ui.rendering.unsignedint">
         <enablement>
            <instanceof value="org.eclipse.cdt.dsf.debug.model.DsfMemoryBlock"/>
         </enablement>
      </renderingBindings>
   </extension>

   <extension point="org.eclipse.ui.propertyPages">
         <page class="org.eclipse.cdt.dsf.gdb.internal.ui.breakpoints.CBreakpointGdbThreadFilterPage"
            id="org.eclipse.cdt.dsf.gdb.breakpoint.filtering"
            name="Filter">
         <filter name="debugModelId" value="org.eclipse.cdt.dsf.gdb"/>
         <enabledWhen>
            <adapt type="org.eclipse.cdt.debug.core.model.ICBreakpoint"/>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.ProcessPrompter"
            code="100"
            id="org.eclipse.cdt.dsf.gdb.ui.processPrompter"
            plugin="org.eclipse.cdt.dsf.gdb.ui">
      </statusHandler>
      <statusHandler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CoreFilePrompter"
            code="1001"
            id="org.eclipse.cdt.dsf.gdb.ui.coreFilePrompter"
            plugin="org.eclipse.cdt.dsf.gdb.ui">
      </statusHandler>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.ui.CDebuggerPage">
      <debuggerPage
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.GdbDebuggerPage"
            debuggerID="org.eclipse.cdt.dsf.gdb.GdbDebugger"
            id="org.eclipse.cdt.dsf.gdb.ui.GdbDebuggerPage">
      </debuggerPage>
      <debuggerPage
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.GdbServerDebuggerPage"
            debuggerID="org.eclipse.cdt.dsf.gdb.GdbServerDebugger"
            id="org.eclipse.cdt.dsf.gdb.ui.GdbServerDebuggerPage">
      </debuggerPage>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.cdt.dsf.gdb.ui.debugview.context"
            targetID="org.eclipse.debug.ui.DebugView">
         <action
               class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ConnectActionDelegate"
               icon="icons/full/obj16/connect.gif"
               id="org.eclipse.cdt.dsf.gdb.ui.connect"
               label="%action.connect.label"
               menubarPath="threadGroup"
               tooltip="%action.connect.tooltip">
            <enablement>
               <pluginState
                     id="org.eclipse.cdt.dsf.gdb.ui"
                     value="activated">
               </pluginState>
            </enablement>
         </action>
         <visibility>
            <pluginState
                  id="org.eclipse.cdt.dsf.gdb.ui"
                  value="activated">
            </pluginState>
         </visibility>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.cdt.dsf.gdb.ui.debugview.toolbar"
            targetID="org.eclipse.debug.ui.DebugView">
         <action
               class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ConnectActionDelegate"
               icon="icons/full/obj16/connect.gif"
               id="org.eclipse.cdt.dsf.gdb.ui.connect"
               label="%action.connect.label"
               toolbarPath="threadGroup"
               tooltip="%action.connect.tooltip">
            <enablement>
               <pluginState
                     id="org.eclipse.cdt.dsf.gdb.ui"
                     value="activated">
               </pluginState>
            </enablement>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%actionSet.reverse.description"
            id="org.eclipse.cdt.dsf.gdb.ui.reverseDebuggingActionSet"
            label="%actionSet.reverse.label"
            visible="false">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%command.reverseCategory.description"
            id="org.eclipse.cdt.dsf.gdb.ui.reverseDebuggingCategory"
            name="%command.reverseCategory.name">
      </category>
      <command
            categoryId="org.eclipse.cdt.dsf.gdb.ui.reverseDebuggingCategory"
            description="%command.reverseToggle.description"
            id="org.eclipse.cdt.dsf.gdb.ui.commands.reverseToggle"
            name="%command.reverseToggle.name">
      </command>
      <command
            categoryId="org.eclipse.cdt.dsf.gdb.ui.reverseDebuggingCategory"
            description="%command.reverseResume.description"
            id="org.eclipse.cdt.dsf.gdb.ui.commands.reverseResume"
            name="%command.reverseResume.name">
      </command>
      <command
            categoryId="org.eclipse.cdt.dsf.gdb.ui.reverseDebuggingCategory"
            description="%command.reverseStepInto.description"
            id="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepInto"
            name="%command.reverseStepInto.name">
      </command>
      <command
            categoryId="org.eclipse.cdt.dsf.gdb.ui.reverseDebuggingCategory"
            description="%command.reverseStepOver.description"
            id="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepOver"
            name="%command.reverseStepOver.name">
      </command>
      <command
            categoryId="org.eclipse.cdt.dsf.gdb.ui.reverseDebuggingCategory"
            description="%command.uncall.description"
            id="org.eclipse.cdt.dsf.gdb.ui.commands.uncall"
            name="%command.uncall.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.debug.ui.DebugView?after=additions">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseToggle"
               icon="icons/full/obj16/reversetoggle.gif"
               id="org.eclipse.cdt.dsf.gdb.ui.button.reverseToggle"
               label="%command.reverseToggle.label"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingActionSetActive">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.debug.ui.DebugView?after=threadGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseResume"
               icon="icons/full/obj16/reverseresume.gif"
               label="%command.reverseResume.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.debug.ui.DebugView?after=stepIntoGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepInto"
               icon="icons/full/obj16/reversestepinto.gif"
               label="%command.reverseStepInto.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.debug.ui.DebugView?after=stepOverGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepOver"
               icon="icons/full/obj16/reversestepover.gif"
               label="%command.reverseStepOver.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.debug.ui.DebugView?after=stepReturnGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.uncall"
               icon="icons/full/obj16/uncall.gif"
               label="%command.uncall.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.run?before=stepGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseToggle"
               icon="icons/full/obj16/reversetoggle.gif"
               id="org.eclipse.cdt.dsf.gdb.ui.button.reverseToggle"
               label="%command.reverseToggle.label"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingActionSetActive">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.run?after=stepGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseResume"
               icon="icons/full/obj16/reverseresume.gif"
               label="%command.reverseResume.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.run?before=stepIntoGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepInto"
               icon="icons/full/obj16/reversestepinto.gif"
               label="%command.reverseStepInto.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.run?before=stepOverGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepOver"
               icon="icons/full/obj16/reversestepover.gif"
               label="%command.reverseStepOver.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.run?before=stepReturnGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.uncall"
               icon="icons/full/obj16/uncall.gif"
               label="%command.uncall.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.debug.ui.DebugView?before=stepGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseToggle"
               icon="icons/full/obj16/reversetoggle.gif"
               id="org.eclipse.cdt.dsf.gdb.ui.button.reverseToggle"
               label="%command.reverseToggle.label"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingActionSetActive">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.debug.ui.DebugView?after=threadGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseResume"
               icon="icons/full/obj16/reverseresume.gif"
               label="%command.reverseResume.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.debug.ui.DebugView?before=stepIntoGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepInto"
               icon="icons/full/obj16/reversestepinto.gif"
               label="%command.reverseStepInto.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.debug.ui.DebugView?before=stepOverGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepOver"
               icon="icons/full/obj16/reversestepover.gif"
               label="%command.reverseStepOver.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.debug.ui.DebugView?before=stepReturnGroup">
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.commands.uncall"
               icon="icons/full/obj16/uncall.gif"
               label="%command.uncall.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseResume"
            contextId="org.eclipse.cdt.debug.ui.debugging"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F8">
      </key>
      <key
            commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepInto"
            contextId="org.eclipse.cdt.debug.ui.debugging"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F5">
      </key>
      <key
            commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepOver"
            contextId="org.eclipse.cdt.debug.ui.debugging"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F6">
      </key>
      <key
            commandId="org.eclipse.cdt.dsf.gdb.ui.commands.uncall"
            contextId="org.eclipse.cdt.debug.ui.debugging"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F7">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingActionSetActive">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="org.eclipse.cdt.dsf.gdb.ui.reverseDebuggingActionSet">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.cdt.dsf.gdb.ui.testIsGdbUIPluginActive">
         <with
               variable="org.eclipse.core.runtime.Platform">
            <test
                  args="org.eclipse.cdt.dsf.gdb.ui"
                  property="org.eclipse.core.runtime.bundleState"
                  value="ACTIVE">
            </test>
         </with>
      </definition>
      <definition
            id="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingEnabled">
         <and>
            <reference
                  definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsGdbUIPluginActive">
            </reference>
            <reference
                  definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsReverseDebuggingActionSetActive">
            </reference>
            <or>
               <with
                     variable="activePart">
                  <test
                        property="org.eclipse.cdt.dsf.gdb.ui.isReverseDebuggingEnabled">
                  </test>
               </with>
               <with
                     variable="selection">
                  <test
                        property="org.eclipse.cdt.dsf.gdb.ui.isReverseDebuggingEnabled">
                  </test>
               </with>
            </or>
         </and>
      </definition>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ReverseToggleCommandHandler"
            commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseToggle">
         <enabledWhen>
            <reference
                  definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsGdbUIPluginActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ReverseResumeCommandHandler"
            commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseResume">
         <enabledWhen>
            <reference
                  definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsGdbUIPluginActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ReverseStepIntoCommandHandler"
            commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepInto">
         <enabledWhen>
            <reference
                  definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsGdbUIPluginActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ReverseStepOverCommandHandler"
            commandId="org.eclipse.cdt.dsf.gdb.ui.commands.reverseStepOver">
         <enabledWhen>
            <reference
                  definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsGdbUIPluginActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.UncallCommandHandler"
            commandId="org.eclipse.cdt.dsf.gdb.ui.commands.uncall">
         <enabledWhen>
            <reference
                  definitionId="org.eclipse.cdt.dsf.gdb.ui.testIsGdbUIPluginActive">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ReverseDebuggingPropertyTester"
            id="org.eclipse.cdt.dsf.gdb.ui.selectionReverseDebuggingTester"
            namespace="org.eclipse.cdt.dsf.gdb.ui"
            properties="isReverseDebuggingEnabled"
            type="org.eclipse.cdt.dsf.ui.viewmodel.datamodel.IDMVMContext">
      </propertyTester>
      <propertyTester
            class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ReverseDebuggingPropertyTester"
            id="org.eclipse.cdt.dsf.gdb.ui.partReverseDebuggingTester"
            namespace="org.eclipse.cdt.dsf.gdb.ui"
            properties="isReverseDebuggingEnabled"
            type="org.eclipse.ui.IWorkbenchPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page   
            category="org.eclipse.cdt.dsf.debug.ui.preferences"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.preferences.GdbDebugPreferencePage"
            id="org.eclipse.cdt.dsf.gdb.ui.preferences"
            name="%gdbPreferencePage.name">
      </page> 
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.cdt.dsf.gdb.internal.ui.preferences.GdbPreferenceInitializer">
      </initializer>
   </extension>
   
</plugin>
