<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <!-- Local application launch tabs-->
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.mainTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.main.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
      </tab>
      <tab id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.argumentsTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.arguments.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CArgumentsTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.mainTab"/>
      </tab>
      <tab 
            id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.environmentTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.environment.name"
            class="org.eclipse.debug.ui.EnvironmentTab">
         <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
         <placement after="org.eclipse.cdt.dsf.gdb.launch.argumentsTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.debugger.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.LocalApplicationCDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
        <placement after="org.eclipse.debug.ui.environmentTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.sourceLookup.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.localApplicationLaunch.commonTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.common.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>

      <!-- Remote application launch tabs-->
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.remoteApplicationLaunch.mainTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.main.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.remoteApplicationLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.debugger.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.RemoteApplicationCDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.remoteApplicationLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.sourceLookup.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.remoteApplicationLaunch.commonTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%launchTab.common.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>

      <!-- Attach launch tabs-->
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.attachLaunch.mainTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.main.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainAttachTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.attachCLaunch"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.attachLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.debugger.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.AttachCDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.attachCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.attachLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.sourceLookup.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.attachCLaunch"/>
        <placement after="org.eclipse.cdt.dsf.gdb.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.attachLaunch.commonTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%launchTab.common.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.attachCLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>
      
      <!-- PostMortem launch tabs-->
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.coreLaunch.mainTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%launchTab.main.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CMainCoreTab">
         <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.coreCLaunch"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.coreLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%launchTab.debugger.name"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CoreFileDebuggerTab">
         <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.coreCLaunch"/>
         <placement after="org.eclipse.cdt.dsf.gdb.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.coreLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%launchTab.sourceLookup.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
         <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.coreCLaunch"/>
         <placement after="org.eclipse.cdt.dsf.gdb.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.dsf.gdb.launch.coreLaunch.commonTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%launchTab.common.name"
            class="org.eclipse.debug.ui.CommonTab">
         <associatedDelegate delegate="org.eclipse.cdt.dsf.gdb.launch.coreCLaunch"/>
         <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory 
        	class="org.eclipse.cdt.dsf.gdb.internal.ui.GdbAdapterFactory" 
	        adaptableType="org.eclipse.cdt.dsf.gdb.launching.GdbLaunch">
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider"/>
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory"/>
         <adapter type="org.eclipse.debug.ui.contexts.ISuspendTrigger"/>
         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IColumnPresentationFactory"/>
	  </factory>         
   </extension>	
   
   <extension point="org.eclipse.debug.ui.memoryRenderings">
      <renderingBindings
            defaultIds="org.eclipse.debug.ui.rendering.raw_memory"
            primaryId="org.eclipse.debug.ui.rendering.raw_memory"
            renderingIds="org.eclipse.debug.ui.rendering.raw_memory,org.eclipse.debug.ui.rendering.ascii,org.eclipse.debug.ui.rendering.signedint,org.eclipse.debug.ui.rendering.unsignedint">
         <enablement>
            <instanceof value="org.eclipse.cdt.dsf.debug.model.DsfMemoryBlock"/>
         </enablement>
      </renderingBindings>
   </extension>

   <extension point="org.eclipse.ui.propertyPages">
         <page class="org.eclipse.cdt.dsf.gdb.internal.ui.breakpoints.CBreakpointGdbThreadFilterPage"
            id="org.eclipse.cdt.dsf.gdb.breakpoint.filtering"
            name="%breakpoints.property.filter">
         <filter name="debugModelId" value="org.eclipse.cdt.dsf.gdb"/>
         <enabledWhen>
            <and>
               <adapt type="org.eclipse.cdt.debug.core.model.ICBreakpoint"/>
               <not>
                  <adapt type="org.eclipse.cdt.debug.core.model.ICTracepoint"/>
               </not>
            </and>
         </enabledWhen>
      </page>
      <page class="org.eclipse.cdt.dsf.gdb.internal.ui.breakpoints.GDBTracepointPropertyPage"
            id="org.eclipse.cdt.dsf.gdb.tracepoint.common"
            name="%tracepoints.property.common">
         <enabledWhen>
            <adapt type="org.eclipse.cdt.debug.core.model.ICTracepoint"/>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.ProcessPrompter"
            code="100"
            id="org.eclipse.cdt.dsf.gdb.ui.processPrompter"
            plugin="org.eclipse.cdt.dsf.gdb.ui">
      </statusHandler>
      <statusHandler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.launching.CoreFilePrompter"
            code="1001"
            id="org.eclipse.cdt.dsf.gdb.ui.coreFilePrompter"
            plugin="org.eclipse.cdt.dsf.gdb.ui">
      </statusHandler>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.cdt.dsf.gdb.ui.debugview.context"
            targetID="org.eclipse.debug.ui.DebugView">
         <action
               class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ConnectActionDelegate"
               icon="icons/full/obj16/connect.gif"
               id="org.eclipse.cdt.dsf.gdb.ui.connect"
               label="%action.connect.label"
               menubarPath="threadGroup"
               tooltip="%action.connect.tooltip">
            <enablement>
               <pluginState
                     id="org.eclipse.cdt.dsf.gdb.ui"
                     value="activated">
               </pluginState>
            </enablement>
         </action>
         <visibility>
            <pluginState
                  id="org.eclipse.cdt.dsf.gdb.ui"
                  value="activated">
            </pluginState>
         </visibility>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.cdt.dsf.gdb.ui.debugview.toolbar"
            targetID="org.eclipse.debug.ui.DebugView">
         <action
               class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ConnectActionDelegate"
               icon="icons/full/obj16/connect.gif"
               id="org.eclipse.cdt.dsf.gdb.ui.connect"
               label="%action.connect.label"
               toolbarPath="threadGroup"
               tooltip="%action.connect.tooltip">
            <enablement>
               <pluginState
                     id="org.eclipse.cdt.dsf.gdb.ui"
                     value="activated">
               </pluginState>
            </enablement>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.cdt.dsf.gdb.ui.testIsGdbUIPluginActive">
         <with
               variable="org.eclipse.core.runtime.Platform">
            <test
                  args="org.eclipse.cdt.dsf.gdb.ui"
                  property="org.eclipse.core.runtime.bundleState"
                  value="ACTIVE">
            </test>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ReverseDebuggingPropertyTester"
            id="org.eclipse.cdt.dsf.gdb.ui.selectionReverseDebuggingTester"
            namespace="org.eclipse.cdt.debug.ui"
            properties="isReverseDebuggingEnabled"
            type="org.eclipse.cdt.dsf.ui.viewmodel.datamodel.IDMVMContext">
      </propertyTester>
      <propertyTester
            class="org.eclipse.cdt.dsf.gdb.internal.ui.actions.ReverseDebuggingPropertyTester"
            id="org.eclipse.cdt.dsf.gdb.ui.partReverseDebuggingTester"
            namespace="org.eclipse.cdt.debug.ui"
            properties="isReverseDebuggingEnabled"
            type="org.eclipse.ui.IWorkbenchPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page   
            category="org.eclipse.cdt.debug.ui.CDebugPreferencePage"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.preferences.GdbDebugPreferencePage"
            id="org.eclipse.cdt.dsf.gdb.ui.preferences"
            name="%gdbPreferencePage.name">
      </page> 
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.cdt.dsf.gdb.internal.ui.preferences.GdbPreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="org.eclipse.cdt.debug.ui.debugging"
            debugModelId="org.eclipse.cdt.dsf.gdb">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.tracepoints.TraceControlView"
            icon="icons/full/view16/tracecontrol_view.gif"
            id="org.eclipse.cdt.dsf.gdb.ui.tracecontrol.view"
            name="%view.traceControl.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false"
               relationship="stack"
               id="org.eclipse.cdt.dsf.gdb.ui.tracecontrol.view">
         </view>
         <viewShortcut
               id="org.eclipse.cdt.dsf.gdb.ui.tracecontrol.view">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
       point="org.eclipse.ui.commands">
      <command
          description="%command.nextTraceRecord.description"
          id="org.eclipse.cdt.dsf.gdb.ui.command.selectNextTraceRecord"
          name="%command.nextTraceRecord.name">
      </command>
      <command
          description="%command.prevTraceRecord.description"
          id="org.eclipse.cdt.dsf.gdb.ui.command.selectPreviousTraceRecord"
          name="%command.prevTraceRecord.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.commands.SelectNextTraceRecordCommandHandler"
            commandId="org.eclipse.cdt.dsf.gdb.ui.command.selectNextTraceRecord">
      </handler>
      <handler
            class="org.eclipse.cdt.dsf.gdb.internal.ui.commands.SelectPrevTraceRecordCommandHandler"
            commandId="org.eclipse.cdt.dsf.gdb.ui.command.selectPreviousTraceRecord">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="toolbar:org.eclipse.cdt.dsf.gdb.ui.tracecontrol.view?after=additions">
         <command
               commandId="org.eclipse.cdt.debug.ui.command.startTracing"
               icon="icons/full/obj16/starttracing.gif"
               label="%toolbar.startTracing.name"
               style="push">
         </command>
         <command
               commandId="org.eclipse.cdt.debug.ui.command.stopTracing"
               icon="icons/full/obj16/stoptracing.gif"
               label="%toolbar.stopTracing.name"
               style="push">
         </command>
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.command.selectNextTraceRecord"
               icon="icons/full/obj16/next_trace_record_nav.gif"
               label="%toolbar.nextTraceRecord.label"
               style="push">
         </command>
         <command
               commandId="org.eclipse.cdt.dsf.gdb.ui.command.selectPreviousTraceRecord"
               icon="icons/full/obj16/prev_trace_record_nav.gif"
               label="%toolbar.prevTraceRecord.label"
               style="push">
         </command>
      </menuContribution>
         <menuContribution
               locationURI="menu:org.eclipse.cdt.dsf.gdb.ui.tracecontrol.view?after=additions">
            <command
                  commandId="org.eclipse.cdt.debug.ui.command.saveTraceData"
                  icon="icons/full/obj16/savetrace.gif"
                  label="%toolbar.saveTracing.name"
                  style="push">
            </command>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.ui.BreakpointActionPage">
      <actionPage
            actionType="org.eclipse.cdt.dsf.gdb.tracepointactions.CollectAction"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.tracepointactions.CollectActionPage"
            id="org.eclipse.cdt.dsf.gdb.ui.tracepointactions.CollectActionPage">
      </actionPage>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.ui.BreakpointActionPage">
      <actionPage
            actionType="org.eclipse.cdt.dsf.gdb.tracepointactions.EvaluateAction"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.tracepointactions.EvaluateActionPage"
            id="org.eclipse.cdt.dsf.gdb.ui.tracepointactions.EvaluateActionPage">
      </actionPage>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.ui.BreakpointActionPage">
      <actionPage
            actionType="org.eclipse.cdt.dsf.gdb.tracepointactions.WhileSteppingAction"
            class="org.eclipse.cdt.dsf.gdb.internal.ui.tracepointactions.WhileSteppingActionPage"
            id="org.eclipse.cdt.dsf.gdb.ui.tracepointactions.WhileSteppingActionPage">
      </actionPage>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.cdt.dsf.gdb.internal.ui.tracepointactions.TracepointActionsPropertyPage"
            id="org.eclipse.cdt.dsf.gdb.ui.tracepointactions.tracepointActions"
            name="%tracepoints.action.page.label">
         <enabledWhen>
               <adapt type="org.eclipse.cdt.debug.core.model.ICTracepoint"/>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
       <page
             category="org.eclipse.cdt.debug.ui.CDebugPreferencePage"
             class="org.eclipse.cdt.dsf.gdb.internal.ui.tracepointactions.TracepointActionsPreferencePage"
             id="org.eclipse.cdt.dsf.gdb.ui.preferences.TracepointActionsPreferencePage"
             name="%tracepointActionsPrefPage.name">
      </page> 
   </extension>
       <extension
         point="org.eclipse.ui.activities">
 
      <category
            name="%category.name"
            description="%category.description"
            id="org.eclipse.cdt.debug.dsfgdbCategory">
      </category>
  
       <categoryActivityBinding
            activityId="org.eclipse.cdt.debug.dsfgdbActivity"
            categoryId="org.eclipse.cdt.debug.dsfgdbCategory">
      </categoryActivityBinding>
  
      <activity
            name="%activity.name"
            description="%activity.description"
            id="org.eclipse.cdt.debug.dsfgdbActivity">
       </activity>

      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.dsfgdbActivity"
           	isEqualityPattern="true" 
            pattern="org.eclipse.cdt.dsf.gdb.ui/org.eclipse.cdt.dsf.gdb.ui.preferences">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.dsfgdbActivity"
           	isEqualityPattern="true" 
            pattern="org.eclipse.cdt.dsf.gdb.ui/org.eclipse.cdt.dsf.gdb.ui.preferences.TracepointActionsPreferencePage">
      </activityPatternBinding>
         
     </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.eclipse.cdt.dsf.gdb.internal.ui.console.ConsolePageParticipant"
            id="org.eclipse.cdt.dsf.gdb.ui.dsfGdbConsolePageParticipant">
         <enablement>
            <instanceof
                  value="org.eclipse.ui.console.IOConsole">
            </instanceof>
         </enablement>
      </consolePageParticipant>
   </extension>
   
</plugin>
