<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    
   <!--
   <extension point="org.eclipse.cdt.core.language">
      <language
            class="org.eclipse.cdt.core.dom.lrparser.c99.C99Language"
            id="c99"
            name="%language.name.c99">
      </language>
      <language
            class="org.eclipse.cdt.core.dom.lrparser.gnu.GCCLanguage"
            id="gcc"
            name="LR GCC">
      </language>
      
      <language
            class="org.eclipse.cdt.core.dom.lrparser.cpp.ISOCPPLanguage"
            id="isocpp"
            name="%language.name.isocpp">
      </language>
      <language
            class="org.eclipse.cdt.core.dom.lrparser.gnu.GPPLanguage"
            id="gpp"
            name="LR GPP">
      </language>
   </extension>
   -->
   
</plugin>