<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
     Copyright (c) 2005, 2008 IBM Corporation and others.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         IBM Corporation - initial API and implementation
 -->

<plugin>
<!-- ================================================================= -->
<!-- 		Define keystoreProviders extension point                   -->
<!-- ================================================================= -->
   <extension-point id="keystoreProviders" name="%extPoint.keystoreProviders" schema="schema/keystoreProviders.exsd"/>

<!-- ================================================================= -->
<!-- 		Define Persistence Provider extension point -->
<!-- ================================================================= -->
   <extension-point id="persistenceProviders" name="%extPoint.persistenceProviders" schema="schema/persistenceProviders.exsd"/>
   <!-- Pre-defined Persistence Providers -->
   <extension
       point="org.eclipse.rse.core.persistenceProviders">
    <persistenceProvider
          autostart="false"
          class="org.eclipse.rse.internal.persistence.SerializingProvider"
          id="org.eclipse.rse.persistence.SerializingProvider"
          name="Serializing Persistence Provider"/>
    <persistenceProvider
          autostart="true"
          class="org.eclipse.rse.internal.persistence.PropertyFileProvider"
          id="org.eclipse.rse.persistence.PropertyFileProvider"
          name="Property File Persistence Provider (workspace)">
       <property
             name="location"
             value="workspace">
       </property>
    </persistenceProvider>
    <persistenceProvider
          autostart="true"
          class="org.eclipse.rse.internal.persistence.PropertyFileProvider"
          id="org.eclipse.rse.persistence.MetadataPropertyFileProvider"
          name="Property File Persistence Provider (metadata)">
       <property
             name="location"
             value="metadata">
       </property>
    </persistenceProvider>
   </extension>

<!-- ================================================================= -->
<!-- 		Define systemTypes extension point                         -->
<!-- ================================================================= -->
   <extension-point id="systemTypes" name="%extPoint.systemTypes" schema="schema/systemTypes.exsd"/>
   <extension-point id="systemTypeProviders"
   								  name="%extPoint.systemTypeProviders"
   								  schema="schema/systemTypeProviders.exsd"/>
   <!-- Pre-defined system types -->
   <extension
         point="org.eclipse.rse.core.systemTypes">
      <systemType
            description="%systemType.windows.description"
            icon="icons/full/obj16/systemwin_obj.gif"
            iconLive="icons/full/obj16/systemwinlive_obj.gif"
            id="org.eclipse.rse.systemtype.windows"
            label="%systemType.windows.label"
            name="Windows"/>
      <systemType
            description="%systemType.linux.description"
            icon="icons/full/obj16/systemlinux_obj.gif"
            iconLive="icons/full/obj16/systemlinuxlive_obj.gif"
            id="org.eclipse.rse.systemtype.linux"
            label="%systemType.linux.label"
            name="Linux"/>
      <!--
      <systemType id="org.eclipse.rse.systemtype.linux.power"
            name="Power Linux"
			description="%systemType.powerlinux.description"
			icon="icons/full/obj16/systemlinux_obj.gif"
			iconLive="icons/full/obj16/systemlinuxlive_obj.gif"/>
      -->      
      <systemType
            description="%systemType.unix.description"
            icon="icons/full/obj16/systemunix_obj.gif"
            iconLive="icons/full/obj16/systemunixlive_obj.gif"
            id="org.eclipse.rse.systemtype.unix"
            label="%systemType.unix.label"
            name="Unix"/>
      <systemType
            description="%systemType.local.description"
            icon="icons/full/obj16/systemlocal_obj.gif"
            iconLive="icons/full/obj16/systemlocallive_obj.gif"
            id="org.eclipse.rse.systemtype.local"
            label="%systemType.local.label"
            name="Local"/>
   </extension>

<!-- ================================================================================== -->
<!-- EXTENSION POINT: org.eclipse.rse.core.subsystemConfigurations                      -->
<!-- ================================================================================== -->
<!-- Extension point for defining subsystem configurations. A configuration is responsible for     -->
<!--  creating subsystem instances.                                                     -->
<!--                                                                                    -->
<!-- Example of extension configuration:                                                -->
<!--   <extension                                                                       -->
<!--      point="org.eclipse.rse.core.subsystemConfigurations">                            -->
<!--      <configuration                                                                -->
<!--         systemTypeIds="org.eclipse.rse.systemtype.local;org.eclipse.rse.systemtype.unix"-->
<!--         name="Files"                                                               -->
<!--         description="This subsystem allows you to work with files on local or remote systems."-->
<!--         icon="icons/filesubsys.gif"                                                -->
<!--         iconlive="icons/filesubsyslive.gif"                                        -->
<!--         id="com.acme.etools.mypkg.myconfiguration"                                       -->
<!--         class="com.acme.etools.mypkg.MyClass"                                      -->
<!--         category="files"                                                           -->
<!--         vendor="ACME"                                                              -->
<!--      >                                                                             -->
<!--      </configuration>                                                                    -->
<!--   </extension>                                                                     -->
<!-- Each extension can contain multiple configuration tags that identify a subsystem configuration -->
<!--                                                                                    -->
<!-- <configuration> tag attributes:                                                          -->
<!-- ================================================================================== -->
<!--  systemTypes => semicolon-separated list of system types or * for all              -->
<!--  class       => class implementing org.eclipse.rse.subsystems.SubSystemConfiguration -->
<!--  category    => optionally identifies category to allow efficient subsetting of    -->
<!--                  connection lists. Pre-defined categories are "files", "cmds" and  -->
<!--                  "jobs". Can also specify your own category like "database"        -->
<!--  icon        => icon to display for subsystems of this configuration when not connected  -->
<!--  iconlive    => icon to display for subsystems of this configuration when connected      -->
<!--  name        => translatable display name for subsystems of this configuration     -->
<!--  description => translatable descriptin for subsystems of this configuration       -->
<!--  id          => unique id for this extension point. Will be used for a folder name -->
<!--  vendor      => name of company supplying this configuration                       -->
<!--  systemClass => OBSOLETE - Removed in OpenRSE.                                     -->
<!--      Was only used when naming a predefined subsystem configuration                -->
<!--      in the <samp>class</samp> attribute, when you want to subclass or replace the -->
<!--      predefined IConnectorService object used to manage the live connection with   -->
<!--      the remote system. Name a class that implements                               -->
<!--        org.eclipse.rse.core.subsystems.IConnectorService or extends the appropriate     -->
<!--      predefined class such as org.eclipse.rse.universal.UniversalSystem            -->
<!--      for unix, windows and system types.                                           -->
<!-- ================================================================================== -->
<!--                                                                                    -->
<!-- For systemTypes, if you specify * for all, you still have a chance at runtime to   -->
<!--  not create a subsystem for a given system type. Simply return false from your     -->
<!--  appliesToSystemType method.                                                       -->
<!--                                                                                    -->
<!--                                                                                    -->
<!-- ================================================================================== -->

   <extension-point id="subsystemConfigurations" name="%extPoint.subsystemConfigurations" schema="schema/subsystemConfigurations.exsd"/>
   <extension-point id="modelInitializers" name="%extPoint.modelInitializers" schema="schema/modelInitializers.exsd"/>

<!-- ================================================================= -->
<!-- 		PreferencesInitializers                                    -->
<!-- ================================================================= -->
   <extension
       point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.rse.internal.core.RSEPreferenceInitializer"/>
	  <initializer class="org.eclipse.rse.internal.logging.LoggingPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.rse.core.modelInitializers">
      <modelInitializer
            class="org.eclipse.rse.internal.core.RSELocalConnectionInitializer"
            type="workspace">
      </modelInitializer>
   </extension>
 
</plugin>
