<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="systemTypes" name="%extPoint.systemTypes" schema="schema/systemTypes.exsd"/>

<!-- ================================================================= -->
<!-- 		Define Persistence Provider extension point -->
<!-- ================================================================= -->
   <extension-point id="persistenceProviders" name="%extPoint.persistenceProviders" schema="schema/persistenceProviders.exsd"/>
   <extension-point id="systemTypeProviders"
   								  name="%extPoint.systemTypeProviders"
   								  schema="schema/systemTypeProviders.exsd"/>
 


<!-- ========================================================================= -->
<!-- Persistence Providers                                                     -->
<!-- ========================================================================= -->  
 <extension
       point="org.eclipse.rse.core.persistenceProviders">
    <persistenceProvider
          class="org.eclipse.rse.internal.persistence.SerializingProvider"
          id="org.eclipse.rse.persistence.SerializingProvider"
          name="Serializing Persistence Provider"/>
    <persistenceProvider
          class="org.eclipse.rse.internal.persistence.PropertyFileProvider"
          id="org.eclipse.rse.persistence.PropertyFileProvider"
          name="Property File Persistence Provider"/>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.eclipse.rse.core.internal.RSEPreferenceInitializer">
    </initializer>
 </extension>
 
</plugin>
