<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.cdt.testsrunner.TestsRunner">
      <runner
            class="org.eclipse.cdt.testsrunner.internal.boost.BoostTestsRunnerProvider"
            description="%BoostTestsRunner.description"
            id="org.eclipse.cdt.testsrunner.boost"
            name="%BoostTestsRunner.name">
      </runner>
   </extension>
</plugin>
