<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006 IBM Corporation. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html

Initial Contributors:
The following IBM employees contributed to the Remote System Explorer
component that contains this file: David McKnight, Kushal Munir, 
Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

Contributors:
{Name} (company) - description of contribution.
-->
<?eclipse version="3.1"?>
<plugin>



<!-- ============================================== -->
<!-- Define subsystem factories for sample        -->
<!-- ============================================== -->
<!--
   <extension
         point="org.eclipse.rse.core.subsystemfactory">
      <factory
            systemtypes="Local"
            name="Local Processes (new)"
            iconlive="icons/full/obj16/processsubsystemlive_obj.gif"
            icon="icons/full/obj16/processsubsystem_obj.gif"
            category="processes"
            class="org.eclipse.rse.subsystems.processes.local.LocalProcessSubSystemFactory"
            vendor="IBM Corp"
            id="local.processes">
      </factory>
      </extension>
  -->
</plugin>