<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.visualizer.ui.visualizer">
      <visualizer
            class="org.eclipse.cdt.visualizer.examples.problemvisualizer.ProblemVisualizer"
            id="org.eclipse.cdt.visualizer.examples.ProblemVisualizer">
      </visualizer>
      <visualizer
            class="org.eclipse.cdt.visualizer.examples.sourcegraph.SourceGraphVisualizer"
            id="org.eclipse.cdt.visualizer.examples.sourcegraph">
      </visualizer>
   </extension>

</plugin>
