<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.debug.ui"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.cdt.debug.ui.CDebugUIPlugin">

   <runtime>
      <library name="cdtdebugui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.cdt.debug.core"/>
      <import plugin="org.eclipse.cdt.ui"/>
      <import plugin="org.eclipse.cdt.core"/>
   </requires>


   <extension-point id="CDebuggerPage" name="%CDebuggerPage"/>

<!-- Extensions -->
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.cdt.debug.internal.ui.CDTDebugModelPresentation"
            id="org.eclipse.cdt.debug.core">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%RegistersView.name"
            icon="icons/full/cview16/registers_view.gif"
            category="org.eclipse.debug.ui"
            class="org.eclipse.cdt.debug.internal.ui.views.registers.RegistersView"
            id="org.eclipse.cdt.debug.ui.RegistersView">
      </view>
      <view
            name="%MemoryView.name"
            icon="icons/full/cview16/memory_view.gif"
            category="org.eclipse.debug.ui"
            class="org.eclipse.cdt.debug.internal.ui.views.memory.MemoryView"
            id="org.eclipse.cdt.debug.ui.MemoryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.VariableView"
               relationship="stack"
               id="org.eclipse.cdt.debug.ui.RegistersView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.VariableView"
               relationship="stack"
               id="org.eclipse.cdt.debug.ui.MemoryView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%MemoryPreferencePage.name"
            category="org.eclipse.debug.ui.DebugPreferencePage"
            class="org.eclipse.cdt.debug.internal.ui.preferences.MemoryViewPreferencePage"
            id="org.eclipse.cdt.debug.ui.MemoryViewPreferencePage">
      </page>
      <page
            name="%RegistersPreferencePage.name"
            category="org.eclipse.debug.ui.DebugPreferencePage"
            class="org.eclipse.cdt.debug.internal.ui.preferences.RegistersViewPreferencePage"
            id="org.eclipse.cdt.debug.ui.RegistersViewPreferencePage">
      </page>
      <page
            name="%CDebugPreferencePage.name"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.debug.internal.ui.preferences.CDebugPreferencePage"
            id="org.eclipse.cdt.debug.ui.CDebugPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%DebugActionSet.label"
            id="org.eclipse.cdt.debug.ui.debugActionSet">
         <menu
               label="%RunMenu.label"
               path="additions"
               id="org.eclipse.ui.run">
            <separator
                  name="cBreakpointGroup">
            </separator>
         </menu>
         <menu
               label="%RunMenu.label"
               path="additions"
               id="org.eclipse.ui.run">
            <separator
                  name="cExpressionGroup">
            </separator>
         </menu>
         <action
               id="org.eclipse.cdt.debug.ui.internal.actions.RestartActionDelegate"
               hoverIcon="icons/full/clcl16/restart.gif"
               class="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate"
               disabledIcon="icons/full/dlcl16/restart.gif"
               enablesFor="1"
               icon="icons/full/elcl16/restart.gif"
               helpContextId="restart_action_context"
               label="%RestartAction.label"
               menubarPath="org.eclipse.ui.run/stepGroup">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               id="org.eclipse.cdt.debug.ui.internal.actions.RunToLineActionDelegate"
               hoverIcon="icons/full/clcl16/runtoline_co.gif"
               class="org.eclipse.cdt.debug.internal.ui.actions.RunToLineActionDelegate"
               disabledIcon="icons/full/dlcl16/runtoline_co.gif"
               enablesFor="1"
               icon="icons/full/elcl16/runtoline_co.gif"
               helpContextId="run_to_line_action_context"
               label="%RunToLineAction.label"
               menubarPath="org.eclipse.ui.run/stepGroup">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%ManageBreakpointAction.label"
               icon="icons/full/obj16/brkpi_obj.gif"
               helpContextId="manage_breakpoint_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.ManageBreakpointActionDelegate"
               menubarPath="org.eclipse.ui.run/cBreakpointGroup"
               id="org.eclipse.cdt.debug.ui.internal.actions.ManageBreakpointActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%ManageWatchpointAction.label"
               icon="icons/full/obj16/readwrite_obj.gif"
               helpContextId="manage_watchpoint_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.AddWatchpointActionDelegate"
               menubarPath="org.eclipse.ui.run/cBreakpointGroup"
               disabledIcon="icons/full/obj16/readwrite_obj_disabled.gif"
               id="org.eclipse.cdt.debug.internal.ui.actions.ManageWatchpointActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%AddExpressionAction.label"
               icon="icons/full/obj16/expression_obj.gif"
               helpContextId="add_expression_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.AddExpressionActionDelegate"
               menubarPath="org.eclipse.ui.run/cExpressionGroup"
               id="org.eclipse.cdt.debug.internal.ui.actions.AddExpressionActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="org.eclipse.debug.ui.DebugView"
            id="org.eclipse.cdt.debug.ui.debugview.popupMenu">
         <action
               label="%RestartAction.label"
               icon="icons/full/clcl16/restart.gif"
               helpContextId="restart_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate"
               menubarPath="stepGroup"
               enablesFor="1"
               id="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%ShowFullPathsAction.label"
               icon="icons/full/clcl16/show_paths.gif"
               helpContextId="show_full_paths_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction"
               menubarPath="renderGroup"
               id="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%SwitchToDisassemblyAction.label"
               icon="icons/full/clcl16/disassembly.gif"
               helpContextId="switch_to_disassembly_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.SwitchToDisassemblyActionDelegate"
               menubarPath="renderGroup"
               enablesFor="1"
               id="org.eclipse.cdt.debug.internal.ui.actions.SwitchToDisassemblyActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%ShowDebuggerConsoleAction.label"
               icon="icons/full/clcl16/debugger_console.gif"
               helpContextId="show_debugger_console_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.DebuggerConsoleActionDelegate"
               menubarPath="renderGroup"
               enablesFor="1"
               id="org.eclipse.cdt.debug.internal.ui.actions.DebuggerConsoleActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#CEditorRulerContext"
            id="org.eclipse.cdt.debug.ui.CEditorRulerActions">
<!--
         <action
               label="%RunToLineAction.label"
               icon="icons/full/clcl16/runtoline_co.gif"
               helpContextId="run_to_line_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.RunToLineRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.RunToLineRulerActionDelegate">
         </action>
-->
         <action
               label="%BreakpointProperties.label"
               helpContextId="breakpoint_properties_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.CBreakpointPropertiesRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.CBreakpointPropertiesRulerActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%EnableBreakpoint.label"
               helpContextId="enable_disable_breakpoint_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.EnableDisableBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.EnableDisableBreakpointRulerActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%AddBreakpoint.label"
               helpContextId="manage_breakpoint_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#CEditorContext"
            id="org.eclipse.cdt.debug.ui.CEditorPopupActions">
         <action
               label="%AddExpressionAction.label"
               icon="icons/full/obj16/expression_obj.gif"
               helpContextId="add_expression_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.AddExpressionActionDelegate"
               menubarPath="additions"
               id="org.eclipse.cdt.debug.internal.ui.actions.AddExpressionActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%RunToLineAction.label"
               icon="icons/full/clcl16/runtoline_co.gif"
               helpContextId="run_to_line_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.RunToLineActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.cdt.debug.internal.ui.actions.RunToLineActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </viewerContribution>
      <objectContribution
            objectClass="org.eclipse.cdt.debug.core.ICBreakpoint"
            id="org.eclipse.cdt.debug.ui.CBreakpointActions">
         <action
               label="%BreakpointPropertiesAction.label"
               helpContextId="breakpoint_properties_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.CBreakpointPropertiesAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.cdt.debug.internal.ui.actions.CBreakpointPropertiesAction">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </objectContribution>
      <viewerContribution
            targetID="org.eclipse.debug.ui.BreakpointView"
            id="org.eclipse.cdt.debug.ui.breakpointview.popupMenu">
         <action
               label="%ShowFullPathsAction.label"
               icon="icons/full/clcl16/show_paths.gif"
               helpContextId="show_full_paths_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction"
               menubarPath="renderGroup"
               id="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="org.eclipse.debug.ui.ExpressionView"
            id="org.eclipse.debug.ui.expressionView.popupMenu">
         <action
               label="%AddGlobalsAction.label"
               icon="icons/full/clcl16/watch_globals.gif"
               helpContextId="add_globals_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.AddGlobalsActionDelegate"
               menubarPath="expressionGroup"
               enablesFor="1"
               id="org.eclipse.cdt.debug.internal.ui.actions.AddGlobalsActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#ASMEditorRulerContext"
            id="org.eclipse.cdt.debug.ui.AsmEditorRulerActions">
<!--
         <action
               label="%RunToLineAction.label"
               icon="icons/full/clcl16/runtoline_co.gif"
               helpContextId="run_to_line_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.RunToLineRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.RunToLineRulerActionDelegate">
         </action>
-->
         <action
               label="%BreakpointProperties.label"
               helpContextId="breakpoint_properties_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.CBreakpointPropertiesRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.CBreakpointPropertiesRulerActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%EnableBreakpoint.label"
               helpContextId="enable_disable_breakpoint_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.EnableDisableBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.EnableDisableBreakpointRulerActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%AddBreakpoint.label"
               helpContextId="manage_breakpoint_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#ASMEditorRulerContext"
            id="org.eclipse.cdt.debug.ui.AsmEditorPopupActions">
         <action
               menubarPath="additions"
               class="org.eclipse.cdt.debug.internal.ui.actions.AddExpressionActionDelegate"
               icon="icons/full/obj16/expression_obj.gif"
               label="%AddExpressionAction.label"
               id="org.eclipse.cdt.debug.internal.ui.actions.AddExpressionActionDelegate"
               helpContextId="add_expression_action_context">
            <enablement>
               <pluginState
                     id="org.eclipse.cdt.debug.ui"
                     value="activated">
               </pluginState>
            </enablement>
         </action>
         <action
               menubarPath="additions"
               class="org.eclipse.cdt.debug.internal.ui.actions.RunToLineActionDelegate"
               icon="icons/full/clcl16/runtoline_co.gif"
               label="%RunToLineAction.label"
               enablesFor="1"
               id="org.eclipse.cdt.debug.internal.ui.actions.RunToLineActionDelegate"
               helpContextId="run_to_line_action_context">
            <enablement>
               <pluginState
                     id="org.eclipse.cdt.debug.ui"
                     value="activated">
               </pluginState>
            </enablement>
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.debug.ui.DebugView"
            id="org.eclipse.cdt.debug.ui.debugview.toolbar">
         <action
               toolbarPath="threadGroup"
               id="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate"
               hoverIcon="icons/full/clcl16/restart.gif"
               class="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate"
               disabledIcon="icons/full/dlcl16/restart.gif"
               enablesFor="1"
               icon="icons/full/elcl16/restart.gif"
               helpContextId="restart_action_context"
               label="%RestartAction.label"
               tooltip="%RestartAction.tooltip">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               id="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction"
               toolbarPath="renderGroup"
               hoverIcon="icons/full/clcl16/show_paths.gif"
               class="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction"
               disabledIcon="icons/full/dlcl16/show_paths.gif"
               icon="icons/full/elcl16/show_parents.gif"
               helpContextId="show_full_paths_action_context"
               label="%ShowFullPathsAction.label"
               tooltip="%ShowFullPathsAction.tooltip">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               toolbarPath="renderGroup"
               id="org.eclipse.cdt.debug.internal.ui.actions.SwitchToDisassemblyActionDelegate"
               hoverIcon="icons/full/clcl16/disassembly.gif"
               class="org.eclipse.cdt.debug.internal.ui.actions.SwitchToDisassemblyActionDelegate"
               disabledIcon="icons/full/dlcl16/disassembly.gif"
               enablesFor="1"
               icon="icons/full/elcl16/disassembly.gif"
               helpContextId="switch_to_disassembly_action_context"
               label="%SwitchToDisassemblyAction.label"
               tooltip="%SwitchToDisassemblyAction.tooltip">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               toolbarPath="renderGroup"
               id="org.eclipse.cdt.debug.internal.ui.actions.DebuggerConsoleActionDelegate"
               hoverIcon="icons/full/clcl16/debugger_console.gif"
               class="org.eclipse.cdt.debug.internal.ui.actions.DebuggerConsoleActionDelegate"
               disabledIcon="icons/full/dlcl16/debugger_console.gif"
               enablesFor="1"
               icon="icons/full/elcl16/debugger_console.gif"
               helpContextId="show_debugger_console_action_context"
               label="%ShowDebuggerConsoleAction.label"
               tooltip="%ShowDebuggerConsoleAction.tooltip">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </viewContribution>
      <viewContribution
            targetID="org.eclipse.debug.ui.BreakpointView"
            id="org.eclipse.cdt.debug.ui.breakpointview.toolbar">
         <action
               id="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction"
               toolbarPath="renderGroup"
               hoverIcon="icons/full/clcl16/show_paths.gif"
               class="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction"
               disabledIcon="icons/full/dlcl16/show_paths.gif"
               icon="icons/full/elcl16/show_parents.gif"
               helpContextId="show_full_paths_action_context"
               label="%ShowFullPathsAction.label"
               tooltip="%ShowFullPathsAction.tooltip">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </viewContribution>
      <viewContribution
            targetID="org.eclipse.debug.ui.ExpressionView"
            id="org.eclipse.debug.ui.expressionsView.toolbar">
         <action
               toolbarPath="expressionGroup"
               id="org.eclipse.cdt.debug.internal.ui.actions.AddGlobalsActionDelegate"
               hoverIcon="icons/full/clcl16/watch_globals.gif"
               class="org.eclipse.cdt.debug.internal.ui.actions.AddGlobalsActionDelegate"
               disabledIcon="icons/full/dlcl16/watch_globals.gif"
               enablesFor="1"
               icon="icons/full/elcl16/watch_globals.gif"
               helpContextId="add_globals_action_context"
               label="%AddGlobalsAction.label"
               tooltip="%AddGlobalsAction.tooltip">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.cdt.ui.editor.CEditor"
            id="org.eclipse.cdt.debug.ui.CEditor.BreakpointRulerActions">
         <action
               label="%Dummy.label"
               class="org.eclipse.cdt.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate"
               actionID="RulerDoubleClick"
               id="org.eclipse.cdt.debug.ui.CEditor.ManageBreakpointRulerAction">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.textHovers">
      <textHover
            name="%DebugTextHover"
            perspective="org.eclipse.debug.ui.DebugPerspective"
            class="org.eclipse.cdt.debug.internal.ui.editors.DebugTextHover"
            id="org.eclipse.cdt.debug.internal.ui.editors.DebugTextHover">
      </textHover>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="Prompting C/C++ Source Locator"
            class="org.eclipse.cdt.debug.ui.CUISourceLocator"
            id="org.eclipse.cdt.debug.ui.cSourceLocator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            plugin="org.eclipse.cdt.debug.core"
            code="10000"
            class="org.eclipse.cdt.debug.internal.ui.QuestionStatusHandler"
            id="org.eclipse.cdt.debug.internal.ui.QuestionStatusHandler">
      </statusHandler>
      <statusHandler
            plugin="org.eclipse.cdt.debug.core"
            code="10001"
            class="org.eclipse.cdt.debug.internal.ui.InfoStatusHandler"
            id="org.eclipse.cdt.debug.internal.ui.InfoStatusHandler">
      </statusHandler>
      <statusHandler
            plugin="org.eclipse.cdt.debug.core"
            code="10002"
            class="org.eclipse.cdt.debug.internal.ui.ErrorStatusHandler"
            id="org.eclipse.cdt.debug.internal.ui.ErrorStatusHandler">
      </statusHandler>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugActionGroups">
      <debugActionGroup
            name="%CDebugActionGroup.name"
            visible="true"
            id="org.eclipse.cdt.debug.ui.cDebugActionGroup">
         <action
               id="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate">
         </action>
         <action
               id="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction">
         </action>
         <action
               id="org.eclipse.cdt.debug.internal.ui.actions.SwitchToDisassemblyActionDelegate">
         </action>
         <action
               id="org.eclipse.cdt.debug.internal.ui.actions.DebuggerConsoleActionDelegate">
         </action>
         <action
               id="org.eclipse.cdt.debug.internal.ui.actions.AddGlobalsActionDelegate">
         </action>
      </debugActionGroup>
   </extension>

</plugin>
