<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.debug.ui"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.cdt.debug.ui.CDebugUIPlugin">

   <runtime>
      <library name="cdebugui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.cdt.debug.core"/>
   </requires>


   <extension-point id="CDebuggerPage" name="%CDebuggerPage"/>

<!-- Extensions -->
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.cdt.debug.internal.ui.CDTDebugModelPresentation"
            id="org.eclipse.cdt.debug.core">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%RegistersView.name"
            icon="icons/full/cview16/registers_view.gif"
            category="org.eclipse.debug.ui"
            class="org.eclipse.cdt.debug.internal.ui.views.registers.RegistersView"
            id="org.eclipse.cdt.debug.ui.RegistersView">
      </view>
      <view
            name="%MemoryView.name"
            icon="icons/full/cview16/memory_view.gif"
            category="org.eclipse.debug.ui"
            class="org.eclipse.cdt.debug.internal.ui.views.memory.MemoryView"
            id="org.eclipse.cdt.debug.ui.MemoryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.VariableView"
               relationship="stack"
               id="org.eclipse.cdt.debug.ui.RegistersView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.VariableView"
               relationship="org.eclipse.cdt.debug.ui.view2"
               id="org.eclipse.cdt.debug.ui.MemoryView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%MemoryPreferencePage.name"
            category="org.eclipse.debug.ui.DebugPreferencePage"
            class="org.eclipse.cdt.debug.internal.ui.preferences.MemoryViewPreferencePage"
            id="org.eclipse.cdt.debug.ui.MemoryViewPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%DebugActionSet.label"
            id="org.eclipse.cdt.debug.ui.debugActionSet">
         <action
               id="org.eclipse.cdt.debug.ui.internal.actions.RestartActionDelegate"
               hoverIcon="icons/full/clcl16/restart.gif"
               class="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate"
               disabledIcon="icons/full/dlcl16/restart.gif"
               enablesFor="1"
               icon="icons/full/elcl16/restart.gif"
               helpContextId="restart_action_context"
               label="%RestartAction.label"
               menubarPath="org.eclipse.ui.run/stepGroup">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
         <action
               label="%ManageBreakpointAction.label"
               icon="icons/full/obj16/brkpi_obj.gif"
               helpContextId="manage_breakpoint_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.ManageBreakpointActionDelegate"
               menubarPath="org.eclipse.ui.run/breakpointGroup"
               id="org.eclipse.cdt.debug.ui.internal.actions.ManageBreakpointActionDelegate">
            <enablement>
               <pluginState
                     value="activated"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="org.eclipse.debug.ui.DebugView"
            id="org.eclipse.cdt.debug.ui.debugview.popupMenu">
         <action
               label="%RestartAction.label"
               icon="icons/full/clcl16/restart.gif"
               helpContextId="restart_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate"
               menubarPath="threadGroup"
               enablesFor="1"
               id="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#CEditorRulerContext"
            id="org.eclipse.cdt.debug.ui.CEditorPopupActions">
         <action
               label="%BreakpointProperties.label"
               helpContextId="breakpoint_properties_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.CBreakpointPropertiesRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.CBreakpointPropertiesRulerActionDelegate">
         </action>
         <action
               label="%EnableBreakpoint.label"
               helpContextId="enable_disable_breakpoint_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.EnableDisableBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.EnableDisableBreakpointRulerActionDelegate">
         </action>
         <action
               label="%AddBreakpoint.label"
               helpContextId="manage_breakpoint_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="org.eclipse.cdt.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate">
         </action>
      </viewerContribution>
      <objectContribution
            objectClass="org.eclipse.cdt.debug.core.ICBreakpoint"
            id="org.eclipse.cdt.debug.ui.CBreakpointActions">
         <action
               label="%BreakpointPropertiesAction.label"
               helpContextId="breakpoint_properties_action_context"
               class="org.eclipse.cdt.debug.internal.ui.actions.CBreakpointPropertiesAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.cdt.debug.internal.ui.actions.CBreakpointPropertiesAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.debug.ui.DebugView"
            id="org.eclipse.cdt.debug.ui.debugview.toolbar">
         <action
               toolbarPath="threadGroup"
               id="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate"
               hoverIcon="icons/full/clcl16/restart.gif"
               class="org.eclipse.cdt.debug.internal.ui.actions.RestartActionDelegate"
               disabledIcon="icons/full/dlcl16/restart.gif"
               enablesFor="1"
               icon="icons/full/elcl16/restart.gif"
               helpContextId="restart_action_context"
               label="%RestartAction.label"
               tooltip="%RestartAction.tooltip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.cdt.ui.editor.CEditor"
            id="org.eclipse.cdt.debug.ui.CEditor.BreakpointRulerActions">
         <action
               label="%Dummy.label"
               class="org.eclipse.cdt.debug.internal.ui.actions.ManageBreakpointRulerActionDelegate"
               actionID="RulerDoubleClick"
               id="org.eclipse.cdt.debug.ui.CEditor.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
   </extension>

</plugin>
