<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006 PalmSource, Inc. and others
All rights reserved. This program and the accompanying materials 
are made available under the terms of the Eclipse Public License v1.0 
which accompanies this distribution, and is available at 
http://www.eclipse.org/legal/epl-v10.html 

Contributors: 
Ewa Matejska (PalmSource) - initial API and implementation 
Martin Oberhuber (Wind River) - fix 158529: Migrate docs to HTML / TOC format 
-->
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            delegate="org.eclipse.rse.remotecdt.RemoteRunLaunchDelegate"
            public="true"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            name="C/C++ Remote Application"
            id="org.eclipse.rse.remotecdt.RemoteApplicationLaunch"
            modes="debug,run">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/obj16/c_app.gif"
            configTypeID="org.eclipse.rse.remotecdt.RemoteApplicationLaunch"
            id="org.eclipse.cdt.launch.localRunLaunchImagefff">
      </launchConfigurationTypeImage>
   </extension>    
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.rse.remotecdt.RemoteApplicationLaunch"
            class="org.eclipse.rse.remotecdt.RemoteLaunchConfigurationTabGroup"
            id="org.eclipse.rse.remotecdt.RemoteLaunchTabGroup">
      </launchConfigurationTabGroup>
   </extension>
	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml"/>
	</extension>

</plugin>
