<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="consoleService" name="Arduino Launch Console Service" schema="schema/consoleService.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.cdt.arduino.core.internal.launch.ArduinoLaunchConfigurationDelegate"
            id="org.eclipse.cdt.arduino.core.launchConfigurationType"
            modes="run"
            name="Arduino">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionType
            id="org.eclipse.cdt.arduino.core.connectionType"
            name="Arduino">
      </connectionType>
      <connectionService
            connectionTypeId="org.eclipse.cdt.arduino.core.connectionType"
            factory="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection$Factory"
            service="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.cdt.arduino.core.connectionType"
            factory="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection$Factory"
            service="org.eclipse.remote.core.IRemoteCommandShellService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.cdt.arduino.core.connectionType"
            factory="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionPropertyService">
      </connectionService>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchBarContributions">
      <descriptorType
            class="org.eclipse.cdt.arduino.core.internal.launch.ArduinoLaunchDescriptorType"
            id="org.eclipse.cdt.arduino.core.descriptorType"
            priority="5">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.cdt.arduino.core.arduinoNature">
            </test>
         </enablement>
      </descriptorType>
      <configProvider
            class="org.eclipse.cdt.arduino.core.internal.launch.ArduinoLaunchConfigurationProvider"
            descriptorType="org.eclipse.cdt.arduino.core.descriptorType"
            priority="5">
      </configProvider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.cdt.core.binaryFile"
            file-extensions="hex"
            id="org.eclipse.cdt.arduino.core.contentType.hex"
            name="Arduino Hex download file"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="arduinoNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.cdt.arduino.core.internal.ArduinoProjectNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.cdt.arduino.core.arduinoBuilder">
      </builder>
   </extension>
   <extension
         id="arduinoBuilder"
         name="%ArduinoBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="org.eclipse.cdt.arduino.core.internal.build.ArduinoBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.cdt.core.ScannerInfoProvider2">
      <provider
            builder="org.eclipse.cdt.arduino.core.arduinoBuilder"
            class="org.eclipse.cdt.arduino.core.internal.ArduinoScannerInfoProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IBuildConfiguration"
            class="org.eclipse.cdt.arduino.core.internal.build.ArduinoBuildConfiguration$Factory">
         <adapter
               type="org.eclipse.cdt.arduino.core.internal.build.ArduinoBuildConfiguration">
         </adapter>
      </factory>
   </extension>
</plugin>
