<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.cdt.arduino.core.internal.launch.ArduinoLaunchConfigurationDelegate"
            id="org.eclipse.cdt.arduino.core.launchConfigurationType"
            modes="run"
            name="Arduino"
            public="false">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionType
            id="org.eclipse.cdt.arduino.core.connectionType"
            name="Arduino">
      </connectionType>
      <connectionService
            connectionTypeId="org.eclipse.cdt.arduino.core.connectionType"
            factory="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection$Factory"
            service="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.cdt.arduino.core.connectionType"
            factory="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection$Factory"
            service="org.eclipse.remote.core.IRemoteCommandShellService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.cdt.arduino.core.connectionType"
            factory="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionPropertyService">
      </connectionService>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchBarContributions">
      <descriptorType
            class="org.eclipse.cdt.arduino.core.internal.launch.ArduinoLaunchDescriptorType"
            id="org.eclipse.cdt.arduino.core.descriptorType"
            priority="20">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.cdt.arduino.core.arduinoNature">
            </test>
         </enablement>
      </descriptorType>
      <configProvider
            class="org.eclipse.cdt.arduino.core.internal.launch.ArduinoLaunchConfigurationProvider"
            descriptorType="org.eclipse.cdt.arduino.core.descriptorType"
            priority="5">
           <enablement>
           </enablement>
      </configProvider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.cdt.core.binaryFile"
            file-extensions="hex"
            id="org.eclipse.cdt.arduino.core.contentType.hex"
            name="Arduino Hex download file"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="arduinoNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.cdt.arduino.core.internal.ArduinoProjectNature">
         </run>
      </runtime>
      <builder
            id="com.qnx.tools.ide.qde.core.cbuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchTargetTypes">
      <launchTargetType
            id="org.eclipse.cdt.arduino.core.connectionType"
            provider="org.eclipse.cdt.arduino.core.internal.remote.ArduinoLaunchTargetProvider">
      </launchTargetType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.buildConfigProvider">
      <provider
            class="org.eclipse.cdt.arduino.core.internal.build.ArduinoBuildConfigurationProvider"
            id="org.eclipse.cdt.arduino.core.provider"
            natureId="org.eclipse.cdt.arduino.core.arduinoNature">
      </provider>
   </extension>
   <extension
         point="org.eclipse.cdt.core.toolChainProvider">
      <provider
            class="org.eclipse.cdt.arduino.core.internal.build.ArduinoToolChainProvider"
            id="org.eclipse.cdt.arduino.core.toolChainProvider">
      </provider>
      <type
            id="org.eclipse.cdt.arduino"
            name="Arduino">
      </type>
   </extension>
</plugin>
