<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="consoleService" name="Arduino Launch Console Service" schema="schema/consoleService.exsd"/>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <toolChain
            archList="all"
            configurationEnvironmentSupplier="org.eclipse.cdt.arduino.core.internal.EnvVarSupplier"
            id="org.eclipse.cdt.arduino.toolChain.avr"
            isAbstract="false"
            languageSettingsProviders="org.eclipse.cdt.arduino.avr.builtins;org.eclipse.cdt.arduino.avr.outputParser"
            name="Arduino AVR C++"
            osList="all"
            supportsManagedBuild="false">
         <targetPlatform
               id="org.eclipse.cdt.arduino.targetPlatform"
               isAbstract="false"
               name="Arduino">
         </targetPlatform>
         <builder
               autoBuildTarget="all"
               buildRunner="org.eclipse.cdt.managedbuilder.core.ExternalBuildRunner"
               cleanBuildTarget="clean"
               command="make"
               commandLauncher="org.eclipse.cdt.core.CommandLauncher"
               id="org.eclipse.cdt.arduino.builder.make"
               incrementalBuildTarget="all"
               isAbstract="false"
               isVariableCaseSensitive="false"
               name="Arduino Make">
         </builder>
         <tool
               command="avr-g++"
               id="org.eclipse.cdt.arduino.tool.avr.compiler"
               isAbstract="false"
               name="Arduino AVR C++ Compiler"
               natureFilter="ccnature"
               superClass="cdt.managedbuild.tool.gnu.cpp.compiler.base">
         </tool>
         <option
               category="org.eclipse.cdt.arduino.optionCategory.board"
               id="org.eclipse.cdt.arduino.option.board"
               isAbstract="false"
               name="Board Type"
               resourceFilter="all"
               valueType="string">
         </option>
         <option
               category="org.eclipse.cdt.arduino.optionCategory.board"
               id="org.eclipse.cdt.arduino.option.platform"
               isAbstract="false"
               name="Board Platform"
               resourceFilter="all"
               valueType="string">
         </option>
         <option
               category="org.eclipse.cdt.arduino.optionCategory.board"
               id="org.eclipse.cdt.arduino.option.package"
               isAbstract="false"
               name="Board Package"
               resourceFilter="all"
               valueType="string">
         </option>
         <optionCategory
               id="org.eclipse.cdt.arduino.optionCategory.board"
               name="Board Type">
         </optionCategory>
      </toolChain>
   </extension>
   <extension
         point="org.eclipse.cdt.core.LanguageSettingsProvider">
      <provider
            class="org.eclipse.cdt.arduino.core.internal.AvrLanguageSettingsProvider"
            id="org.eclipse.cdt.arduino.avr.builtins"
            name="Arduino AVR Compiler Built-ins"
            parameter="${COMMAND} ${FLAGS} -E -P -v -dD &quot;${INPUTS}&quot;"
            prefer-non-shared="true">
         <language-scope
               id="org.eclipse.cdt.core.g++">
         </language-scope>
      </provider>
      <provider
            class="org.eclipse.cdt.managedbuilder.language.settings.providers.GCCBuildCommandParser"
            id="org.eclipse.cdt.arduino.avr.outputParser"
            name="Arduino AVR Built Output Parser"
            parameter="(avr-gcc)|(avr-g\+\+)"
            prefer-non-shared="true">
      </provider>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.cdt.arduino.core.internal.launch.ArduinoLaunchConfigurationDelegate"
            id="org.eclipse.cdt.arduino.core.launchConfigurationType"
            modes="run"
            name="Arduino">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionType
            id="org.eclipse.cdt.arduino.core.connectionType"
            name="Arduino">
      </connectionType>
      <connectionService
            connectionTypeId="org.eclipse.cdt.arduino.core.connectionType"
            factory="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection$Factory"
            service="org.eclipse.cdt.arduino.core.IArduinoRemoteConnection">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.cdt.arduino.core.connectionType"
            factory="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection$Factory"
            service="org.eclipse.remote.core.IRemoteCommandShellService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.cdt.arduino.core.connectionType"
            factory="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionPropertyService">
      </connectionService>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchBarContributions">
      <descriptorType
            class="org.eclipse.cdt.arduino.core.internal.launch.ArduinoLaunchDescriptorType"
            id="org.eclipse.cdt.arduino.core.descriptorType"
            priority="5">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.core.resources.projectNature"
                  value="org.eclipse.cdt.arduino.core.arduinoNature">
            </test>
         </enablement>
      </descriptorType>
      <configProvider
            class="org.eclipse.cdt.arduino.core.internal.launch.ArduinoLaunchConfigurationProvider"
            descriptorType="org.eclipse.cdt.arduino.core.descriptorType"
            priority="5">
      </configProvider>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.cdt.core.binaryFile"
            file-extensions="hex"
            id="org.eclipse.cdt.arduino.core.contentType.hex"
            name="Arduino Hex download file"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="arduinoNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.cdt.arduino.core.internal.ArduinoProjectNature">
         </run>
      </runtime>
   </extension>
</plugin>
