<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.cdt.debug.mi.core"
   name="%pluginName"
   version="2.0.0"
   provider-name="%providerName"
   class="org.eclipse.cdt.debug.mi.core.MIPlugin">

   <runtime>
      <library name="cdtmicore.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.cdt.debug.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.cdt.core"/>
   </requires>


   <extension
         point="org.eclipse.cdt.debug.core.CDebugger">
      <debugger
            platform="native"
            name="%GDBDebugger.name"
            class="org.eclipse.cdt.debug.mi.core.GDBDebugger"
            cpu="native"
            modes="run,core,attach"
            id="org.eclipse.cdt.debug.mi.core.CDebugger">
      </debugger>
      <debugger
            platform="win32"
            name="%CygwinGDBDebugger.name"
            class="org.eclipse.cdt.debug.mi.core.CygwinGDBDebugger"
            cpu="native"
            modes="run,core,attach"
            id="org.eclipse.cdt.debug.mi.core.CygwinCDebugger">
      </debugger>
      <debugger
            platform="native"
            name="%GDBServer.name"
            class="org.eclipse.cdt.debug.mi.core.GDBServerDebugger"
            cpu="native"
            modes="run"
            id="org.eclipse.cdt.debug.mi.core.GDBServerCDebugger">
      </debugger>
   </extension>

</plugin>
