<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.cdt.ui.semanticHighlighting"
        name="%qtHighlighting.extName"
        id="org.eclipse.cdt.qt.ui.semanticHighlightings">
        <semanticHighlighting
            id="org.eclipse.cdt.qt.ui.keywordHighlighting"
            priority="5"
            class="org.eclipse.cdt.internal.qt.ui.QtHighlighting"
            preferenceKey="qt-keywords"
            displayName="%qtHighlighting.displayName"
            defaultTextColor="127,0,85"
            defaultBold="true"
            defaultEnabled="true">
            <enablement>
                <with variable="projectNatures">
                    <iterate operator="or">
                        <equals value="org.eclipse.cdt.qt.core.qtNature"/>
                    </iterate>
                </with>
            </enablement>
        </semanticHighlighting>
    </extension>
    <extension
        point="org.eclipse.cdt.ui.completionProposalComputer"
        id="QtCompletionProposalComputer"
        name="Qt Completion Proposal Computer">
        <completionProposalComputer
            categoryId="org.eclipse.cdt.ui.parserProposalCategory"
            class="org.eclipse.cdt.internal.qt.ui.QtCompletionProposalComputer"
            activate="true">
            <partition type="__dftl_partition_content_type"/>
            <partition type="__c_preprocessor"/>
        </completionProposalComputer>
    </extension>
</plugin>
