<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.cdt.ui.semanticHighlighting"
        name="%qtHighlighting.extName"
        id="org.eclipse.cdt.qt.ui.semanticHighlightings">
        <semanticHighlighting
            id="org.eclipse.cdt.qt.ui.keywordHighlighting"
            priority="5"
            class="org.eclipse.cdt.internal.qt.ui.QtHighlighting"
            preferenceKey="qt-keywords"
            displayName="%qtHighlighting.displayName"
            defaultTextColor="127,0,85"
            defaultBold="true"
            defaultEnabled="true">
            <enablement>
                <with variable="projectNatures">
                    <iterate operator="or">
                        <equals value="org.eclipse.cdt.qt.core.qtNature"/>
                    </iterate>
                </with>
            </enablement>
        </semanticHighlighting>
    </extension>
    <extension
        point="org.eclipse.cdt.ui.completionProposalComputer"
        id="QtCompletionProposalComputer"
        name="Qt Completion Proposal Computer">
        <completionProposalComputer
            categoryId="org.eclipse.cdt.ui.parserProposalCategory"
            class="org.eclipse.cdt.internal.qt.ui.QtCompletionProposalComputer"
            activate="true">
            <partition type="__dftl_partition_content_type"/>
            <partition type="__c_preprocessor"/>
        </completionProposalComputer>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.eclipse.cdt.internal.qt.ui.editor.QMLEditor"
             default="true"
             extensions="qml"
             id="org.eclipse.cdt.qt.ui.QMLEditor"
             name="%qmlEditor.name">
       </editor>
       <editor
             class="org.eclipse.cdt.internal.qt.ui.editor.QtProjectFileEditor"
             default="true"
             extensions="pro,pri"
             id="org.eclipse.cdt.qt.ui.QtProjectFileEditor"
             name="%qtProjectFileEditor.name">
       </editor>
    </extension>
    <extension
          point="org.eclipse.core.filebuffers.documentSetup">
       <participant
             class="org.eclipse.cdt.internal.qt.ui.editor.QMLDocumentSetupParticipant"
             contentTypeId="org.eclipse.cdt.qt.core.qmlFile"
             extensions="qml">
       </participant>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
             class="org.eclipse.cdt.internal.qt.ui.preferences.QtPreferencePage"
             id="org.eclipse.cdt.qt.ui.preferencePage.qt"
             name="%preferences.qt.name">
       </page>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTabGroups">
       <launchConfigurationTabGroup
             class="org.eclipse.cdt.internal.qt.ui.launch.QtLocalLaunchConfigurationTabGroup"
             id="org.eclipse.cdt.qt.ui.launchConfigurationTabGroup"
             type="org.eclipse.cdt.qt.core.launchConfigurationType">
          <launchMode
                mode="run">
          </launchMode>
          <launchMode
                mode="debug"
                perspective="org.eclipse.debug.ui.DebugPerspective">
          </launchMode>
       </launchConfigurationTabGroup>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTabs">
       <tab
             class="org.eclipse.debug.ui.EnvironmentTab"
             group="org.eclipse.cdt.qt.ui.launchConfigurationTabGroup"
             id="org.eclipse.cdt.qt.ui.tab.env"
             name="Environment">
       </tab>
    </extension>
    <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
       <target
             id="org.eclipse.cdt.qt.ui.qml"
             name="QML Hyperlink Target">
          <context
                type="org.eclipse.cdt.internal.qt.ui.editor.QMLEditor">
          </context>
       </target>
    </extension>
    <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             activate="true"
             class="org.eclipse.cdt.internal.qt.ui.editor.QMLHyperlinkDetector"
             id="org.eclipse.cdt.qt.ui.hyperlinkDetector2"
             name="QML Hyperlink Detector"
             targetId="org.eclipse.cdt.qt.ui.qml">
       </hyperlinkDetector>
    </extension>
    <extension
          point="org.eclipse.tools.templates.ui.templates">
       <tag
             id="org.eclipse.cdt.qt.ui.tag"
             label="Qt">
       </tag>
       <template
             icon="icons/qt_logo.png"
             id="org.eclipse.cdt.qt.ui.template.helloWorld"
             label="Qt C++/QML Application"
             wizard="org.eclipse.cdt.internal.qt.ui.wizards.HelloWorldWizard">
          <description>
             A simple Hello World Qt Application with main function in C++ and the UI in QML.
          </description>
          <tagReference
                id="org.eclipse.cdt.qt.ui.tag">
          </tagReference>
          <tagReference
                id="org.eclipse.cdt.ui.cdtTag">
          </tagReference>
       </template>
    </extension>
    <extension
          point="org.eclipse.launchbar.ui.launchBarUIContributions">
       <descriptorUI
             descriptorTypeId="org.eclipse.cdt.qt.core.launchDescriptorType"
             labelProvider="org.eclipse.cdt.internal.qt.ui.launch.QtLaunchDescriptorLabelProvider">
       </descriptorUI>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
             configTypeID="org.eclipse.cdt.qt.core.launchConfigurationType"
             icon="icons/qt16.png"
             id="org.eclipse.cdt.qt.core.launchConfigurationType.image">
       </launchConfigurationTypeImage>
    </extension>
    <extension
          point="org.eclipse.cdt.launch.coreBuildTab">
       <provider
             nature="org.eclipse.cdt.qt.core.qtNature"
             tabClass="org.eclipse.cdt.internal.qt.ui.launch.QtBuildTab">
       </provider>
    </extension>
</plugin>
