<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   
   <extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="popup:org.eclipse.rse.ui.view.systemView">
        <menu id="org.eclipse.rse.ui.useractions.compile.menu"
              label="%DynamicLabel.CompileActionNode">
           <dynamic class="org.eclipse.rse.internal.useractions.api.ui.compile.SystemDynamicCompileMenu"
                     id="org.eclipse.ui.rse.ui.views.dynamiccompilemenu">
           </dynamic>
           <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
        </menu>
      	<menu id="org.eclipse.rse.ui.useractions.useraction.menu"
              label="%DynamicLabel.UserActionNode">
           <dynamic class="org.eclipse.rse.internal.useractions.api.ui.uda.SystemDynamicUserActionMenu"
                    id="org.eclipse.ui.rse.ui.views.dynamicuseractionmenu">
           </dynamic>
           <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
        </menu>
     </menuContribution>
     </extension>
   
	
</plugin>
