<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="contextPropertiesProviders" name="%contextPropertiesProviders" schema="schema/contextPropertiesProviders.exsd"/>

<!-- Property tester contributions -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tm.terminal.view.core.internal.PropertyTester"
            id="org.eclipse.tm.terminal.view.core.PropertyTester"
            namespace="org.eclipse.tm.terminal.view.core"
            properties="hasContextPropertiesProvider"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
