<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="wascanaGenerator"
         name="Wascana Generator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.cdt.p2.generator.WascanaGenerator">
         </run>
      </application>
   </extension>

</plugin>
