<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="parsers" name="Terminal Parsers" schema="schema/parsers.exsd"/>
   <extension
         point="org.eclipse.tm.terminal.terminalConnectors">
      <connector name="%connectionName"
      id="org.eclipse.remote.terminal.RemoteConnector"
      class="org.eclipse.remote.internal.terminal.connector.RemoteConnector"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.remote.internal.terminal.preferences.RemoteTerminalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.remote.ui.RemoteDevelopmentPreferencePage"
            class="org.eclipse.remote.internal.terminal.preferences.RemoteTerminalPreferencePage"
            id="org.eclipse.remote.terminal.page"
            name="%RemoteTerminalPage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%terminal.views.category.name"
            id="Terminal">
      </category>
      <view
            allowMultiple="true"
            class="org.eclipse.remote.internal.terminal.view.TerminalView"
            icon="icons/cview16/terminal_view.gif"
            category="Terminal"
            name="%terminal.views.view.name"
            id="org.eclipse.remote.terminal.TerminalView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="Terminal">
         <viewShortcut id="org.eclipse.remote.terminal.TerminalView"/>
         <view id="org.eclipse.remote.terminal.TerminalView"
         	relationship="stack">
         </view> 
      </perspectiveExtension>
   </extension>

	<!-- ============================================ -->
	<!-- Define Help Context                          -->
	<!-- ============================================ -->
	<extension point="org.eclipse.help.contexts">
  		<contexts file="HelpContexts.xml"/>
  		<contexts file="TerminalContexts.xml" plugin="org.eclipse.remote.terminal"/> 
	</extension>
	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml"/>
	</extension>

 </plugin>
