<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <remoteServices
            class="org.eclipse.internal.remote.jsch.core.JSchServicesFactory"
            id="org.eclipse.remote.JSch"
            name="Built-in SSH"
            scheme="ssh">
      </remoteServices>
   </extension>
   <extension
         id="org.eclipse.remote.jsch.filesystem"
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="ssh">
         <run
               class="org.eclipse.internal.remote.jsch.core.JSchFileSystem">
         </run>
      </filesystem>
   </extension>
</plugin>
