<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="launchBarUIContributions" name="launchBar UI Contributions" schema="schema/launchBarUIContributions.exsd"/>
   <extension-point id="launchTargetTypeUI" name="Launch Target Type UI" schema="schema/launchTargetTypeUI.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.launchbar.ui.category.launchBar"
            name="Launch Bar">
      </category>
      <command
            categoryId="org.eclipse.launchbar.ui.category.launchBar"
            defaultHandler="org.eclipse.launchbar.ui.internal.commands.BuildActiveCommandHandler"
            id="org.eclipse.launchbar.ui.command.buildActive"
            name="Build Active Launch Configuration">
      </command>
      <command
            categoryId="org.eclipse.launchbar.ui.category.launchBar"
            defaultHandler="org.eclipse.launchbar.ui.internal.commands.LaunchActiveCommandHandler"
            id="org.eclipse.launchbar.ui.command.launchActive"
            name="Launch Active Launch Configuration">
      </command>
      <command
            categoryId="org.eclipse.launchbar.ui.category.launchBar"
            defaultHandler="org.eclipse.launchbar.ui.internal.commands.StopActiveCommandHandler"
            id="org.eclipse.launchbar.ui.command.stop"
            name="Stop">
      </command>
      <command
            categoryId="org.eclipse.launchbar.ui.category.launchBar"
            defaultHandler="org.eclipse.launchbar.ui.internal.commands.ConfigureActiveLaunchHandler"
            id="org.eclipse.launchbar.ui.command.configureActiveLaunch"
            name="Edit Active Launch Configuration">
      </command>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchBarUIContributions">
      <descriptorUI
            descriptorTypeId="org.eclipse.launchbar.core.descriptor.default"
            labelProvider="org.eclipse.launchbar.ui.DefaultDescriptorLabelProvider">
      </descriptorUI>
   </extension>
   

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.launchbar.ui.targetWizards"
            name="Launch Targets">
      </category>
      <wizard
            category="org.eclipse.launchbar.ui.targetWizards"
            class="org.eclipse.launchbar.ui.internal.target.NewLaunchTargetWizard"
            icon="icons/localTarget.png"
            id="org.eclipse.launchbar.ui.superTargetWizard"
            name="Launch Target"
            project="false">
      </wizard>

   </extension>

</plugin>
