<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionType
            id="org.eclipse.remote.Proxy"
            name="PROXY"
            scheme="proxy">
      </connectionType>
      <connectionService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionControlService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionPropertyService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyConnection$Factory"
            service="org.eclipse.remote.core.IRemoteProcessService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyFileManager$Factory"
            service="org.eclipse.remote.core.IRemoteFileService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionHostService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyConnection$Factory"
            service="org.eclipse.remote.internal.proxy.core.ProxyConnection">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyConnection$Factory"
            service="org.eclipse.remote.core.IRemoteCommandShellService">
      </connectionService>
      <processService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyProcess$Factory"
            service="org.eclipse.remote.core.IRemoteProcessControlService">
      </processService>
      <processService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyProcess$Factory"
            service="org.eclipse.remote.core.IRemoteProcessSignalService">
      </processService>
      <processService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyProcess$Factory"
            service="org.eclipse.remote.core.IRemoteProcessTerminalService">
      </processService>
      <processService
            connectionTypeId="org.eclipse.remote.Proxy"
            factory="org.eclipse.remote.internal.proxy.core.ProxyProcess$Factory"
            service="org.eclipse.remote.internal.proxy.core.ProxyProcess">
      </processService>
   </extension>
   <extension
         id="org.eclipse.remote.proxy.filesystem"
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="proxy">
         <run
               class="org.eclipse.remote.internal.proxy.core.ProxyFileSystem">
         </run>
      </filesystem>
   </extension>
</plugin>
