<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
           point="org.eclipse.ui.preferencePages">
        <page
              class="org.eclipse.remote.internal.ui.preferences.RemoteDevelopmentPreferencePage"
              id="org.eclipse.remote.ui.RemoteDevelopmentPreferencePage"
              name="%RemoteDevPrefPage.name">
        </page>
   </extension> 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.remote.ui.RemoteDevelopmentPreferencePage"
            class="org.eclipse.remote.internal.ui.preferences.ConnectionsPreferencePage"
            id="org.eclipse.remote.connections"
            name="%ConnectionsPreferencePage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.trace.traceComponents">
      <component
            id="org.eclipse.remote.core.component"
            label="Remote Core">
         <bundle
               consumed="true"
               name="org.eclipse.remote.core">
         </bundle>
      </component>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionTypeService
            connectionTypeId="org.eclipse.remote.LocalServices"
            factory="org.eclipse.remote.internal.ui.services.local.LocalUIFileService$Factory"
            service="org.eclipse.remote.ui.IRemoteUIFileService">
      </connectionTypeService>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.remote.ui.view.category.connections"
            name="%ConnectionsViewCategory.name">
      </category>
      <view
            category="org.eclipse.remote.ui.view.category.connections"
            class="org.eclipse.remote.internal.ui.views.RemoteConnectionsView"
            id="org.eclipse.remote.ui.view.connections"
            name="%ConnectionsView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.remote.internal.ui.views.RemoteConnectionsContentProvider"
            id="org.eclipse.remote.ui.navigatorContent.connections"
            labelProvider="org.eclipse.remote.internal.ui.views.RemoteConnectionsLabelProvider"
            name="%ConnectionsContent.name">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.remote.core.IRemoteServicesManager">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eclipse.remote.core.IRemoteConnection">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            class="org.eclipse.remote.internal.ui.views.RemoteConnectionsActionProvider"
            id="org.eclipse.remote.ui.actionProvider.properties">
         <enablement>
            <instanceof
                  value="org.eclipse.remote.core.IRemoteConnection">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.remote.ui.view.connections">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true">
            </property>
         </options>
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.remote.ui.view.connections">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.remote.ui.navigatorContent.connections">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.remote.ui.view.connections">
         <includes>
            <actionExtension
                  pattern="org.eclipse.remote.ui.actionProvider.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.remote.internal.ui.views.NewRemoteConnectionHandler"
            id="org.eclipse.remote.ui.command.newConnection"
            name="%NewConnectionCommand.name">
      </command>
      <command
            defaultHandler="org.eclipse.remote.internal.ui.views.DeleteRemoteConnectionHandler"
            id="org.eclipse.remote.ui.command.deleteConnection"
            name="%DeleteConnectionCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.remote.internal.ui.ServicePropertyTester"
            id="org.eclipse.remote.ui.propertyTester.hasService"
            namespace="org.eclipse.remote.ui"
            properties="hasConnectionTypeService,hasConnectionService,canDelete"
            type="org.eclipse.remote.core.IRemoteConnection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.remote.ui.view.connections">
         <command
               commandId="org.eclipse.remote.ui.command.newConnection"
               icon="icons/new_wiz.gif"
               label="%NewConnectionCommand.name"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.remote.ui.view.connections">
         <command
               commandId="org.eclipse.remote.ui.command.deleteConnection"
               label="%DeleteConnectionCommand.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <test
                           property="org.eclipse.remote.ui.canDelete">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.remote.internal.ui.views.RemoteConnectionPropertyPage"
            id="org.eclipse.remote.ui.page.connectionProperties"
            name="%ConnectionProperties.name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.remote.core.IRemoteConnection">
            </instanceof>
         </enabledWhen>
      </page>
   name</extension>

</plugin>
