<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.launchbar.core.target.ILaunchTarget"
            class="org.eclipse.launchbar.remote.core.internal.RemoteTargetAdapterFactory">
         <adapter
               type="org.eclipse.remote.core.IRemoteConnection">
         </adapter>
      </factory>
   </extension>

</plugin>
