<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.checkers.sample">

      <checker
            class="org.eclipse.cdt.codan.checkers.sample.AssignmentInConditionChecker"
            id="org.eclipse.cdt.codan.checkers.sample.AssignmentInConditionChecker"
            name="Assignment in condition">
      <problem
            defaultSeverity="Warning"
            id="org.eclipse.cdt.codan.checkers.sample.AssignmentInConditionProblem"
            name="Assignment in condition">
      </problem>
      </checker>
   </extension>
</plugin>
