<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.internal.checkers">

      <checker
            class="org.eclipse.cdt.codan.internal.checkers.AssignmentInConditionChecker"
            id="org.eclipse.cdt.codan.internal.checkers.AssignmentInConditionChecker"
            name="%checker.name.AssignmentInCondition">
      <problem
            defaultSeverity="Warning"
            description="%problem.description.AssignmentInCondition"
            id="org.eclipse.cdt.codan.internal.checkers.AssignmentInConditionProblem"
            messagePattern="%problem.messagePattern.AssignmentInCondition"
            name="%problem.name.AssignmentInCondition">
      </problem>
      
      
      </checker>
            <checker
            class="org.eclipse.cdt.codan.internal.checkers.StatementHasNoEffectChecker"
            id="org.eclipse.cdt.codan.internal.checkers.StatementHasNoEffectChecker"
            name="%checker.name.StatementHasNoEffect">
      <problem
            category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
            defaultSeverity="Warning"
            description="%problem.description.StatementHasNoEffect"
            id="org.eclipse.cdt.codan.internal.checkers.StatementHasNoEffectProblem"
            messagePattern="%problem.messagePattern.StatementHasNoEffect"
            name="%problem.name.StatementHasNoEffect"/>
      </checker>
      
      <checker
            class="org.eclipse.cdt.codan.internal.checkers.NonVirtualDestructor"
            id="org.eclipse.cdt.codan.internal.checkers.NonVirtualDescructor"
            name="%checker.name.NonVirtualDescructor">
      <problem
            category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
            defaultSeverity="Warning"
            description="%problem.description.NonVirtualDescructor"
            id="org.eclipse.cdt.codan.internal.checkers.NonVirtualDestructorProblem"
            messagePattern="%problem.messagePattern.NonVirtualDescructor"
            name="%problem.name.NonVirtualDescructor">
      </problem>
      </checker>

      <checker
            class="org.eclipse.cdt.codan.internal.checkers.CatchByReference"
            id="org.eclipse.cdt.codan.internal.checkers.CatchByReference"
            name="%checker.name.CatchByReference">
      <problem
            category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
            defaultSeverity="Warning"
            description="%problem.description.CatchByReference"
            id="org.eclipse.cdt.codan.internal.checkers.CatchByReference"
            name="%problem.name.CatchByReference"
            messagePattern="%problem.messagePattern.CatchByReference">
      </problem>
      </checker>
      <checker
            class="org.eclipse.cdt.codan.internal.checkers.SuggestedParenthesisChecker"
            id="org.eclipse.cdt.codan.internal.checkers.SuggestedParenthesisChecker"
            name="%checker.name.SuggestedParenthesis">
      <problem
            category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
            defaultSeverity="Warning"
            description="%problem.description.SuggestedParenthesis"
            id="org.eclipse.cdt.codan.internal.checkers.SuggestedParenthesisProblem"
            messagePattern="%problem.messagePattern.SuggestedParenthesis"
            name="%problem.name.SuggestedParenthesis">
      </problem>
      </checker>
      
             <checker
            class="org.eclipse.cdt.codan.internal.checkers.NamingConventionFunctionChecker"
            id="org.eclipse.cdt.codan.internal.checkers.NamingConventionFunctionChecker"
            name="%checker.name.NamingConventionFunction">
      <problem
            category="org.eclipse.cdt.codan.core.categories.CodeStyle"
            defaultEnabled="false"
            defaultSeverity="Info"
            description="%problem.description.NamingConventionFunction"
            id="org.eclipse.cdt.codan.internal.checkers.NamingConventionFunctionChecker"
            messagePattern="%problem.messagePattern.NamingConventionFunction"
            name="%problem.name.NamingConventionFunction">
      </problem>
      </checker>
             <checker
                   class="org.eclipse.cdt.codan.internal.checkers.ReturnChecker"
                   id="org.eclipse.cdt.codan.internal.checkers.ReturnChecker"
                   name="%checker.name.ReturnChecker">
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="%problem.description.NoReturnValue"
                      id="org.eclipse.cdt.codan.checkers.noreturn"
                      messagePattern="%problem.messagePattern.NoReturnValue"
                      name="%problem.name.NoReturnValue">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="%problem.description.UnusedReturnValue"
                      id="org.eclipse.cdt.codan.checkers.errreturnvalue"
                      messagePattern="%problem.messagePattern.UnusedReturnValue"
                      name="%problem.name.UnusedReturnValue">
                </problem>
                     <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Warning"
                      description="%problem.description.NoReturn"
                      id="org.eclipse.cdt.codan.checkers.errnoreturn"
                      messagePattern="%problem.messagePattern.NoReturn"
                      name="%problem.name.NoReturn">
                </problem>
             </checker>
             <checker
                   class="org.eclipse.cdt.codan.internal.checkers.ProblemBindingChecker"
                   id="org.eclipse.cdt.codan.internal.checkers.ProblemBindingChecker"
                   name="Problem Binding Checker">
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.VariableResolutionProblem"
                      messagePattern="Symbol &apos;&apos;{0}&apos;&apos; could not be resolved"
                      name="Variable resolution problem">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.OverloadProblem"
                      messagePattern="Invalid overload of {0}"
                      name="Overload problem">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.AmbiguousProblem"
                      messagePattern="{0} is ambiguous {1}"
                      name="Ambiguous problem">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.CircularReferenceProblem"
                      messagePattern="Circular inheritance encountered in {0}"
                      name="Circular reference problem">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.RedeclarationProblem"
                      messagePattern="Invalid redeclaration of {0}"
                      name="Redeclaration problem">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.RedefinitionProblem"
                      messagePattern="Invalid redefinition of {0}"
                      name="Redefinition problem">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.MemberDeclarationNotFoundProblem"
                      messagePattern="Member declaration not found"
                      name="Member declaration not found">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.LabelStatementNotFoundProblem"
                      messagePattern="{0} : label not found"
                      name="Label statement not found">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.InvalidTemplateArgumentsProblem"
                      messagePattern="Invalid template arguments"
                      name="Invalid template argument">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.TypeResolutionProblem"
                      messagePattern="{0} type could not be resolved"
                      name="Type resolution problem">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.FunctionResolutionProblem"
                      messagePattern="{0} : function could not be resolved"
                      name="Function resolution problem">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.InvalidArguments"
                      messagePattern="Invalid arguments {0}"
                      name="Invalid arguments problem">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.MethodResolutionProblem"
                      messagePattern="{0} : method could not be resolved"
                      name="Method resolution problem">
                </problem>
                <problem
                      category="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                      defaultEnabled="true"
                      defaultSeverity="Error"
                      description="Name resolution problem found by the indexer"
                      id="org.eclipse.cdt.codan.internal.checkers.FieldResolutionProblem"
                      messagePattern="{0} : field could not be resolved"
                      name="Field resolution problem">
                </problem>
             </checker>
   </extension>
</plugin>
