<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="cpp,c,h,cxx,cc,hxx,hpp"
            id="org.eclipse.lsp4e.languages.cpp"
            name="%content-type.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.lsp4e.cpp.language.CPPStreamConnectionProvider"
            id="org.eclipse.lsp4e.languages.cpp"
            label="%server.label"
            clientImpl="org.eclipse.lsp4e.cpp.language.Server2ClientProtocolExtension" >
      </server>
      <contentTypeMapping
            contentType="org.eclipse.lsp4e.languages.cpp"
            id="org.eclipse.lsp4e.languages.cpp">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.lsp4e.languages.cpp"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.lsp4e.cpp.language.PresentationReconcilerCPP"
            contentType="org.eclipse.lsp4e.languages.cpp">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.lsp4e.cpp.language.CPPLanguageServerPreferencePage"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            id="org.eclipse.lsp4e.cpp.language.CPPLanguageServerPreferencePage"
            name="%PreferencePageTitle">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.lsp4e.cpp.language.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
