<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="cpp,c,h,cxx,cc,hxx,hpp"
            id="org.eclipse.lsp4e.languages.cpp"
            name="%content-type.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.lsp4e.cpp.language.CPPLanguageServer"
            id="org.eclipse.lsp4e.languages.cpp"
            label="%server.label">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.lsp4e.languages.cpp"
            id="org.eclipse.lsp4e.languages.cpp">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.lsp4e.languages.cpp"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.lsp4e.cpp.language.PresentationReconcilerCPP"
            contentType="org.eclipse.lsp4e.languages.cpp">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.lsp4e.cpp.language.commands.reindex"
            name="%reindex.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.lsp4e.cpp.language.ReindexHandler"
            commandId="org.eclipse.lsp4e.cpp.language.commands.reindex">
         <activeWhen>
               <with
                     variable="selection">
                           <count
                                 value="1">
                           </count>
                           <iterate
                                 ifEmpty="false"
                                 operator="and">
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.lsp4e.cpp.language.hasServer"
                                    value="org.eclipse.lsp4e.languages.cpp">
                              </test>
                           </iterate>
               </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.lsp4e.cpp.language.commands.reindex"
               label="%reindex.command.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.lsp4e.cpp.language.LanguageServerPropertyTester"
            id="org.eclipse.lsp4e.cpp.language.propertyTester"
            namespace="org.eclipse.lsp4e.cpp.language"
            properties="hasServer"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
