<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
Copyright (c) 2006 Symbian Software Ltd. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html
  
Contributors:
   Javier Montalvo Orús (Symbian) - initial API and implementation
-->

<plugin>

	<extension
       point="org.eclipse.rse.ui.newConnectionWizardDelegates">
   	  <newConnectionWizardDelegate 
   	  		class="org.eclipse.rse.discovery.ServiceDiscoveryWizardDelegate"
    		systemType="org.eclipse.rse.systemtype.discovery"/>
   </extension>
  
   <extension
         point="org.eclipse.rse.core.systemTypes">
	   <systemType id="org.eclipse.rse.systemtype.discovery"
            name="Discovery"
			description="Discovery"
			iconLive=""/>
	</extension>
    
    <extension
         point="org.eclipse.rse.ui.subsystemConfigurations">
      <configuration
            systemTypeIds="org.eclipse.rse.systemtype.discovery"
            name="Discovery"
            description="Service Discovery Wizard"
            iconlive=""
            icon=""
            class="org.eclipse.rse.discovery.ServiceDiscoverySubSystemConfiguration"
            vendor="%providerName"
            priority="100"
            id="Discovery">
      </configuration>
      </extension>
    
</plugin>



