<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/intro/overviewExtensionContent.xml"/>  
         
      <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/intro/tutorialsExtensionContent.xml"/>  
      
      <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/intro/samplesExtensionContent.xml"/>
            
     <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/intro/whatsNewExtensionContent.xml"/>

   </extension>
   
   <!--extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            name="%cheatsheet.helloworld.name"
            contentFile="$nl$/cheatsheets/HelloWorld.xml"
            id="org.eclipse.cdt.helloworld">
         <description>%cheatsheet.helloworld.desc</description>
      </cheatsheet>
    
   </extension-->
   
</plugin>
