<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.cdt"
   name="%pluginName"
   version="2.0.3"
   provider-name="%providerName">
  <requires>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.ui.cheatsheets"/>
   </requires>

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/overviewExtensionContent.xml"/>  
         
      <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/tutorialsExtensionContent.xml"/>  
      
      <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/samplesExtensionContent.xml"/>
            
     <configExtension
            configId="org.eclipse.platform.introConfig"
            content="$nl$/whatsNewExtensionContent.xml"/>

   </extension>
   
   <!--extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            name="%cheatsheet.helloworld.name"
            contentFile="$nl$/cheatsheets/HelloWorld.xml"
            id="org.eclipse.cdt.helloworld">
         <description>%cheatsheet.helloworld.desc</description>
      </cheatsheet>
    
   </extension-->
   <runtime>
   </runtime>

</plugin>
