<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            id="org.eclipse.cdt.dsf.gdb.launch.localCLaunch"
            type="org.eclipse.cdt.launch.applicationLaunchType"
            modes="debug"
            delegate="org.eclipse.cdt.dsf.gdb.launching.GdbLaunchDelegate"
            name="%launchDelegate.localApplication.name"
            delegateDescription="%launchDelegate.localApplication.description"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchDelegate>
      <launchDelegate
            id="org.eclipse.cdt.dsf.gdb.launch.remoteCLaunch"
            type="org.eclipse.cdt.launch.applicationLaunchType"
            modes="debug"
            delegate="org.eclipse.cdt.dsf.gdb.launching.GdbLaunchDelegate"
            name="%launchDelegate.remoteApplication.name"
            delegateDescription="%launchDelegate.remoteApplication.description"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchDelegate>
      <launchDelegate
            id="org.eclipse.cdt.dsf.gdb.launch.attachCLaunch"
            type="org.eclipse.cdt.launch.attachLaunchType"
            modes="debug"
            delegate="org.eclipse.cdt.dsf.gdb.launching.GdbAttachLaunchDelegate"
            name="%launchDelegate.attach.name"
            delegateDescription="%launchDelegate.attach.description"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchDelegate>
      <launchDelegate
            id="org.eclipse.cdt.dsf.gdb.launch.coreCLaunch"
            type="org.eclipse.cdt.launch.postmortemLaunchType"
            modes="debug"
            delegate="org.eclipse.cdt.dsf.gdb.launching.GdbLaunchDelegate"
            name="%launchDelegate.postmortem.name"
            delegateDescription="%launchDelegate.postmortem.description"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchDelegate>
   </extension>
   
   <extension
         point="org.eclipse.cdt.debug.core.BreakpointExtension">
      <breakpointExtension
            class="org.eclipse.cdt.dsf.gdb.breakpoints.CBreakpointGdbThreadsFilterExtension"
            debugModelId="org.eclipse.cdt.dsf.gdb"
            id="org.eclipse.cdt.dsf.gdb.threadFilter"
            markerType="org.eclipse.cdt.debug.core.cBreakpointMarker">
      </breakpointExtension>
   </extension>

   <!-- Binding debug model ids to context. Use the same bindings as CDT -->
   <extension point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding 
         contextId="org.eclipse.cdt.debug.ui.debugging"
         debugModelId="org.eclipse.cdt.dsf.gdb"/>
   </extension>
   
</plugin>
