<?eclipse version="3.0"?>
<plugin>
 
<extension point="org.eclipse.debug.ui.memoryRenderings">
    <renderingType 
        name="Traditional"
        id="org.eclipse.dd.debug.memory.renderings.traditional.TraditionalRendering"
        class="org.eclipse.dd.debug.memory.renderings.traditional.TraditionalRenderingTypeDelegate">
    </renderingType>
    <renderingBindings
        renderingIds="org.eclipse.dd.debug.memory.renderings.traditional.TraditionalRendering"
        defaultIds="org.eclipse.dd.debug.memory.renderings.traditional.TraditionalRendering">
        <enablement>
            <instanceof value="org.eclipse.debug.core.model.IMemoryBlockExtension"/>
        </enablement>    
    </renderingBindings>          
</extension>

<extension
      point="org.eclipse.ui.preferencePages">
   <page
         category="org.eclipse.debug.ui.DebugPreferencePage"
         class="org.eclipse.dd.debug.memory.renderings.traditional.TraditionalRenderingPreferencePage"
         id="org.eclipse.dd.debug.memory.renderings.traditional.TraditionalRenderingPreferencePage"
         name="Traditional Memory Rendering"/>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer class="org.eclipse.dd.debug.memory.renderings.traditional.TraditionalRenderingPreferenceInitializer"/>
</extension>

<extension point="org.eclipse.ui.viewActions">
    <viewContribution
            targetID="org.eclipse.debug.ui.MemoryView"
            id="org.eclipse.debug.ui.memoryView.toolbar">
         <action
               class="org.eclipse.dd.debug.memory.renderings.traditional.TraditionalRenderingPreferenceAction"
               helpContextId="TraditionalRenderingPreferenceAction_context"
               id="org.eclipse.dd.debug.memory.renderings.traditional.preferenceaction"
               label="%TraditionalRenderingPreferenceActionName"
               menubarPath="additions"
               style="push"
               tooltip="%TraditionalRenderingPreferenceActionName"/>
	</viewContribution>
</extension>

</plugin>


