<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.cdt.ui.tests"
   name="org.eclipse.cdt.ui.tests"
   version="2.1.0"
   class="org.eclipse.cdt.testplugin.CTestPlugin">

   <runtime>
      <library name="cdtuitests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.cdt.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.cdt.core.tests"/>
      <import plugin="org.eclipse.help"/>
   </requires>

   <extension
         point="org.eclipse.cdt.ui.CHelpProvider">
      <provider
         class="org.eclipse.cdt.ui.tests.chelp.CHelpTestInfoProvider"
         id="org.eclipse.cdt.ui.tests.chelp.extension.1"/>
      <provider
         class="org.eclipse.cdt.ui.tests.chelp.CHelpTestInfoProvider"
         id="org.eclipse.cdt.ui.tests.chelp.extension.2"/>
      <provider
         class="org.eclipse.cdt.ui.tests.chelp.CHelpTestInfoProvider"
         id="org.eclipse.cdt.ui.tests.chelp.extension.3"/>

   </extension>


</plugin>
