<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.ui.tests"
   name="org.eclipse.cdt.ui.tests"
   version="1.0.1"
   class="org.eclipse.cdt.testplugin.CTestPlugin">

   <runtime>
      <library name="cdtuitests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.boot"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.cdt.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.update.core"/>
   </requires>


   <extension
         id="buildTest"
         name="Tools for Build Test"
         point="org.eclipse.cdt.core.ManagedBuildInfo">
      <target
            name="Linux"
            isAbstract="true"
            id="linux">
         <tool
               name="Compiler"
               id="linux.compiler">
            <optionCategory
                  owner="linux.compiler"
                  name="Optimization Options"
                  id="linux.compiler.optimization">
            </optionCategory>
            <option
                  name="Compiler Flags"
                  type="string"
                  id="linux.compiler.flags">
            </option>
            <option
                  name="Optimization Flags"
                  default="-O"
                  type="string"
                  category="linux.compiler.optimization"
                  id="linux.compiler.optimizationFlags">
            </option>
         </tool>
      </target>
      <target
            name="Linux Executable"
            parent="linux"
            isAbstract="false"
            id="linux.exec">
         <tool
               name="Linker"
               id="org.eclipse.cdt.ui.tests.tool.linux.link">
         </tool>
         <configuration
               name="Release"
               id="linux.exec.release">
         </configuration>
         <configuration
               name="Debug"
               id="linux.exec.debug">
         </configuration>
      </target>
      <target
            name="Linux Shared Library"
            parent="linux"
            isAbstract="false"
            id="linux.so">
         <tool
               name="Linker"
               id="org.eclipse.cdt.ui.tests.tool.linux.solink">
         </tool>
      </target>
      <target
            name="Linux Static Library"
            parent="linux"
            isAbstract="false"
            id="linux.lib">
         <tool
               name="Archiver"
               id="org.eclipse.cdt.ui.tests.tool.linux.ar">
         </tool>
      </target>
      <target
            name="Test Root"
            isAbstract="false"
            id="test.root">
         <tool
               name="Root Tool"
               id="root.tool">
            <optionCategory
                  owner="root.tool"
                  name="Category"
                  id="category">
            </optionCategory>
            <option
                  name="Option in Top"
                  id="topOption">
            </option>
            <option
                  name="Option in Category"
                  category="category"
                  id="childOption">
            </option>
         </tool>
         <configuration
               name="Root Config"
               id="root.config">
         </configuration>
         <configuration
               name="Root Override Config"
               id="root.override.config">
            <toolRef
                  id="root.tool">
               <optionRef
                     value="x"
                     id="topOption">
               </optionRef>
            </toolRef>
         </configuration>
      </target>
      <target
            name="Test Sub"
            parent="test.root"
            isAbstract="false"
            id="test.sub">
         <configuration
               name="Sub Config"
               id="sub.config">
         </configuration>
         <tool
               name="Sub Tool"
               id="tool.sub">
         </tool>
      </target>
   </extension>

</plugin>
