<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.visualizer.ui.visualizer">
      <visualizer
            class="org.eclipse.cdt.dsf.gdb.multicorevisualizer.epiphany.ui.view.EpiphanyVisualizer"
            id="org.eclipse.cdt.dsf.gdb.multicorevisualizer.epiphany.ui">
      </visualizer>
   </extension>

</plugin>
