<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.xlupc.exe"
            id="cdt.managedbuild.target.xlupc.exe"
            isAbstract="false"
            isTest="false"
            name="%TargetName.xlupc.exe"
            projectMacroSupplier="org.eclipse.cdt.managedbuilder.xlc.ui.XLCProjectMacroSupplier">
         <configuration
               artifactExtension="exe"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
               id="cdt.managedbuild.config.xlupc.exe.debug"
               name="%ConfigName.Dbg">
            <toolChain
                  archList="all"
                  configurationEnvironmentSupplier="org.eclipse.cdt.managedbuilder.xlc.aix.AixConfigurationEnvironmentSupplier"
                  id="cdt.managedbuild.toolchain.xlupc.exe.debug"
                  name="%ToolChainName.Upc"
                  osList="all"
                  targetTool="cdt.managedbuild.tool.linker.xlupc.exe.debug">
               <targetPlatform
                     archList="all"
                     id="cdt.managedbuild.targetplatform.xlupc.exe.debug"
                     name="%PlatformName.Dbg"
                     osList="all">
               </targetPlatform>
               <builder
                     id="cdt.managedbuild.builder.xlupc.exe.debug"
                     superClass="cdt.managedbuild.target.gnu.builder">
               </builder>
               <tool
                     id="cdt.managedbuild.tool.compiler.xlupc.exe.debug"
                     superClass="org.eclipse.cdt.managedbuilder.xlupc.ui.compiler">
                  <option
                        defaultValue="xlc.c.optimization.level.none"
                        id="cdt.managedbuild.compiler.option.xlupc.exe.debug.optimization.level"
                        superClass="xlc.c.compiler.option.optimization.level">
                  </option>
                  <option
                        defaultValue="true"
                        id="cdt.managedbuild.compiler.option.xlupc.exe.debug.debugging.g"
                        superClass="xlc.c.compiler.option.ecd.g">
                  </option>
               </tool>
               <tool
                     id="cdt.managedbuild.tool.linker.xlupc.exe.debug"
                     superClass="cdt.managedbuild.tool.xlupc.linker.exe">
               </tool>
               <tool
                     id="cdt.managedbuild.tool.assembler.xlupc.exe.debug"
                     superClass="cdt.managedbuild.tool.xlc.assembler">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               artifactExtension="exe"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
               id="cdt.managedbuild.config.xlupc.exe.release"
               name="%ConfigName.Rel">
            <toolChain
                  archList="all"
                  configurationEnvironmentSupplier="org.eclipse.cdt.managedbuilder.xlc.aix.AixConfigurationEnvironmentSupplier"
                  id="cdt.managedbuild.toolchain.xlupc.exe.release"
                  name="%ToolChainName.Upc"
                  osList="all"
                  targetTool="cdt.managedbuild.tool.linker.xlupc.exe.release">
               <targetPlatform
                     archList="all"
                     id="cdt.managedbuild.targetplatform.xlupc.exe.release"
                     name="%PlatformName.Rel"
                     osList="all">
               </targetPlatform>
               <builder
                     id="cdt.managedbuild.builder.xlupc.exe.release"
                     superClass="cdt.managedbuild.target.gnu.builder">
               </builder>
               <tool
                     id="cdt.managedbuild.tool.compiler.xlupc.exe.release"
                     superClass="org.eclipse.cdt.managedbuilder.xlupc.ui.compiler">
                  <option
                        defaultValue="xlc.c.optimization.level.Level5"
                        id="cdt.managedbuild.compiler.option.xlupc.exe.release.optimization.level"
                        superClass="xlc.c.compiler.option.optimization.level">
                  </option>
                  <option
                        defaultValue="false"
                        id="cdt.managedbuild.compiler.option.xlupc.exe.release.debugging.g"
                        superClass="xlc.c.compiler.option.ecd.g">
                  </option>
               </tool>
               <tool
                     id="cdt.managedbuild.tool.linker.xlupc.exe.release"
                     superClass="cdt.managedbuild.tool.xlupc.linker.exe">
               </tool>
               <tool
                     id="cdt.managedbuild.tool.assembler.xlupc.exe.release"
                     superClass="cdt.managedbuild.tool.xlc.assembler">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.xlupc.sharedLib"
            id="cdt.managedbuild.target.xlupc.so"
            isAbstract="false"
            isTest="false"
            name="%TargetName.xlupc.so"
            projectMacroSupplier="org.eclipse.cdt.managedbuilder.xlc.ui.XLCProjectMacroSupplier">
         <configuration
               artifactExtension="so"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
               id="cdt.managedbuild.config.xlupc.so.debug"
               name="%ConfigName.Dbg">
            <toolChain
                  id="cdt.managedbuild.toolchain.xlupc.so.debug"
                  name="%ToolChainName.Upc"
                  targetTool="cdt.managedbuild.tool.linker.xlupc.so.debug">
               <targetPlatform
                     archList="all"
                     id="cdt.managedbuild.targetplatform.xlupc.so.debug"
                     name="%PlatformName.Dbg"
                     osList="all">
               </targetPlatform>
               <builder
                     id="cdt.managedbuild.builder.xlupc.so.debug"
                     superClass="cdt.managedbuild.target.gnu.builder">
               </builder>
               <tool
                     id="cdt.managedbuild.tool.compiler.xlupc.so.debug"
                     superClass="org.eclipse.cdt.managedbuilder.xlupc.ui.compiler">
                  <option
                        defaultValue="xlc.c.optimization.level.none"
                        id="cdt.managedbuild.compiler.option.xlupc.so.debug.optimization.level"
                        superClass="xlc.c.compiler.option.optimization.level">
                  </option>
                  <option
                        defaultValue="true"
                        id="cdt.managedbuild.compiler.option.xlupc.so.debug.debugging.g"
                        superClass="xlc.c.compiler.option.ecd.g">
                  </option>
               </tool>
               <tool
                     id="cdt.managedbuild.tool.linker.xlupc.so.debug"
                     superClass="cdt.managedbuild.tool.xlupc.linker.so">
               </tool>
               <tool
                     id="cdt.managedbuild.tool.assembler.xlupc.so.debug"
                     superClass="cdt.managedbuild.tool.xlc.assembler">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               artifactExtension="so"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
               id="cdt.managedbuild.config.xlupc.so.release"
               name="%ConfigName.Rel">
            <toolChain
                  id="cdt.managedbuild.toolchain.xlupc.so.release"
                  name="%ToolChainName.Upc"
                  targetTool="cdt.managedbuild.tool.linker.xlupc.so.release">
               <targetPlatform
                     archList="all"
                     id="cdt.managedbuild.targetplatform.xlupc.so.release"
                     name="%PlatformName.Rel"
                     osList="all">
               </targetPlatform>
               <builder
                     id="cdt.managedbuild.builder.xlupc.so.release"
                     superClass="cdt.managedbuild.target.gnu.builder">
               </builder>
               <tool
                     id="cdt.managedbuild.tool.compiler.xlupc.so.release"
                     superClass="org.eclipse.cdt.managedbuilder.xlupc.ui.compiler">
                  <option
                        defaultValue="xlc.c.optimization.level.Level5"
                        id="cdt.managedbuild.compiler.option.xlupc.so.release.optimization.level"
                        superClass="xlc.c.compiler.option.optimization.level">
                  </option>
                  <option
                        defaultValue="false"
                        id="cdt.managedbuild.compiler.option.xlupc.so.release.debugging.g"
                        superClass="xlc.c.compiler.option.ecd.g">
                  </option>
               </tool>
               <tool
                     id="cdt.managedbuild.tool.linker.xlupc.so.release"
                     superClass="cdt.managedbuild.tool.xlupc.linker.so">
               </tool>
               <tool
                     id="cdt.managedbuild.tool.assembler.xlupc.so.release"
                     superClass="cdt.managedbuild.tool.xlc.assembler">
               </tool>
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.xlupc.staticLib"
            id="cdt.managedbuild.target.xlupc.lib"
            isAbstract="false"
            isTest="false"
            name="%TargetName.xlupc.lib"
            projectMacroSupplier="org.eclipse.cdt.managedbuilder.xlc.ui.XLCProjectMacroSupplier">
         <configuration
               artifactExtension="lib"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
               id="cdt.managedbuild.config.xlupc.lib.debug"
               name="%ConfigName.Dbg">
            <toolChain
                  id="cdt.managedbuild.toolchain.xlupc.lib.debug"
                  name="%ToolChainName.Upc"
                  targetTool="cdt.managedbuild.tool.archiver.xlupc.lib.debug">
               <targetPlatform
                     archList="all"
                     id="cdt.managedbuild.targetplatform.xlupc.lib.debug"
                     name="%PlatformName.Dbg"
                     osList="all">
               </targetPlatform>
               <builder
                     id="cdt.managedbuild.builder.xlupc.lib.debug"
                     superClass="cdt.managedbuild.target.gnu.builder">
               </builder>
               <tool
                     id="cdt.managedbuild.tool.compiler.xlupc.lib.debug"
                     superClass="org.eclipse.cdt.managedbuilder.xlupc.ui.compiler">
                  <option
                        defaultValue="xlc.c.optimization.level.none"
                        id="cdt.managedbuild.compiler.option.xlupc.lib.debug.optimization.level"
                        superClass="xlc.c.compiler.option.optimization.level">
                  </option>
                  <option
                        defaultValue="true"
                        id="cdt.managedbuild.compiler.option.xlupc.lib.debug.debugging.g"
                        superClass="xlc.c.compiler.option.ecd.g">
                  </option>
               </tool>
               <tool
                     id="cdt.managedbuild.tool.archiver.xlupc.lib.debug"
                     superClass="cdt.managedbuild.tool.xlc.archiver">
               </tool>
               <tool
                     id="cdt.managedbuild.tool.assembler.xlupc.lib.debug"
                     superClass="cdt.managedbuild.tool.xlc.assembler">
               </tool>
            </toolChain>
         </configuration>
         <configuration
               artifactExtension="lib"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.errorparsers.xlc.XlcErrorParser"
               id="cdt.managedbuild.config.xlupc.lib.release"
               name="%ConfigName.Rel">
            <toolChain
                  id="cdt.managedbuild.toolchain.xlupc.lib.release"
                  name="%ToolChainName.Upc"
                  targetTool="cdt.managedbuild.tool.archiver.xlupc.lib.release">
               <targetPlatform
                     archList="all"
                     id="cdt.managedbuild.targetplatform.xlupc.lib.release"
                     name="%PlatformName.Rel"
                     osList="all">
               </targetPlatform>
               <builder
                     id="cdt.managedbuild.builder.xlupc.lib.release"
                     superClass="cdt.managedbuild.target.gnu.builder">
               </builder>
               <tool
                     id="cdt.managedbuild.tool.compiler.xlupc.lib.release"
                     superClass="org.eclipse.cdt.managedbuilder.xlupc.ui.compiler">
                  <option
                        defaultValue="xlc.c.optimization.level.Level5"
                        id="cdt.managedbuild.compiler.option.xlupc.lib.release.optimization.level"
                        superClass="xlc.c.compiler.option.optimization.level">
                  </option>
                  <option
                        defaultValue="false"
                        id="cdt.managedbuild.compiler.option.xlupc.lib.release.debugging.g"
                        superClass="xlc.c.compiler.option.ecd.g">
                  </option>
               </tool>
               <tool
                     id="cdt.managedbuild.tool.archiver.xlupc.lib.release"
                     superClass="cdt.managedbuild.tool.xlc.archiver">
               </tool>
               <tool
                     id="cdt.managedbuild.tool.assembler.xlupc.lib.release"
                     superClass="cdt.managedbuild.tool.xlc.assembler">
               </tool>
            </toolChain>
         </configuration>
      </projectType>

    <tool
          command="${XL_compilerRoot}/xlupc"
          id="cdt.managedbuild.tool.xlupc.linker.exe"
          isAbstract="false"
          name="%tool.linker.exe.name"
          natureFilter="cnature"
          superClass="cdt.managedbuild.tool.xlc.c.linker">
    </tool>
    <tool
          id="cdt.managedbuild.tool.xlupc.linker.so"
          isAbstract="false"
          name="%tool.linker.so.name">
    </tool>
      
      
      <tool
            command="${XL_compilerRoot}/xlupc"
            id="org.eclipse.cdt.managedbuilder.xlupc.ui.compiler.abstract"
            isAbstract="true"
            name="%tool.compiler.abstract.name"
            natureFilter="cnature"
            outputFlag="-o"
            superClass="cdt.managedbuild.tool.xlc.c.compiler.abstract">
         <optionCategory
               id="org.eclipse.cdt.managedbuilder.xlupc.ui.optionCategory.upc"
               name="%OptionCategory.upc">
         </optionCategory>
         <option
               category="org.eclipse.cdt.managedbuilder.xlupc.ui.optionCategory.upc"
               id="org.eclipse.cdt.managedbuilder.xlupc.ui.qsourcetype"
               isAbstract="false"
               name="%Option.qsourcetype"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.qsourcetype.empty"
                  isDefault="true"
                  name="">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-qsourcetype=default"
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.qsourcetype.default"
                  name="%Option.qsourcetype.default">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-qsourcetype=upc"
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.qsourcetype.upc"
                  name="%Option.qsourcetype.upc">
            </enumeratedOptionValue>
         </option>
         <option
               category="org.eclipse.cdt.managedbuilder.xlupc.ui.optionCategory.upc"
               id="org.eclipse.cdt.managedbuilder.xlupc.ui.runtime"
               isAbstract="false"
               name="%Option.runtime"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.runtime.empty"
                  isDefault="true"
                  name="">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-qupc=rts=default"
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.runtime.default"
                  name="%Option.runtime.default">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-qupc=rts=lapi"
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.runtime.lapi"
                  name="%Option.runtime.lapi">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-qupc=rts=smp"
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.runtime.smp"
                  name="%Option.runtime.smp">
            </enumeratedOptionValue>
         </option>
         <option
               category="org.eclipse.cdt.managedbuilder.xlupc.ui.optionCategory.upc"
               id="org.eclipse.cdt.managedbuilder.xlupc.ui.compilation"
               isAbstract="false"
               name="%Option.compilation"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.compilation.empty"
                  isDefault="true"
                  name="">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-q32"
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.compilation.q32"
                  name="%Option.compilation.q32">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-q64"
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.compilation.q64"
                  name="%Option.compilation.q64">
            </enumeratedOptionValue>
         </option>
         <option
               category="org.eclipse.cdt.managedbuilder.xlupc.ui.optionCategory.upc"
               command="-qupc=threads="
               id="org.eclipse.cdt.managedbuilder.xlupc.ui.threads"
               isAbstract="false"
               name="%Option.threads"
               valueType="string">
         </option>
        
      </tool>
      <tool
            id="org.eclipse.cdt.managedbuilder.xlupc.ui.compiler"
            isAbstract="false"
            name="%tool.compiler.name"
            superClass="org.eclipse.cdt.managedbuilder.xlupc.ui.compiler.abstract">
            <inputType
                  dependencyContentType="org.eclipse.cdt.core.cHeader"
                  dependencyExtensions="h"
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.inputType.upc"
                  name="%inputType.upc.name"
                  primaryInput="true"
                  scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.xlc.core.XLCManagedMakePerProjectProfile"
                  sourceContentType="org.eclipse.cdt.core.parser.upc.upcSource"
                  sources="upc">
         </inputType>
            <inputType
                  dependencyContentType="org.eclipse.cdt.core.cHeader"
                  dependencyExtensions="h"
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.inputType.c"
                  name="%inputType.c.name"
                  primaryInput="true"
                  scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.xlc.core.XLCManagedMakePerProjectProfile"
                  sourceContentType="org.eclipse.cdt.core.cSource"
                  sources="c">
            </inputType>
            <outputType
                  buildVariable="OBJS"
                  id="org.eclipse.cdt.managedbuilder.xlupc.ui.outputType.objectFile"
                  outputs="o">
            </outputType>
      </tool>
   </extension>
   <extension
         point="org.eclipse.cdt.managedbuilder.ui.newWizardPages">
      <wizardPage
            ID="org.eclipse.cdt.managedbuilder.xlupc.ui.wizards.XLUpcSettingsWizardPage"
            operationClass="org.eclipse.cdt.managedbuilder.xlupc.ui.wizards.XLUpcSettingsWizardRunnable"
            pageClass="org.eclipse.cdt.managedbuilder.xlupc.ui.wizards.XLUpcSettingsWizardPage">
         <projectType
               projectTypeID="cdt.managedbuild.target.xlupc.exe">
         </projectType>
         <projectType
               projectTypeID="cdt.managedbuild.target.xlupc.so">
         </projectType>
         <projectType
               projectTypeID="cdt.managedbuild.target.xlupc.lib">
         </projectType>
      </wizardPage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="cdt.managedbuild.wizardcategory.upc"
            name="%category.name.1">
      </category>
      <wizard
            canFinishEarly="false"
            category="cdt.managedbuild.wizardcategory.upc"
            class="org.eclipse.cdt.managedbuilder.xlupc.ui.wizards.UpcProjectWizard"
            hasPages="true"
            icon="icons/c-project.gif"
            id="cdt.managedbuilder.wizard.upc"
            name="%wizard.name.1"
            project="true">
      </wizard>
   </extension>
   <extension
         id="baseProperties"
         name="%extension.name"
         point="org.eclipse.cdt.managedbuilder.core.buildProperties">
      <propertyValue
            id="org.eclipse.cdt.build.core.buildArtefactType.xlupc.exe"
            name="%BuildProperty.type.name.xlupc.executable"
            property="org.eclipse.cdt.build.core.buildArtefactType">
      </propertyValue>
      <propertyValue
            id="org.eclipse.cdt.build.core.buildArtefactType.xlupc.staticLib"
            name="%BuildProperty.type.name.xlupc.staticLibrary"
            property="org.eclipse.cdt.build.core.buildArtefactType">
      </propertyValue>
      <propertyValue
            id="org.eclipse.cdt.build.core.buildArtefactType.xlupc.sharedLib"
            name="%BuildProperty.type.name.xlupc.sharedLibrary"
            property="org.eclipse.cdt.build.core.buildArtefactType">
      </propertyValue>
   </extension>

</plugin>
