<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006 IBM Corporation. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html

Initial Contributors:
The following IBM employees contributed to the Remote System Explorer
component that contains this file: David McKnight, Kushal Munir, 
Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

Contributors:
{Name} (company) - description of contribution.
-->
<?eclipse version="3.1"?>
<plugin>

<!-- ================================================================================== -->
<!-- EXTENSION POINT: org.eclipse.rse.ui.subsystemConfigurations                      -->
<!-- ================================================================================== -->
<!-- Extension point for defining subsystem factories. A configuration is responsible for     -->
<!--  creating subsystem instances.                                                     -->
<!--                                                                                    -->
<!-- Example of extension configuration:                                                -->
<!--   <extension                                                                       -->
<!--      point="org.eclipse.rse.ui.subsystemConfigurations">                            -->
<!--      <configuration                                                                -->
<!--         systemTypeIds="org.eclipse.rse.systemtype.local;org.eclipse.rse.systemtype.unix"-->
<!--         supportsAllSystemTypes="false"                                             -->
<!--         name="Files"                                                               -->
<!--         description="This subsystem allows you to work with files on local or remote systems."-->
<!--         icon="icons/filesubsys.gif"                                                -->
<!--         iconlive="icons/filesubsyslive.gif"                                        -->
<!--         id="com.acme.etools.mypkg.myconfiguration"                                       -->
<!--         class="com.acme.etools.mypkg.MyClass"                                      -->
<!--         category="files"                                                           -->
<!--         vendor="ACME"                                                              -->
<!--      >                                                                             -->
<!--      </configuration>                                                                    -->
<!--   </extension>                                                                     -->
<!-- Each extension can contain multiple configuration tags that identify a subsystem configuration -->
<!--                                                                                    -->
<!-- <configuration> tag attributes:                                                          -->
<!-- ================================================================================== -->
<!--  systemTypes => semicolon-separated list of system types or * for all              -->
<!--  class       => class implementing org.eclipse.rse.subsystems.SubSystemFactory -->
<!--  category    => optionally identifies category to allow efficient subsetting of    -->
<!--                  connection lists. Pre-defined categories are "files", "cmds" and  -->
<!--                  "jobs". Can also specify your own category like "database"        -->
<!--  icon        => icon to display for subsystems of this configuration when not connected  -->
<!--  iconlive    => icon to display for subsystems of this configuration when connected      -->
<!--  name        => translatable display name for subsystems of this configuration     -->
<!--  description => translatable descriptin for subsystems of this configuration       -->
<!--  id          => unique id for this extension point. Will be used for a folder name -->
<!--  vendor      => name of company supplying this configuration                       -->
<!--  systemClass => OBSOLETE - Removed in OpenRSE.                                     -->
<!--      Was only used when naming a predefined subsystem configuration                -->
<!--      in the <samp>class</samp> attribute, when you want to subclass or replace the -->
<!--      predefined IConnectorService object used to manage the live connection with   -->
<!--      the remote system. Name a class that implements                               -->
<!--        org.eclipse.rse.core.subsystems.IConnectorService or extends the appropriate     -->
<!--      predefined class such as org.eclipse.rse.universal.UniversalSystem            -->
<!--      for unix, windows and system types.                                           -->
<!-- ================================================================================== -->
<!--                                                                                    -->
<!-- For systemTypes, if you specify * for all, you still have a chance at runtime to   -->
<!--  not create a subsystem for a given system type. Simply return false from your     -->
<!--  appliesToSystemType method.                                                       -->
<!--                                                                                    -->
<!--                                                                                    -->
<!-- ================================================================================== -->

   <extension-point id="subsystemConfigurations" name="%extPoint.subsystemConfigurations" schema="schema/subsystemConfigurations.exsd"/>



<!-- ================================================================================== -->
<!-- EXTENSION POINT: org.eclipse.rse.ui.remoteSystemsViewPreferencesActions   -->
<!-- ================================================================================== -->
<!-- Extension point for defining actions that appear in the cascading Preferences menu -->
<!--  in the local pulldown menu for the Remote Systems view. These actions should      -->
<!--  take the directly to a preference page root, as a shortcut to navigating the      -->
<!--  Windows->Preferences preferences dialog. The action's class should extend the     -->
<!--  class org.eclipse.rse.ui.actions.SystemBasePreferencesPageAction.     -->
<!--                                                                                    -->
<!-- Example of extension configuration:												-->
<!-- 	<extension point="org.eclipse.rse.ui.remoteSystemsViewPreferencesActions"> -->
<!-- 		<action																		-->
<!--			id="com.acme.showMyPreferencePage"         								-->
<!--			label="My Preferences"													-->
<!--			preferencePageId="com.acme.myPreferencePage">	  				        -->
<!--		</action>                                                                   -->
<!--	</extension>																	-->
<!--																					-->
<!-- <action> tag attributes:															-->
<!-- ================================================================================== -->
<!-- id					=>	unique id for this action.									-->
<!-- label				=>	label for the action. This will be displayed in the			-->
<!--						preferences cascading menu.									-->
<!-- preferencePageId   =>  the "id" value of your org.eclipse.ui.preferencePages       -->
<!--                           extension, for the preference page to root the           -->
<!--                           preferences dialog to when the action is selected        -->
<!-- preferencePageCategory => if this is not a root page, then specify the id of the   -->
<!--                         root page this is part of. This should be the absolute     -->
<!--                         root, not the immediate parent. It tells us what root tree -->
<!--                         to search in to find the child.                            -->
<!-- icon               =>  optional. Icon to display for this action.                  -->
<!-- tooltip            =>  optional. Tooltip text to show in hover help.               -->
<!-- helpContextId      =>  optional. ID of contextual help to show when F1 is pressed  -->
<!--																					-->
<!-- See the extension point reference for more details.								-->
	
	<extension-point id="remoteSystemsViewPreferencesActions" name="%extPoint.remoteSystemsViewPreferencesActions" schema="schema/remoteSystemsViewPreferencesActions.exsd"/>
	
<!-- ============================================ -->
<!-- Define a RemoteSystems project nature        -->
<!-- ============================================ -->
   <extension
         id="remotesystemsnature"
         name="%Nature.RemoteSystemsNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.rse.core.RemoteSystemsProject">
         </run>
      </runtime>
   </extension>

<!-- ============================================ -->
<!-- Define a RemoteSystemsTempFiles project      -->
<!-- nature to enable debugging                   -->
<!-- ============================================ -->
   <extension
         id="remoteSystemsTempNature"
         name="%Nature.RemoteSystemsTempNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
         	class="org.eclipse.rse.core.RemoteSystemsTempProjectNature">
         </run>
      </runtime>
   </extension>

<!-- ============================================ -->
<!-- Define a RemoteSystems preference page        -->
<!-- ============================================ -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePage.RemoteSystems"
            class="org.eclipse.rse.ui.propertypages.RemoteSystemsPreferencePage"
            id="org.eclipse.rse.ui.preferences.RemoteSystemsPreferencePage">
      </page>
      <page
            name="%PreferencePage.Logging"
            category="org.eclipse.rse.ui.preferences.RemoteSystemsPreferencePage"
            class="org.eclipse.rse.ui.propertypages.SystemLoggingPreferencePage"
            id="org.eclipse.rse.ui.LoggingPreferences">
      </page>
      <page
            name="%PreferencePage.Signon"
            category="org.eclipse.rse.ui.preferences.RemoteSystemsPreferencePage"
            class="org.eclipse.rse.ui.propertypages.SignonPreferencePage"
            id="org.eclipse.rse.ui.preferences.SignonPreferencePage">
      </page>
      <page
            name="%PreferencePage.Communications"
            category="org.eclipse.rse.ui.preferences.RemoteSystemsPreferencePage"
            class="org.eclipse.rse.ui.propertypages.SystemCommunicationsPreferencePage"
            id="org.eclipse.rse.ui.preferences.SystemCommunicationsPreferencePage">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.rse.ui.propertypages.SystemPreferenceInitializer"/>   
   </extension>
   
<!-- predefine known system types -->
   <extension
         point="org.eclipse.rse.core.systemTypes">
      <!--   
      <systemType id="org.eclipse.rse.systemtype.iseries"
            name="iSeries"
			description="%systemType.iseries"
            icon="icons/full/obj16/system400_obj.gif"
			iconLive="icons/full/obj16/system400live_obj.gif"/>
      <systemType id="org.eclipse.rse.systemtype.iseries.PASE"
            name="PASE"
			description="%systemType.iseries.PASE"
			icon="icons/full/obj16/system400_obj.gif"
			iconLive="icons/full/obj16/system400live_obj.gif"/>
      -->
      <systemType id="org.eclipse.rse.systemtype.windows"
            name="Windows"
			description="%systemType.windows"
			icon="icons/full/obj16/systemwin_obj.gif"
			iconLive="icons/full/obj16/systemwinlive_obj.gif"/>
	  <!--
      <systemType id="org.eclipse.rse.systemtype.zseries"
         	name="z/OS"
			description="%systemType.zseries"
			icon="icons/full/obj16/system390_obj.gif"
			iconLive="icons/full/obj16/system390live_obj.gif"/>
   	  -->
      <systemType id="org.eclipse.rse.systemtype.linux"
            name="Linux"
			description="%systemType.linux"
            icon="icons/full/obj16/systemlinux_obj.gif"
            iconLive="icons/full/obj16/systemlinuxlive_obj.gif"/>
      <!--
      <systemType id="org.eclipse.rse.systemtype.linux.power"
            name="Power Linux"
			description="%systemType.powerlinux"
			icon="icons/full/obj16/systemlinux_obj.gif"
			iconLive="icons/full/obj16/systemlinuxlive_obj.gif"/>
      <systemType id="org.eclipse.rse.systemtype.linux.zSeries"
            name="zSeries Linux"
			description="%systemType.zlinux"
			icon="icons/full/obj16/systemlinux_obj.gif"
			iconLive="icons/full/obj16/systemlinuxlive_obj.gif"/>    
      -->      
      <systemType id="org.eclipse.rse.systemtype.unix"
            name="Unix"
			description="%systemType.unix"
			icon="icons/full/obj16/systemunix_obj.gif"
			iconLive="icons/full/obj16/systemunixlive_obj.gif"/>
      <!--
      <systemType id="org.eclipse.rse.systemtype.aix"
            name="AIX"
			description="%systemType.aix"
			icon="icons/full/obj16/systemaix_obj.gif"
			iconLive="icons/full/obj16/systemaixlive_obj.gif"/>
      -->      
      <systemType id="org.eclipse.rse.systemtype.local"
            name="Local"
			description="%systemType.local"
			icon="icons/full/obj16/systemlocal_obj.gif"
			iconLive="icons/full/obj16/systemlocallive_obj.gif"/>
   </extension>


<!-- ============================================ -->
<!-- Define Workbench Properties Pages            -->
<!-- ============================================ -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%PropertyPage.SubSystem"
            class="org.eclipse.rse.ui.propertypages.SystemSubSystemPropertyPageCore"
            id="org.eclipse.rse.SubSystemsPropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.core.subsystems.ISubSystem"/>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.Connection"
            class="org.eclipse.rse.ui.propertypages.SystemConnectionPropertyPage"
            id="org.eclipse.rse.SystemPropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.core.model.IHost"/>
         </enabledWhen>
      </page>
      <!-- with move to services this should disappear
      <page
            objectClass="org.eclipse.rse.model.IHost"
            name="%PropertyPage.Connection.SubSystems"
            class="org.eclipse.rse.ui.propertypages.SystemConnectionSubSystemsPropertyPage"
            id="org.eclipse.rse.SystemConnectionSubSystemsPropertyPage">
      </page>
      -->
      <page
            name="%PropertyPage.Connection.ConnectorServices"
            class="org.eclipse.rse.ui.propertypages.SystemConnectorServicesPropertyPage"
            id="org.eclipse.rse.ui.propertypages.SystemConnectorServicesPropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.core.model.IHost"/>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.FilterPool"
            class="org.eclipse.rse.ui.propertypages.SystemFilterPoolPropertyPage"
            id="org.eclipse.rse.SystemFilterPoolPropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.core.filters.ISystemFilterPool"/>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.Reference"
            class="org.eclipse.rse.ui.propertypages.SystemFilterPoolReferencePropertyPage"
            id="org.eclipse.rse.SystemFilterPoolReferencePropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.core.filters.ISystemFilterPoolReference"/>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.ReferencedFilterPool"
            class="org.eclipse.rse.ui.propertypages.SystemFilterPoolPropertyPage"
            id="org.eclipse.rse.SystemFilterPoolReferencePropertyPage2">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.core.filters.ISystemFilterPoolReference"/>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.Filter"
            class="org.eclipse.rse.ui.propertypages.SystemFilterPropertyPage"
            id="org.eclipse.rse.SystemFilterPropertyPage">
         <enabledWhen>
         	<or>
            	<instanceof value="org.eclipse.rse.core.filters.ISystemFilter"/>
	            <instanceof value="org.eclipse.rse.core.filters.ISystemFilterReference"/>
         	</or>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.ChangeFilter"
            class="org.eclipse.rse.ui.propertypages.SystemChangeFilterPropertyPage"
            id="org.eclipse.rse.SystemChangeFilterPropertyPage">
            <filter name="showChangeFilterStringPropertyPage" value="true"/>
         <enabledWhen>
         	<or>
            	<instanceof value="org.eclipse.rse.core.filters.ISystemFilter"/>
	            <instanceof value="org.eclipse.rse.core.filters.ISystemFilterReference"/>
         	</or>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.FilterString"
            class="org.eclipse.rse.ui.propertypages.SystemFilterStringPropertyPage"
            id="org.eclipse.rse.SystemFilterStringPropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.core.filters.ISystemFilterString"/>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.TeamViewCategoryNode"
            class="org.eclipse.rse.ui.propertypages.SystemTeamViewCategoryPropertyPage"
            id="org.eclipse.rse.SystemTeamViewCategoryPropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.ui.view.team.SystemTeamViewCategoryNode"/>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.Profile"
            class="org.eclipse.rse.ui.propertypages.SystemTeamViewProfilePropertyPage"
            id="org.eclipse.rse.SystemProfilePropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.core.model.ISystemProfile"/>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.TeamViewSubSystemFactoryNode"
            class="org.eclipse.rse.ui.propertypages.SystemTeamViewSubSystemConfigurationPropertyPage"
            id="org.eclipse.rse.SystemTeamViewSubSystemFactoryPropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.ui.view.team.SystemTeamViewSubSystemConfigurationNode"/>
         </enabledWhen>
      </page>
      
   </extension>
<!-- ============================================ -->
<!-- Define Help Context                          -->
<!-- ============================================ -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="HelpContexts.xml">
      </contexts>
   </extension>
<!-- ============================================ -->
<!-- Define Remote System Explorer Views         -->
<!-- ============================================ -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%View.Category.RemoteSystems"
            id="org.eclipse.rse.ui.view">
      </category>
      <view
            name="%View.RemoteSystems"
            icon="icons/full/cview16/system_view.gif"
            category="org.eclipse.rse.ui.view"
            class="org.eclipse.rse.ui.view.SystemViewPart"
            id="org.eclipse.rse.ui.view.systemView">
      </view>
      <view
            name="%View.Team"
            icon="icons/full/cview16/team_view.gif"
            category="org.eclipse.rse.ui.view"
            class="org.eclipse.rse.ui.view.team.SystemTeamViewPart"
            id="org.eclipse.rse.ui.view.teamView">
      </view>
      <view
            name="%View.RemoteSystemsDetails"
            icon="icons/full/cview16/system_view.gif"
            category="org.eclipse.rse.ui.view"
            class="org.eclipse.rse.ui.view.SystemTableViewPart"
            id="org.eclipse.rse.ui.view.systemTableView">
      </view>
      <!-- Remote Search View                                     -->
      <view
			name="%View.Search"
			icon="icons/full/obj16/system_search.gif"
			category="org.eclipse.rse.ui.view"
			class="org.eclipse.rse.ui.view.search.SystemSearchViewPart"
			id="org.eclipse.rse.ui.view.SystemSearchView">
      </view>
      <!-- Remote Scratchpad View                                 -->
      <view
			name="%View.Scratchpad"
			icon="icons/full/view16/scratchpad_view.gif"
			category="org.eclipse.rse.ui.view"
			class="org.eclipse.rse.ui.view.scratchpad.SystemScratchpadViewPart"
			id="org.eclipse.rse.ui.view.scratchpad.SystemScratchpadViewPart">
      </view>
      <!-- Remote Monitor View                                 -->
      <view
			name="%View.Monitor"
			icon="icons/full/view16/system_view.gif"
			category="org.eclipse.rse.ui.view"
			class="org.eclipse.rse.ui.view.monitor.SystemMonitorViewPart"
			id="org.eclipse.rse.ui.view.monitorView">
      </view>
<!-- Remote Error List being commented out      
      <view
            name="%View.RemoteErrorList"
            icon="icons/full/cview16/errorlist_view.gif"
            category="org.eclipse.rse.ui.view"
            class="org.eclipse.rse.ui.view.commands.SystemBuildErrorViewPart"
            id="org.eclipse.rse.ui.view.buildErrorView">
      </view>
-->
   </extension>

<!-- ================================================================================= -->
<!-- Define Remote System Explorer view pulldown menu submenu for preferences actions -->
<!-- ================================================================================= -->
	<extension point="org.eclipse.rse.ui.remoteSystemsViewPreferencesActions">
 		<action	
			id="org.eclipse.rse.ui.preferences.actions.rse"
			label="%PreferencePageAction.rse.label"
			preferencePageId="org.eclipse.rse.ui.preferences.RemoteSystemsPreferencePage"
            tooltip="%PreferencePageAction.rse.tooltip"
            helpContextId="org.eclipse.rse.ui.aprefrse"
		/>
	</extension>

<!-- ============================================ -->
<!-- Define Remote Systems Perspective            -->
<!-- ============================================ -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%Perspective.Explorer"
            icon="icons/full/cview16/system_persp.gif"
            class="org.eclipse.rse.ui.view.SystemPerspectiveLayout"
            id="org.eclipse.rse.ui.view.SystemPerspective">
      </perspective>
   </extension>
<!-- ================================================================== -->
<!--                                                                    -->
<!--  for the Open In New Perspective RSE perspectives                  -->
<!-- Element Factory for Restoring Input Objects from mementos,         -->
<!--                                                                    -->
<!-- ================================================================== -->
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.rse.ui.view.SystemViewPart"
            id="org.eclipse.rse.systemview.elementfactory">
      </factory>
   </extension>

<!-- ================================================================= -->
<!-- 		Define Archive Handlers extension point					   -->
<!-- ================================================================= -->
   <extension-point id="archivehandlers" name="%extPoint.archivehandlers" schema="schema/archivehandlers.exsd"/>


<!-- ================================================================= -->
<!-- 		Define Mount Path Mappers extension point				   -->
<!-- ================================================================= -->
   <extension-point id="mountPathMappers" name="%extPoint.mountPathMappers" schema="schema/mountPathMappers.exsd"/>

<!-- ================================================================= -->
<!-- 		Define Dynamic Popup Menu Extension extension point -->
<!-- ================================================================= -->
   <extension-point id="dynamicPopupMenuExtensions" name="%extPoint.dynamicPopupMenuExtensions" schema="schema/dynamicPopupMenuExtensions.exsd"/>

<!-- ================================================================= -->
<!-- 		Define Keystore Provider extension point -->
<!-- ================================================================= -->
   <extension-point id="keystoreProviders" name="%extPoint.keystoreProviders" schema="schema/keystoreProviders.exsd"/>

   <extension-point id="newConnectionWizardDelegates" name="RSE New Connection Wizard Delegate" schema="schema/newConnectionWizardDelegates.exsd"/>


<!-- ================================================================= -->
<!-- Define the Drop Actions                                           -->
<!-- ================================================================= -->
	<extension point="org.eclipse.ui.dropActions">
		<action
	      id="org.eclipse.rse.ui.view.DropActions"
		  class="org.eclipse.rse.ui.view.SystemDropActionDelegate">
        </action>	
	</extension>


<!-- ========================================================================= -->
<!-- Themes                                                                    -->
<!-- ========================================================================= -->
 <extension
       point="org.eclipse.ui.themes">
       <themeElementCategory
			label="%RSEPresentation.label"
			id="org.eclipse.rse.ui.presentation">
		  <description>%RSEPresentation.description</description>
	   </themeElementCategory>	
       <themeElementCategory
			label="%MessagesPresentation.label"
			parentId="org.eclipse.rse.ui.presentation"
			id="org.eclipse.rse.ui.messages.presentation">
		  <description>%MessagesPresentation.description</description>
	   </themeElementCategory>
      <colorDefinition
            label="%ErrorMessage.label"
            categoryId="org.eclipse.rse.ui.messages.presentation"
            value="COLOR_RED"
            id="MESSAGE_ERROR_COLOR">
         <description>
            %ErrorMessage.description
         </description>
      </colorDefinition>
      <colorDefinition
            label="%WarningMessage.label"
            categoryId="org.eclipse.rse.ui.messages.presentation"
            value="255,80,0"
            id="MESSAGE_WARNING_COLOR">
         <description>
            %WarningMessage.description
         </description>
      </colorDefinition>
      <colorDefinition
            label="%InfoMessage.label"
            categoryId="org.eclipse.rse.ui.messages.presentation"
            value="COLOR_BLUE"
            id="MESSAGE_INFORMATION_COLOR">
         <description>
            %InfoMessage.description
         </description>
      </colorDefinition>
       <themeElementCategory
			label="%RemoteCommandsViewPresentation.label"
			parentId="org.eclipse.rse.ui.presentation"
			id="org.eclipse.rse.ui.remotecommandsview.presentation">
		  <description>%RemoteCommandsViewPresentation.description</description>
	   </themeElementCategory>
         <fontDefinition
            label="%RemoteCommandsViewFontDefinition.label"
            defaultsTo="org.eclipse.jface.textfont"
            categoryId="org.eclipse.rse.ui.remotecommandsview.presentation"
            id="REMOTE_COMMANDS_VIEW_FONT">
         <description>
            %RemoteCommandsViewFontDefinition.description
         </description>
      </fontDefinition>
      <colorDefinition
            label="%RemoteCommandsForeground.label"
            categoryId="org.eclipse.rse.ui.remotecommandsview.presentation"
            value="COLOR_BLACK"
            id="REMOTE_COMMANDS_VIEW_FG_COLOR">
         <description>
            %RemoteCommandsForeground.description
         </description>
      </colorDefinition>
       <colorDefinition
            label="%RemoteCommandsBackground.label"
            categoryId="org.eclipse.rse.ui.remotecommandsview.presentation"
            value="COLOR_WHITE"
            id="REMOTE_COMMANDS_VIEW_BG_COLOR">
         <description>
            %RemoteCommandsBackground.description
         </description>
      </colorDefinition>
      <colorDefinition
            label="%RemoteCommandsPrompt.label"
            categoryId="org.eclipse.rse.ui.remotecommandsview.presentation"
            value="COLOR_GREEN"
            id="REMOTE_COMMANDS_VIEW_PROMPT_COLOR">
         <description>
            %RemoteCommandsPrompt.description
         </description>
      </colorDefinition>
   </extension>
   
 


 	<extension point="org.eclipse.ui.decorators"> 
         <decorator
            id="org.eclipse.rse.subsystems.error.decorator" 
            label="%SubSystemErrorDecorator.label" 
            state="true" 
            lightweight="true" 
            icon="icons/full/ovr16/error_ovr.gif" 
            location="BOTTOM_RIGHT"> 
            <enablement>
            	<and>
                	<objectClass name="org.eclipse.rse.core.subsystems.ISubSystem"/>
                	<objectState name="isConnectionError" value="true"/>
                </and> 
            </enablement>
        </decorator>
     </extension>


<!-- ================================================================= -->
<!-- RSE Creation Wizards from File -> New 							   -->
<!-- ================================================================= -->
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.eclipse.rse.ui.newWizards.rseCategory"
				name="%Creation.category.name"/>
		<wizard
        canFinishEarly="false"
        category="org.eclipse.rse.ui.newWizards.rseCategory"
        class="org.eclipse.rse.ui.wizards.RSENewConnectionWizard"
        finalPerspective="org.eclipse.rse.ui.view.SystemPerspective"
        hasPages="true"
        icon="icons/full/etool16/newconnection_wiz.gif"
        id="org.eclipse.rse.ui.newWizards.connection"
        name="%Creation.connection.name"
        preferredPerspectives="org.eclipse.rse.ui.view.SystemPerspective">
			<description>
				%Creation.connection.description
			</description>
		</wizard>
	</extension>
	
    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <commonFilter
            id="org.eclipse.rse.project.filters.RemoteSystemsProjects"
            name="%ProjectFilter.label"
            description="%ProjectFilter.description"
            activeByDefault="true">
            <filterExpression>
                <and>
                    <instanceof value="org.eclipse.core.resources.IProject"/>
                    <test property="org.eclipse.core.resources.name" value="RemoteSystems*"/>
                </and>
            </filterExpression>
        </commonFilter>
    </extension>
   
    <extension point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
                <contentExtension pattern="org.eclipse.rse.project.filters.*"/>
            </includes>
        </viewerContentBinding>
    </extension>
	
</plugin>
