<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006 IBM Corporation. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html

Initial Contributors:
The following IBM employees contributed to the Remote System Explorer
component that contains this file: David McKnight, Kushal Munir, 
Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

Contributors:
{Name} (company) - description of contribution.
-->
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%View.RemoteCommands"
            icon="icons/full/cview16/commands_view.gif"
            category="org.eclipse.rse.ui.view"
            class="org.eclipse.rse.internal.shells.ui.view.SystemCommandsViewPart"
            id="org.eclipse.rse.shells.ui.view.commandsView">
      </view>
    </extension>
    
    
<!-- ============================================ -->
<!-- Define Workbench Properties Pages            -->
<!-- ============================================ -->
   <extension
         point="org.eclipse.ui.propertyPages">

      <page
            name="%PropertyPage.EnvVariables"
            class="org.eclipse.rse.internal.shells.ui.propertypages.EnvironmentVariablesPropertyPage"
            id="org.eclipse.rse.shells.ui.propertypages.EnvironmentVariablesPropertyPage">
            <!--
            <filter name="envVarPP" value="true"/>
            -->
         <enabledWhen>
            <instanceof value="org.eclipse.rse.subsystems.shells.core.subsystems.IRemoteCmdSubSystem"/>
         </enabledWhen>
      </page> 
      
      <page
            name="%PropertyPage.ShellSettings"
            class="org.eclipse.rse.internal.shells.ui.propertypages.SystemShellPropertyPage"
            id="org.eclipse.rse.shells.ui.propertypages.SystemShellPropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.subsystems.shells.core.subsystems.IRemoteCmdSubSystem"/>
         </enabledWhen>
      </page>

      <page
            name="%PropertyPage.ServerLauncherSettings" 
            class="org.eclipse.rse.ui.propertypages.ServerLauncherPropertyPage"
            id="org.eclipse.rse.ui.propertypages.serverLauncherPropertyPage">
            <filter name="serverLaunchPP" value="true"/>
         <enabledWhen>
            <instanceof value="org.eclipse.rse.subsystems.shells.core.subsystems.servicesubsystem.ShellServiceSubSystem"/>
         </enabledWhen>
      </page>
      <page
            name="%PropertyPage.Service"
            class="org.eclipse.rse.internal.shells.ui.propertypages.ShellServicesPropertyPage"
            id="org.eclipse.rse.shells.ui.propertypages.ShellServicesPropertyPage">
         <enabledWhen>
            <instanceof value="org.eclipse.rse.subsystems.shells.core.subsystems.servicesubsystem.ShellServiceSubSystem"/>
         </enabledWhen>
      </page>
      
   </extension>
   
   
  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution  
      		objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
   			id="org.eclipse.rse.shells.ui.launch">
            <visibility> 
                	<objectState name="isdirectory" value="true"/>   
            </visibility>
         <action
               label="%Launch_Shell"
               icon="icons/full/obj16/systemshell.gif"
               tooltip="%Launch_Shell_Tooltip"
               class="org.eclipse.rse.internal.shells.ui.actions.LaunchShellActionDelegate"
               enablesFor="1"
               id="org.eclipse.rse.shells.ui.actions.LaunchShellActionDelegate">
         </action>
         <!--
                  <action
               label="test command"
               icon="icons/full/obj16/systemshell.gif"
               tooltip="%Launch_Shell_Tooltip"
               class="org.eclipse.rse.shells.ui.actions.LaunchCommandActionDelegate"
               enablesFor="1"
               id="org.eclipse.rse.shells.ui.actions.LaunchCommandActionDelegate">
         </action>
         -->
       </objectContribution>    
   </extension>
   
</plugin>
