<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


   <extension point="org.eclipse.core.runtime.contentTypes">
	  <content-type id="upcSource" name="%upcSourceName"
         base-type="org.eclipse.cdt.core.cSource"
         file-extensions="upc"
         priority="high"/>
   </extension>

   <extension point="org.eclipse.cdt.core.language">
      <language
            class="org.eclipse.cdt.core.dom.upc.UPCLanguage"
            id="upc"
            name="UPC">
         <contentType id="org.eclipse.cdt.core.parser.upc.upcSource"/>
      </language>
   </extension>
   
   <extension point="org.eclipse.ui.editors.templates">
   		<include
      		file="templates/default-templates.xml"
      		translations="$nl$/templates/default-templates.properties">
      	</include>
   </extension>
  
</plugin>
