<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.launchbar.ui.launchTargetTypeUI">
      <launchTargetTypeUI
            id="org.eclipse.cdt.launch.serial.core.serialFlashTarget"
            labelProvider="org.eclipse.cdt.launch.serial.ui.internal.SerialFlashLaunchTargetLabelProvider">
      </launchTargetTypeUI>
      <wizard2
            class="org.eclipse.cdt.launch.serial.ui.internal.NewSerialFlashTargetWizard"
            icon="icons/cdt_logo_16.png"
            id="org.eclipse.cdt.launch.serial.core.serialFlashTarget"
            name="Serial Flash Target">
      </wizard2>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.cdt.launch.serial.ui.internal.SerialFlashLaunchConfigTabGroup"
            id="org.eclipse.cdt.launch.serial.ui.launchConfigurationTabGroup"
            type="org.eclipse.cdt.launch.serial.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchBarUIContributions">
      <buildTabGroup
            launchConfigType="org.eclipse.cdt.launch.serial.launchConfigurationType"
            launchDescriptorType="org.eclipse.cdt.debug.core.coreBuildDescriptorType"
            tabGroup="org.eclipse.cdt.launch.internal.corebuild.CoreBuildTabGroup">
      </buildTabGroup>
   </extension>

</plugin>
