<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="cpp,c,h,cxx,cc,hxx,hpp"
            id="org.eclipse.cdt.lsp.core"
            name="%content-type.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.cdt.lsp.core.CPPStreamConnectionProvider"
            id="org.eclipse.cdt.lsp.core"
            label="%server.label"
            clientImpl="org.eclipse.cdt.lsp.core.Server2ClientProtocolExtension" >
      </server>
      <contentTypeMapping
            contentType="org.eclipse.cdt.lsp.core"
            id="org.eclipse.cdt.lsp.core">
      </contentTypeMapping>
   </extension>
   <extension
         id="org.eclipse.cdt.lsp.core.CDocumentSetupParticipant"
         name="%cDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.cdt.internal.ui.editor.CDocumentSetupParticipant"
            contentTypeId="org.eclipse.cdt.lsp.core">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.cdt.lsp.core"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.cdt.lsp.core.PresentationReconcilerCPP"
            contentType="org.eclipse.cdt.lsp.core">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.cdt.lsp.core.CPPLanguageServerPreferencePage"
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            id="org.eclipse.cdt.lsp.core.CPPLanguageServerPreferencePage"
            name="%PreferencePageTitle">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.cdt.lsp.core.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="org.eclipse.cdt.lsp.core.AutoIndentStrategyCPP"
            contentType="org.eclipse.cdt.lsp.core">
      </autoEditStrategy>
   </extension>
</plugin>
