<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>

   <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
   <!-- Visualizer Declarations                                                     -->
   <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

   <extension
         point="org.eclipse.cdt.visualizer.ui.visualizer">

     <!-- "Multicore View" visualizer -->

      <visualizer
            id="org.eclipse.cdt.dsf.gdb.multicorevisualizer.visualizer"
            class="org.eclipse.cdt.dsf.gdb.multicorevisualizer.internal.ui.view.MulticoreVisualizer">
      </visualizer>
   </extension>

</plugin>
