<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
Copyright (c) 2006, 2007 MontaVista Software, Inc. and others
All rights reserved. This program and the accompanying materials 
are made available under the terms of the Eclipse Public License 2.0 
which accompanies this distribution, and is available at 
https://www.eclipse.org/legal/epl-2.0/ 

Contributors: 
Yufen Kuo (MontaVista) - initial API and implementation
Martin Oberhuber (Wind River) - [refactor] "shell" instead of "ssh" everywhere
Martin Oberhuber (Wind River) - [186523] Move subsystemConfigurations from UI to core 
-->
<plugin>
   <extension
         point="org.eclipse.rse.core.subsystemConfigurations">
      <configuration
            systemTypeIds="org.eclipse.rse.systemtype.linux"
            name="%ShellProcessSubsystemName"
            description="%ShellProcessSubsystemDescription"
            iconlive="icons/full/obj16/processsubsystemlive_obj.gif"
            icon="icons/full/obj16/processsubsystem_obj.gif"
            category="processes"
            class="org.eclipse.rse.subsystems.processes.shell.linux.ShellProcessSubSystemConfiguration"
            vendor="%providerName"
            priority="200"
            id="processes.shell.linux"/>
   </extension>

</plugin>
