<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


    <extension
          point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.CatchByReferenceQuickFix"
             problemId="org.eclipse.cdt.codan.internal.checkers.CatchByReference">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.CatchByConstReferenceQuickFix"
             problemId="org.eclipse.cdt.codan.internal.checkers.CatchByReference">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.QuickFixAssignmentInCondition"
             problemId="org.eclipse.cdt.codan.internal.checkers.AssignmentInConditionProblem">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.SuggestedParenthesisQuickFix"
             problemId="org.eclipse.cdt.codan.internal.checkers.SuggestedParenthesisProblem">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.QuickFixCreateLocalVariable"
             problemId="org.eclipse.cdt.codan.internal.checkers.VariableResolutionProblem">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.QuickFixCreateLocalVariable"
             messagePattern="`(.*)' undeclared \(first use in this function\)">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.QuickFixCreateField"
             problemId="org.eclipse.cdt.codan.internal.checkers.VariableResolutionProblem">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.QuickFixCreateParameter"
             problemId="org.eclipse.cdt.codan.internal.checkers.VariableResolutionProblem">
       </resolution>
	   <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.CaseBreakQuickFixBreak"
             problemId="org.eclipse.cdt.codan.internal.checkers.CaseBreakProblem">
       </resolution>       
	   <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.CaseBreakQuickFixComment"
             problemId="org.eclipse.cdt.codan.internal.checkers.CaseBreakProblem">
       </resolution>       

    </extension>
    <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.core.internal.checkers">
      <category
            id="org.eclipse.cdt.codan.checkers.cppcheck"
            name="%checker.name.Cppcheck">
      </category>
      <checker
            class="org.eclipse.cdt.codan.internal.checkers.ui.CppcheckChecker"
            id="org.eclipse.cdt.codan.checkers.CppcheckChecker"
            name="Cppcheck">
         <problem
               category="org.eclipse.cdt.codan.checkers.cppcheck"
               defaultEnabled="false"
               defaultSeverity="Error"
               description="%problem.description.Cppcheck.Error"
               id="org.eclipse.cdt.codan.checkers.cppcheck.error"
               messagePattern="%problem.messagePattern.Cppcheck.all"
               name="%problem.name.Cppcheck.Error">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.checkers.cppcheck"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.Cppcheck.Warning"
               id="org.eclipse.cdt.codan.checkers.cppcheck.warning"
               messagePattern="%problem.messagePattern.Cppcheck.all"
               name="%problem.name.Cppcheck.Warning">
         </problem>
         <problem
               category="org.eclipse.cdt.codan.checkers.cppcheck"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="%problem.description.Cppcheck.Syntax"
               id="org.eclipse.cdt.codan.checkers.cppcheck.style"
               messagePattern="%problem.messagePattern.Cppcheck.all"
               name="%problem.name.Cppcheck.Syntax">
         </problem>
      </checker>
    </extension>
</plugin>
