<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


    <extension
          point="org.eclipse.cdt.codan.ui.codanMarkerResolution">
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.CatchByReferenceQuickFix"
             problemId="org.eclipse.cdt.codan.internal.checkers.CatchByReference">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.QuickFixAssignmentInCondition"
             problemId="org.eclipse.cdt.codan.internal.checkers.AssignmentInConditionProblem">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.SuggestedParenthesisQuickFix"
             problemId="org.eclipse.cdt.codan.internal.checkers.SuggestedParenthesisProblem">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.QuickFixCreateLocalVariable"
             problemId="org.eclipse.cdt.codan.internal.checkers.VariableResolutionProblem">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.QuickFixCreateField"
             problemId="org.eclipse.cdt.codan.internal.checkers.VariableResolutionProblem">
       </resolution>
       <resolution
             class="org.eclipse.cdt.codan.internal.checkers.ui.quickfix.QuickFixCreateParameter"
             problemId="org.eclipse.cdt.codan.internal.checkers.VariableResolutionProblem">
       </resolution>
    </extension>

</plugin>
