<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.ashling.riscfree.globalvariable.view"
            name="Debug">
      </category>
      <view
            category="com.ashling.riscfree.globalvariable.view"
            class="com.ashling.riscfree.globalvariable.view.views.GlobalVariablesView"
            icon="icons/var_global_aggr.gif"
            id="com.ashling.riscfree.globalvariable.view"
            inject="true"
            name="Global Variables View">
      </view>
   </extension>
 <extension
          point="org.eclipse.ui.popupMenus">
       <viewerContribution
             id="com.ashling.riscfree.globalvariable.view.popupMenu"
             targetID="com.ashling.riscfree.globalvariable.view">
          <action
                class="com.ashling.riscfree.globalvariable.actions.RemoveAllGlobalsActionDelegate"
                enablesFor="*"
                helpContextId="remove_all_globals_action_context"
                icon="icons/elcl16/rem_all_co.gif"
                id="org.eclipse.cdt.debug.internal.ui.actions.RemoveAllGlobalsActionDelegate"
                label="Remove All Global Variables"
                menubarPath="additions"
                tooltip="%RemoveAllGlobalsAction.tooltip">
             <enablement>
                <pluginState
                      id="org.eclipse.cdt.debug.ui"
                      value="activated">
                </pluginState>
             </enablement>
          </action>
          <action
                class="com.ashling.riscfree.globalvariable.actions.RemoveGlobalsActionDelegate"
                enablesFor="+"
                helpContextId="remove_globals_action_context"
                icon="icons/elcl16/rem_co.gif"
                id="org.eclipse.cdt.debug.internal.ui.actions.RemoveGlobalsActionDelegate"
                label="Remove Selected Global Variables"
                menubarPath="additions"
                tooltip="%RemoveGlobalsAction.tooltip">
             <enablement>
                <pluginState
                      id="org.eclipse.cdt.debug.ui"
                      value="activated">
                </pluginState>
             </enablement>
          </action>
          <action
                class="com.ashling.riscfree.globalvariable.actions.AddGlobalsActionDelegate"
                helpContextId="add_globals_action_context"
                icon="icons/elcl16/watch_globals.gif"
                id="org.eclipse.cdt.debug.internal.ui.actions.AddGlobalsActionDelegate"
                label="Add Global Variables"
                menubarPath="additions">
             <enablement>
                <pluginState
                      id="org.eclipse.cdt.debug.ui"
                      value="activated">
                </pluginState>
             </enablement>
          </action>
       </viewerContribution>
    </extension>
 <extension
       point="org.eclipse.ui.viewActions">
    <viewContribution
          id="com.ashling.riscfree.globalvariable.view.toolbar"
          targetID="com.ashling.riscfree.globalvariable.view">
       <action
             class="com.ashling.riscfree.globalvariable.actions.RemoveAllGlobalsActionDelegate"
             disabledIcon="icons/dlcl16/rem_all_co.gif"
             enablesFor="*"
             helpContextId="remove_all_globals_action_context"
             icon="icons/elcl16/rem_all_co.gif"
             id="org.eclipse.cdt.debug.internal.ui.actions.RemoveAllGlobalsActionDelegate"
             label="Remove All Global Variables"
             toolbarPath="additions"
             tooltip="Remove All Global Variables">
          <enablement>
             <pluginState
                   id="org.eclipse.cdt.debug.ui"
                   value="activated">
             </pluginState>
          </enablement>
       </action>
       <action
             class="com.ashling.riscfree.globalvariable.actions.RemoveGlobalsActionDelegate"
             disabledIcon="icons/dlcl16/rem_co.gif"
             enablesFor="+"
             helpContextId="remove_globals_action_context"
             icon="icons/elcl16/rem_co.gif"
             id="org.eclipse.cdt.debug.internal.ui.actions.RemoveGlobalsActionDelegate"
             label="Remove Selected Global Variables"
             toolbarPath="additions"
             tooltip="Remove Selected Global Variables">
          <enablement>
             <pluginState
                   id="org.eclipse.cdt.debug.ui"
                   value="activated">
             </pluginState>
          </enablement>
       </action>
       <action
             class="com.ashling.riscfree.globalvariable.actions.AddGlobalsActionDelegate"
             disabledIcon="icons/dlcl16/watch_globals.gif"
             helpContextId="add_globals_action_context"
             icon="icons/elcl16/watch_globals.gif"
             id="org.eclipse.cdt.debug.internal.ui.actions.AddGlobalsActionDelegate"
             label="Add Global Variables"
             toolbarPath="additions"
             tooltip="Add Global Variables">
          <enablement>
             <pluginState
                   id="org.eclipse.cdt.debug.ui"
                   value="activated">
             </pluginState>
          </enablement>
       </action>
    </viewContribution>
 </extension>
 <extension
       point="org.eclipse.ui.viewActions">
    <viewContribution
          id="com.ashling.riscfree.globalvariable.view.menu"
          targetID="com.ashling.riscfree.globalvariable.view">
       <action
             class="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction"
             helpContextId="show_full_paths_context"
             icon="icons/elcl16/show_paths.gif"
             id="org.eclipse.cdt.debug.internal.ui.actions.ShowFullPathsAction"
             label="%ShowFullPathsAction.label"
             menubarPath="cDebugActions"
             style="toggle"
             tooltip="%ShowFullPathsAction.tooltip">
          <enablement>
             <pluginState
                   id="org.eclipse.cdt.debug.ui"
                   value="activated">
             </pluginState>
          </enablement>
       </action>
    </viewContribution>
 </extension>
</plugin>
