<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.rse.tests.framework.suites">
      <suite type="org.eclipse.rse.tests.RSECombinedTestSuite" name="RSE Combined Test Suite"/>
      	<type name="org.eclipse.rse.tests.RSECombinedTestSuite" class="org.eclipse.rse.tests.RSECombinedTestSuite" />
      
      <suite type="org.eclipse.rse.tests.internal.RSEInternalFrameworkTestSuite" name="RSE Internal Framework Test Suite"/>
      	<type name="org.eclipse.rse.tests.internal.RSEInternalFrameworkTestSuite" class="org.eclipse.rse.tests.internal.RSEInternalFrameworkTestSuite" />
      
      <suite type="org.eclipse.rse.tests.core.connection.RSEConnectionTestSuite" name="RSE Connection Test Suite"/>
      	<type name="org.eclipse.rse.tests.core.connection.RSEConnectionTestSuite" class="org.eclipse.rse.tests.core.connection.RSEConnectionTestSuite" />

      <suite type="org.eclipse.rse.tests.subsystems.files.RSEFileSubsystemTestSuite" name="RSE File Subsystem Test Suite"/>
      	<type name="org.eclipse.rse.tests.subsystems.files.RSEFileSubsystemTestSuite" class="org.eclipse.rse.tests.subsystems.files.RSEFileSubsystemTestSuite" />

      <suite type="org.eclipse.rse.tests.persistence.PersistenceTestSuite" name="RSE Persistence Test Suite"/>
      	<type name="org.eclipse.rse.tests.persistence.PersistenceTestSuite" class="org.eclipse.rse.tests.persistence.PersistenceTestSuite" />
   </extension>

	<!-- Do not replace the use of systemTypes here as long it only deprecated! -->
	<extension point="org.eclipse.rse.core.subsystemConfigurations">
		<configuration
			id="org.eclipse.rse.tests.subsystems.TestSubSystem"
			systemTypeIds="org.eclipse.rse.systemtype.local;org.eclipse.rse.systemtype.windows"
			name="%testSubSystemName"
			class="org.eclipse.rse.tests.internal.testsubsystem.TestSubSystemConfiguration"
			category="users"
			vendor="%providerName"
			description="%testSubSystemDescription"
			iconlive="icons/systemconnectionlive.gif"
			icon="icons/systemconnection.gif"
      priority="50000">
		</configuration>

		<configuration
			id="org.eclipse.rse.tests.subsystems.TestSubSystem2"
			systemTypeIds="org.eclipse.rse.tests.*"
			name="%testSubSystem2Name"
			class="org.eclipse.rse.tests.internal.testsubsystem.TestSubSystemConfiguration"
			category="users"
			vendor="%providerName"
			description="%testSubSystem2Description"
			iconlive="icons/systemconnectionlive.gif"
			icon="icons/systemconnection.gif"
			priority="100000">
		</configuration>

		<!-- Do not replace the use of systemTypes here as long it only deprecated! -->
		<configuration
			id="org.eclipse.rse.tests.subsystems.TestSubSystem3"
			systemTypeIds="org.eclipse.rse.systemtype.*n?x"
			name="%testSubSystem3Name"
			class="org.eclipse.rse.tests.internal.testsubsystem.TestSubSystemConfiguration"
			category="users"
			vendor="%providerName"
			description="%testSubSystem3Description"
			iconlive="icons/systemconnectionlive.gif"
			icon="icons/systemconnection.gif"
			priority="2000">
		</configuration>
	</extension>
	
 <extension
       point="org.eclipse.rse.core.systemTypes">
    <systemType
          label="%testSystemTypeLabel"
          description="%testSystemTypeDescription"
          enableOffline="false"
          id="org.eclipse.rse.tests.testSystemType"
          name="Tests Only">
    </systemType>
 </extension>
 
 <extension point="org.eclipse.rse.core.modelInitializers">
 	<modelInitializer class="org.eclipse.rse.tests.initialization.GoodInitializer"/>
 	<modelInitializer class="org.eclipse.rse.tests.initialization.BadInitializer"/>
 	<modelInitializer class="org.eclipse.rse.tests.initialization.UglyInitializer"/>
 	<modelInitializer class="org.eclipse.rse.tests.initialization.ListenerInitializer"/>
 </extension>
 
</plugin>
