<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="cdt-baseline" sequenceNumber="19">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.arduino.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.autotools.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.build.crossgcc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.bupc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.core.lrparser.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.core.parser.upc.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.debug.gdbjtag.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.debug.standalone.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.debug.ui.memory.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.docker.launcher.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.gnu.multicorevisualizer.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.examples.dsf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.launch.remote.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.managedbuilder.llvm.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.msw.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.qt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.testsrunner.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.visualizer.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.xlc.sdk.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/cdt/releases/9.10/cdt-9.10.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.launchbar.feature.group" version="0.0.0"/>
<unit id="org.eclipse.launchbar.remote.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/cdt/launchbar/2.4/launchbar-2.4.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.20/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://download.eclipse.org/eclipse/updates/4.14/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://download.eclipse.org/mylyn/releases/3.24/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://download.eclipse.org/mylyn/docs/releases/3.0.33/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://download.eclipse.org/releases/2019-12/"/>
</location>
<!-- OMG! We have circular dependency that invloves 'java.package; org.eclipse.cdt.utils.pty 0.0.0' -->
<!-- but nothing to add here as we already have CDT repo above -->
<!-- We need GEF (!) for org.eclipse.wst.xml_ui.feature.feature.group -->
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://download.eclipse.org/tools/gef/updates/legacy/integration/5.0.0_gef-legacy-master_2166"/>
</location>
</locations>
</target>