<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="cdt" sequenceNumber="64">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/cbi/updates/license/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="0.0.0"/>
<unit id="com.sun.xml.bind" version="0.0.0"/>
<unit id="javax.activation" version="0.0.0"/>
<unit id="javax.xml.bind" version="0.0.0"/>
<unit id="javax.xml.stream" version="0.0.0"/>
<unit id="net.sourceforge.lpg.lpgjavaruntime" version="0.0.0"/>
<unit id="org.antlr.runtime" version="0.0.0"/>
<unit id="org.apache.commons.compress" version="0.0.0"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.assertj" version="0.0.0"/>
<unit id="org.freemarker" version="0.0.0"/>
<unit id="org.hamcrest" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.junit" version="0.0.0"/>
<unit id="org.junit.jupiter.api" version="0.0.0"/>
<unit id="org.mockito" version="0.0.0"/>
<unit id="org.slf4j.impl.log4j12" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/2019-12/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<!-- Required to consume SimRel dependencies additional to Eclipse SDK -->
<repository location="https://download.eclipse.org/releases/2019-12/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.annotation" version="0.0.0"/>
<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.test.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.14/"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epp.logging.aeri.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/epp/logging/stable/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/technology/swtbot/releases/2.7.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.remote.console.feature.group" version="0.0.0"/>
<unit id="org.eclipse.remote.feature.group" version="0.0.0"/>
<unit id="org.eclipse.remote.serial.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/ptp/builds/remote/3.0.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.launchbar.feature.group" version="0.0.0"/>
<unit id="org.eclipse.launchbar.remote.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/cdt/launchbar/2.4/launchbar-2.4.1-simrel-2019-12-m3/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.linuxtools.docker.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/linuxtools/updates-docker-nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/webtools/downloads/drops/R3.15.0/R-3.15.0-20190830034720/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tm.terminal.connector.cdtserial.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.control" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tm/terminal/updates/4.4milestones/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tools.templates.core" version="0.0.0"/>
<unit id="org.eclipse.tools.templates.freemarker" version="0.0.0"/>
<unit id="org.eclipse.tools.templates.freemarker.java11" version="0.0.0"/>
<unit id="org.eclipse.tools.templates.ui" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/cdt/tools.templates/1.1/tools.templates-1.1.2-simrel-2019-12-m3/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tm4e.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/tm4e/releases/0.3.4/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.lsp4e" version="0.0.0"/>
<unit id="org.eclipse.lsp4e.debug" version="0.0.0"/>
<repository location="http://download.eclipse.org/lsp4e/snapshots/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
<vmArgs>-Xms40m&#13;
-Xmx512M&#13;
-ea</vmArgs>
<programArgs>-consolelog</programArgs>
</launcherArgs>
</target>
