<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006 IBM Corporation. All rights reserved.
This program and the accompanying materials are made available under the terms
of the Eclipse Public License v1.0 which accompanies this distribution, and is 
available at http://www.eclipse.org/legal/epl-v10.html

Initial Contributors:
The following IBM employees contributed to the Remote System Explorer
component that contains this file: David McKnight, Kushal Munir, 
Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

Contributors:
{Name} (company) - description of contribution.
-->
<?eclipse version="3.1"?>
<plugin> 


   <extension
         point="org.eclipse.rse.ui.subsystemConfiguration">
      <configuration
            systemTypes="Linux;Unix"
            name="%Files"
            description="%FilesDescription"
            iconlive="icons/full/obj16/systemfileslive_obj.gif"
            icon="icons/full/obj16/systemfiles_obj.gif"
            category="files"
            class="org.eclipse.rse.subsystems.files.dstore.subsystem.DStoreFileSubSystemConfiguration"
            vendor="IBM Corp"
            id="dstore.files">
      </configuration>

          <configuration 
            systemTypes="Windows"
            name="%Files"
            description="%FilesDescription"
            iconlive="icons/full/obj16/systemfileslive_obj.gif"
            icon="icons/full/obj16/systemfiles_obj.gif"
            category="files"
            class="org.eclipse.rse.subsystems.files.dstore.subsystem.DStoreWindowsFileSubSystemConfiguration"
            vendor="IBM Corp"
            id="dstore.windows.files">
      </configuration>

      </extension>

</plugin>