<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.eclipse.cdt.codan.ui.runaction">
         <action
               label="Run Code Analysis"
               class="org.eclipse.cdt.codan.ui.actions.RunCodeAnalysis"
               menubarPath="additions"
               enablesFor="+"
               id="org.eclipse.cdt.codan.ui.actions.RunCodeAnalysis">
         </action>
      </objectContribution>
   </extension>
   
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
                   category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
               class="org.eclipse.cdt.codan.internal.ui.preferences.CodanPreferencePage"
               id="org.eclipse.cdt.codan.ui.preferences.CodanPreferencePage"
               name="Code Analysis">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="C/C++ Code Analysis "

            class="org.eclipse.cdt.codan.internal.ui.preferences.CodanPreferencePage"
            id="org.eclipse.cdt.codan.ui.properties.codanProblemsPropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.cdt.codan.ui.properties.codanProblemsPropertyPage"
            class="org.eclipse.cdt.codan.internal.ui.preferences.BuildPropertyPage"
            id="org.eclipse.cdt.codan.ui.properties.buildPropertyPage"
            name="Build">
        <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.cdt.codan.internal.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
