<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


            <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.cdt.codan.ui.commands.category"
            name="%category.name">
      </category>

   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
                   category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
               class="org.eclipse.cdt.codan.internal.ui.preferences.CodanPreferencePage"
               id="org.eclipse.cdt.codan.ui.preferences.CodanPreferencePage"
               name="%CodeAnalysisProperties.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.cdt.ui.newui.Page_head_general"
            class="org.eclipse.cdt.codan.internal.ui.preferences.CodanPreferencePage"
            id="org.eclipse.cdt.codan.ui.properties.codanProblemsPropertyPage"
            name="%CodeAnalysisPreferences.name">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.cdt.codan.ui.properties.codanProblemsPropertyPage"
            class="org.eclipse.cdt.codan.internal.ui.preferences.BuildPropertyPage"
            id="org.eclipse.cdt.codan.ui.properties.buildPropertyPage"
            name="%CodeAnalysisPreferencesBuild.name">
        <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
		     </adapt> 
         </enabledWhen>
      </page>
   </extension>
   
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.cdt.codan.internal.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.cdt.codan.ui.commands.category"
            id="org.eclipse.cdt.codan.commands.runCodanCommand"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.cdt.codan.ui.handlers.RunCodanCommand"
            commandId="org.eclipse.cdt.codan.commands.runCodanCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
         category="org.eclipse.cdt.ui.views"
            class="org.eclipse.cdt.codan.internal.ui.views.ProblemDetails"
            icon="icons/problemDetails.gif"
            id="org.eclipse.cdt.codan.internal.ui.views.ProblemDetails"
            name="%view.name">
      </view>
   </extension>
   <extension-point id="codanProblemDetails" name="%extension-point.name" schema="schema/codanProblemDetails.exsd"/>
    <extension-point id="codanMarkerResolution" name="%extension-point.name.codamMarkerResolution" schema="schema/codanMarkerResolution.exsd"/>
   <!--
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.cdt.codan.commands.runCodanCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F9">
      </key>
   </extension>
   -->
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">

         <showInPart id="org.eclipse.cdt.codan.internal.ui.views.ProblemDetails"/>

         <viewShortcut id="org.eclipse.cdt.codan.internal.ui.views.ProblemDetails"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.cdt.codan.internal.ui.CodanProblemMarkerResolutionGenerator"
            markerType="org.eclipse.cdt.codan.core.codanProblem">
      </markerResolutionGenerator>
   </extension>
    <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.cdt.codan.internal.ui.CodanProblemMarkerResolutionGenerator"
            markerType="org.eclipse.cdt.core.problem">
      </markerResolutionGenerator>
   </extension>
    <extension
          point="org.eclipse.ui.ide.markerSupport">
       <markerTypeCategory
             name="%markerTypeCategory.name">
          <markerTypeReference
                id="org.eclipse.cdt.codan.core.codanProblem">
          </markerTypeReference>
       </markerTypeCategory>
       <markerGrouping
             id="org.eclipse.cdt.codan.ui.markerGrouping"
             label="%markerGrouping.label">
       </markerGrouping>
       <markerAttributeGrouping
             attribute="category"
             defaultGroupingEntry="org.eclipse.cdt.codan.ui.markerGroupingUnknown"
             markerType="org.eclipse.cdt.codan.core.codanProblem">
          <markerAttributeMapping
                markerGroupingEntry="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
                value="org.eclipse.cdt.codan.core.categories.ProgrammingProblems">
          </markerAttributeMapping>
                  <markerAttributeMapping
                markerGroupingEntry="org.eclipse.cdt.codan.core.categories.CompilerErrors"
                value="org.eclipse.cdt.codan.core.categories.CompilerErrors">
          </markerAttributeMapping>
                  <markerAttributeMapping
                markerGroupingEntry="org.eclipse.cdt.codan.core.categories.CodeStyle"
                value="org.eclipse.cdt.codan.core.categories.CodeStyle">
          </markerAttributeMapping>
       </markerAttributeGrouping>
       <markerGroupingEntry
             id="org.eclipse.cdt.codan.ui.markerGroupingUnknown"
             label="%markerGroupingEntry.category.Unknown"
             markerGrouping="org.eclipse.cdt.codan.ui.markerGrouping"
             priority="90">
       </markerGroupingEntry>
       <markerGroupingEntry
             id="org.eclipse.cdt.codan.core.categories.ProgrammingProblems"
             label="%markerGroupingEntry.category.ProgrammingProblems"
             markerGrouping="org.eclipse.cdt.codan.ui.markerGrouping"
             priority="10">
       </markerGroupingEntry>
       <markerGroupingEntry
             id="org.eclipse.cdt.codan.core.categories.CompilerErrors"
             label="%markerGroupingEntry.category.CompilerErrors"
             markerGrouping="org.eclipse.cdt.codan.ui.markerGrouping"
             priority="2">
       </markerGroupingEntry>
       <markerGroupingEntry
             id="org.eclipse.cdt.codan.core.categories.CodeStyle"
             label="%markerGroupingEntry.category.CodingStyle"
             markerGrouping="org.eclipse.cdt.codan.ui.markerGrouping"
             priority="80">
       </markerGroupingEntry>
    </extension>
    <extension
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             markerSeverity="2"
             markerType="org.eclipse.cdt.codan.core.codanProblem"
             name="org.eclipse.cdt.codan.ui.annotation.error"
             super="org.eclipse.ui.workbench.texteditor.error">
       </type>
       <type
             markerSeverity="1"
             markerType="org.eclipse.cdt.codan.core.codanProblem"
             name="org.eclipse.cdt.codan.ui.annotation.warning"
             super="org.eclipse.ui.workbench.texteditor.warning">
       </type>
       <type
             markerSeverity="0"
             markerType="org.eclipse.cdt.codan.core.codanProblem"
             name="org.eclipse.cdt.codan.ui.annotation.info"
             super="org.eclipse.ui.workbench.texteditor.info">
       </type>
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
                <objectContribution
            adaptable="true"
            id="org.eclipse.cdt.codan.ui.CodanProblemActions"
            objectClass="org.eclipse.core.resources.IMarker">
         <action
               class="org.eclipse.cdt.codan.internal.ui.actions.OpenProblemPreferences"
               id="org.eclipse.cdt.codan.ui.OpenProblemProperties"
               label="Customize Problem..."
               menubarPath="additions"/>  
                             
           <filter name="type"
               value="org.eclipse.cdt.codan.core.codanProblem"/>
         <!-- user: menubarPath="org.eclipse.cdt.codan.ui.configureMenu/configureProblemSep" --> 
         <!-- <menu
               id="org.eclipse.cdt.codan.ui.configureMenu"
               label="Configure Problem"
               path="additions">
            <separator
                  name="configureProblemSep">
            </separator>
                 
         </menu>
        -->

      </objectContribution>
    </extension>
</plugin>
