<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.eclipse.cdt.codan.ui.runaction">
         <action
               label="%CodeAnalysisAction.label"
               class="org.eclipse.cdt.codan.internal.ui.actions.RunCodeAnalysis"
               menubarPath="additions"
               enablesFor="+"
               id="org.eclipse.cdt.codan.ui.actions.RunCodeAnalysis">
         </action>
      </objectContribution>
   </extension>
   
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
                   category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
               class="org.eclipse.cdt.codan.internal.ui.preferences.CodanPreferencePage"
               id="org.eclipse.cdt.codan.ui.preferences.CodanPreferencePage"
               name="%CodeAnalysisProperties.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.cdt.ui.newui.Page_head_general"
            class="org.eclipse.cdt.codan.internal.ui.preferences.CodanPreferencePage"
            id="org.eclipse.cdt.codan.ui.properties.codanProblemsPropertyPage"
            name="%CodeAnalysisPreferences.name">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.cdt.codan.ui.properties.codanProblemsPropertyPage"
            class="org.eclipse.cdt.codan.internal.ui.preferences.BuildPropertyPage"
            id="org.eclipse.cdt.codan.ui.properties.buildPropertyPage"
            name="%CodeAnalysisPreferencesBuild.name">
        <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
		     </adapt> 
         </enabledWhen>
      </page>
   </extension>
   
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.cdt.codan.internal.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
