<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.cdt.debug.gdbjtag.launchConfigurationType"
            icon="icons/obj16/c_app.gif"
            id="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTypeImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.cdt.debug.gdbjtag.ui.GDBJtagLaunchConfigurationTabGroup"
            helpContextId="org.eclipse.cdt.debug.gdbjtag.ui.cdt_debugging_projects"
            id="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            type="org.eclipse.cdt.debug.gdbjtag.launchConfigurationType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
     <tab
            class="org.eclipse.cdt.debug.gdbjtag.internal.ui.GDBJtagDSFCMainTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.gdbjtag.ui.cmaintab.dsf"
            name="%launchtab.cmaintab.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.gdbjtag.core.dsfLaunchDelegate">
         </associatedDelegate>
      </tab>
      <tab
            class="org.eclipse.cdt.debug.gdbjtag.ui.GDBJtagDSFDebuggerTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.gdbjtag.ui.debuggertab.dsf"
            name="%launchtab.debuggertab.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.gdbjtag.core.dsfLaunchDelegate">
         </associatedDelegate>
         <placement
               after="org.eclipse.cdt.dsf.gdb.launch.mainTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.cdt.debug.gdbjtag.ui.GDBJtagStartupTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.gdbjtag.ui.startuptab.dsf"
            name="%launchtab.startuptab.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.gdbjtag.core.dsfLaunchDelegate">
         </associatedDelegate>
         <placement
               after="org.eclipse.cdt.debug.gdbjtag.ui.debuggertab.dsf">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.gdbjtag.ui.sourcelookuptab.dsf"
            name="%launchTab.sourceLookup.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.gdbjtag.core.dsfLaunchDelegate">
         </associatedDelegate>
         <placement
               after="org.eclipse.cdt.debug.gdbjtag.ui.startuptab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.gdbjtag.ui.commontab.dsf"
            name="%launchTab.common.name">
         <associatedDelegate
               delegate="org.eclipse.cdt.debug.gdbjtag.core.dsfLaunchDelegate">
         </associatedDelegate>
         <placement
               after="org.eclipse.debug.ui.sourceLookupTab">
         </placement>
      </tab>
   </extension>

</plugin>
