<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.cdt.debug.gdbjtag.launchConfigurationType"
            icon="icons/obj16/c_app.gif"
            id="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTypeImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.cdt.debug.gdbjtag.ui.GDBJtagLaunchConfigurationTabGroup"
            id="org.eclipse.cdt.debug.gdbjtag.launchConfigurationTabGroup"
            type="org.eclipse.cdt.debug.gdbjtag.launchConfigurationType"/>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.GenericDevice"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.genericDevice"
            name="%Generic.name">
      </device>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.AbatronBDI2000"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.AbatronBDI2000"
            name="%AbatronBDI2000.name">
      </device>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.MacraigorUsb2Demon"
            id="org.eclipse.cdt.debug.gdbjtag.core.jtagdevice.MacraigorUsb2Demon"
            name="%MacraigorUsb2Demon.name">
      </device>
   </extension>

</plugin>
