<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.launch"
   name="%pluginName"
   version="1.1.0"
   provider-name="%providerName"
   class="org.eclipse.cdt.launch.internal.ui.LaunchUIPlugin">

   <runtime>
      <library name="cdtlaunch.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.cdt.ui"/>
      <import plugin="org.eclipse.cdt.debug.core"/>
      <import plugin="org.eclipse.cdt.debug.ui"/>
      <import plugin="org.apache.xerces"/>
   </requires>


   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%LocalCDTLaunch.name"
            delegate="org.eclipse.cdt.launch.internal.LocalCLaunchConfigurationDelegate"
            modes="run,debug"
            public="true"
            id="org.eclipse.cdt.launch.localCLaunch">
      </launchConfigurationType>
      <launchConfigurationType
            name="%CoreFileCDTLaunch.name"
            delegate="org.eclipse.cdt.launch.internal.CoreFileLaunchDelegate"
            modes="debug"
            public="true"
            id="org.eclipse.cdt.launch.coreFileCLaunch">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/c_app.gif"
            configTypeID="org.eclipse.cdt.launch.localCLaunch"
            id="org.eclipse.cdt.launch.localCLaunchImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            icon="icons/c_app.gif"
            configTypeID="org.eclipse.cdt.launch.coreFileCLaunch"
            id="org.eclipse.cdt.launch.coreFileCLaunchImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.cdt.launch.localCLaunch"
            class="org.eclipse.cdt.launch.internal.ui.LocalCLaunchConfigurationTabGroup"
            id="org.eclipse.cdt.launch.localClaunchConfigurationTabGroup">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="org.eclipse.cdt.launch.coreFileCLaunch"
            class="org.eclipse.cdt.launch.internal.ui.CoreFileCLaunchConfigurationTabGroup"
            id="org.eclipse.cdt.launch.voreFileCLaunchTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="C Local Application"
            icon="icons/c_app.gif"
            modes="run, debug"
            class="org.eclipse.cdt.launch.internal.CApplicationLaunchShortcut"
            id="org.eclipse.cdt.debug.ui.localCShortcut">
         <perspective
               id="org.eclipse.cdt.ui.CPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="%DefaultSourceLocator.name"
            class="org.eclipse.cdt.launch.sourcelookup.DefaultSourceLocator"
            id="org.eclipse.cdt.launch.DefaultSourceLocator">
      </sourceLocator>
   </extension>

</plugin>
