<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            id="org.eclipse.cdt.cdi.launch.localCLaunch"
            type="org.eclipse.cdt.launch.applicationLaunchType"
            delegate="org.eclipse.cdt.launch.internal.LocalCDILaunchDelegate"
            modes="run,debug"
            name="%LocalCDTLaunch.name"
            delegateDescription="%LocalCDTLaunch.description"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchDelegate>
      <launchDelegate
            id="org.eclipse.cdt.cdi.launch.localCAttachLaunch"
            type="org.eclipse.cdt.launch.attachLaunchType"
            delegate="org.eclipse.cdt.launch.internal.LocalCDILaunchDelegate"
            modes="debug"
            name="%LocalAttachCDTLaunch.name"
            delegateDescription="%LocalAttachCDTLaunch.description"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchDelegate>
      <launchDelegate
            id="org.eclipse.cdt.cdi.launch.coreFileCLaunch"
            type="org.eclipse.cdt.launch.postmortemLaunchType"
            delegate="org.eclipse.cdt.launch.internal.LocalCDILaunchDelegate"
            modes="debug"
            name="%CoreFileCDTLaunch.name"
            delegateDescription="%CoreFileCDTLaunch.description"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchDelegate>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <!-- Application launch tabs-->
      <tab
            id="org.eclipse.cdt.cdi.launch.applicationLaunch.mainTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%MainLaunchTab.name"
            class="org.eclipse.cdt.launch.ui.CMainTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.localCLaunch"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.applicationLaunch.argumentsTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%ArgumentsLaunchTab.name"
            class="org.eclipse.cdt.launch.ui.CArgumentsTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.localCLaunch"/>
        <placement after="org.eclipse.cdt.cdi.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.applicationLaunch.environmentTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%EnvironmentLaunchTab.name"
            class="org.eclipse.debug.ui.EnvironmentTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.localCLaunch"/>
        <placement after="org.eclipse.cdt.cdi.launch.argumentsTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.applicationLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%DebuggerLaunchTab.name"
            class="org.eclipse.cdt.launch.ui.ApplicationCDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.localCLaunch"/>
        <placement after="org.eclipse.debug.ui.environmentTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.applicationLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%SourceLookupLaunchTab.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.localCLaunch"/>
        <placement after="org.eclipse.cdt.cdi.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.applicationLaunch.commonTab"
            group="org.eclipse.cdt.launch.applicationLaunchTabGroup"
            name="%CommonLaunchTab.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.localCLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>

      <!-- Attach launch tabs-->
      <tab
            id="org.eclipse.cdt.cdi.launch.attachLaunch.mainAttachTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%MainLaunchTab.name"
            class="org.eclipse.cdt.launch.ui.CMainAttachTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.localCAttachLaunch"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.attachLaunch.debuggerTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%DebuggerLaunchTab.name"
            class="org.eclipse.cdt.launch.ui.AttachCDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.localCAttachLaunch"/>
        <placement after="org.eclipse.cdt.cdi.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.attachLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%SourceLookupLaunchTab.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.localCAttachLaunch"/>
        <placement after="org.eclipse.cdt.cdi.launch.debuggerTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.attachLaunch.commonTab"
            group="org.eclipse.cdt.launch.attachLaunchTabGroup"
            name="%CommonLaunchTab.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.localCAttachLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>
      
      <!-- Post mortem launch tabs-->
      <tab
            id="org.eclipse.cdt.cdi.launch.postmortemLaunch.mainTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%MainLaunchTab.name"
            class="org.eclipse.cdt.launch.ui.CMainTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.coreFileCLaunch"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.postmortemLaunch.coreTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%CoreFileLaunchTab.name"
            class="org.eclipse.cdt.launch.ui.CoreFileDebuggerTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.coreFileCLaunch"/>
        <placement after="org.eclipse.cdt.cdi.launch.mainTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.postmortemLaunch.sourceLookupTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%SourceLookupLaunchTab.name"
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.coreFileCLaunch"/>
        <placement after="org.eclipse.cdt.cdi.launch.coreTab"/>
      </tab>
      <tab
            id="org.eclipse.cdt.cdi.launch.postmortemLaunch.commonTab"
            group="org.eclipse.cdt.launch.postmortemLaunchTabGroup"
            name="%CommonLaunchTab.name"
            class="org.eclipse.debug.ui.CommonTab">
        <associatedDelegate delegate="org.eclipse.cdt.cdi.launch.coreFileCLaunch"/>
        <placement after="org.eclipse.debug.ui.sourceLookupTab"/>
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            code="100"
            plugin="org.eclipse.cdt.launch"
            class="org.eclipse.cdt.launch.internal.ui.ProcessPrompter"
            id="org.eclipse.cdt.launch.statusHandler.processPrompter">
      </statusHandler>  
      <statusHandler
            code="1001"
            plugin="org.eclipse.cdt.launch"
            class="org.eclipse.cdt.launch.internal.ui.CoreFilePrompter"
            id="org.eclipse.cdt.launch.statusHandler.coreFilePrompter">
      </statusHandler>  
	</extension>
	
</plugin>
