<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionType
            id="org.eclipse.remote.JSch"
            name="SSH"
            scheme="ssh">
      </connectionType>
      <connectionService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionControlService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchConnection$Factory"
            service="org.eclipse.remote.core.IRemotePortForwardingService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionPropertyService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchConnection$Factory"
            service="org.eclipse.remote.core.IRemoteProcessService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchFileManager$Factory"
            service="org.eclipse.remote.core.IRemoteFileService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionHostService">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchConnection$Factory"
            service="org.eclipse.remote.internal.jsch.core.JSchConnection">
      </connectionService>
      <connectionService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchCommandShellService$Factory"
            service="org.eclipse.remote.core.IRemoteCommandShellService">
      </connectionService>
      <processService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchProcess$Factory"
            service="org.eclipse.remote.core.IRemoteProcessControlService">
      </processService>
      <processService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchProcess$Factory"
            service="org.eclipse.remote.core.IRemoteProcessSignalService">
      </processService>
      <processService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchProcess$Factory"
            service="org.eclipse.remote.core.IRemoteProcessTerminalService">
      </processService>
      <processService
            connectionTypeId="org.eclipse.remote.JSch"
            factory="org.eclipse.remote.internal.jsch.core.JSchProcess$Factory"
            service="org.eclipse.remote.internal.jsch.core.JSchProcess">
      </processService>
   </extension>
   <extension
         id="org.eclipse.remote.jsch.filesystem"
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="ssh">
         <run
               class="org.eclipse.remote.internal.jsch.core.JSchFileSystem">
         </run>
      </filesystem>
   </extension>
</plugin>
