<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.core"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.cdt.core.CCorePlugin">

   <runtime>
      <library name="cdtcore.jar">
         <export name="*"/>
      </library>
   </runtime>
<!-- ======================================================================= -->
<!-- The C Plugin                                                            -->
<!-- ======================================================================= -->
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.debug.core"/>
   </requires>


   <extension-point id="CBuildCommand" name="%CBuildCommand.name"/>
   <extension-point id="CBuildConsole" name="%CBuildConsole.name"/>
   <extension-point id="CProject" name="%CProject.name"/>
   <extension-point id="CBuildModel" name="%CBuilder.name"/>
   <extension-point id="ProcessList" name="%ProcessList.name" schema="schema/ProcessList.exsd"/>
   <extension-point id="BinaryParser" name="BinaryParser"/>

   <extension id="parser" name="C Parser" point="org.eclipse.cdt.core.BinaryParser">
      <parser format="ELF" class="org.eclipse.cdt.internal.core.model.parser.ElfParser"/>
      <parser format="PE"  class="org.eclipse.cdt.internal.core.model.parser.PEParser"/>
   </extension>
   
   <extension
         id="cbuilder"
         name="C Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.cdt.internal.core.CBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="newcbuilder"
         name="C Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.cdt.core.builder.CIncrementalBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="problem"
         name="%CProblemMarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="cnature"
         name="%cnature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.cdt.core.CProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="ccnature"
         name="%cnature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.cdt.core.CCProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CBuildCommand">
      <buildcommand
            command="make">
      </buildcommand>
   </extension>
   <extension
         id="make"
         name="%makeproject.name"
         point="org.eclipse.cdt.core.CProject">
      <cproject
            class="org.eclipse.cdt.internal.core.make.MakeProject">
      </cproject>
   </extension>
   <extension
         id="makeBuilder"
         name="%makebuildmodel.name"
         point="org.eclipse.cdt.core.CBuildModel">
      <run
            class="org.eclipse.cdt.internal.core.make.MakeBuilder">
      </run>
   </extension>
<!-- ================================================== -->
<!-- Some well known C file extensions                  -->
<!-- ================================================== -->
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="c">
      </fileTypes>
      <fileTypes
            type="text"
            extension="cc">
      </fileTypes>
      <fileTypes
            type="text"
            extension="cpp">
      </fileTypes>
      <fileTypes
            type="text"
            extension="cxx">
      </fileTypes>
      <fileTypes
            type="text"
            extension="h">
      </fileTypes>
      <fileTypes
            type="text"
            extension="hh">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="o">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="a">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="so">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="dll">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="exe">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="com">
      </fileTypes>
      <fileTypes
            type="text"
            extension=".cdtproject">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern="*.o">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.obj">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.a">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.so">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.dll">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.exe">
      </ignore>
   </extension>

</plugin>
