<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.core"
   name="%pluginName"
   version="1.2.1"
   provider-name="%providerName"
   class="org.eclipse.cdt.core.CCorePlugin">

   <runtime>
      <library name="cdtcore.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.search"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.team.core"/>
   </requires>


   <extension-point id="CProject" name="%CProject.name"/>
<!-- =================================================================================== -->
<!-- Extension Point:(Deprecated, to be removed)                                         -->
<!-- =================================================================================== -->
   <extension-point id="CBuildModel" name="%CBuilder.name"/>
<!-- =================================================================================== -->
<!-- Extension Point:(Deprecated, to be removed) Default command for the MakeBuilder     -->
<!-- =================================================================================== -->
   <extension-point id="CBuildCommand" name="%CBuildCommand.name"/>
<!-- =================================================================================== -->
<!-- Extension Point:(work in progress) IConsole, customize a C Build console output     -->
<!-- =================================================================================== -->
   <extension-point id="CBuildConsole" name="%CBuildConsole.name"/>
<!-- =================================================================================== -->
<!-- Extension Point: IProcessList, returns a list of running processes                  -->
<!-- =================================================================================== -->
   <extension-point id="ProcessList" name="%ProcessList.name" schema="schema/ProcessList.exsd"/>
<!-- =================================================================================== -->
<!-- Extension Point: IErrorParser, error parsers use when building                      -->
<!-- =================================================================================== -->
   <extension-point id="ErrorParser" name="%ErrorParser.name"/>
<!-- =================================================================================== -->
<!-- Extension Point: IBinaryParser, use to detect wheter an IFile is a binary           -->
<!-- =================================================================================== -->
   <extension-point id="BinaryParser" name="BinaryParser"/>
   <extension-point id="ScannerInfoProvider" name="Scanner Information Provider"/>

<!-- =================================================================================== -->
<!-- Define the list of the Binary Parser provided by the CDT                            -->
<!-- =================================================================================== -->
   <extension
         id="ELF"
         name="Elf Parser"
         point="org.eclipse.cdt.core.BinaryParser">
      <cextension>
         <run
               class="org.eclipse.cdt.internal.core.model.parser.ElfParser">
         </run>
      </cextension>
   </extension>
<!-- extension
         id="GNU_ELF"
         name="GNU Elf Parser"
         point="org.eclipse.cdt.core.BinaryParser">
      <cextension>
         <run
               class="org.eclipse.cdt.utils.elf.parser.GNUElfParser">
         </run>
      </cextension>
   </extension -->
   <extension
         id="PE"
         name="PE Windows Parser"
         point="org.eclipse.cdt.core.BinaryParser">
      <cextension>
         <run
               class="org.eclipse.cdt.internal.core.model.parser.PEParser">
         </run>
      </cextension>
   </extension>
<!-- =================================================================================== -->
<!-- Define the list of Error Parser provided by the CDT                                 -->
<!-- =================================================================================== -->
   <extension
         id="GCCErrorParser"
         name="CDT GNU C/C++ Error Parser"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.cdt.internal.errorparsers.GCCErrorParser">
      </errorparser>
   </extension>
   <extension
         id="GASErrorParser"
         name="CDT GNU Assembler Error Parser"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.cdt.internal.errorparsers.GASErrorParser">
      </errorparser>
   </extension>
   <extension
         id="GLDErrorParser"
         name="CDT GNU Linker Error Parser"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.cdt.internal.errorparsers.GLDErrorParser">
      </errorparser>
   </extension>
   <extension
         id="MakeErrorParser"
         name="CDT GNU Make Error Parser"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.cdt.internal.errorparsers.MakeErrorParser">
      </errorparser>
   </extension>
   <extension
         id="VCErrorParser"
         name="CDT Visual C Error Parser"
         point="org.eclipse.cdt.core.ErrorParser">
      <errorparser
            class="org.eclipse.cdt.internal.errorparsers.VCErrorParser">
      </errorparser>
   </extension>
<!-- =================================================================================== -->
<!-- Eclipse Builder provided by the CDT, to be removed to the MakePlugin                -->
<!-- =================================================================================== -->
   <extension
         id="cbuilder"
         name="C Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.cdt.internal.core.CBuilder">
         </run>
      </builder>
   </extension>
<!-- =================================================================================== -->
<!-- CDT customized problem markers: C Problem markers                                   -->
<!-- =================================================================================== -->
   <extension
         id="problem"
         name="%CProblemMarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
<!-- =================================================================================== -->
<!-- CDT C Nature                                                                        -->
<!-- =================================================================================== -->
   <extension
         id="cnature"
         name="%cnature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.cdt.core.CProjectNature">
         </run>
      </runtime>
   </extension>
<!-- =================================================================================== -->
<!-- CDT C++ Nature                                                                      -->
<!-- =================================================================================== -->
   <extension
         id="ccnature"
         name="%cnature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.cdt.core.CCProjectNature">
         </run>
      </runtime>
   </extension>
<!-- =================================================================================== -->
<!-- Deprecated Make default command, will be removed.                                   -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.cdt.core.CBuildCommand">
      <buildcommand
            command="make">
      </buildcommand>
   </extension>
<!-- =================================================================================== -->
<!-- Deprecated Make owner, will be removed.                                             -->
<!-- =================================================================================== -->
   <extension
         id="make"
         name="%makeproject.name"
         point="org.eclipse.cdt.core.CProject">
      <cproject
            class="org.eclipse.cdt.internal.core.make.MakeProject">
      </cproject>
   </extension>
<!-- =================================================================================== -->
<!-- Deprecated Make builder, will be removed.                                           -->
<!-- =================================================================================== -->
   <extension
         id="makeBuilder"
         name="%makebuildmodel.name"
         point="org.eclipse.cdt.core.CBuildModel">
      <run
            class="org.eclipse.cdt.internal.core.make.MakeBuilder">
      </run>
   </extension>
<!-- =================================================================================== -->
<!-- Some well known C file extensions override for the team plugins                     -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="c">
      </fileTypes>
      <fileTypes
            type="text"
            extension="cc">
      </fileTypes>
      <fileTypes
            type="text"
            extension="cpp">
      </fileTypes>
      <fileTypes
            type="text"
            extension="cxx">
      </fileTypes>
      <fileTypes
            type="text"
            extension="h">
      </fileTypes>
      <fileTypes
            type="text"
            extension="hh">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="o">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="a">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="so">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="dll">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="exe">
      </fileTypes>
      <fileTypes
            type="binary"
            extension="com">
      </fileTypes>
      <fileTypes
            type="text"
            extension=".cdtproject">
      </fileTypes>
   </extension>
<!-- =================================================================================== -->
<!-- Some well known C file extensions override for the team plugins                     -->
<!-- =================================================================================== -->
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern="*.o">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.obj">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.a">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.so">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.dll">
      </ignore>
      <ignore
            enabled="true"
            pattern="*.exe">
      </ignore>
   </extension>
<!-- =================================================================================== -->
<!-- Extension Point(Note:Temporary): IScannerInfoProvider for the standard Builder      -->
<!-- =================================================================================== -->
   <extension
         id="StandardBuildManager"
         point="org.eclipse.cdt.core.ScannerInfoProvider">
      <cextension>
         <run
               class="org.eclipse.cdt.core.build.standard.StandardBuildManager">
         </run>
      </cextension>
   </extension>
<!-- =================================================================================== -->
<!-- =================================================================================== -->
   <extension
         id="task"
         name="%CTaskName"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.taskmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
