<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            delegate="org.eclipse.dd.gdb.internal.provisional.launching.GdbLaunchDelegate"
            public="true"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            name="Local C/C++ Application (Experimental - DSF)"
            id="org.eclipse.dd.gdb.launch.localCLaunch"
            modes="debug">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.dd.gdb.internal.provisional.launching.GdbLaunchDelegate"
            id="org.eclipse.dd.gdb.launch.remoteCLaunch"
            modes="debug"
            name="Remote C/C++ Application  (Experimental - DSF)"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.dd.gdb.internal.ui.launching.GdbLocalRunLaunchConfigurationTabGroup"
            id="org.eclipse.dd.gdb.launch.localRunLaunchTabGroup"
            type="org.eclipse.dd.gdb.launch.localCLaunch">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.eclipse.dd.gdb.internal.ui.launching.GdbRemoteRunLaunchConfigurationTabGroup"
            id="org.eclipse.dd.gdb.launch.remoteRunLaunchTabGroup"
            type="org.eclipse.dd.gdb.launch.remoteCLaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.dd.gdb.launch.localCLaunch"
            icon="icons/full/obj16/c_app.gif"
            id="org.eclipse.dd.gdb.launch.localRunLaunchImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.dd.gdb.launch.remoteCLaunch"
            icon="icons/full/obj16/c_app.gif"
            id="org.eclipse.dd.gdb.launch.remoteRunLaunchImage">
      </launchConfigurationTypeImage>
   </extension>
</plugin>
