<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.cdt.debug.ui.tests"
   name="org.eclipse.cdt.debug.ui.tests"
   version="3.0.1"
   class="org.eclipse.cdt.debug.testplugin.CTestPlugin">

   <runtime>
      <library name="cdtdebuguitests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.cdt.debug.core"/>
      <import plugin="org.eclipse.cdt.debug.mi.core"/>
      <import plugin="org.eclipse.cdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
   </requires>


</plugin>
