<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension point="org.eclipse.cdt.core.language">
      <language
            class="org.eclipse.cdt.core.lrparser.xlc.XlcCLanguage"
            id="c"
            name="%language.name.c">
      </language>
      
      <language
            class="org.eclipse.cdt.core.lrparser.xlc.XlcCPPLanguage"
            id="cpp"
            name="%language.name.cpp">
      </language>
   </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.eclipse.cdt.core.lrparser.xlc.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.internal.core.lrparser.xlc.ui.preferences.XlcLanguageOptionsPreferencePage"
            id="org.eclipse.cdt.core.lrparser.xlc.ui.XlcLanguagePreferencePage"
            name="%preferences.page.title">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.cdt.ui.newui.Page_head_general"
            class="org.eclipse.cdt.internal.core.lrparser.xlc.ui.preferences.XlcLanguageOptionsPreferencePage"
            id="org.eclipse.cdt.core.lrparser.xlc.ui.XlcLanguagePropertyPage"
            name="%preferences.page.title">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.cdt.core.cnature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
</plugin>
