<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
     Copyright (c) 2005, 2006 IBM Corporation and others.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         IBM Corporation - initial API and implementation
 -->

<plugin>

     <extension point="org.eclipse.rse.tests.framework.suites">
      <suite type="standard" name="Failure Suite">
          <arg name="class" value="org.eclipse.rse.tests.framework.examples.FailureSuite"/>
      </suite>
      <suite type="standard" name="Success Suite">
          <arg name="class" value="org.eclipse.rse.tests.framework.examples.SuccessSuite"/>
      </suite>
      <suite type="standard" name="Error Suite">
          <arg name="class" value="org.eclipse.rse.tests.framework.examples.ErrorSuite"/>
      </suite>
      <suite type="standard" name="Mixed Suite">
          <arg name="class" value="org.eclipse.rse.tests.framework.examples.MixedSuite"/>
      </suite>
      <suite type="generated" name="Mixed Suite (all)">
          <arg name="class" value="org.eclipse.rse.tests.framework.examples.MixedSuiteProvider"/>
      </suite>
      <suite type="generated" name="Mixed Suite (success)">
          <arg name="class" value="org.eclipse.rse.tests.framework.examples.MixedSuiteProvider"/>
          <arg name="argument" value="success"/>
      </suite>
      <suite type="generated" name="Mixed Suite (failure)">
          <arg name="class" value="org.eclipse.rse.tests.framework.examples.MixedSuiteProvider"/>
          <arg name="argument" value="failure"/>
      </suite>
      <suite type="generated" name="Mixed Suite (error)">
          <arg name="class" value="org.eclipse.rse.tests.framework.examples.MixedSuiteProvider"/>
          <arg name="argument" value="error"/>
      </suite>
      <suite type="standard" name="Annotating Suite">
          <arg name="class" value="org.eclipse.rse.tests.framework.examples.AnnotatingSuite"/>
      </suite>
      <!--
      <suite type="scripted" name="Test Script">
          <arg name="folder" value="scripts/test01"/>
          <arg name="script" value = "script7.txt"/>
      </suite>    
      -->
   </extension>

</plugin>
