<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.cdt.testsrunner.TestsRunner">
      <runner
            class="org.eclipse.cdt.testsrunner.internal.qttest.QtTestsRunnerProvider"
            description="%QtTestsRunner.description"
            id="org.eclipse.cdt.testsrunner.qttest"
            name="%QtTestsRunner.name">
         <features
               multipleTestFilter="true"
               testingTimeMeasurement="true">
         </features>
      </runner>
   </extension>
</plugin>
