<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.cdt.debug.ui.CDebuggerPage">
      <debuggerPage
            class="org.eclipse.cdt.debug.mi.internal.ui.GDBDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.CDebugger"
            id="org.eclipse.cdt.debug.mi.GDBDebuggerPage"/>
      <debuggerPage
            class="org.eclipse.cdt.debug.mi.internal.ui.CygwinDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.CygwinCDebugger"
            id="org.eclipse.cdt.debug.mi.CygwinDebuggerPage"/>
      <debuggerPage
            class="org.eclipse.cdt.debug.mi.internal.ui.GDBServerDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.GDBServerCDebugger"
            id="org.eclipse.cdt.debug.mi.GDBServerDebuggerPage"/>
      <debuggerPage
            class="org.eclipse.cdt.debug.mi.internal.ui.StandardGDBDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.CDebuggerNew"
            id="org.eclipse.cdt.debug.mi.GDBDebuggerPageNew"/>
      <debuggerPage
            class="org.eclipse.cdt.debug.mi.internal.ui.MinGWDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.MinGW"
            id="org.eclipse.cdt.debug.mi.MinGWDebuggerPage">
      </debuggerPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%MIPreferencePage.name"
            category="org.eclipse.cdt.debug.ui.CDebugPreferencePage"
            class="org.eclipse.cdt.debug.mi.internal.ui.preferences.MIPreferencePage"
            id="org.eclipse.cdt.debug.mi.ui.MIPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.cdt.debug.core.model.ICDebugTarget"
            class="org.eclipse.cdt.debug.mi.internal.ui.propertypages.OptionsPropertyPage"
            name="%TargetOptionsPage.label"
            id="org.eclipse.cdt.debug.mi.ui.propertypages.target.options">
         <filter
               value="isGDBTarget"
               name="GDBTargetActionFilter"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.cdt.debug.mi.internal.ui.ActionFilterAdapterFactory"
            adaptableType="org.eclipse.cdt.debug.core.model.ICDebugTarget">
         <adapter type="org.eclipse.ui.IActionFilter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.cdt.debug.mi.ui.gdbProcessActions"
            objectClass="org.eclipse.cdt.debug.mi.core.GDBProcess">
         <action
               class="org.eclipse.cdt.debug.mi.internal.ui.actions.VerboseModeActionDelegate"
               enablesFor="1"
               helpContextId="verbose_mode_console_action_context"
               icon="icons/obj16/verbose_mode_co.gif"
               id="org.eclipse.cdt.debug.mi.ui.verboseModeAction"
               label="%VerboseMode.label"
               menubarPath="renderGroup"
               state="false"
               style="toggle"
               tooltip="%VerboseMode.tooltip"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.eclipse.cdt.debug.mi.ui.console.MiConsolePageParticipant"
            id="org.eclipse.cdt.debug.mi.ui.console.miConsolePageParticipant">
         <enablement>
            <instanceof value="org.eclipse.debug.internal.ui.views.console.ProcessConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
    <extension
         point="org.eclipse.ui.activities">
 
      <category
            name="%category.name"
            description="%category.description"
            id="org.eclipse.cdt.debug.cdigdbCategory">
      </category>
  
       <categoryActivityBinding
            activityId="org.eclipse.cdt.debug.cdigdbActivity"
            categoryId="org.eclipse.cdt.debug.cdigdbCategory">
      </categoryActivityBinding>
  
      <activity
            name="%activity.name"
            description="%activity.description"
            id="org.eclipse.cdt.debug.cdigdbActivity">
       </activity>

      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.cdigdbActivity"
           	isEqualityPattern="true" 
            pattern="org.eclipse.cdt.debug.mi.ui/org.eclipse.cdt.debug.mi.ui.MIPreferencePage">
      </activityPatternBinding>
   
      <activityPatternBinding
            activityId="org.eclipse.cdt.debug.cdigdbActivity"
           	isEqualityPattern="true" 
            pattern="org.eclipse.cdt.debug.ui/org.eclipse.cdt.debug.ui.DebuggerTypesPreferencePage">
      </activityPatternBinding>
        
     </extension>

</plugin>
