<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.cdt.debug.ui.CDebuggerPage">
      <debuggerPage
            class="org.eclipse.cdt.debug.mi.internal.ui.GDBDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.CDebugger"
            id="org.eclipse.cdt.debug.mi.GDBDebuggerPage">
      </debuggerPage>
      <debuggerPage
            class="org.eclipse.cdt.debug.mi.internal.ui.CygwinDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.CygwinCDebugger"
            id="org.eclipse.cdt.debug.mi.CygwinDebuggerPage">
      </debuggerPage>
      <debuggerPage
            class="org.eclipse.cdt.debug.mi.internal.ui.GDBServerDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.GDBServerCDebugger"
            id="org.eclipse.cdt.debug.mi.GDBServerDebuggerPage">
      </debuggerPage>
      <debuggerPage
            class="org.eclipse.cdt.debug.mi.internal.ui.StandardGDBDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.CDebuggerNew"
            id="org.eclipse.cdt.debug.mi.GDBDebuggerPageNew"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%MIPreferencePage.name"
            category="org.eclipse.cdt.debug.ui.CDebugPreferencePage"
            class="org.eclipse.cdt.debug.mi.internal.ui.preferences.MIPreferencePage"
            id="org.eclipse.cdt.debug.mi.ui.MIPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.cdt.debug.core.model.ICDebugTarget"
            class="org.eclipse.cdt.debug.mi.internal.ui.propertypages.OptionsPropertyPage"
            name="%TargetOptionsPage.label"
            id="org.eclipse.cdt.debug.mi.ui.propertypages.target.options">
         <filter
               value="isGDBTarget"
               name="GDBTargetActionFilter"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.cdt.debug.mi.internal.ui.ActionFilterAdapterFactory"
            adaptableType="org.eclipse.cdt.debug.core.model.ICDebugTarget">
         <adapter type="org.eclipse.ui.IActionFilter"/>
      </factory>
   </extension>

</plugin>
