<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.cdt.debug.mi.ui"
   name="%pluginName"
   version="1.0.1"
   provider-name="%providerName"
   class="org.eclipse.cdt.debug.mi.internal.ui.MIUIPlugin">

   <runtime>
      <library name="cdtmiui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.cdt.debug.mi.core"/>
      <import plugin="org.eclipse.cdt.debug.ui"/>
      <import plugin="org.eclipse.cdt.debug.core"/>
      <import plugin="org.eclipse.cdt.launch"/>
      <import plugin="org.eclipse.cdt.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
   </requires>


   <extension
         point="org.eclipse.cdt.debug.ui.CDebuggerPage">
      <debugPage
            class="org.eclipse.cdt.debug.mi.internal.ui.GDBDebuggerPage"
            id="org.eclipse.cdt.debug.mi.GDBDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.CDebugger">
      </debugPage>
      <debugPage
            class="org.eclipse.cdt.debug.mi.internal.ui.CygwinDebuggerPage"
            id="org.eclipse.cdt.debug.mi.CygwinDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.CygwinCDebugger">
      </debugPage>
      <debuggerPage
            class="org.eclipse.cdt.debug.mi.internal.ui.GDBServerDebuggerPage"
            id="org.eclipse.cdt.debug.mi.GDBServerDebuggerPage"
            debuggerID="org.eclipse.cdt.debug.mi.core.GDBServerCDebugger">
      </debuggerPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%MIPreferencePage.name"
            category="org.eclipse.cdt.debug.ui.CDebugPreferencePage"
            class="org.eclipse.cdt.debug.mi.internal.ui.preferences.MIPreferencePage"
            id="org.eclipse.cdt.debug.mi.ui.MIPreferencePage">
      </page>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.cdt.debug.ui.SharedLibrariesView"
            id="org.eclipse.cdt.debug.ui.sharedLibrariesView.actions">
         <action
               state="false"
               toolbarPath="sharedLibrariesGroup"
               id="org.eclipse.cdt.debug.mi.internal.ui.actions.SetAutoSolibActionDelegate"
               hoverIcon="icons/full/clcl16/auto_solib_co.gif"
               class="org.eclipse.cdt.debug.mi.internal.ui.actions.SetAutoSolibActionDelegate"
               disabledIcon="icons/full/dlcl16/auto_solib_co.gif"
               icon="icons/full/elcl16/auto_solib_co.gif"
               helpContextId="set_auto_solib_action_context"
               label="%SetAutoSolibAction.label"
               menubarPath="additions"
               tooltip="%SetAutoSolibAction.tooltip">
            <enablement>
               <pluginState
                     value="installed"
                     id="org.eclipse.cdt.debug.ui">
               </pluginState>
            </enablement>
         </action>
      </viewContribution>
   </extension>
-->

</plugin>
