<?xml version="1.0" encoding="UTF-8"?>
<!--
     Copyright (c) 2006, 2009 IBM Corporation and others.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Initial Contributors:
     The following IBM employees contributed to the Remote System Explorer
     component that contains this file: David McKnight, Kushal Munir, 
     Michael Berger, David Dykstal, Phil Coulthard, Don Yantzi, Eric Simpson, 
     Emily Bruner, Mazen Faraj, Adrian Storisteanu, Li Ding, and Kent Hawley.

     Contributors:
     Kushal Munir (IBM) - Changed paths to reflect internal packages
     Martin Oberhuber (Wind River) - [188360] renamed from plugin org.eclipse.rse.eclipse.filesystem
     Martin Oberhuber (Wind River) - [235145] Add comments how to hide "Create Remote Project" action by means of Activity 
 -->
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="org.eclipse.rse.eclipse.filesystemSupport"
         point="org.eclipse.ui.ide.filesystemSupport">
      <filesystemContributor 
       scheme="rse"
       class="org.eclipse.rse.internal.efs.ui.RSEFileSystemContributor"
       label="RSE">
      </filesystemContributor>
   </extension>
      
      <extension point="org.eclipse.ui.popupMenus">
	      <objectContribution
            objectClass="org.eclipse.rse.subsystems.files.core.subsystems.IRemoteFile"
            id="org.eclipse.rse.efs.createproject">
                <visibility> 
                	<objectState name="isdirectory" value="true"/>                  
            </visibility>
         <action
               label="%createRemoteProject.label"
                tooltip="%createRemoteProject.tooltip"
               class="org.eclipse.rse.internal.efs.ui.CreateRemoteProjectActionDelegate"
               menubarPath="group.importexport"
               enablesFor="1"
               id="createRemoteProject">
         </action>
      </objectContribution>
      </extension>

    <!-- Here is some sample XML code that shows how Eclipse Activities -->
    <!-- can be used to hide the "Create Remote Project" action in a    -->
    <!-- product built on top of TM. Just copy that XML code to a       -->
    <!-- product's plugin.xml (can be any other plugin) and uncomment.  -->
    <!--                                                                -->
    <!-- NOTE: As per Eclipse 3.5 (Galileo), a separate plugin is       -->
    <!-- available from CVS holding activity definitions, but not the   -->
    <!-- categories: "org.eclipse.rse.ui.capabilities". For details,    -->
    <!-- https://bugs.eclipse.org/bugs/show_bug.cgi?id=252807#c36       -->
    <!-- http://wiki.eclipse.org/Galileo_Capabilities                   -->

    <!--
	<!- - Hide the "Create Remote Project" popupMenu by default - ->
	<extension point="org.eclipse.ui.activities">
  	<activity id="org.eclipse.rse.CreateRemoteProject"
		description="Filters EFS Create Remote Project menu in the RSE Views"
		name="RSE Create Remote Project" />

	<!- - put the activity in the category: By means of not putting it
	     in any category, the Activity is invisible in the Prefspage UI.
	     Products can add categories, or define trigger points to enable it.
	<category id="org.eclipse.rse.Category"
		description="Remote System Explorer (RSE) Activities"
		name="Remote System Explorer" />
	<categoryActivityBinding activityId="org.eclipse.rse.CreateRemoteProject"
		categoryId="org.eclipse.rse.Category" />
	- ->
   
	<!- - bind all contributions from plugin org.eclipse.rse.efs.ui - -> 
	<activityPatternBinding
       activityId="org.eclipse.rse.CreateRemoteProject"
       pattern="org\.eclipse\.rse\.efs\.ui/createRemoteProject"/>
  
	<!- - our activity should NOT be enabled by default
	<defaultEnablement id="org.eclipse.rse.CreateRemoteProject" />  
	 - ->
	</extension>
	-->
    
</plugin>
