<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.cdt.arduino.core.launchConfigurationType"
            icon="icons/arduino.png"
            id="org.eclipse.cdt.arduino.ui.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.cdt.arduino.ui.newCategory"
            class="org.eclipse.cdt.arduino.ui.internal.remote.NewArduinoTargetWizard"
            hasPages="true"
            icon="icons/arduino.png"
            id="org.eclipse.cdt.arduino.ui.newTargetWizard"
            name="Android Target"
            project="false">
      </wizard>
      <wizard
            category="org.eclipse.cdt.ui.newCWizards"
            class="org.eclipse.cdt.arduino.ui.internal.project.NewArduinoProjectWizard"
            icon="icons/newcc_app.gif"
            id="org.eclipse.cdt.arduino.ui.newProjectWizard"
            name="Arduino Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.cdt.arduino.core.consoleService">
      <provider
            class="org.eclipse.cdt.arduino.ui.internal.launch.ArduinoLaunchConsole">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.cdt.arduino.ui.internal.remote.ArduinoTargetPropertyPage"
            id="org.eclipse.cdt.arduino.ui.targetPropertyPage"
            name="Arduino"
            selectionFilter="single">
         <enabledWhen>
            <adapt
                  type="org.eclipse.cdt.arduino.core.internal.remote.ArduinoRemoteConnection">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchBarUIContributions">
      <descriptorUI
            descriptorTypeId="org.eclipse.cdt.arduino.core.descriptorType"
            labelProvider="org.eclipse.cdt.arduino.ui.internal.launch.ArduinoDescriptorLabelProvider">
      </descriptorUI>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionTypeService
            connectionTypeId="org.eclipse.cdt.arduino.core.connectionType"
            factory="org.eclipse.cdt.arduino.ui.internal.remote.ArduinoRemoteServicesUI$Factory"
            service="org.eclipse.remote.ui.IRemoteUIConnectionService">
      </connectionTypeService>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.arduino.ui.internal.ArduinoPreferencePage"
            id="org.eclipse.cdt.arduino.preference.page"
            name="%preferencePage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.cdt.arduino.ui.internal.ArduinoPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
