<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006, 2007 Wind River Systems, Inc. and others.
All rights reserved. This program and the accompanying materials 
are made available under the terms of the Eclipse Public License 2.0 
which accompanies this distribution, and is available at 
https://www.eclipse.org/legal/epl-2.0/ 

Contributors: 
Martin Oberhuber (Wind River) - initial API and implementation 
Javier Montalvo Orus (Symbian) - [plan] Improve Discovery and Autodetect in RSE
Martin Oberhuber (Wind River) - [186523] Move subsystemConfigurations from UI to core
-->
<?eclipse version="3.1"?>
<plugin>
	<!-- Register a System that will only show Daytime subsystems -->
	<extension point="org.eclipse.rse.core.systemTypes">
		<systemType id="org.eclipse.rse.examples.daytime.systemtype"
		  label="%DaytimeSystemLabel"
			name="Daytime"
			description="%DaytimeSystemDescription"
			icon="icons/full/obj16/daytime_obj.gif"
			iconLive="icons/full/obj16/daytimelive_obj.gif"/>
	</extension>
	<!-- Instantiate the FTP subsystem by referencing it from the external implementation -->
	<!-- Disabled to avoid hard dependency to the FTP plugin
	<extension
		point="org.eclipse.rse.core.subsystemConfigurations">
		<configuration
			systemTypeIds="org.eclipse.rse.examples.daytime.systemtype"
			name="%Files"
			description="%FilesDescription"
			iconlive="icons/full/obj16/systemfileslive_obj.gif"
			icon="icons/full/obj16/systemfiles_obj.gif"
			category="files"
			class="org.eclipse.rse.subsystems.files.ftp.FTPFileSubSystemConfiguration"
			vendor="%providerName"
			priority="100"
			id="ftp.files">
		</configuration>
	</extension>
	-->
	<!-- Instantiate the Daytime subsystem from our own plugin -->
	<extension
		point="org.eclipse.rse.core.subsystemConfigurations">
		<configuration
        category="daytime"
        class="org.eclipse.rse.examples.daytime.subsystems.DaytimeSubSystemConfiguration"
        description="%DaytimeDescription"
        icon="icons/full/obj16/daytime_obj.gif"
        iconlive="icons/full/obj16/daytimelive_obj.gif"
        id="daytime.tcp"
        name="%DaytimeSubsystemName"
        priority="40000"
        serviceType="_daytime._tcp"
        systemTypeIds="org.eclipse.rse.examples.daytime.systemtype;org.eclipse.rse.systemtype.unix"
        vendor="%providerName">
		</configuration>
	</extension>
</plugin> 
