<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="terminalConnector" name="Terminal Connector" schema="schema/terminalConnector.exsd"/>
   <extension
         point="org.eclipse.tm.terminal.terminalConnector">
      <connector class="org.eclipse.tm.terminal.internal.telnet.TelnetConnector"/>
   </extension>
 </plugin>
